[2016-03-16 19:43] MyaniPT commented on #1584
Fixed locally, will submit a PR

[2016-03-16 21:10] kd-11 commented on #1581
Nvidia, I assume?

[2016-03-16 21:32] Ekaseo commented on #1581
yes

[2016-03-16 21:35] kd-11 commented on #1581
I dont have a copy of this game, but vulkan has some texturing issues right now with channel remapping which i haven't implemented yet. vlj is making some changes to make it work on nvidia, so maybe that'll help.

[2016-03-16 21:46] Ekaseo commented on #1581
is the standard log enough or do you also need rsx logging to locate the root of this? just so i know for future posts concerning the vulkan renderer

[2016-03-16 21:51] orbea opened #1586 "Vulkan fails to build statically."
As reported by `ldd` after compiling the git master.
`libvulkan.so.1 => /tmp/SBo/rpcs3/build/Vulkan/Vulkan-LoaderAndValidationLayers/loader/libvulkan.so.1 (0x00007efcf7958000)`

The rpcs3 binary should not link to the build directory.

[2016-03-16 21:54] kd-11 commented on #1581
Usually the RSX log is important for a few frames where a bug manifests, but in this case the issue is visible from the images. An RSX log wouldn't hurt though.

[2016-03-17 01:41] vlj commented on #1581
Same here in some cases. I suspect that the dotted pattern happens when a depth stencil is attached but I don't know why.
I will investigate once I get mipmapped texture working.

[2016-03-17 05:31] tambry commented on #1586
What do you mean it shouldn't link to that? Why shouldn't it?

[2016-03-17 06:12] MoochMcGee opened #1588 "Dragon Ball Z: Battle of Z Demo asserts during loading"
It asserts on ELF64.cpp line 293.

[2016-03-17 12:08] tambry commented on #1588
We need more than that. Log? Build used? Binary of the ELF would also be nice.

[2016-03-17 12:27] orbea commented on #1586
Because the build directory is a temporary directory and rpcs3 will be fail to find libvulkan.so.1 when it gets removed.

[2016-03-17 12:37] paulsapps commented on #1586
If this is on OSX then thats just how it is, you have to instead run a tool to fix the ld paths..

[2016-03-17 12:39] orbea commented on #1586
Sorry, I failed to mention this is in Slackware64-current.

[2016-03-17 13:39] #1584 closed

[2016-03-17 14:34] MoochMcGee commented on #1588
Well, it turns out it was just bad LLE modules.

On Thu, Mar 17, 2016 at 7:08 AM, Raul Tambre <notifications@github.com>
wrote:

[2016-03-17 14:37] #1588 closed

[2016-03-17 18:01] MyaniPT opened #1590 "Exception 0xC000041D in VKGSRender (Issue with the renderpass creation)"
Initiate a game with OpenGL, stop the emulation, initiate a game with Vulkan, stop the emulation. (Without closing the emulator in between)

This happens:

Unhandled exception at 0x000007FEDD241EF0 in rpcs3.exe: 0xC000041D: An unhandled exception was encountered during a user callback.

Call Stack
[code]

If ran outside Visual Studio, the emulator crashes with an unhandled exception

[2016-03-17 18:02] MoochMcGee commented on #1590
*initiate

On Thu, Mar 17, 2016 at 1:01 PM, AnnieL <notifications@github.com> wrote:

[2016-03-17 19:06] mpm11011 opened #1591 "Remove rImage?"
rImage defines methods that wraps / casts wxImage objects in **Utilities/rPlatform.h**. As far as I can tell, nothing uses them, even the various renderers who include it "//only for rImage".

The only thing I can find that uses rPlatform.h is **/rpcs3/gui/RSXDebugger.cpp** and it only uses it for its definition of RSXDebuggerProgram.

Pursuant to removing wx dependencies from emucore, and unless

[2016-03-17 19:14] MyaniPT commented on #1591
rPlatform is removed in #1521

[2016-03-17 19:16] mpm11011 commented on #1591
Crap. Should have checked there first. Thanks.

[2016-03-17 19:16] #1591 closed

[2016-03-17 20:41] vlj commented on #1581
I think I have a fix

[2016-03-17 23:32] Ekaseo commented on #1581
its not perfect, but its a lot better now
![tgfp1](https://cloud.githubusercontent.com/assets/5016194/13864311/b09c1bf0-eca0-11e5-8b41-8b7768c66c2e.png)
![tgfp2](https://cloud.githubusercontent.com/assets/5016194/13864313/b5bbcc7a-eca0-11e5-90d5-585f9d5fee40.png)
![tgfp3](https://cloud.githubusercontent.com/assets/5016194/13864320/c0b5b03c-eca0-11e5-8a47-a87ae2f278bd.png)
![tgfp4](https://cloud.gi

[2016-03-18 00:10] MyaniPT commented on #1449
Any news?
It would be nice to have a compatibility list like the ones PCS2X and Dolphin have
http://pcsx2.net/compatibility-list.html
https://dolphin-emu.org/compat/

[2016-03-18 00:16] Paul-C-F commented on #1449
Alright then, since the discussion here has ended and nobody made any comments or suggestions I will get started this weekend and as soon as I have it ready for testing will upload on a temporary hosting so you guys can check it out and get back to me.

[2016-03-18 09:45] kd-11 commented on #1581
Nice.

[2016-03-18 09:48] kd-11 commented on #1590
I'll test on AMD. On nvidia, vulkan and opengl are dependent.

[2016-03-18 10:49] MyaniPT commented on #1590
I am on AMD as well @kd-11

[2016-03-18 15:22] SakataGintokiYT opened #1594 "Vulkan Koihime Enbu [BLJM61274] Issue"
@vlj

[f99e4f84]
GPU Nvidia [GTX 650TI]
Forum : http://www.emunewz.net/forum/showthread.php?tid=174272
Log : https://gist.github.com/SakataGintokiYT/998957a1c09222c15e7f

<img src="http://www.fotoszok.pl/upload/25af482b.jpg" alt="2015-12-13 20_52_51-xenia" style="max-width:50%;">
<img src="http://www.fotoszok.pl/upload/fd4e2ddd.jpg" alt="2015-12-13 20_52_51-xenia" style="max-width:50%;">
<img src=

[2016-03-18 15:43] SakataGintokiYT opened #1596 "Vulkan Bomberman Ultra [NPUB30051] Issue"
@vlj
@kd-11
[f99e4f8]
GPU Nvidia [GTX 650TI]
Log : https://gist.github.com/SakataGintokiYT/e36f99ce8c7a6322c98c
Freezing after pressing X

<img src="http://www.fotoszok.pl/upload/7e878d0c.jpg" alt="2015-12-13 20_52_51-xenia" style="max-width:50%;">
<img src="http://www.fotoszok.pl/upload/dcfe0cc0.png" alt="2015-12-13 20_52_51-xenia" style="max-width:50%;">

[2016-03-18 16:07] SakataGintokiYT opened #1597 "Vulkan Dragon Ball Z: Burst Limit [NPUB90106] Issue"
@vlj
[f99e4f84]
GPU Nvidia [GTX 650TI]
Log : https://gist.github.com/SakataGintokiYT/67bac28c38d0fd01ae48

<img src="http://www.fotoszok.pl/upload/dc3e55ec.jpg" alt="2015-12-13 20_52_51-xenia" style="max-width:50%;">

{rsx::thread} RSX: Primitive restart enabled!
_______________________________________________________________________
{rsx::thread} Exception: Assertion failed! Result is C4650338h
(

[2016-03-18 16:51] vlj commented on #1597
Does any other game work ?

[2016-03-18 16:58] Ekaseo commented on #1597
this game goes into main menu for me and even into character select, but it stops rendering once you start selecting your partners abilities. (fps and music continues, but the image is frozen)

[2016-03-18 17:18] SakataGintokiYT commented on #1597
Arkedo Series Pixel / Swap  works perfect

[2016-03-18 18:34] kd-11 commented on #1590
Doesn't happen for me. I'll check out the latest master and test again. Could be a recent regression.

[2016-03-18 18:38] mpm11011 opened #1598 "gitattributes (help with end line normalization)"
My first gitattributes file looked like this:

`# Auto detect text files and perform LF normalization`
`* text=auto`

`# Source files`
`*.c text`
`*.cpp text`
`*.h text`

And this worked just fine. Then, in an attempt to find out how to include headers from different projects, one of the vcxproj files fell to the EOL bug. Then, in an attempt to fix that bug, I editted my gitattributes file to look

[2016-03-18 18:57] vlj commented on #1597
What about other 3d game ?

[2016-03-18 19:51] MyaniPT commented on #1590
Latest master crashes when trying to initiate a game with Vulkan

Exception thrown at 0x000007FEE09853A5 (amdvlk64.dll) in rpcs3.exe: 0xC0000005: Access violation writing location 0x0000000000000004.
Unhandled exception at 0x000007FEE09853A5 (amdvlk64.dll) in rpcs3.exe: 0xC0000005: Access violation writing location 0x0000000000000004.

[code]

[2016-03-18 19:57] vlj commented on #1590
can you enable debug output and gives the log ?

[2016-03-18 20:03] MyaniPT commented on #1590
It only logs

stdout.log
[code]
stderr.log is empty

[2016-03-18 20:27] kd-11 commented on #1590
Confirmed. Happens during creation of an empty renderpass, i.e no attachments, neither depth nor color and no attachments for the subpass either. That doesn't seem right.

[2016-03-18 20:38] kd-11 commented on #1590
@vlj you cant have a renderpass with VK_FORMAT_UNDEFINED (null) depth buffer and 0 draw buffers bound. Singling out this case fixes the crash.

[2016-03-18 20:43] kd-11 commented on #1590
@MyaniPT @vlj There are two separate bugs here: the first one is the issue with the renderpass creation and the second one is due to implicit freeing of vlj's new buffer interface. The second one happens because an invalid handle is passed to vkDestroyBuffer (and this is the first bug that was reported here, crash during stopping a game).

[2016-03-18 20:50] MyaniPT commented on #1590
Should I open a separate issue? I was going crazy because nothing I tried to run with vulkan was behaving properly

[2016-03-18 21:01] kd-11 commented on #1590
Open a separate issue to make tracking easier. I'm not able to directly contribute/submit fixes for the near future, but i'll try to test whenever I can.

[2016-03-18 21:02] MyaniPT commented on #1590
Will do as soon as I get home

[2016-03-18 21:43] vlj commented on #1590
Indeed empty render pass crashes with AMD drivers. It works with Nvidia (I suspect they don't take advantage of render pass given that there's no communication on this subject).
I will open an issue in the validation layer I think.

[2016-03-18 21:46] MyaniPT commented on #1590
@vlj I was going to but you can explain the issue better than me

[2016-03-18 22:19] vlj commented on #1590
https://github.com/KhronosGroup/Vulkan-CTS/issues/10

[2016-03-18 22:48] mpm11011 commented on #1598
I think I figured it out. GitHub Desktop is really buggy with this, so it turns out that commenting out `* text=auto` and `*.cpp text`, commit+push, then commenting them back in, commit+push, fixes the issue for cpp files. I did the same for the other VS files, but I left them commented out. And I'm back to normal.

[2016-03-18 22:48] #1598 closed

[2016-03-19 01:27] MyaniPT commented on #1590
Fixed by #1599

The emulator still crashes when stopping the emulation, but it's not due to the two bugs discussed here anymore, as they seem to be solved.
There seem to be other minor issues (including the crash) which I'll test properly tomorrow.

[2016-03-19 01:27] #1590 closed

[2016-03-19 11:42] SakataGintokiYT commented on #1597
_________________________________________________________________________
G-Force
Loadable FPS and freezing on black screen
{rsx::thread} RSX: Program destructor invoked!
_________________________________________________________________________
Ice Age: Dawn of the Dinosaurs
Loadable FPS and freezing on black screen
{rsx::thread} RSX: Program destructor invoked!
___________________________________

[2016-03-19 12:22] Altaiar commented on #1485
Super frog NPEB01316
PPU interpreter 2
SPU interpreter fast
when i put this files in (dev_flash\sys\external) flashATRAC.pic and libjpgdec.sprx
game have sound and this message is disappear
 {SPU[0x6a] Thread (_Multistream SPU Thread)[0x00000]} Exception: Unknown STOP code: 0x0 (Out_MBox is empty)
(in file C:\rpcs3\rpcs3\Emu\Cell\SPUThread.cpp:1382, in function SPUThread::stop_and_signal)

[2016-03-19 15:30] kd-11 commented on #1597
@SakataGintokiYT The error about program destructor is not really an error. I really should remove it since it seems to confuse people. Look for fatal exceptions, largely related to "bad texture alignment computation" or such. Does the fps counter continue after freezing?

[2016-03-19 15:53] kd-11 commented on #1597
I've finally seen some games with black textures on radeon. I'm not sure whether to wait for vlj to submit his fix, but i'll work on it as well.

[2016-03-19 16:38] SakataGintokiYT commented on #1597
@kd-11
FPS / Freeze

[2016-03-19 17:04] vlj commented on #1597
I have a fix for the freeze with nvidia pre GM 204 (ie kepler, GM200) but I still need to work on it.

[2016-03-19 17:10] SakataGintokiYT commented on #1597
GTX 650 Ti  [NVIDIA Kepler GK106]

[2016-03-20 23:28] vlj commented on #1597
This PR is not a fix for this bug. The fix is on vulkan-wip

[2016-03-21 11:31] AniLeo opened #1606 "Unhandled exception when trying to start a game (Vulkan)"
[code]

[code]

Both these games' render windows open with OpenGL.
Trying to start them (and I believe it happens with a lot more games) with Vulkan crashes RPCS3 with an Unhandled exception.
I wasn't able to catch any stack trace.

[2016-03-21 11:51] AniLeo commented on #1367
You need to ignore the SIGSEV sinal
[code]
Try again with the latest master repo

[2016-03-21 11:57] AniLeo commented on #1606
![screenshot_2](https://cloud.githubusercontent.com/assets/10283761/13917960/0990e9bc-ef5c-11e5-9212-7c4ddb0b5eaf.png)

This is what I got
Every game I tried to start with Vulkan gave me an unhandled exception

[2016-03-21 12:12] piotr-szegda commented on #1367
Still crash but with handle SIGSEGV nostop noprint log is different:

[code]

[2016-03-21 14:04] tambry commented on #1606
What card and what drivers version did you test with?

[2016-03-21 14:12] AniLeo commented on #1606
Radeon Crimson 16.3
MSI R9 280X

![screenshot_4](https://cloud.githubusercontent.com/assets/10283761/13921258/f13ad950-ef6e-11e5-9701-c8686851220b.png)

[2016-03-21 16:28] vlj commented on #1606
Do you enable debug output ? Try launching RPCS 3 without it.

[2016-03-21 16:55] AniLeo commented on #1606
It works without Debug Output enabled.

[2016-03-21 17:02] tambry commented on #1606
Then it's **very very** likely either due to missing, improper or old Vulkan (LunarG) SDK installation, since debug output enables validation layers, and if driver can't find them it crashes.

[2016-03-21 17:05] vlj commented on #1606
You need SDK 1.0.3.1 to enable debug layers. The 1.0.5.0 version doesn't work (the vulkan submodule needs to be updated)

[2016-03-21 18:36] SakataGintokiYT commented on #1594
[b748a71c]
Better :)
<img src="http://www.fotoszok.pl/upload/7f643dff.png" alt="2015-12-13 20_52_51-xenia" style="max-width:50%;">
<img src="http://www.fotoszok.pl/upload/a82b2373.png" alt="2015-12-13 20_52_51-xenia" style="max-width:50%;">
<img src="http://www.fotoszok.pl/upload/177536e8.png" alt="2015-12-13 20_52_51-xenia" style="max-width:50%;">

[2016-03-21 19:08] AniLeo commented on #1606
I have 1.0.3.1 installed at C:\Program Files (x86)\VulkanRT\1.0.3.1 (however vulkinfo shows 1.0.3)
That's the version that comes along with the latest Radeon Crimson Beta drivers for Vulkan

[2016-03-21 19:18] tambry commented on #1606
That's not the SDK. That's the Runtime, as the RT indicates (Vulkan**RT**). Shipping code examples, validation layers and documentation with every driver isn't probably very smart, so developers need to download the SDK separately from the [LunarG's website](https://vulkan.lunarg.com).

[2016-03-21 19:27] AniLeo commented on #1606
My bad, I didn't realize the SDK wasn't there
I'm downloading 1.0.3.1 now
(Probably should be noted somewhere that the 1.0.3.1 of the SDK is needed to use Debug Output on Vulkan)

@vlj Could you update the submodule?

[2016-03-22 01:15] AniLeo commented on #1449
I think it should be a good idea that under each game's status there was an entry for each renderer (openGL, dx12, vulkan) because they still have differences between them

[2016-03-22 14:41] mdeguzis opened #1610 "Error building on Debian 8 with clang - "cotire: error 1 precompiling""
Getting this when compiling:

[code]

**Links:**
- [debian files](https://github.com/ProfessorKaos64/LibreGeek-Packaging/tree/brewmaster/rpcs3/debian)
- [build log (full)](https://gist.github.com/ProfessorKaos64/4388f3d844d4cecacf70)

[2016-03-22 14:52] ProfessorKaos64 commented on #1610
I guess this is due to my LLVM version? Clang uses LLVM as a backend, and Debian Jessie has llvm-runtime 3.5.x. Does this mean (since gcc is also too old on Jessie) this can't be compiled on Debian Jessie 8.x?

[2016-03-22 15:02] tambry commented on #1610
We use GSL, which seems to require Clang/LLVM3.6. I'm not sure what version that equates to, but README probably should be updated accordingly.

[2016-03-22 15:22] ProfessorKaos64 commented on #1610
Clang/LLVM versions are "tied," so clang 3.5, uses LLVM 3.5.x. I'd probably update the readme, yes. I am guess that the submodule llvm directory can't be utilized for some sort of "in-pace" build of llvm for compile-time only?

[2016-03-22 15:48] tambry commented on #1610
Maybe. I have very limited knowledge of CMake and Unix systems, so this will be up to someone else.

[2016-03-22 15:52] ProfessorKaos64 commented on #1610
I'll try the route of backporting clang from Stretch (which is 3.6) and keep in in my testing distribution pool. If there is other word of this being possible on Debian Jessie, I hope another can comment, if other project members deem this not possible, please confirm and close.

[2016-03-22 19:45] SakataGintokiYT commented on #1594
@vlj
[a0444bf1] :) :+1:
<img src="http://www.fotoszok.pl/upload/d7129486.jpg" alt="2015-12-13 20_52_51-xenia" style="max-width:50%;">
<img src="http://www.fotoszok.pl/upload/6f7d75c8.jpg" alt="2015-12-13 20_52_51-xenia" style="max-width:50%;">

[2016-03-22 19:53] SakataGintokiYT commented on #1597
[a0444bf1] :+1:
Now Works
G-Force
Legend of kay anniversary
Ice Age: Dawn of the Dinosaurs
Dragon Ball Z: Burst Limit \
Dragon Ball: Raging Blast 1

[2016-03-22 21:02] mpm11011 opened #1614 "rXML: replacement for wxWidgets"
Right now, rXML acts as a wrapper for the wxWidgets XML library for use in the trophy system. It would not be too difficult to remove the wx dependency here, but we would probably need a replacement library for handling and parsing XML files. Should we use something like RapidXML or pugixml, or continue using wx/xml?

[2016-03-22 21:48] SakataGintokiYT opened #1615 "DX12/Vulkan : vertex program missing feature and syntax error"
[a0444bf1]

{rsx::thread} RSX: Unknown/illegal instruction: 0x3f (forced unit 0)
{rsx::thread} RSX: Unknown/illegal instruction: 0x30 (forced unit 0)
{rsx::thread} RSX: Warning, version 420 is not yet complete; most version-specific features are present, but some are missing.
ERROR: 0:77: '' :  syntax error
ERROR: 1 compilation errors.  No code generated.

{rsx::thread} RSX:

---

{rsx::thread} Ex

[2016-03-22 22:49] Lukypie opened #1616 "[Linux] OpenGL Renderer not working"
I got this error.

MESA-LOADER: could not create udev device for fd 16
libGL error: unable to load driver: amdgpu_dri.so
libGL error: driver pointer missing
libGL error: failed to load driver: amdgpu
Fatal error: Access violation writing location 0x2363620 at 0x7fb00db3b8f7.
Please report this error to the developers.
Annullato (core dump creato)

Yes I am using an R9 380 with the amdgpu driver. I

[2016-03-22 22:53] vlj commented on #1616
Are you able to run any opengl app ?

[2016-03-22 22:57] vlj commented on #1568
The shadow issue in Hitman2 is because the sampler wrap mode is set to GL_REPEAT.
When a rtt or ds texture is sampled the sampling parameter are not properly set.

[2016-03-23 00:27] Lukypie commented on #1616
yes I am, steam games etc

[2016-03-23 11:15] kd-11 commented on #1615
You should attach the vertexprogram.txt and fragmentprogram.txt when the shader compilation fails on openGL. I have a few shader fixes for glsl and i plan to submit them when i find some time. Hopefully soon.

[2016-03-23 15:09] SakataGintokiYT commented on #1615
@kd-11
[a0444bf]
http://www33.zippyshare.com/v/11MHkQNA/file.html

[2016-03-23 16:06] AniLeo opened #1617 "RSX Failed to compile shader (syntax error, parse error)"
[code]

NPEA00004 - Lemmings
OpenGL

[NPEA00004 (Lemmings) OpenGL.zip](https://github.com/RPCS3/rpcs3/files/186357/NPEA00004.Lemmings.OpenGL.zip)

PARAM.SFO of the game needs to be changed in order for it to boot. Using RESOGUN's PARAM.SFO

[2016-03-23 16:42] danilaml commented on #1610
@ProfessorKaos64 can't you install packages from here https://packages.debian.org/source/sid/llvm-toolchain-3.6 ?

[2016-03-23 16:51] danilaml commented on #1614
Other possibility could be TinyXML-2.
And there is no question whether we should continue using wx/xml or not. Wx dependencies should be eliminated in the future..

[2016-03-23 17:13] tambry commented on #1070
Probably irrelevant.

[2016-03-23 17:13] #1070 closed

[2016-03-23 17:15] tambry commented on #1028
Can this be closed?

[2016-03-23 17:21] #1028 closed

[2016-03-23 17:42] AniLeo commented on #1398
I can't test this, the emulator keeps freezing for me before the menu part at different stages of the loading menus and I have to force terminate the process

[2016-03-23 18:40] ProfessorKaos64 commented on #1610
@danilaml , maybe, have to check the dependencies. What I may do is keep a few of those packages in my testing repo only, for builds (I use a pbuilder hook to enable my test repo at build time). However, I also tried building this with a Debian Stretch pbuilder chroot, which also had Clang 3.6/LLVM 3.6 and GCC 5.3. Perhaps my rules were wrong, but pretty basic stuff. I did [declare](https://github

[2016-03-23 18:43] kd-11 commented on #1617
if (greaterThanEqual(cc0.xwyw, vec4(0., 0., 0., 0.)).x) r0.xy.x = (divsq_legacy(abs(r0.wxzw), -.wxyw) * 8.0).xy.x;

There is a swizzle on a non-existent value there. Should it have been zero (unlikely)? Is it an unimplemented function or register maybe?

[2016-03-23 18:58] kd-11 commented on #1568
oh yes. I did notice that earlier but I forgot to fix this. I'll push a fix soon

[2016-03-23 19:43] tambry commented on #1617
Probably the reason.

[2016-03-23 19:46] AniLeo commented on #1617
The other games where the Src type 3 log appears do not crash like this I believe, I think this is partially unrelated to that

[2016-03-23 22:04] #1597 closed

[2016-03-23 22:13] SakataGintokiYT commented on #1527
@kd-11
Castlevania: Lords of Shadow 2
{rsx::thread} Exception: Wrong format 156
(in file C:\rpcs3\rpcs3\Emu\RSX\Common\TextureUtils.cpp:174, in function get_subresources_layout)

[2016-03-24 00:00] vlj opened #1621 "RSX sometimes uses high mipmap level"
In Silent Hill 3 RSX uses some 1280x720 texture with 12 mipmaps. log2(1280) is 11 so there is a mipmap level that shouldn't be here.

It looks like DX12 doesn't mind, I'm not sure about Vulkan. However in GL this leads to invalid texture. Capping mipmap level fixes the issue.

All backend are affected since they use rsx::texture::mipmap() to get mipmap count.

[2016-03-24 08:53] woody2014 opened #1622 "blue screen of death"
Latest master branch causes BSOD on my R9 280 card with vulkan backend

[2016-03-24 10:02] clshack commented on #1622
Maybe is exploitable :P

[2016-03-24 13:11] tambry commented on #1622
It's as useful to telling us "it doesn't work". At least provide decent info, full system specs, game version, log, drivers, etc.

[2016-03-24 13:24] AniLeo commented on #1622
This has happened to me **once** a few months ago where I was running RPCS3 and it crashed me with a BSOD.
It never happened again so far but I will test with the latest build.

Also, if you can reproduce, try getting the error message that BSOD shows or use BlueScreenView to look at your past BSOD and get the error it caused
http://www.bleepingcomputer.com/download/bluescreenview/

[2016-03-24 14:58] kd-11 commented on #1621
In that case, maybe we could check the value returned from the registers and correct it if it is invalid to emulate RSX behaviour. Capping the levels is a good idea.

[2016-03-24 15:05] kd-11 commented on #1616
Dump of glxinfo and glxgears -info? Also, this seems to happen alot on amdgpu for some users according to a quick google search. Bug might be from the mesa side of things.

[2016-03-24 15:11] kd-11 commented on #1568
https://github.com/RPCS3/rpcs3/commit/cf402c8954cbf9212472596e53a9419f075be9c8 was merged. Retest.

[2016-03-24 15:38] SakataGintokiYT commented on #1568
@kd-11
*Shadow issue fixed
<img src="http://www.fotoszok.pl/upload/ca49fe9e.jpg" alt="Fotoszok.pl" />

[2016-03-24 16:14] tambry commented on #1568
What about the block textures in that other game?

[2016-03-24 16:40] vlj commented on #1622
BSOD is rather a driver issue than an app issue. RPCS3 can trigger a TDR or freeze your desktop in the absolute worst case but BSOD is due to driver failure.

[2016-03-25 07:53] kd-11 opened #1623 "Vulkan: Resource leakage"
Vulkan now leaks old render target storage resources. This can happen very quickly causing crashes.

[2016-03-25 07:55] kd-11 commented on #1623
@vlj I  just tested on master and this happens. The old vk::texture objects that I was using for rtt storage were passed back to the texture cache and purged, but this doesn't seem to happen anymore since the texture changes. To see it in action, run hitman 2 and go ingame. The game recreates 2 rtts per frame, so vram fills up quite fast here.

[2016-03-25 16:48] SakataGintokiYT opened #1624 "Support resizing the screen on Vulkan [PPSSPP / RPCS3 ]"
@kd-11
@vlj
Fixed resizing the screen on Vulcan by unknownbrackets
Will it be useful in Rpcs3 ?
https://github.com/hrydgard/ppsspp/pull/8657

[2016-03-25 17:22] tambry commented on #1624
PPSSPP != RPCS3
You simply have to [re-create the swapchain when the window is resized](https://sourceforge.net/projects/symbiandump/files/documentation/) and there isn't a lot else to that.
You have to also make sure that the swapchain isn't created with width = 0 or height = 0.

[2016-03-25 19:54] kd-11 commented on #1624
Resizing support is not difficult, its just that the vulkan backend has bigger issues that have taken all the attention. Thanks for opening this as an issue though. It'll help to keep track.

[2016-03-25 23:42] paulsapps commented on #1624
@tambry not sure that URL is related..

[2016-03-26 05:21] tambry commented on #1624
@paulsapps Seems like I pasted the wrong link. Fixed.

[2016-03-26 05:22] tambry commented on #1622
Closed, as this is very likely not our fault and there's not enough information to investigate further.

[2016-03-26 05:22] #1622 closed

[2016-03-26 14:39] AniLeo commented on #1228
SJISstoUTF8s was implemented on 21 Dec 2015

This should probably be tested again

[2016-03-26 15:53] tambry commented on #1228
Well, we banned him from our organization, so he won't be able to post results himself anymore.
Probably safe to close this one.

[2016-03-26 15:53] #1228 closed

[2016-03-26 18:13] vlj commented on #1623
Should be fixed in master.

[2016-03-26 18:14] vlj commented on #1621
Fixed in master

[2016-03-26 18:14] #1621 closed

[2016-03-26 18:24] Nezarn commented on #1391
Ar Tonelico Qoga has this same issue
Forum: http://www.emunewz.net/forum/showthread.php?tid=156933&pid=230653#pid230653
Log: http://pastebin.com/vu9E0XFH

Also Atelier Rorona (BLES01030) has this issue too. (with the same file as Ar Tonelico Qoga)

[2016-03-27 08:56] kd-11 commented on #1623
Closing as fixed.

[2016-03-27 08:56] #1623 closed

[2016-03-27 09:02] tambry commented on #1617
@AniLeo It's likely that the missing value should be the one from the unimplemented register type 3. It seems exactly like the problem in #1400. You should probably post a note about this game also there.

[2016-03-27 09:02] #1617 closed

[2016-03-27 13:36] Uramekus commented on #1416
Any progress?

[2016-03-27 13:44] AniLeo commented on #1400
[code]

NPEA00004 - Lemmings
OpenGL

[NPEA00004 (Lemmings) OpenGL.zip](https://github.com/RPCS3/rpcs3/files/186357/NPEA00004.Lemmings.OpenGL.zip)

PARAM.SFO of the game needs to be changed in order for it to boot. Using RESOGUN's PARAM.SFO

[2016-03-27 15:38] kd-11 commented on #1527
@SakataGintokiYT Please retest castlevania. It might still crash, but the emulator has had alot of progress recently. Also, is that vulkan backend or OpenGL?

[2016-03-27 16:58] SakataGintokiYT commented on #1527
@kd-11
[27a8c074]
*DX12 - The same issue
*Vulkan / OpenGL  The same issue  +
{rsx::thread} RSX: Surface color buffer: Unsupported surface color format (0xa)

[2016-03-27 17:22] axfelix commented on #1570
I just hit something similar:

`[100%] Building CXX object CMakeFiles/rpcs3.dir/home/axfelix/Desktop/rpcs3/rsx_program_decompiler/shader_code/builder.cpp.o
[100%] Building CXX object CMakeFiles/rpcs3.dir/home/axfelix/Desktop/rpcs3/rsx_program_decompiler/shader_code/clike_language.cpp.o
Linking CXX executable rpcs3
/usr/bin/ld: cannot find -lasmjit
/usr/bin/ld: cannot find -lpng16_static
/usr/bin/l

[2016-03-27 17:28] tambry commented on #1570
@axfelix What commands did you run? And did you clone all the submodules?

[2016-03-27 17:30] axfelix commented on #1570
Yup, cloned all the submodules and built following the readme. This is a Ubuntu 16.04 environment; looks like I have gcc 5.3.1 and llvm 3.5 and 3.6 installed. I'd try on my arch machine instead but it doesn't have a GPU :)

[2016-03-27 17:40] tambry opened #1628 "HLE: cellPngDec bug causes crash in Sonic CD"
Sonic CD crashes in our own code after the first 3 logos on all renderers.

Settings:
PPU Interpreter 2
SPU Interpreter (fast)

Callstack:
[code]

[2016-03-27 18:27] Ekaseo commented on #1628
i think it does not work on any renderer

[2016-03-27 18:29] AniLeo commented on #1570
Same happened to me in Ubuntu 15.10

![screenshot_15](https://cloud.githubusercontent.com/assets/10283761/14067021/3da9ea6e-f452-11e5-92c8-367dab8aef36.png)

[2016-03-27 19:10] AniLeo commented on #1570
@axfelix That's because you run the command inside the rpcs3 folder. You have to run it at the parent directory.
Still, it still won't work:
![screenshot_16](https://cloud.githubusercontent.com/assets/10283761/14067230/eb996f8c-f457-11e5-96ea-287d6cad5325.png)

[2016-03-27 19:17] tambry commented on #1570
I think someone had the same problem about the _edit_ page (whatever that is) in some other issue. It should probably be added to the readme, as we try to link with it somehow and for some unknown reason.

[2016-03-27 19:18] tambry commented on #1570
I think someone had the same problem about the _edit_ page (whatever that is) in some other issue. It should probably be added to the readme, as we try to link with it somehow and for some unknown reason.

[2016-03-27 19:27] AniLeo commented on #1570
@tambry Submitted a change for the README

![screenshot_16](https://cloud.githubusercontent.com/assets/10283761/14067313/53ebcd80-f45a-11e5-99b2-55dfdc23267c.png)

[2016-03-27 19:33] kd-11 commented on #1628
Ekaseo is probably right. The triggered crash is in RSX/Common so it may affect all renderers.

[2016-03-27 19:40] axfelix commented on #1570
Thanks for the quick work on this.

[2016-03-27 22:02] vlj opened #1631 "List of tasks on graphic components."
I gathered a list of TODO related to graphic code. This is likely not exhaustif and not ranked by priority or difficulty.
- [x]  Fix Vulkan shadow in Hitman 2. For some reasons with Vulkan Hitman 2 shadows appear correctly but are surrounded by a black texture. I guess it's a sampler parameter not properly set but I can be wrong.
- [ ] Fix Silent Hills 3 missing shadows in OpenGL.
- [ ] Also fix S

[2016-03-27 23:02] AniLeo commented on #1570
This can be closed as of #1629

[2016-03-27 23:33] Ekaseo commented on #1581
looks like the game is working correctly now, so im closing this issue

[2016-03-27 23:33] #1581 closed

[2016-03-28 00:20] vlj commented on #1628
It's an issue in Sonic CD, texture width is bigger than pitch. I have a fix that make texture ignore the pitch in such case.

[2016-03-28 04:46] #1570 closed

[2016-03-28 15:45] Bryciekai opened #1633 "Texture dumping"
A texture dumping option should be available in the video settings of the emulator

[2016-03-28 15:48] tambry commented on #1633
And why you'd need that? The emulator is in a barely usable state anyways.

[2016-03-28 15:49] AniLeo commented on #1633
Well, there's RSX debugger but it doesn't dump the results anywhere

[2016-03-28 15:56] paulsapps commented on #1633
@Bryciekai why not just send a PR to add it to RSX debugger

[2016-03-28 17:02] tambry commented on #1532
Looking into it.

[2016-03-28 17:02] tambry commented on #1541
Still an issue?

[2016-03-28 19:19] tambry commented on #1532
@vlj @kd-11 Using cellPngDec LLE (cellSre and cellSpursJq may also be needed):
* [On Vulkan the colours are very messed up](http://i.imgur.com/xaUAHvK.png
* [On DX12 there also seem to be some issues with colours, but it's better](http://i.imgur.com/jiAMAsH.png)
* On OpenGL it's just a black screen.

[2016-03-28 19:24] kd-11 commented on #1631
The hitman 2 shadows thing on vulkan i also found to be odd. It doesn't seem to be due to border clamp color (it is set to white, 1.f). I was going to open a separate issue, but I guess this can serve as a tracker for this.

Another issue is that Afterburner climax does not work on GL for some reason. With vulkan, it just worked out of the box, and it was a direct opengl port back then, so I reall

[2016-03-28 19:52] kd-11 commented on #1532
Might be an issue selecting the proper internal format, at least for vulkan. Not sure about OpenGL though.

[2016-03-28 20:47] #1633 closed

[2016-03-28 21:07] mpm11011 commented on #1614
I ended up using pugixml, but I'm running into a problem building the project. I'm getting LNK2001 errors in VS2015, and they all have to do with pugi functions.

Here's an example:

`5>emucore.lib(rXml.obj) : error LNK2001: unresolved external symbol "public: __cdecl pugi::xml_document::xml_document(void)" (??0xml_document@pugi@@QEAA@XZ)`

- I added `"${RPCS3_SRC_DIR}/../3rdparty/pugixml/src"` to

[2016-03-28 21:19] danilaml commented on #1614
@mpm11011 you added include paths but you didn't add it to dependencies (you didn't tell it to link it).

[2016-03-28 21:29] mpm11011 commented on #1614
@danilaml You mean by going to Project > Project Dependencies? Pugixml is not listed there.

[2016-03-28 21:43] danilaml commented on #1614
@mpm11011 I'm not sure if pugi is supposed to be compiled as a lib. You probably should know better.
Have you added it in "Configuration Properties" --> "C/C++“ --> "General" --> "Additional Include Directories" ?

[2016-03-28 21:49] mpm11011 commented on #1614
I did do that. But I'm not sure if it's supposed to be compiled as a library.

[2016-03-28 23:55] justinehler opened #1635 "[Linux] Access Violation Reading Location"
Trying to run the latest build on Arch, seems ok at first. However when browsing for a game file to open, all files are blurred out and the console spits this out (after which RPCS3 crashes):

`./rpcs3
vm::g_base_addr = 0x7f89cc65b000
vm::g_priv_addr = 0x7f88cc65b000
Fatal error: Access violation reading location (nil) at 0x7f8ad2644716.
Please report this error to the developers.
Aborted (core du

[2016-03-29 00:39] vlj commented on #1631
I looked at After Burner Climax with GL. What happens is that rtt are created as gl_texture_2d but are sampled with unnormalized coords. Unfortunately in gl texture 2d and rectangle are different object from gl spec point of view, they can't even be mapped using texture view.
It works in Vulkan because sampler 2d can be transformed into a sampler rest by setting the right bit in sampler object.

F

[2016-03-29 04:45] tambry commented on #1635
Well, we're probably trying to do some stuff that requires admin/root privileges. If you can provide a stack trace, then we can look into it.

[2016-03-29 15:59] tambry commented on #1532
Well, this is not nice at all. The texture(s) the game provides are RGBA, but it wants them output as GA (Greyscale Alpha). Thankfully, it's quite easy to tell libpng to simply convert such images to grayscale. The HLE implementation as of https://github.com/tambry/rpcs3/commit/74dbabef4e6b29423577ccb82702c4b6d08e4d35 should now be on par with LLE.
Might also be worth noting that the HLE implement

[2016-03-29 17:01] SakataGintokiYT commented on #1532
Minecraft
Before cellPngDec.cpp:641

{PPU Thread[0x1] (main_thread)[0x0081ada4]} Exception: RGB colour format.
(in file Emu\SysCalls\Modules\cellPngDec.cpp:653, in function pngDecodeData)

[2016-03-29 17:21] kd-11 commented on #1631
I'll extend GL to use explicit samplers through ARB_sampler_objects and see if it helps. Should help make it similar to vulkan in that regard.

[2016-03-29 17:53] tambry commented on #1532
Probably makes sense to unify the copy to the buffer for different formats.
[New build](https://mega.co.nz/#!xYomHaBB!XP-94AcQ013IZNB-CatzrSE5QPtjgXn2QP-9Ldsz3yg)

[2016-03-29 22:14] justinehler commented on #1635
I think this is what you're looking for.

[justin@JustinPC rpcs3]$ sudo gdb -batch -ex bt -p 4322
[New LWP 4466]
[New LWP 4393]
[New LWP 4392]
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/usr/lib/libthread_db.so.1".
0x00007f49bb136c3d in poll () from /usr/lib/libc.so.6
#0  0x00007f49bb136c3d in poll () from /usr/lib/libc.so.6
#1  0x00007f49b989bf7c in ?? () from

[2016-03-30 04:37] tambry commented on #1635
Could you run ld on the executable and post it here?

[2016-03-30 16:28] SakataGintokiYT commented on #1539
@tambry
Yes still the same problem
<img src="http://www.fotoszok.pl/upload/123230e5.jpg" alt="Fotoszok.pl" />

[2016-03-30 16:41] AniLeo commented on #1539
@SakataGintokiYT The problem I wanted to show here is actually the menu flickering. The ingame will take more implementations and time to be displayed properly.
I haven't had the time to test yet, but I will as soon as I can

[2016-03-30 18:39] AniLeo commented on #1539
@tambry It's not fixed. It actually got way worse in latest master.
![screenshot_141](https://cloud.githubusercontent.com/assets/10283761/14153284/1c99d492-f6af-11e5-8cea-67fa8622c91e.png)
![screenshot_142](https://cloud.githubusercontent.com/assets/10283761/14153283/1c99d032-f6af-11e5-8859-e230afd4a5ec.png)

[2016-03-30 19:47] justinehler commented on #1635
ldd rpcs3
	linux-vdso.so.1 (0x00007ffe93666000)
	libwx_gtk2u_core-3.0.so.0 => /usr/lib/libwx_gtk2u_core-3.0.so.0 (0x00007fc616c50000)
	libwx_baseu-3.0.so.0 => /usr/lib/libwx_baseu-3.0.so.0 (0x00007fc6167b1000)
	libwx_baseu_net-3.0.so.0 => /usr/lib/libwx_baseu_net-3.0.so.0 (0x00007fc616562000)
	libwx_gtk2u_aui-3.0.so.0 => /usr/lib/libwx_gtk2u_aui-3.0.so.0 (0x00007fc6162c4000)
	libwx_gtk2u_gl-3.0.so

[2016-03-30 20:17] vlj commented on #1631
Vulkan doesn't support non 0xFFFF primitive restart index, this makes SH3 crashes on nvidia (kernel exception). I think it tries to access vertex "-2" which is not contained in the vertex buffer.

[2016-03-30 20:22] kd-11 commented on #1631
That'd be 0xFFFE. I think we have to fill the index buffer ourselves and replace the primitive restart index with FFFF or FFFFFFFF depending on the type

[2016-03-31 00:57] vlj commented on #1631
Actually I was wrong SH3 does not crash because of primitive restart but because of cubemap (which are not supported atm : what happens is that the extra layer becomes mipmap level atm).
Some geometry is missing though so maybe it's tied to primitive restart.

[2016-03-31 02:14] zminhquanz opened #1645 "Project Diva F 2nd hang black screen after logo intro"
you can see log and screenshot below
![image](https://cloud.githubusercontent.com/assets/11285640/14163581/04958a72-f721-11e5-9e90-27b2235ef8c9.png)

[2016-03-31 04:43] tambry commented on #1645
You have opened other issues in the past and didn't provide any necessary information. Same goes for this time. Closing until you can provide the necessary information.

[2016-03-31 04:43] #1645 closed

[2016-03-31 04:45] tambry commented on #1635
@justinehler Could you try linking with wxWidgets 3.1? Our README seems to be outdated.

[2016-03-31 05:11] zminhquanz commented on #1645
i used interpreter 2 , SPU Recompiler , Xaudio 2 , DirectX 12

[2016-03-31 06:39] tambry commented on #1645
http://www.emunewz.net/forum/showthread.php?tid=171465

Same applies here.

[2016-03-31 08:00] Nezarn commented on #1645
thats not Project Diva F 2nd, thats the first game Project Diva F (the 2nd game doesn't hang with that error, it just showes black screen + missing shader instruction)

Also http://www.emunewz.net/forum/showthread.php?tid=162348&pid=230695#pid230695
(note:doesn't need any LLE modules)

[2016-03-31 09:46] butzsan opened #1646 "Error compiling rpcs3 on Linux"
I got this when I tried to compile rpcs3

[ 81%] Building CXX object rpcs3/CMakeFiles/rpcs3.dir/Gui/MainFrame.cpp.o
/home/butz/Emus+/rpcs3/rpcs3/Gui/MainFrame.cpp:6:25: fatal error: git-version.h: No existe el fichero o el directorio
 #include "git-version.h"
                         ^
compilation terminated.
rpcs3/CMakeFiles/rpcs3.dir/build.make:7526: fallo en las instrucciones para el objetivo '

[2016-03-31 13:49] tambry commented on #1646
Please provide all the necessary information. What commands did you use from the beginning? System setup? Distro? Compiler? CMake? Etc

[2016-03-31 14:58] tambry commented on #1532
On latest master, the logo and text now have a waving animation, as they do on a real PS3. The color issues persist along with OGL not displaying anything.

[2016-03-31 15:47] ELAD3356P opened #1647 "Beyond Two Souls"
---------------------------
Fatal error
---------------------------
Unhandled Win32 exception 0x80000003.
Exception address: 00007FFDF961B72C.
ExceptionInformation[0x0]: 0000000000000000.
Instruction address: 00007FFDF961B72C.
Image base: 00007FF764070000.

An unknown internal exception has occured. Please report this to the developers.

[2016-03-31 15:53] tambry commented on #1647
Outdated build. Also Github issues is more for development related issues or very specific issues with games.

[2016-03-31 15:53] #1647 closed

[2016-03-31 16:04] ELAD3356P commented on #1647
i have the latest :d5bb951

[2016-03-31 16:10] ELAD3356P commented on #1647
it showes me the game window but it's all white and then the emulator crases.

[2016-03-31 16:20] tambry commented on #1647
http://www.emunewz.net/forum/showthread.php?tid=174352

[2016-03-31 17:16] butzsan commented on #1646
System:  corei7 at 3.7Ghz, 8GB RAM, NVIDIA GTX550ti 2GB VRAM and PSU: EVGA 600+80
Distro: Debian Stretch (Testing) 64bits
Compiler: Gcc 5.3.1
Cmake: 3.5

[2016-03-31 18:43] SakataGintokiYT commented on #1565
{rsx::thread} Exception: HRESULT =The parameter is incorrect.
(in file C:\rpcs3\rpcs3\Emu\RSX\D3D12\D3D12GSRender.cpp:490, in function D3D12GSRender::flip)

[2016-03-31 21:06] kd-11 commented on #1631
Another issue i've noticed on gl: missing/corrupt geometry. Notable on afterburner climax, hitman 2 (hair), resogun. prince of persia the sands of time

[2016-03-31 23:07] butzsan commented on #1646
git clone https://github.com/RPCS3/rpcs3
cd rpcs3
git submodule update --init
mkdir build
cd build
cmake ..
make

[2016-03-31 23:34] vlj commented on #1631
Geometry in GL is apparently here but misplaced, at least in Hitman 2. For some reason the hair is using wrong vertex attribute apparently.

[2016-04-01 03:01] zminhquanz commented on #1624
PPSSPP has fixed resize screen on Vulkan API , you can fix this on RPCS3

[2016-04-01 04:37] tambry commented on #1624
@zminhquanz RPCS3 is not PPSSPP. Though one man jumped from some roof and didn't die, doesn't mean another one should.

[2016-04-01 04:39] tambry commented on #1646
What git version do you have?

[2016-04-01 05:01] butzsan commented on #1646
git version 2.8.0.rc3

[2016-04-01 10:01] kd-11 commented on #1631
Its interesting that there are attribute issues on openGL and not on vulkan. The initial vulkan commit was a near direct port of the OpenGL backend and there are no issues there.

[2016-04-01 12:52] fenix008 opened #1651 "Exception: Unknown register name: ssa [Vulkan]"
·F {rsx::thread} Exception: Unknown register name: ssa
(in file C:\rpcs3\rpcs3\Emu\RSX\VK\VKCommonDecompiler.cpp:252, in function vk::get_varying_register)

This error shows in game "Kung Fu Panda: Showdown of Legendary Legends", when I click "Press X to start" and after it shows the black screen and this error.
LOG here: http://rghost.ru/8BFt5LKCL
- if need it:

Fragment Program: http://rghost.ru

[2016-04-01 14:31] tambry commented on #1416
I'll look into this.

[2016-04-01 14:43] Nezarn commented on #1416
@tambry since you will look into this file handling issue, can you take a look at #1391 too?

[2016-04-01 14:51] tambry commented on #1416
@Nezarn As I have noted on the issue, I suspect that the faulty implementation of cellGame* functions are at fault. There are multiple issues with those functions, that will require testing on an actual PS3 to confirm the behaviour. I don't have access to a PS3 to write tests to confirm the behaviour.

[2016-04-01 15:07] tambry opened #1652 "BIT.TRIP Runner 2: Future Legend of Rhythm Alien Trial [NPUB30733] no output on DX12"
Settings:
PPU Interpreter 2
SPU Interpreter (fast)
DX12 renderer
1280x720

No LLE needed.

No output. Sounds for it progressing further can be heard. [Vulkan goes in-game](https://i.imgur.com/o2vVF6A.png) and is actually quite playable despite dozens of graphical issues.

[2016-04-01 20:36] SakataGintokiYT commented on #1532
{PPU Thread[0x1] (main_thread)[0x000af470]} Exception: Partial image decoding is not supported.
(in file Emu\SysCalls\Modules\cellPngDec.cpp:288, in function pngDecOpen)

[2016-04-01 21:48] vlj commented on #1631
I found the issue, vertex buffer size was wrong: https://github.com/vlj/rpcs3/commit/979eea638ab61d19918f176da647839cebcef83e

vertex_draw_count is the number of vertex draw, in case of non indexed draw it's exactly the count of element in the vertex buffer array however for indexed draw there is no relationship between count of element in vertex buffer and vertex_draw_count. Usually the buffer ha

[2016-04-02 02:01] justinehler commented on #1646
I can confirm the same thing happens on Arch, with GCC 5.3.0, CMake 3.5.1, and Git 2.8.0 (non-rc). Just in case, here's that console output again with English messages:

[ 81%] Building CXX object rpcs3/CMakeFiles/rpcs3.dir/Gui/MainFrame.cpp.o
/home/justin/rpcs3/rpcs3/Gui/MainFrame.cpp:6:25: fatal error: git-version.h: No such file or directory
 #include "git-version.h"
                         ^

[2016-04-02 02:39] justinehler commented on #1646
I'm no expert by any means, but I did manage to get past this error. I had an earlier build of RPCS3 with the "git-version.h" (located in rpcs3/rpcs3), so I copied that file into my current build, and the compiler recognized the file was there and continued on. It seems as though the "git-version.cmake" isn't properly generating the "git-version.h" file for some reason.

Even after I fixed this er

[2016-04-02 05:38] tambry commented on #1646
Yes. Recently the yaml-cpp submodule was added for future use. It's currently not used in the code base, AFAIK.

[2016-04-02 05:44] tambry commented on #1532
It's basically useless without telling me what game that occurs in. I do know that one of the Date A Live games uses partial image decoding.

[2016-04-02 05:46] tambry commented on #1606
Can this be closed for now? Or can we change the title and original issue to reflect the need for the updated submodule?

[2016-04-02 07:20] SakataGintokiYT commented on #1532
The Family Planning re Spin Yarn [NPJB90656]

[2016-04-02 07:27] tambry commented on #1532
Probably worth a separate issue. This is probably something that may take a while to implement.

[2016-04-02 07:27] SakataGintokiYT commented on #1565
[8413cd7b]
*Game :
Daytona USA [NPJB00161]

{rsx::thread} Exception: HRESULT = The parameter is incorrect.
(in file C:\rpcs3\rpcs3\Emu\RSX\D3D12\D3D12GSRender.cpp:590, in function D3D12GSRender::flip)

[2016-04-02 08:03] tambry commented on #1565
It's simply and indication that driver is unable to render that frame, because something was done wrong. This is rather a symptom than the actual problem. It should probably reported separately for every game with the proper debug output enabled.

[2016-04-02 08:18] tambry commented on #1532
Been working on fixing up colour formats for DX12.
Seems like the logo is now visible.

![](https://i.imgur.com/2eOqim9.png)

[2016-04-02 08:24] SakataGintokiYT commented on #1565
with debug output enabled
<img src="http://www.fotoszok.pl/upload/a9ae996e.jpg" alt="Fotoszok.pl" />

[2016-04-02 08:31] tambry commented on #1565
Well, debug output expects you to actually be running in Visual Studio. It reports to the Visual Studio debug output.

[2016-04-02 09:40] kd-11 commented on #1631
Nice catch. Vulkan initially had a similar bug but i somehow completely missed this when reviewing the opengl code recently trying to fix this bug.

[2016-04-02 10:16] kd-11 commented on #1651
The declaration for ssa varying register is missing from the lookup table is all.

[2016-04-02 16:07] kd-11 commented on #1651
@fenix008 Check if https://ci.appveyor.com/project/kd-11/rpcs3/build/1.0.84/artifacts fixes the issue

[2016-04-02 19:21] AniLeo commented on #1606
I guess the latter should be more fit. I was gonna close it when the submodule got updated

[2016-04-02 20:12] Nezarn opened #1655 "Vulkan: Hatsune Miku Project Diva F scaling issue (NV specific)"
Vulkan:
![rpcs3_2016-04-02_21-41-32](https://cloud.githubusercontent.com/assets/3817985/14228667/74cc4f36-f91c-11e5-9c29-b0ac29c970f4.png)

OpenGL:
![rpcs3_2016-04-02_22-11-39](https://cloud.githubusercontent.com/assets/3817985/14228776/ed35636a-f91f-11e5-9275-5a4f11ba8f42.png)

On DX12 and OGL it works fine. (also the other game i have vulkan works fine so i guess its not a driver\graphics card i

[2016-04-02 20:41] fenix008 commented on #1651
thanks. I will do it soon!

[2016-04-02 20:55] fenix008 commented on #1651
alright, now it works and moves on.
http://puu.sh/o3Hx1/24c544acb3.jpg (Now is only general problem...in-game graphics, but I write it in my thread)

Thanks ;)

[2016-04-03 05:09] tambry commented on #1586
Is this still an issue?

[2016-04-03 06:14] orbea commented on #1586
Yes, now it simply fails to install `libvulkan.so.1` at all.
[code]
[code]

[2016-04-03 09:05] SakataGintokiYT opened #1658 "OpenGL- black screen with fps and sound issue"
@kd-11
@vlj

[TNT Racers]
Log : https://gist.github.com/SakataGintokiYT/ccfb09e3504c87299456838febb48660

{rsx::thread} RSX: Texture params are invalid for block starting 0xC058B600!
{rsx::thread} RSX: Params passed w=256, h=256, mip=1, found w=1024, h=1024, mip=1
_____________________________________________________________________________
[Castle Crashers]
Log : https://gist.github.com/SakataGin

[2016-04-03 09:09] SakataGintokiYT commented on #1655
[Vulkan] - Try on 1920x1080

[2016-04-03 09:09] kd-11 commented on #1658
That error happens whenever the cached texture was saved using different dimensions than the requested texture. I'm not sure if thats the issue though since it ought to reupload the texture anyway.

[2016-04-03 10:31] Nezarn commented on #1655
Its still bad, Screen is still cut off a bit and its not centered.

[2016-04-03 13:20] Bryciekai opened #1659 "Dumping Textures from RSX Debugger"
There should be an option to dump textures from the RSX Debugger, and an option to load up custom textures (Simillar to how Dolphin's Dumping/Loading Textures Option works).

[2016-04-03 13:35] tambry commented on #1659
Why open multiple issues? And why did you even close the last one?
Besides that, why you'd need that? The emulator is in a barely usable state anyways. If you want that, simply unpack the game's files or figure out the format that the game's files are in.

[2016-04-03 14:09] Bryciekai commented on #1659
I am pretty sure I closed the last one.

[2016-04-03 14:15] tambry commented on #1659
Yes you did, but why then open another basically identical one?

[2016-04-03 15:00] SakataGintokiYT commented on #1594
@tambry
[edc8b77d]
#1653
*Vulkan
<img src="http://www.fotoszok.pl/upload/5e77b376.jpg" alt="Fotoszok.pl" />

[2016-04-03 15:03] tambry commented on #1594
@SakataGintokiYT Is it supposed to look so blue?

[2016-04-03 15:04] danilaml commented on #1594
@tambry maybe it's those two texture types in upper right corner with R and B channels swapped.

[2016-04-03 15:06] SakataGintokiYT commented on #1594
@tambry
http://www.presstartoplay.com/wp-content/uploads/2016/03/ke_3-e1457259473724.png
http://www.presstartoplay.com/wp-content/uploads/2016/03/ke_2-e1457259438579.png

[2016-04-03 15:11] tambry commented on #1594
@danilaml  @SakataGintokiYT  Seems like it. I already spent an hour trying to get them switched properly. Can't figure it out for the life of me :(
@danilaml  I also think you mean the bottom middle one?

[2016-04-03 15:16] SakataGintokiYT commented on #1594
@tambry  Blue color is only on gui
<img src="http://www.fotoszok.pl/upload/0d79ce5c.jpg" alt="Fotoszok.pl" />

[2016-04-03 15:18] danilaml commented on #1594
@tambry you can ping @vlj and see if he can help.

[2016-04-04 16:18] JohnGodgames opened #1660 "OGL: Jurassic: The Hunted broken in-game texture"
**LLE Used:**
cellFiber_Library
CELL_L10N_PRX_MODULE_NAME
cellSail_Library
cellSre_Library

**OGL** [LOG](https://mega.nz/#!yYNjkDqa!dJK8LLH1OALLVygmtFrDbeq5vYf0ACVQqvgEbNpBVP4)

![jurassic rpcs3](https://cloud.githubusercontent.com/assets/11453507/14254563/90b0423c-fa90-11e5-85dd-40503258e21b.jpg)

Buggy ingame [video](https://www.youtube.com/watch?v=qCZtazOmscM)

**DX 12** [LOG](https://mega.nz/

[2016-04-04 16:32] kd-11 commented on #1651
@fenix008 Check this once it finishes building: https://ci.appveyor.com/project/kd-11/rpcs3/build/1.0.88/artifacts
My last commit was somewhat incorrect, but should be fixed now

[2016-04-04 16:47] tambry commented on #1594
@SakataGintokiYT Could you check again, once https://ci.appveyor.com/project/rpcs3/rpcs3/build/1.0.2092 finishes building?

[2016-04-04 16:48] tambry commented on #1596
Could you check with #1653, once it finishes building?

[2016-04-04 17:10] SakataGintokiYT commented on #1594
@tambry :+1:
*Vulkan
<img src="http://www.fotoszok.pl/upload/85a2004e.jpg" alt="Fotoszok.pl" />
<img src="http://www.fotoszok.pl/upload/4755d90c.jpg" alt="Fotoszok.pl" />
<img src="http://www.fotoszok.pl/upload/277e0bde.jpg" alt="Fotoszok.pl" />

[2016-04-04 17:13] SakataGintokiYT commented on #1596
@tambry
<img src="http://www.fotoszok.pl/upload/eb33932e.jpg" alt="Fotoszok.pl" />

[2016-04-04 17:15] danilaml commented on #1594
@SakataGintokiYT nice! What about dx12?

[2016-04-04 17:20] SakataGintokiYT commented on #1594
@danilaml  No change ;/ http://www.fotoszok.pl/upload/f907c96a.jpg

[2016-04-04 18:32] orbea commented on #1586
Here is a work around.
[code]
I think it should still be further fixed, especially before rpcs3 is more developed and requires polish.

[2016-04-04 19:27] fenix008 commented on #1651
yeah, it works.

[2016-04-05 21:28] kd-11 commented on #1658
Ok. I actually found the problem. It happens in many games with OpenGL. I'll submit a fix ASAP.

[2016-04-05 21:59] kd-11 commented on #1532
https://github.com/RPCS3/rpcs3/pull/1661 might fix the OGL black screen. I'll take a look at the remapping issues later.

[2016-04-05 23:37] #1651 closed

[2016-04-06 21:19] danilaml commented on #1646
reinit submodules.

[2016-04-07 00:02] vlj commented on #1631
I have almost finished factorizing vertex attribute upload code between dx12 and Vulkan, will soon send a pr.

Btw it looks like there is a bug with rgba32 format and vertex buffer with some Radeon card, I've signaled it to Vulkan project and it looks like a driver bug and not a hw limit. I'm keeping the workaround for now but I will remove it if it get fixed with a driver update.

[2016-04-07 00:07] vlj commented on #1423
Core context and debug output implemented.

[2016-04-07 00:07] #1423 closed

[2016-04-07 00:21] vlj commented on #1354
I looked at Build 2016 podcast about uwp app model and it looks like Microsoft is trying very hard to make uwp and appx the way to go for Windows application. They're working on a gui making sideloading (installing app not on Windows store)  easier and will provide a tool to embed win32 app in an appx package.

The benefit of uwp/appx is that installation mechanism is strongly defined which should

[2016-04-07 08:08] danilaml commented on #1354
@vlj wxwidgets is ceoss-platform though. Currently even one GUI backend (wx) is barely maintained, it'd be unwise to have a GUI for every platform without dedicated maintainers.
AFAIK it doesn't stop us from using app model in the future though. But that future is rather distant.

[2016-04-07 08:11] danilaml commented on #1631
@vlj btw, it's unrelated but while you have a contact with AMD driver dev could you ask if missing `glsl 450` support is intentional (because otherwise amd drivers are oGL 4.5 compliant) or it's an oversight.

[2016-04-07 10:30] kd-11 commented on #1658
@SakataGintokiYT  This has been resolved. Please retest.

[2016-04-07 10:42] kd-11 commented on #1631
@danilaml If I remember correctly, newer drivers report glsl 450 for GCN on windows since the 16.x crimson series. I could recheck when I get home though if I'm wrong.

[2016-04-07 10:54] kd-11 commented on #1631
@vlj Its interesting that texelFetch should respect the swizzle mask under vulkan but not openGL. Under OpenGL glsl, the texelFetch instruction completely ignores the component masking state of the sampler for both amd and nvidia. I'm not sure if its a bug or just an undefined part of the spec since I havent found anything dictating expected behaviour.

[2016-04-07 15:09] danilaml commented on #1631
@kd-11 wow. Indeed it does. I'm pretty sure that's got added recently though (I think I checked on first crimson drivers with no luck so it was either 16.2 or 16.3 or something in between).

[2016-04-07 19:48] danilaml commented on #1594
@vlj can you look at why dx12 is failing while Vulkan does not?

[2016-04-07 20:16] kd-11 commented on #1567
I submitted a fix for this a while back. Resolved.

[2016-04-07 20:16] #1567 closed

[2016-04-07 20:24] vlj commented on #1594
I'm investigating

[2016-04-07 22:00] annahana commented on #1541
testet with RPCS3 v0.0.0.6-6-56ac7f2 and is the same as before

[RPCS3.txt](https://github.com/RPCS3/rpcs3/files/209296/RPCS3.txt)

[2016-04-08 03:45] tambry commented on #1532
Should be fixed.

[2016-04-08 03:45] #1532 closed

[2016-04-08 04:42] tambry commented on #1660
Still an issue? There was some refactoring of rendering code between backends recently.

[2016-04-08 07:37] Altaiar commented on #1658
HI in this Build rpcs3-ReleaseLLVM-d846eac0
this Games i try to run (with OGL) emulator crash
Game list: Scogger HD & Metal Slug 3 & SuperFrog & Shovel Knight
shovel knight Log :
http://www.mediafire.com/download/0sgc3jsg5327gu8/RPCS3.log

[2016-04-08 15:19] justinehler commented on #1646
Looks good now, thanks!

[2016-04-08 15:36] danilaml commented on #1646
@justinehler close this issue if it works now.

[2016-04-08 15:42] tambry commented on #1646
@danilaml It's @butzsan's issue.

@butzsan Can you build now?

[2016-04-08 15:46] butzsan commented on #1646
I am compiling right now, give me a couple of minutes :)

[2016-04-08 15:52] butzsan commented on #1646
Same issue for me, I dont know why :(

/home/butz/Emus+/rpcs3/rpcs3/Gui/MainFrame.cpp:6:25: fatal error: git-version.h: No existe el fichero o el directorio
 #include "git-version.h"
                         ^
compilation terminated.

[2016-04-08 16:22] Nezarn opened #1666 "[OpenGL] Hatsune Miku Project Diva F Demo crashes with latest master"
FragmentProgram: http://pastebin.com/sUqbFNVg
VertexProgram: http://pastebin.com/S9460bGd
Log: http://pastebin.com/fv323yMH

[2016-04-08 16:23] tambry commented on #1666
At least give on some info how it crashes, the stack trace, the usual stuff.

[2016-04-08 16:24] Nezarn commented on #1666
Just "RPCS3 stopped working"

[2016-04-08 16:25] tambry commented on #1666
So like another 100 games? Like I said, at minimum a stack trace should be given for such reports. Closing this for now, until you're able to provide such information.

[2016-04-08 16:25] #1666 closed

[2016-04-08 16:45] danilaml opened #1667 "OpenGL crashes since recent PR."
Here: https://github.com/RPCS3/rpcs3/blob/master/rpcs3/Emu/RSX/Common/BufferUtils.cpp#L73
`Unhandled exception at 0x00007FF8379A5A4E (ucrtbase.dll) in rpcs3.exe: Fatal program exit requested.`
Supposedly after 3a3d264cb506febff60409ed5176207e8cb6f856 by @vlj

[2016-04-08 16:49] tambry commented on #1667
Could you give the full stracktrace?

[2016-04-08 16:53] Nezarn commented on #1666
I didn't know other 100 games were fully playable before with very minor graphics glitches... can you get off your high horse? Why do you need to look at every other humans as retards by default?

This was my last issue report, i won't give a f*** about this project anymore. (HINT: you can see from the log why\when it crashes, clearly something is wrong at vertex shader since it crashes as soon as

[2016-04-08 16:56] danilaml commented on #1667
@tambry
[code]

[2016-04-08 17:05] tambry commented on #1667
Looks like a typo. I've got a speculative fix, but I'll wait for #1665 to go through, so I can compile.

[2016-04-08 17:13] tambry commented on #1666
I don't think I ever said that (another) 100 games were fully playable. That definitely isn't the case. I've got a speculative fix, thanks to the stack trace and the commit that broke it.

[2016-04-08 17:23] danilaml commented on #1646
@butzsan can you run cmake with `--debug-output` option and post the output here?

[2016-04-08 17:29] butzsan commented on #1646
Sure

http://pastebin.com/8pKjqFNL

[2016-04-08 17:47] danilaml commented on #1646
@butzsan and `make -v`

[2016-04-08 18:04] butzsan commented on #1646
@danilaml GNU Make 4.1

[2016-04-08 18:12] danilaml commented on #1646
@butzsan sorry, I meant `make V=1`

[2016-04-08 18:18] tambry commented on #1667
Does [this artifact](https://ci.appveyor.com/project/rpcs3/rpcs3/build/1.0.2130/artifacts) from #1668 fix it?

[2016-04-08 18:21] danilaml commented on #1667
@tambry yes it does :+1:

[2016-04-08 19:18] #1667 closed

[2016-04-09 01:11] butzsan commented on #1646
@danilaml it gives me the same error at the end :(

[2016-04-09 02:04] butzsan commented on #1646
Ok, after updating the emu a few minutes ago, I try to compile and pass this error, but now it gave me:

In file included from /home/butz/Emus+/rpcs3/Utilities/yaml-cpp/src/regeximpl.h:10:0,
                 from /home/butz/Emus+/rpcs3/Utilities/yaml-cpp/src/regex_yaml.h:83,
                 from /home/butz/Emus+/rpcs3/Utilities/yaml-cpp/src/exp.h:13,
                 from /home/butz/Emus+/rpcs3/U

[2016-04-09 04:38] tambry commented on #1646
Make sure you updated your submodules.

[2016-04-09 06:24] Uramekus commented on #1646
tried to build it today
having the same error from the beggining of the thread
keep in mind that ive downloaded all submodules today

Using arch x64
git 2.8.0(release)
cmake 3.5.1

 rpcs3/rpcs3/Gui/MainFrame.cpp:6:25: fatal error: git-version.h: No such file or directory
 #include "git-version.h"
                         ^

[2016-04-09 06:39] danilaml commented on #1646
@butzsan please, I asked for the full output of `make V=1` (or `make VERBOSE=1`) not if it succedes or not (it obviously doesn't).

[2016-04-09 08:26] tambry commented on #1631
Slightly unrelated, but it would be nice to instead create the VertexProgram and FragmentProgram files in a separate folder. It's quite annoying to have the bin folder filled up with 100's of them.

[2016-04-09 08:37] tambry commented on #1416
I've now got access to a PS3, so I'll be taking a look at this.

At a first glance of using LittleBigPlanet Demo [NPEA00147], it seems quite odd.
It uses cellGame and obtains permission to use the cache - /dev_hdd1/cache/. After obtaining the permission it make sure that /dev_hdd1/cache/ exists and creates its own folder - NPEA00147 in it, along with another folder in it - output. After doing that

[2016-04-09 09:32] tambry commented on #1416
After implementing the cellFsAllocateFileAreaWithoutZeroFill, it allocates the size of the temp file to be 1GB. There also seem to be non-deterministic Win32 API errors about invalid memory locations and such. They don't seem to happen too often, though.

It seems to now continue execution normally, loading some font files and initializing rendering related things. Sadly it terminates right after

[2016-04-09 10:20] butzsan commented on #1646
http://pastebin.com/MPFmd3vk

[2016-04-09 10:48] kd-11 commented on #1658
@Altaiar  A fix for openGL crashing was commited. Check if it fixed the crashing.

[2016-04-09 10:51] kd-11 commented on #1568
OpenGL backend has had some bugfixes commited recently. Need new tests to confirm current status of this issue report.

[2016-04-09 12:21] danilaml commented on #1646
@butzsan could you add `"${RPCS3_SRC_DIR}/../Utilities/yaml-cpp/"` here https://github.com/RPCS3/rpcs3/blob/master/rpcs3/CMakeLists.txt#L125 and see if it helps.

[2016-04-09 12:23] danilaml commented on #1646
@Uramekus can you provide log of `make V=1` too?

[2016-04-09 12:51] tambry commented on #1416
The non-deterministic errors for Win32 API are contuing to be annoying. I have absolutely no idea what's causing them and how to fix them. :/

Managed to fix the bug associated with cellUserInfoGetStat, that affected me. There also was another bug with socketselect, that caused it to infinitely spam the log and get stuck at the loading screen. After fixing that, it seems to spam indefinitely inet_

[2016-04-09 13:06] SakataGintokiYT commented on #1568
Dragon Ball Raging Blast -[FragmentProgram / VertexProgram / Log ] http://www94.zippyshare.com/v/tBt1g4H4/file.html

Legend Of Kay Anniversary- [FragmentProgram / VertexProgram / Log ] http://www81.zippyshare.com/v/TWtLYfbM/file.html

Ice Age Dawn of the Dinosaurs- [FragmentProgram / VertexProgram / Log ] http://www19.zippyshare.com/v/6sf7hXNY/file.html

Bomberman Ultra- [FragmentProgram / VertexP

[2016-04-09 13:16] tambry commented on #1568
The cats from the Legend of Kay look a little too bright.

[2016-04-09 13:57] SakataGintokiYT commented on #1527
<img src="http://www.fotoszok.pl/upload/4b1de409.jpg" alt="Fotoszok.pl" />

[2016-04-09 14:07] tambry commented on #1527
That's CELL_GCM_TEXTURE_X32_FLOAT. Shouldn't be too difficult to implement, probably.

[2016-04-09 15:23] Uramekus commented on #1646
without "${RPCS3_SRC_DIR}/../Utilities/yaml-cpp/" http://pastebin.com/cvGANmeV
with "${RPCS3_SRC_DIR}/../Utilities/yaml-cpp/"  (coming soonTM)
also my problem is not with yaml-cpp, building from git using the same commands that @butzsan  used still give me errors on "git-version.h"

[2016-04-09 15:39] Uramekus commented on #1646
i think i have an important find

 `~/r/rpcs3 » cmake -P git-version.cmake
-- Found Git: /usr/bin/git (found version "2.8.0")
CMake Error at git-version.cmake:7 (execute_process):
  execute_process given unknown argument "exit_code".

`

[2016-04-09 15:40] vlj commented on #1631
I agree.

[2016-04-09 16:11] Altaiar commented on #1658
@kd-11 Fixed now!

[2016-04-09 16:39] Altaiar commented on #1381
In OGL i Get 60fps in this build rpcs3-ReleaseLLVM-7c1ab472
but still graphic is glitches log
[RPCS3.zip](https://github.com/RPCS3/rpcs3/files/211347/RPCS3.zip)
in Dx12 i get 7-8 fps and freeze after pressing X Log:
[DX12RPCS3.zip](https://github.com/RPCS3/rpcs3/files/211350/DX12RPCS3.zip)

[2016-04-09 17:48] danilaml commented on #1646
@Uramekus hm, it seems that for some reason the `GitVersion` target (that generates git-version.h) doesn't get built on your system.
It's hard to say exactly what's wrong since I'm not CMake guru and don't know hot to reproduce this (it works fine on ci), but could you try and see if adding `add_dependencies(rpcs3 GitVersion)` somewhere around here https://github.com/RPCS3/rpcs3/blob/master/rpcs3/

[2016-04-09 17:55] Uramekus commented on #1646
redownloading everything right now
Gimme 5 minutes
may we go to rpcs3 Freenode  and post the solution later here?

[2016-04-09 18:11] butzsan commented on #1646
@danilaml same error than before T_T, @Uramekus I use git submodule update --init --recursive and git submodule foreach git pull origin master in order to pass the error:

rpcs3/rpcs3/Gui/MainFrame.cpp:6:25: fatal error: git-version.h: No such file or directory
#include "git-version.h"

[2016-04-09 18:21] Uramekus commented on #1646
CMake Error at CMakeLists.txt:15 (add_dependencies):
  Cannot add target-level dependencies to non-existent target "rpcs3".

[2016-04-09 18:58] danilaml commented on #1646
@butzsan @Uramekus Feel free to join irc.
This target should be executed https://github.com/RPCS3/rpcs3/blob/master/rpcs3/CMakeLists.txt#L9 but I don't see it in your logs for some reason. Maybe it's cmake 3.5/git 2.8 problem, hard to tell.

[2016-04-09 23:20] Uramekus commented on #1646
its an cmake 3.5(maybe 3.2+) problem
managed to build perfectly using cmake 3.2.2 without any changes
my thanks to zecoxao for helping me on IRC

[2016-04-09 23:38] danilaml commented on #1646
@Uramekus so let me get this straight: `cmake 3.5` - doesn't compile. No manipulations done. `cmake 3.2` - works fine? (I'm asking this to be sure that there were no `git-version.h` generate/created manually before downgrading)

[2016-04-10 00:26] Uramekus commented on #1646
yes, exactly, although now there are some new dependencies to install in your local system that needs to be updated in README.md
these are libboost-dev and  yaml-cpp-dev

[2016-04-10 00:47] danilaml commented on #1646
@Uramekus yaml-cpp is temporary, it's unused at the moment but CMake tries to build it anyway because it's in the wrong folder. It'll get rid of boost dependency with the next release.

[2016-04-10 01:51] butzsan commented on #1646
It didn't work for me, I downgrade cmake to 3.0.2-1 and the result is the same, error with yaml T_T

[2016-04-10 02:05] Uramekus commented on #1646
@butzsan  install yaml-cpp on arch
maybe libyaml too but im 80% sure is just yaml-cpp

[2016-04-10 02:08] butzsan commented on #1646
@Uramekus I install libyaml-cpp-dev but it didn't work

[2016-04-10 02:14] Uramekus commented on #1646
worked fine to me and to zecoxao, did you remove the old cmake files and started from the begginging? i feel that should be more clean

[2016-04-10 12:48] danilaml commented on #1646
@butzsan just delete `yaml-cpp` dir in `Utilities`.

[2016-04-10 17:45] butzsan commented on #1646
Yes!!!! Thanks @danilaml this fixed the second error, finally it compiled :D

[2016-04-11 11:44] paulsapps commented on #1416
What non-deterministic errors are you seeing and with what APIs? Probably a char/byte count has been mixed up or something if its access violation/memory corruption?

[2016-04-11 15:43] tambry commented on #1416
@paulsapps It's with sys_fs_read (called by cellFsRead). The final read function is fs::file::read at line 677 of File.cpp. This seems to still happen very inconsistently, but more often when the cache files don't exist yet. The error code from Win32 is 0x3E6 (ERROR_NOACCESS) and occurs when calling ReadFile. Maybe the game wants to read a size bigger than the actual size of the file? I'm not too

[2016-04-11 17:15] paulsapps commented on #1416
if (!ReadFile((HANDLE)m_fd, buffer, size, &nread, NULL))

nread isn't checked that it == size, if it reads less than expected this is how you can find out (even if the call worked).

Otherwise unless the size isn't in bytes there is no obvious bug. The memory mapping stuff is hard to get right but I assume this takes the CreateFileW path.

[2016-04-12 08:16] John-Gee commented on #1635
I had the same issue, rebuilt with 3.1 and haven't gotten it since.
But it didn't always seem to happen, so I cannot confirm for good.

[2016-04-12 14:21] tambry commented on #1635
It's very likely that it's caused by linking to an older wxWidgets. Closing this for now. Let us know if the problem still persists, when linking with wxWidgets 3.1.

[2016-04-13 17:48] John-Gee commented on #1635
I was wrong, I just got it again even linking against wxw 3.1:

(rpcs3:20849): GLib-GObject-CRITICAL **: g_object_get_qdata: assertion 'G_IS_OBJECT (object)' failed

(rpcs3:20849): GLib-GObject-CRITICAL **: g_object_unref: assertion 'G_IS_OBJECT (object)' failed
Fatal error: Access violation reading location 0x1 at 0x7f64bf48183a.

So far I believe it has only happened when I tried to boot Disgaea

[2016-04-13 17:54] tambry commented on #1635
Make sure you ignore the SIGSEV:
`handle SIGSEGV nostop noprint`

[2016-04-13 19:10] John-Gee commented on #1635
I take it back, I got it on Arcana as well.
I am also seeing some access violation in the log that doesn't crash rpcs3, but prevents the game from running. Not sure if that's related since one crashes the app not the other.

I will try to get the full debug log, and thank you for that tip!

[2016-04-13 19:15] tambry commented on #1635
The SIGSEGV's are a feature and should be ignored. As suggested before, try ignoring the SIGSEGV signal.

[2016-04-13 19:19] John-Gee commented on #1635
Right.

[2016-04-13 19:33] John-Gee commented on #1635
Here's what I got so far, I probably will need to build with debug symbols to get a more interesting trace:
I use the mesa override because I'm still on 4.2 (only missing computer shaders for 4.3, which I doubt is related to the violation).

MESA_GL_VERSION_OVERRIDE=4.3 MESA_GLSL_VERSION_OVERRIDE=430 gdb rpcs3
GNU gdb (GDB) 7.11
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU

[2016-04-13 19:39] John-Gee commented on #1635
and ldd:
        linux-vdso.so.1 (0x00007fff8e7c3000)
        libc.so.6 => /usr/lib/libc.so.6 (0x00007f146dda9000)
        libwx_gtk2u_core-3.1.so.0 => /usr/lib/libwx_gtk2u_core-3.1.so.0 (0x00007f146d5e8000)
        libwx_baseu-3.1.so.0 => /usr/lib/libwx_baseu-3.1.so.0 (0x00007f146d1e0000)
        libwx_gtk2u_aui-3.1.so.0 => /usr/lib/libwx_gtk2u_aui-3.1.so.0 (0x00007f146cf42000)
        libwx_gtk2

[2016-04-14 04:08] John-Gee commented on #1635
Well I just tried as root, and the issue is still present, so I'm not sure if it is related to justinehler's issue.

[2016-04-14 04:41] tambry commented on #1635
That's weird. The function is not properly implemented, but it shouldn't ever cause a crash. A stack trace with symbols would be useful.

[2016-04-14 06:38] John-Gee commented on #1635
here:
MESA_GL_VERSION_OVERRIDE=4.3 MESA_GLSL_VERSION_OVERRIDE=430 gdb ./rpcs3
GNU gdb (GDB) 7.11
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.

[2016-04-15 08:55] El-Djazair92 commented on #1373
Bonjour ou est ce que vous avez telecharger le jeu j'ai beau cherchez partout je ne l'ai pas trouver Je sais que ce n'ai pas le sujet mais c que je ne l'ai trouver nul part Merci

[2016-04-15 09:05] tambry commented on #1373
Github issue tracker is English only. Please refrain from using other languages in the future.

[2016-04-15 09:22] El-Djazair92 commented on #1373
Hello or have you download this game I can not find it (I c that is not the subject)                                                   Its Good ?

[2016-04-15 10:07] tambry commented on #1373
Piracy is not allowed and will not be tolerated. Don't ask help with piracy in the future.

[2016-04-15 10:19] El-Djazair92 commented on #1373
pffffff

2016-04-15 12:07 GMT+02:00 Raul Tambre <notifications@github.com>:

[2016-04-15 18:40] kd-11 commented on #1658
@SakataGintokiYT Please close this bug report if it is fixed

[2016-04-15 19:30] tambry commented on #1628
Still an issue. Any news?

[2016-04-15 19:38] tambry commented on #1515
Still an issue?

[2016-04-15 21:02] SakataGintokiYT commented on #1658
Fixed

[2016-04-15 21:02] #1658 closed

[2016-04-15 21:08] SakataGintokiYT commented on #1515
Fixed issue

[2016-04-15 21:17] B1ackDaemon commented on #1628
Doesn't crash using LLE libPNG.

[2016-04-15 21:19] danilaml commented on #1628
@tambry you might wan't to look into it. It seems to be a problem with your HLE implementation.

[2016-04-16 04:12] tambry commented on #1628
Will look into it.

[2016-04-16 04:14] #1515 closed

[2016-04-16 04:14] tambry commented on #1614
Can this be closed, as it's been merged?

[2016-04-16 04:20] tambry commented on #1527
I'm unable to start Castlevania [NPEB01434] due to it trying to display a error dialog about being "corrupt". Also I encountered a wxWidgets assert, which I fixed, but after which the message dialog is unresponsive and doesn't render properly. I stripped down the message dialog code to bare minimum, but I'm unsure what's wrong.w

[2016-04-16 07:12] tambry commented on #1628
I'm not sure what is causing this and what the cellPngDec module actually does in such cases.

Game passes in a RGB image with size of 1280x720. It wants it decoded as a 4-component ARGB. In such cases we currently add the fixed alpha value, that game give us, during the decoding process to get a 4-component output. But the problem is that the game wants it to be output as 3840 bytes per line, but

[2016-04-16 09:04] Nekotekina commented on #568
I guess it's all clear now. Of course I cheated with celRtc, I don't really want to exterminate things like that, but LLE must be fine for now.

[2016-04-16 09:08] tambry commented on #1506
Probably irrelevant now that PPU Interpreters have been unified.

[2016-04-16 09:08] #1506 closed

[2016-04-16 11:39] danilaml commented on #1628
@tambry can you compare it with lle output?

[2016-04-16 11:54] AniLeo opened #1671 "Settings window: DX12 showing on a non-W10 system"
I'm on a Windows 7 OS and DX12 shows up in the Render list

![screenshot_20](https://cloud.githubusercontent.com/assets/10283761/14580808/171b4aca-03d2-11e6-8ddb-dac8f7552666.png)

I don't know if this is intended, because in v0.0.0.6 it had a check to see if DX12 was there and if it wasn't then it wouldn't append the DX12 value to the Render dropdown

It doesn't crash the emulator though when try

[2016-04-16 12:04] AniLeo commented on #1466
This hasn't happened to me yet in the latest build. Need further testing, only tried with S;G 0, but this issue may be gone (?)

[2016-04-16 16:07] DPersonalized commented on #1671
Perhaps this is just me, but I think "DirectX 12" would look cleaner than "DX12."

[2016-04-16 17:55] tambry commented on #1628
Now on v0.0.0.9 I get:
`{rsx::thread} struct gsl::fail_fast thrown: GSL: Precondition failure at c:\users\rault_000\documents\github\rpcs3\3rdparty\gsl\include\span.h: 1432`

@danilaml Well, yes, LLE works and HLE doesn't. Kinda hard to "compare". Would require writing a test, but I can't be bothered to do that right now.

[2016-04-16 17:56] tambry commented on #1480
It also happens on GTA V.

[2016-04-16 17:59] tambry commented on #1466
Win32 error 998 (ERROR_NOACCESS) also occurs non-deterministically in LittleBigPlanet Demo.

[2016-04-16 19:03] SakataGintokiYT commented on #1466
@Nekotekina
{PPU[0x98] Thread (CRI FS File Access 1) [0x00dc5b4c]} class std::runtime_error thrown: Win32 error: 998.
(in file C:\rpcs3\Utilities\File.cpp:793)

[2016-04-16 19:42] danilaml opened #1672 "DX12: Disgaea 3 black screen"
{rsx::thread} class std::runtime_error thrown: get_compare_func(): Invalid or unsupported compare func (0x0)
(in file Emu\RSX\D3D12\D3D12Formats.cpp:134)

Only with dx12, after 0.0.0.9.
Log: http://pastebin.com/AGJxAAz2

[2016-04-16 20:54] AniLeo commented on #1449
Any news on it?

[2016-04-16 23:34] danilaml commented on #1631
@vlj btw, if you haven't lost your contact, you can probably ask him about this issue: https://community.amd.com/message/2710176#2710176

[2016-04-17 17:34] supergatto opened #1674 "cellSysutilRegisterCallbackDispatcher unimplemented but before it was working fine"
On RPCS3 v0.0.0.6-5-4eb1267
This function was working but now it says that it's unimplemented.
Here is my old log and new log.
[skate3new.zip](https://github.com/RPCS3/rpcs3/files/222771/skate3new.zip)

[skate3.zip](https://github.com/RPCS3/rpcs3/files/222770/skate3.zip)

[2016-04-17 18:13] tambry commented on #1674
Well it has never been implemented. But as I said in my answer to your PM, why are you LLE'ing sceNpTrophy? Does this not occur without LLE'ing sceNpTrophy?
And as I mentioned in my PM, you shouldn't really report unimplemented functions here, as there are so so many of them, and they're often better suited to the forum thread.

[2016-04-17 19:41] supergatto commented on #1674
I am not a developer but it says ! LDR: Imported function 'cellSysutilRegisterCallbackDispatcher' (0x16fece4). Anyway if i am wrong close this.

[2016-04-18 05:20] tambry commented on #1674
Well it does import it, because it wants to use it. We in most cases simply abort emulation, when we encounter an unimplemented function ([such as this function](https://github.com/RPCS3/rpcs3/blob/fe1e7a1bdbf4bdd71ead4c74164d7cfa5abc53fa/rpcs3/Emu/Cell/Modules/cellSysutil.cpp#L330)).
But before closing, I'd still like to know the following:

[2016-04-18 10:46] SakataGintokiYT commented on #1674
@tambry
[a1122f07]
Without modules
LDR: Unknown module 'sys_libstdcxx'
LDR: Unknown function '0x4210C462' in module 'sceNp' (index 2972)

[2016-04-18 12:17] tambry commented on #1674
@SakataGintokiYT Could you provide the full log?

[2016-04-18 13:27] SakataGintokiYT commented on #1674
*Log : https://gist.github.com/SakataGintokiYT/70e6686956f950e4ab494db7756279bd

libfiber.prx - cellFiber_Library
libl10n.prx - CELL_L10N_PRX_MODULE_NAME
libspurs_jq.prx - cellSpursJq_Library
libsre.prx - cellSre_Library
libssl.prx - cellSsl_Library
libvdec.prx - libvdec_Library
____________________________________________________________________________
*Without modules :
*Log : https://gist.gith

[2016-04-18 15:38] tambry commented on #1674
@SakataGintokiYT Looks like a normal game that simply doesn't work. Could you also try with SPU interpreter 1 (or 2) and post the log for it?

[2016-04-18 15:59] SakataGintokiYT commented on #1674
SPU interpreter 1 : https://gist.github.com/SakataGintokiYT/1250cc06f2e38276c8bb381cee0e0cef
SPU interpreter 2:  https://gist.github.com/SakataGintokiYT/3b197b09ebc539e09f16e43caf10ec10

[2016-04-18 16:01] tambry commented on #1674
Is there any TTY output?

[2016-04-18 16:07] SakataGintokiYT commented on #1674
TTY file is empty

[2016-04-18 16:09] tambry commented on #1674
I'm afraid there's nothing really to fix. There should really be no need to LLE sceNpTrophy.

[2016-04-18 16:09] #1674 closed

[2016-04-19 22:22] Paul-C-F commented on #1449
it's in the works, estimate time for testing: 2 weeks

On 4/16/2016 5:55 PM, AnnieL wrote:

[2016-04-19 22:34] Paul-C-F commented on #1449
I made this change to accommodate your request, based on this game status changes can have specific setting values tied to them:

![rpcs3 dev](https://cloud.githubusercontent.com/assets/485653/14657653/90628548-0665-11e6-8445-f6ec569af4ef.png)

[2016-04-20 04:39] adamantike commented on #1449
I have a few suggestions that (in my opinion) would improve design:

* ```Tags``` should be global, for easier filtering/grouping. This means relationship ```Tags -> Game``` has ```n..m``` cardinality, so modified version should be ```Tags <- GameTag -> Game```.
* ```(Min)AppVersion``` is used extensively. It should be a separate class, and possible attributes include ```ShaCommit``` and ```href``

[2016-04-20 12:20] SakataGintokiYT opened #1677 "Unsupported SPU Thread"
@Nekotekina
@tambry

[efc87792]
### 1.
_______________________________________________________________________________
{SPU[0x2df] Thread (_libsailCellSpursKernel2) [0x08530]} SPU: [0x08534] Branch-to-next with $LR
{SPU[0x2df] Thread (_libsailCellSpursKernel2) [0x25c40]} SPU: [0x25c44] Branch-to-next with $LR
{SPU[0x2df] Thread (_libsailCellSpursKernel2) [0x14d58]} SPU: [0x14d5c] Branch-to-next wi

[2016-04-20 13:11] Paul-C-F commented on #1449
Thanks for the input. Please see bellow an updated version of the diagram.
In order to simplify the diagram so everyone can understand it I'm still omitting a few data structures that tie objects together, but I've added Games2Tags to better demonstrate the relationship between them.
I'll wait two more days to see if there will more changes.

![rpcs3 dev](https://cloud.githubusercontent.com/assets

[2016-04-20 19:23] supergatto opened #1678 "Unknown command GETLLAR, this error is only on OpenGL."
Reference logs:
http://www.emunewz.net/forum/showthread.php?tid=156673&pid=231191#pid231191
http://www.emunewz.net/forum/showthread.php?tid=167799&pid=231072#pid231072
http://www.emunewz.net/forum/showthread.php?tid=174442

[2016-04-21 16:17] piotr-szegda commented on #1367
I fixed this by changing find_package(LLVM CONFIG) to find_package(LLVM 3.6) in CMakeLists.txt.

[2016-04-22 12:49] B1ackDaemon opened #1679 "Vulkan: freezes/crashes (Nvidia Specific)"
4 Elements HD [NPUB30347] - freezes ingame, when tutorial dialog appears.
http://rghost.ru/7JpXZHY22/image.png
Bayonetta [BLES00599] and Bayonetta: First Climax demo [NPEB90193] - always freezes after you trying to pass "Press Start Button" screen.
http://rghost.ru/6CysPvx6M/image.png
Disgaea 3 [BLES00452] - freezes after intro skip, when you start new game.
The Guided Fate Paradox [NPUB31320] - g

[2016-04-22 15:40] vlj commented on #1679
Nvidia drivers don't support VSync with Vulkan atm. They expose Mailbox/FIFO/... present mode but for some reasons they're not vsynced.

[2016-04-24 16:50] SakataGintokiYT opened #1681 "DX12: Blade Arcus From Shining EX broken texture"
@tambry
@vlj
@kd-11
@Zangetsu38

[d9caad4d]
_____________________________________________________________________________
DX12 ;
{rsx::thread} class fmt::exception thrown: rsx::to_surface_depth_format(): Unknow surface depth format 0
(in file C:\rpcs3\rpcs3\Emu\RSX\GCM.cpp:991)
_____________________________________________________________________________
OGL ;
{rsx::thread} class fmt::exception th

[2016-04-25 09:39] kd-11 commented on #1679
Seems vkAllocateDescriptorSets fails at least for the first two.

[2016-04-25 11:16] SakataGintokiYT opened #1682 "[Issues and logs]"
@tambry
@Nekotekina

[d497fd8c]

##### CellGame :

{PPU[0xa] Thread (main_thread) [0x00742ee8]} class fmt::exception thrown: cellDiscGameRegisterDiscChangeCallback():
(in file C:\rpcs3\rpcs3\Emu\Cell\Modules\cellGame.cpp:689)

- Log : https://gist.github.com/SakataGintokiYT/64b22e3ac7e666b1f874265bd95ce2e0

...........................................................................................

[2016-04-25 23:27] SakataGintokiYT opened #1683 "The Guided Fate Paradox Utilities\File.cpp:791 / Game freeze"
@Nekotekina
@tambry

{PPU[0x6d] Thread (fios mediathread 11) [0x0039cfc8]} class fmt::exception thrown: Win32 error: 998.
(in file C:\rpcs3\Utilities\File.cpp:791)

- Log : https://gist.github.com/SakataGintokiYT/bb5e9b09adb549e25676e7328d7a0664

##### Video : https://youtu.be/mIl-l6wpVl4

[2016-04-26 04:42] tambry commented on #1683
Duplicate of #1466. Added The Guided Fate Paradox there.

[2016-04-26 04:42] #1683 closed

[2016-04-26 06:54] SakataGintokiYT commented on #1466
Do you know how to fix it ?

[2016-04-26 13:10] tambry commented on #1466
Not really. The documentation doesn't even specify a reason for why ERROR_NOACCESS (998) may occur.

[2016-04-26 13:30] Nekotekina commented on #211
Fixed, no more virtual methods for memory access.

[2016-04-26 13:30] #211 closed

[2016-04-26 13:31] #568 closed

[2016-04-26 14:15] Nekotekina commented on #1386
Should be fixed for now.

[2016-04-26 14:15] #1386 closed

[2016-04-26 14:20] Nekotekina commented on #1466
I know what causes it. And trying to fix it in fast, half-assed manner won't improve anything, so just wait. And it's irrelevant what games throw it, it may happen for anything.

[2016-04-26 21:52] SakataGintokiYT opened #1685 "Dragon Ball Z: Ultimate Tenkaichi [BLUS30823]"
[e30e5045]

@Nekotekina
@tambry

Video : https://www.youtube.com/watch?v=9iK4kRvbcQ8

Settings:
-PPU - Interpreter 2
-SPU - Interpreter ASMJIT
-Open-GL / Vulkan
-1280x720
-VSync
-XAudio

LLE:
-libfiber
-libl10n
-libpamf
-libresc
-librtc
-libsmvd2
-libsre

- Log : https://gist.github.com/SakataGintokiYT/64e4d695ac2abbb30b80dbc7cba58706

______________________________________________________________

[2016-04-26 22:15] SakataGintokiYT commented on #1466
*Now

(File.cpp:791 --> 834 )

{PPU[0x98] Thread (CRI FS File Access 1) [0x00dc5b4c]} class fmt::exception thrown: Win32 error: 998.
(in file C:\rpcs3\Utilities\File.cpp:834)

[2016-04-26 22:20] SakataGintokiYT commented on #1565
{rsx::thread} class fmt::exception thrown: D3D12GSRender::flip(): HRESULT = The parameter is incorrect.
(in file C:\rpcs3\rpcs3\Emu\RSX\D3D12\D3D12GSRender.cpp:522)

[2016-04-26 22:52] MoochMcGee commented on #1685
I don't think the SPU recompiler works, does it?

On Tue, Apr 26, 2016 at 4:53 PM, ☠Emulator_Team☠ <notifications@github.com>
wrote:

[2016-04-27 04:35] tambry commented on #1685
I think that SPU recompiler isn't really recommended, as it has some stuff that isn't implemented on it.

[2016-04-27 16:14] Nekotekina commented on #1671
It's not a bug.

[2016-04-27 16:14] #1671 closed

[2016-04-28 10:09] SakataGintokiYT commented on #1682
Add issue and log  RSX\RSXThread.cpp  {Ice Age: Continental Drift - Arctic }

[2016-05-01 00:48] adamantike commented on #1449
Sorry for the delay.
I think all relations on ```Games``` should be changed to ```GameVariants```, so ```Games``` it's just a container of variants.

The reason is that, for example, a game could be "Playable" (```Status```) on NTSC variant, but "No boot" on PAL version! The same applies to ```StatusChange```, ```MinAppVersion``` (NTSC="1.0.4", PAL=no one because it's broken), ```Links```, ```Atta

[2016-05-01 08:32] fenix008 opened #1686 "HLE: Virtua Fighter 5"
·F {PPU[0x5] Thread (main_thread) [0x005cc5b8]} class std::runtime_error thrown: cellMsgDialogOpen():
(in file C:\rpcs3\rpcs3\Emu\Cell\Modules\cellMsgDialog.cpp:15)

Log: http://rghost.ru/6ryvNL45v

Original thread here: http://www.emunewz.net/forum/showthread.php?tid=174494

[2016-05-02 12:19] supergatto commented on #1480
PPU Interpreter 1 was broken by @Nekotekina merge
And show this:
`
{PPU[0x120] Thread ([RAGE] Dependency) [0x00a40ed4]} class std::runtime_error thrown: MFVSCR
(in file C:\rpcs3\rpcs3\Emu\Cell\PPUInterpreter.cpp:182)
{PPU[0x6] Thread (main_thread) [0x00a42bf8]} class std::runtime_error thrown: MFVSCR
(in file C:\rpcs3\rpcs3\Emu\Cell\PPUInterpreter.cpp:182)
`
Original posts: http://www.emunewz.net/

[2016-05-02 13:07] Nekotekina commented on #1480
Precise interpreter has been removed with a TODO to restore it. If someone wishes to do it, it shouldn't be hard to restore all instructions using SAT flag (and MFVSCR as well) and put them into ppu_interpreter_precise "namespace" (actually a struct). It's just cannot be copied blindly from the history, it needs accurate porting. I didn't do it myself because most games don't use MFVSCR and I don'

[2016-05-03 23:46] thx3ever opened #1688 "Link fail on latest git, build Ubuntu LTS 16.04 Xenial"
[  7%] Linking CXX executable rpcs3
CMakeFiles/rpcs3.dir/rpcs3.cpp.o: na função `main':
rpcs3.cpp:(.text+0x2ab): múltipla definição de`main'
CMakeFiles/rpcs3.dir/CMakeFiles/3.5.1/CompilerIdCXX/CMakeCXXCompilerId.cpp.o:CMakeCXXCompilerId.cpp:(.text+0x0): definido primeiramente aqui
/usr/bin/ld: não foi possível encontrar -lpng16_static
/usr/bin/ld: não foi possível encontrar -lvulkan
/usr/bin/ld: n

[2016-05-04 04:39] tambry commented on #1688
Please follow the build instructions. Seems like you either forgot to install appropriate packages for linking. You can more or less follow the travis.yml for packages that you'll need.

[2016-05-04 04:46] thx4ever commented on #1688
I have all dependency installed, the error come from rpcs3.cpp multiple definitions of main

[2016-05-04 04:47] tambry commented on #1688
Would you be able to provide the full log in English?

[2016-05-04 17:19] AniLeo commented on #1688
@tambry Rough translation of what wasn't in English:

CMakeFiles/rpcs3.dir/rpcs3.cpp.o: on function main': rpcs3.cpp:(.text+0x2ab): multiple definition of main'
CMakeFiles/rpcs3.dir/CMakeFiles/3.5.1/CompilerIdCXX/CMakeCXXCompilerId.cpp.o:CMakeCXXCompilerId.cpp:(.text+0x0): defined primarily here
/usr/bin/ld: wasn't possible to find -lpng16_static
/usr/bin/ld: wasn't possible to find -lvulkan
/usr/

[2016-05-04 17:25] thx4ever commented on #1688
thanks, my system are portuguese brazilian, so i try to compile again

[2016-05-04 17:41] AniLeo commented on #1688
Tested on Ubuntu 15.10

[code]

[2016-05-04 17:57] tambry commented on #1688
Is that a fresh clone? Doesn't seem right.

[2016-05-04 18:26] AniLeo commented on #1688
It isn't a fresh clone, but I forced a pull from origin (github.com/rpcs3/rpcs3.git) before doing that.

[2016-05-04 18:43] tambry commented on #1688
Not quite sure what's wrong here. Someone with more Linux knowledge will need to take a look. Also created a new label - "linux".

[2016-05-04 18:44] tambry commented on #1646
Seems to be fixed. Closing.

[2016-05-04 18:44] #1646 closed

[2016-05-04 18:46] tambry commented on #1635
Seems like a wxWidgets bug. Probably something that we can't fix.

[2016-05-04 18:47] tambry commented on #1614
Closing, as it's merged.

[2016-05-04 18:47] #1614 closed

[2016-05-04 18:48] tambry commented on #1438
Has this been resolved?

[2016-05-04 18:48] tambry commented on #1492
Is this still an issue?

[2016-05-04 18:50] tambry commented on #1367
Is this still an issue?

[2016-05-04 18:51] tambry commented on #564
I think these have been removed now. Reopen if still an issue.

[2016-05-04 18:51] #564 closed

[2016-05-04 18:51] tambry commented on #341
Can anyone confirm if this is still an issue?

[2016-05-04 18:51] tambry commented on #966
Still an issue?

[2016-05-04 18:52] tambry commented on #1460
Can this be closed?

[2016-05-04 19:26] thx4ever commented on #1688
Now i got another error, it seems make dont generate git version.h
[ 15%] Building CXX object rpcs3/CMakeFiles/rpcs3.dir/Gui/MainFrame.cpp.o
/home/thx4ever/rpcs3/rpcs3/Gui/MainFrame.cpp:5:25: fatal error: git-version.h:

[2016-05-05 00:31] thx4ever commented on #1688
[ 98%] Linking CXX executable ../bin/rpcs3
CMakeFiles/rpcs3.dir/rpcs3.cpp.o: In function `main':
rpcs3.cpp:(.text.startup+0x0): multiple definition of `main'
CMakeFiles/rpcs3.dir/CMakeFiles/3.5.1/CompilerIdCXX/CMakeCXXCompilerId.cpp.o:CMakeCXXCompilerId.cpp:(.text.startup+0x0): first defined here
collect2: error: ld returned 1 exit status
rpcs3/CMakeFiles/rpcs3.dir/build.make:10542: recipe for tar

[2016-05-05 04:47] tambry commented on #1688
Please provide the **full log** in English.

[2016-05-05 12:14] AniLeo commented on #1492
Yes, the same thing is still happening

[code]

Log @ [RPCS3_SG.zip](https://github.com/RPCS3/rpcs3/files/250362/RPCS3_SG.zip)

[2016-05-05 14:16] piotr-szegda commented on #1367
Now I got only "LLVM not found!". It's even worse then before because I can't compile with LLVM by doing only small edit.

[2016-05-05 14:20] piotr-szegda commented on #1688
Don't enter rpcs3 dir in rpcs3 dir. Just enter cmake CMakeLists.txt and make. Build instruction for Linux is wrong.

[2016-05-05 16:47] kd-11 commented on #1391
Running afterburner climax now shows a similar issue:

{PPU[0xc6] Thread (fios mediathread) [0x0037f4e4]} sys_fs: sys_fs_stat('/dev_hdd0/game/NPUB30151/USRDIR/dev_hdd0/game/NPUB30151/USRDIR/rom/adx/voice.afs') failed: not found

The file exists, but the path prefix is repeated, making the path invalid.

[2016-05-05 17:33] tambry commented on #1367
@piotr-szegda LLVM is no longer used and it's the reason for that being commented. Is there anything other than that or is it fixed?

[2016-05-05 17:44] AniLeo commented on #1688
I made a fresh clone and tried to build current master, and it worked.

[2016-05-05 17:46] tambry commented on #1688
@AniLeo Could you clarify exactly what commands you used?

[2016-05-05 17:49] thx4ever commented on #1688
I dont know how to apply patch after clone from git repository, can someone show me what to do?

[2016-05-05 17:59] tambry commented on #1688
What patch? There should be absolutely no need to apply a patch.

[2016-05-05 18:05] thx4ever commented on #1688
the pull request for linux fix

[2016-05-05 18:05] AniLeo commented on #1688
git clone https://github.com/rpcs3/rpcs3.git
cd rpcs3
git submodule update --init
cmake CMakeLists && make

[2016-05-05 18:33] thx4ever commented on #1688
OK fresh clone copy, same error: multiple definition of main
full log: http://pastebin.com/3eaXZY5N

[2016-05-05 18:36] piotr-szegda commented on #1367
Cmake should not complain about the lack LLVM if it's not used now.
Docs should be fixed, correct command to compile is: cmake CMakeLists.txt && make. Compiling from rpcs3 dir break compilation process. I will try to make docs update pull request.

[2016-05-08 11:22] jypem commented on #1688
CMake is trying to compile both rpcs3.cpp and CMakeCXXCompilerId.cpp into the same executable, so it's also adding CMakeCXXCompilerId.cpp to the build.
I'm guessing the problem is in how source files are added in rpcs3/CMakeLists.txt.
You can try building out of source (into a separate directory), but you'll need to clean the source directory.

Someone having the same problem: http://stackoverflow

[2016-05-10 01:56] John-Gee opened #1691 "Unable to build with gcc6"
Hello,

When I build on Linux with gcc6 it errors on this:

In file included from rpcs3-git/src/rpcs3/rpcs3/Emu/CPU/CPUThread.cpp:6:0:
rpcs3-git/src/rpcs3/rpcs3/Emu/Cell/SPUThread.h:379:31: warning: ignoring attributes on template argument ‘__m128 {aka __vector(4) float}’ [-Wignored-attributes]
   std::array<__m128, 155 + 174> m_data;
                               ^
rpcs3-git/src/rpcs3/rpcs3/Emu/

[2016-05-10 06:30] paulsapps commented on #1691
try "using std::exp2;" in that function?

[2016-05-10 06:36] John-Gee commented on #1691
That doesn't work:
‘exp2’ is not a member of ‘std’

[2016-05-10 13:02] paulsapps commented on #1691
Better report the compiler bug, otherwise the only way is to adjust code/narrow down the cause of the crash and rewrite the code so it won't trigger the crash.

[2016-05-10 22:06] John-Gee commented on #1691
I've reported it to the GCC team, we'll see how that goes.

[2016-05-11 06:19] John-Gee commented on #1691
It has been accepted as a regression.
I'll keep this bug updated on how it goes.

[2016-05-11 07:57] SakataGintokiYT commented on #1682
*Update

[2016-05-11 08:11] SakataGintokiYT opened #1693 "LV2: Unimplemented syscall 988"
**Games List :**
* Fist of the North Star: Ken's Rage
* Fist of the North Star: Ken's Rage 2
* BlazeRush
* Dengeki Bunko: Fighting Climax
* Tales of Graces F
* UNDER NIGHT IN-BIRTH Exe:Late
* The Legend of Korra
* Ni No Kuni: Wrath of the White Witch
* Probably more

`U {PPU[0x1000000] Thread (main_thread) [0x005da3d4]} HLE TODO: Unimplemented syscall syscall_988 -> CELL_OK
`
**[Log:](https://gist

[2016-05-11 12:14] thvardhan opened #1694 "D3D Adapter not showing up!"
I am on windows 7 64bit with 8Gb ram and a gtx450 card and quad core processor i also have installed Visual c++ needed for emulator
but it seems it cant detect my Graphics card what should i do?

here is a screenshot
http://i.imgur.com/bukkldv.jpg

[2016-05-11 12:16] Blaypeg commented on #1694
DX12 isnt supported on Windows 7.

[2016-05-11 12:17] thvardhan commented on #1694
oh! thanks for information! :D

[2016-05-11 12:18] #1694 closed

[2016-05-12 20:53] John-Gee commented on #1691
I was given a patch that fixes the GCC segfault, I believe that patch will be part of 6.2 but I'm still hoping for 6.1.2 or so.

With that I was able to fix the rest of build issues and create a pull request for it.
I've made the check for GCC 6, even though up to 6.1.1 crashes, because there is nothing that can be easily done for 6.1 and 6.1.1 anyway... (If you're not aware of GCC numbering syste

[2016-05-12 21:45] janisozaur commented on #1691
@John-Gee care to post GCC bug report link?

[2016-05-13 04:04] John-Gee commented on #1691
Here's one:
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=70869
It's not mine but it's the active one.

[2016-05-14 13:00] itguy51 opened #1697 "Add a confirmation dialog with "Remove" option"
I made the error of only keeping one copy of a game image and storing it in the /dev_hdd0/game/ directory and right-click "Remove"-ing it.

I was expecting some sort of "Are you sure you want to permanently delete this game's associated files?" dialog.

If this seems like something that would be useful, I can add it.

[2016-05-15 08:33] raven02 commented on #1460
Sure

[2016-05-15 08:33] #1460 closed

[2016-05-15 08:34] raven02 commented on #966
Fine now .Closed

[2016-05-15 08:34] #966 closed

[2016-05-15 15:25] #1635 closed

[2016-05-16 23:14] itguy51 commented on #1697
Associated commit was merged.

[2016-05-16 23:14] #1697 closed

[2016-05-20 09:56] raven02 opened #1699 "GL/Vulkan: Dai-3-Ji Super Robot Taisen Z Jigoku-hen black screen"
It works in DX12 backend but Vulkan and OpenGL black screen

![a](https://cloud.githubusercontent.com/assets/3000282/15632128/0e7f8b96-25bb-11e6-8bbf-74f6161d774c.jpg)
![b](https://cloud.githubusercontent.com/assets/3000282/15632129/0ea7214c-25bb-11e6-9316-1ca31cfc4bf9.jpg)

[2016-05-21 05:17] raven02 commented on #1699
The text  in 2nd pic should be white.

[2016-05-21 22:40] Tombert opened #1702 "Build errors with Mac."
Hello!  When I try and build this in Mac, I get this error:

[code]

Is there some extra library or configuration I need to do on Mac?

Also, if you already have a build available for Mac, I'd like that instead of having to compile it myself.

[2016-05-22 06:12] tambry commented on #1702
@Tombert Could you post the full CMake log?

[2016-05-22 10:30] #1422 closed

[2016-05-22 13:10] danilaml commented on #1422
@B1ackDaemon can you test if https://github.com/RPCS3/rpcs3/pull/1700 indeed fixed the issue?

[2016-05-22 16:07] raven02 opened #1703 "Arkedo 01 libfont.sprx.elf issue"
Ardeko 01 requires libfont.sprx.elf  to show the text in title screen however it seems to be stopped by access violation

{PPU[0x3c] Thread (load_mainmenu) [0x00061ef0]} sys_fs: *** path = '/dev_hdd0/game/NPEB00598/USRDIR/fonts.bin'
{PPU[0x3c] Thread (load_mainmenu) [0x001d5c04]} struct vm::access_violation thrown: Access violation reading address 0x0

[2016-05-22 16:17] #1703 closed

[2016-05-22 16:18] raven02 commented on #1703
It turns out that this game requires all the following sprx to show the text

libfont
libfrontFT
libfreetype

[2016-05-23 14:32] Ekaseo opened #1704 "PSF error when running games"
{PPU[0xce] Thread (NisSaveData_SystemLoad_Thread) [0x0039b86c]} class std::runtime_error thrown: Precondition failed: stream.read(value, indices[i].param_len)
(in file C:\rpcs3\rpcs3\Loader\PSF.cpp:151)

[2016-05-23 15:44] Tombert commented on #1702
@tambry The problem was with me; I forgot to initialize the submodule.

[2016-05-23 15:59] #1702 closed

[2016-05-24 14:57] raven02 commented on #1652
I will push the fix shortly

![1](https://cloud.githubusercontent.com/assets/3000282/15508642/dc379e00-2202-11e6-97ef-80de30b0eb19.jpg)

[2016-05-24 15:57] SakataGintokiYT opened #1710 "'Vulkan surface color format'"
@raven02
{rsx::thread} RSX: Surface color buffer: Unsupported surface color format (0xc)

Log : https://gist.github.com/SakataGintokiYT/65a7c42d19e3fd79a3e205feb21bd695

[2016-05-24 16:02] SakataGintokiYT commented on #1594
Fix on dx12 by commit 1709

[2016-05-24 16:23] raven02 commented on #1710
will look into it .

[2016-05-24 16:26] raven02 commented on #1672
it works previously with dx12?

[2016-05-24 16:44] SakataGintokiYT opened #1711 "DX12 to_surface_depth_format 0"
@raven02
{rsx::thread} class fmt::exception thrown: rsx::to_surface_depth_format(): Unknow surface depth format 0
(in file C:\rpcs3\rpcs3\Emu\RSX\GCM.cpp:991)

Log : https://gist.github.com/SakataGintokiYT/67c52f9ef72835243f327d80b2a12694

[2016-05-24 17:02] danilaml commented on #1672
@raven02  yes. It started after 0.0.0.9 or so.

[2016-05-24 20:54] #1691 closed

[2016-05-24 21:58] MoochMcGee commented on #1711
According to the folks at nouveau, this is the result of a bogus command.

[2016-05-24 22:16] danilaml commented on #1711
@SakataGintokiYT can you test on some relatively old (pre 0.0.0.9) build and see if it was an issue back then?

[2016-05-24 22:18] Ekaseo commented on #1704
looks like there are some issues loading bigger games for some reason

[2016-05-25 03:21] masterkni666 opened #1713 "PPU interpreter less accurate compared to old builds"
I tried comparing the output of
https://github.com/RPCS3/ps3autotests/tree/master/tests/cpu/ppu_vpu
with  it's excepted output, there seemed to be a huge regression.

Version 0.0.0.6 differed about 15% while the latest build differed by more than 60%.

I tried to use pastebin by their outputs where too big.

The problem doesn't seem to be with the interpreter itself but how data is stored in the V

[2016-05-25 07:53] BlackRocksShooter opened #1714 "Vulkan: Hatsune Miku: Project DIVA F scaling issue"
![vulkan problem](https://cloud.githubusercontent.com/assets/19566893/15531989/a9ed6b40-225d-11e6-9789-1f05b1ea1dc6.png)
I tried 3-4 RPCS3 but all make me the same problem "I speak of the newer ones like the one of today 05/25/2016"
is my problem or of RPCS3 emulator?
Video: Nvidia Geforce GTX 970

[2016-05-25 08:07] BlackRocksShooter opened #1715 "DX12: Hatsune Miku: Project DIVA F color issue"
![dx12 problem](https://cloud.githubusercontent.com/assets/19566893/15532431/19c576d6-2260-11e6-961f-e32fe546bb5d.png)
![dx12 problem 2](https://cloud.githubusercontent.com/assets/19566893/15532488/5fc92556-2260-11e6-99b2-078d0d938132.png)
Since I downloaded RPCS3 using DX12 Render always gives me this problem when I play "always red screen with some blue spots, with exception of the menu section

[2016-05-25 14:24] raven02 commented on #1714
It works fine in AMD but not Nvidia

[2016-05-25 16:22] raven02 commented on #1710
Duplicate of #1681

[2016-05-25 16:22] raven02 commented on #1681
@SakataGintokiYT  so only vulkan backend work but OGL and DX12 failed to start ?

[2016-05-25 16:24] raven02 commented on #1715
Probably change to title to " DX12: Hatsune Miku: Project DIVA F color issue"

[2016-05-25 16:25] raven02 commented on #1714
Probably change to title to "Vulkan : Hatsune Miku: Project DIVA F scaling issue"

[2016-05-25 16:53] SakataGintokiYT commented on #1681
yes

[2016-05-25 17:08] Nezarn commented on #1715
This is caused by #1653

[2016-05-25 17:18] Nezarn commented on #1714
duplicate of #1655

[2016-05-25 17:45] SakataGintokiYT commented on #1711
@danilaml
On older builds 0.0.0.9 the same issue

[2016-05-25 22:24] BlackRocksShooter commented on #1715
there is a way to solve it? I wanted to ask also if there is a way to save the game Hatsune Miku Project Diva F and then subsequently charge the rescue, so at least when crashes do not have to start all over again

[2016-05-25 22:30] BlackRocksShooter opened #1717 "Account Manager Implemented? Hatsune Miku: Project DIVA F [BLUS31319]"
For my curiosity, when I implement the function of GameSave to reload a saved game to a later date?
This is the file or found in RPCS3 \ dev_hdd0 \ home \ 00000001 \ savedata
File [.gitignore]:
-Note: This folder has to exist. Once the User Account manager is implemented, make sure it creates this folder in case it's missing and delete this .gitignore file.

-Ignore everything in this directory

-

[2016-05-26 01:43] raven02 commented on #1715
@Nezarn , does it mean the red color issue happen right after #1653 ?

[2016-05-26 02:30] raven02 commented on #1681
Try to change as follow in GCM.cpp and compile to see if it works

rsx::surface_depth_format rsx::to_surface_depth_format(u8 in)
{
	switch (in)
	{
	case 0: // Unknown surface depth format 0
	case CELL_GCM_SURFACE_Z16:
		return rsx::surface_depth_format::z16;
	case CELL_GCM_SURFACE_Z24S8: return rsx::surface_depth_format::z24s8;
	}
	throw EXCEPTION("Unknow surface depth format %x", in);
}

[2016-05-26 02:38] raven02 commented on #1672
It hits CELL_GCM_ZERO .Let's try this in D3D12Formats.cpp

[2016-05-26 03:38] raven02 commented on #1711
Please close this .It is duplicate of

[2016-05-26 03:38] raven02 commented on #1711
Please close this .It is duplicate of #1681

[2016-05-26 06:09] #1710 closed

[2016-05-26 06:10] #1711 closed

[2016-05-26 06:30] SakataGintokiYT commented on #1715
Fix by Zangetsu38
https://github.com/RPCS3/rpcs3/blob/master/rpcs3/Emu/RSX/D3D12/D3D12Texture.cpp
<img src="http://www.fotoszok.pl/upload/76ced545.jpg" alt="Fotoszok.pl" />
<img src="http://www.fotoszok.pl/upload/ef092276.jpg" alt="Fotoszok.pl" />

[2016-05-26 07:01] Nezarn commented on #1715
@raven02 yep. (reverting only DX12 related stuff in that pr fixes the game)

[2016-05-26 07:03] raven02 commented on #1715
However , ABGR format should be correct . @kd-11 , any insight ?

[2016-05-26 07:58] SakataGintokiYT commented on #1715
@raven02
<img src="http://www.fotoszok.pl/upload/6bdedef6.png" alt="Fotoszok.pl" />

[2016-05-26 08:48] kd-11 commented on #1624
https://github.com/RPCS3/rpcs3/pull/1718

[2016-05-26 09:50] raven02 commented on #1714
Does https://github.com/RPCS3/rpcs3/pull/1718 fix this scaling issue as well ?

[2016-05-26 09:51] raven02 commented on #1715
Alright . @kd-11 , looks good to you if we change to use 0/2/1/0 ? if yes, i can pull a PR for it .

[2016-05-26 09:59] Nezarn commented on #1714
nope

[2016-05-26 10:02] paulsapps commented on #1672
case CELL_GCM_ZERO: return D3D12_COMPARISON_FUNC_NEVER; // Treat it as NEVER
        break; << why? this can never happen

[2016-05-26 10:10] SakataGintokiYT commented on #1681
@raven02
Unknow surface depth format 0 - Fix probably

DX12  [ surface color format 0]
*Now
{rsx::thread} class fmt::exception thrown: rsx::to_surface_color_format(): unknow surface color format 0
(in file C:\rpcs3\rpcs3\Emu\RSX\GCM.cpp:1038)

[2016-05-26 11:00] tambry commented on #1681
This seems like a hack. Very likely caused by a bug somewhere else, as noted by @MoochMcGee on #1711.

In headers there are only two such formats:
[code]

From CellGcmEnum in /target/ppu/include/cell/gcm/gcm_enum.h.

[2016-05-26 12:03] tambry commented on #1715
3/2/1/0 should be technically correct and probably only needs to be swizzled correctly. There are plenty of other swizzled formats, so you should be able to take a look at them.

[2016-05-26 12:36] danilaml commented on #1672
@raven02 it wasn't appearing before so it's not games fault. I guess 0.0.0.9 introduced some changes that a responsible for appearance of bogus 0 commands.

[2016-05-26 13:18] BlackRocksShooter commented on #1715
I do not understand anything about these things xD, more than anything I feel a lot of games, programs (almost a guinea pig for the Test xD) 1-What should I do to what fixare red that torments me? "spegatelo easily, Thanks" 2-i see that some people use the "Load Libraries", which should enable the best place to play this game?

[2016-05-26 13:52] SakataGintokiYT commented on #1715
<img src="http://www.fotoszok.pl/upload/58d8404f.png" alt="Fotoszok.pl" />

[2016-05-26 13:59] raven02 commented on #1681
Probably 0 is the default case . i remember @vlj did put a case 0 before in his PR .

[2016-05-26 14:03] raven02 commented on #1672
Disgaea 3 did also pass garbage before for front face so i am not sure if this is real bogus command

[2016-05-26 15:02] BlackRocksShooter commented on #1715
how do I correct colors? I have to use visual studio 2015? and what I have to file open / edit?

[2016-05-26 15:29] raven02 commented on #1715
Try to remap color component depends on RTT or RSX memory then should render the scene correct.

![1](https://cloud.githubusercontent.com/assets/3000282/15580031/aeef6c3c-2399-11e6-95aa-e3b2502c4b14.jpg)

[2016-05-26 16:07] BlackRocksShooter commented on #1715
excuse me are handicapped as I change, and what I have to open to remap "if someone can help me through chat or Skype I really would like (so I learn something new)"

[2016-05-26 16:10] SakataGintokiYT commented on #1715
@BlackRocksShooter https://ci.appveyor.com/project/rpcs3/rpcs3/build/1.0.2306/artifacts

[2016-05-26 16:11] danilaml commented on #1672
@raven02 but it works fine on https://github.com/RPCS3/rpcs3/commit/7c1ab4726262420f3ed1a0fc58d833d2744df23a and is broken  in https://github.com/RPCS3/rpcs3/commit/fe1e7a1bdbf4bdd71ead4c74164d7cfa5abc53fa though with a little different error:
[code]

[2016-05-26 16:23] BlackRocksShooter commented on #1715
I crashed when I tried to access the game menu, but there are the colors right now xD, you can also save the game and reload it?
`{PPU[0x1] Thread (main_thread) [0x009cb00c]} sysPrxForUser TODO: _sys_process_atexitspawn()
{PPU[0x1] Thread (main_thread) [0x009cb12c]} sysPrxForUser TODO: _sys_process_at_Exitspawn
{PPU[0x1] Thread (main_thread) [0x00575ab8]} HLE TODO: Unimplemented syscall sys_ss_get

[2016-05-26 19:39] Nekotekina commented on #1713
This test is broken. It seems that some *integer* values are passed through floating point instructions and getting damaged.

[2016-05-26 19:48] Nekotekina commented on #1704
Some PARAM.SFO files (savedata) could get damaged by #1696. I'm really sorry about that. You can try to delete savedata or restore only PARAM.SFO from the correct one and test again. Tell if the problem persists.

[2016-05-26 20:48] #1714 closed

[2016-05-26 21:35] Ekaseo commented on #1704
:/ , some games hang trying to load into the main menu, some in main menu after you press start, some when you select an option from main menu to go ingame, and some dont load the game files and the loading screen goes on without loading anything... (i deleted all my save files)

[2016-05-27 16:37] #1713 closed

[2016-05-27 21:27] kd-11 commented on #1715
@raven02 @SakataGintokiYT I noticed the fix was to remap WZYX into ARGB in the PR. Is there any other game using this texture format? I'm honestly unsure, i'd have thought that ABGR (3-2-1-0) would be correct. By the way, since the X-Y-Z-W formats appear elsewhere in the rsx code I wonder if they should be re-evaluated as well.

[2016-05-27 21:35] kd-11 commented on #1655
Might be a viewport or blitting region issue during flip. I'll take a look.

[2016-05-27 21:48] kd-11 commented on #1681
Could also be a bug in the game that was hidden by the ps3 libraries. If this is the case, 0 would return the default format, probably one of the normalized 8-bit channel ones (RGBA8 BGRA8 ARGB8) so  VK_FORMAT_B8G8R8A8_UNORM might work. @SakataGintokiYT @raven02 You can just check if adding a zero case to the default catch-all block displays correctly.

[2016-05-27 22:01] SakataGintokiYT commented on #1681
@kd-11
Where put this command ? VKFormats.cpp ?

[2016-05-28 00:02] kd-11 commented on #1655
Seems to be Geforce specific. Plays fine on Radeon with res set to 1280x720. With AMD, the only scaling issue is that the image is not centered after correcting for aspect ratio. This is however not the same as the bug shown here. A developer on NV hardware will have to take a look.

[2016-05-28 01:43] kd-11 commented on #1681
The 0 values are because a clear command is given before buffers are set up properly. We never expect the game to not have parameters set up which causes issues on opengl renderer. Some simple fixes later and it works the same as vulkan with missing visuals. @SakataGintokiYT How do you get ingame? The display is just black

[2016-05-28 04:09] raven02 commented on #1681
Probably he just press start to skip it .

[2016-05-28 10:13] SakataGintokiYT commented on #1681
Kd-11
I skip black screen by pressing c and enter

[2016-05-28 10:16] kd-11 commented on #1681
I'm submitting a fix that should allow the emulator to ignore clear commands if the current surface is set to none. That allows the game to work on all renderers and DX12 looks better in the intros than GL and vulkan. I'll look into the other two later.

[2016-05-28 10:39] raven02 commented on #1681
However i'm wondering why vulkan works in first place but not DX12 and OpenGL

[2016-05-28 10:45] kd-11 commented on #1681
With vulkan, there is a check for this. If we have not initialized any rendering, clearing does nothing since there is a check for a working present image, initialized to FFFF which is invalid. That is what caught the bogus clear request.

[2016-05-28 10:52] kd-11 commented on #1681
OGL and Vulkan should be ok now, except for the black textures. DX12 has better menus but no ingame graphics making it completely unplayable.

[2016-05-28 11:01] SakataGintokiYT commented on #1681
@Kd-11 Try add commit  #1709

[2016-05-28 11:26] kd-11 commented on #1681
Its a blending issue for all backends actually. I'll submit a fix soon.

[2016-05-28 11:40] raven02 commented on #1715
i will check out other title to see if this format is also using .

[2016-05-28 11:41] raven02 commented on #1681
@kd-11 .It would be nice if you can help to take a look this as well https://github.com/RPCS3/rpcs3/issues/1699

which DX12 shows the title screen but not Vulkan and OpenGL backend

[2016-05-28 11:43] kd-11 commented on #1681
@raven02 Its the blending factors for this game that are messed up. Probably a bug affecting multiple games.

[2016-05-28 12:15] SakataGintokiYT opened #1723 "DX12/OGL/Vulkan: Ice Age: Continental Drift - Arctic Games -Invalid location RSX"
@kd-11
@raven02

{rsx::thread} class fmt::exception thrown: rsx::get_address(): Invalid location (offset=0x0, location=0xffffffff)
(in file C:\rpcs3\rpcs3\Emu\RSX\RSXThread.cpp:132)

Log : https://gist.github.com/SakataGintokiYT/8ad6f903a73b314d8b07bae8b55a59a0

[2016-05-28 12:24] kd-11 commented on #1723
Is the same exception thrown for DX12 and OGL or just vulkan?

[2016-05-28 12:28] SakataGintokiYT commented on #1723
@kd-11 The same issue on all API  [ogl/dx12/vulkan]

[2016-05-28 14:24] kd-11 commented on #1681
It seems the game requests a surface format with discarded alpha and sets up the blending factors in the menus so that final alpha value becomes zero since it is assumed that alpha is always going to be read back as one. I've updated https://github.com/RPCS3/rpcs3/pull/1722 to respect alpha configuration requested (opengl only for now). @SakataGintokiYT Please test if there are any regressions cau

[2016-05-28 14:43] SakataGintokiYT commented on #1681
@kd-11
OGL :
<img src="http://www.fotoszok.pl/upload/296e57f9.jpg" alt="Fotoszok.pl" />
<img src="http://www.fotoszok.pl/upload/9f83a7ab.jpg" alt="Fotoszok.pl" />
<img src="http://www.fotoszok.pl/upload/ae053091.jpg" alt="Fotoszok.pl" />
<img src="http://www.fotoszok.pl/upload/6902ba85.jpg" alt="Fotoszok.pl" />
<img src="http://www.fotoszok.pl/upload/d0e19cef.jpg" alt="Fotoszok.pl" />

[2016-05-28 14:49] kd-11 commented on #1681
I'll look into the viewport after i get dx12 and vk up to speed.

[2016-05-28 14:57] kd-11 commented on #1699
https://github.com/RPCS3/rpcs3/pull/1722 should fix this

[2016-05-28 15:07] raven02 commented on #1699
I just checked out but looks like it  still black screen .

[2016-05-28 15:36] raven02 opened #1724 "Regression: House of dead 3 black screen"
It fully broken and black screen starting from commit https://github.com/RPCS3/rpcs3/pull/1521

[2016-05-28 15:40] raven02 opened #1725 "Regression : version 0.0.0.9"
Bootup/video intro showup or freeze/hang regression:
- Castlevania : Lords of shadow
- Shoot Many Robots

[2016-05-28 15:51] #1724 closed

[2016-05-28 16:40] raven02 commented on #1672
Just tested it as well . All backend work okay before 0.0.0.9 .After 0.0.0.9 , only OpenGL and Vulkan still work but not DX12 which has the compare function error. So i agreed it is bogus command.

[2016-05-28 17:21] raven02 commented on #1263
Tried to revert ec00051 but didn't help

[2016-05-28 17:40] SakataGintokiYT commented on #1263
@raven02
intro works in guided fate paradox you need to select modules:
- libsmvd2.sprx.elf
- libsmvd4.sprx.elf
- libdmux.sprx.elf
- libdmuxpamf.sprx.elf

[2016-05-29 00:38] send2siyad opened #1726 "can it play uncharted series now?"
How much should I wait for it
(Sorry for being childish it's because I desperately want to play that . but unfortunately I lack money for a ps3/ps4). anyways  GREAT WORK GUYS KEEP GOING...

[2016-05-29 03:09] raven02 commented on #1263
Have you try it on build 0.0.0.9 ? seems not working

[2016-05-29 05:50] SakataGintokiYT commented on #1263
@raven02
yes build 0.0.0.9 intro works in :
-the awakened fate ultimatum
-the guided fate paradox

 modules:
- libdmux.sprx.elf
- libdmuxpamf.sprx.elf
- libresc.sprx.elf
- librtc.sprx.elf
- libsmvd2.sprx.elf
- libsmvd4.sprx.elf
-libsre.sprx.elf

[2016-05-29 07:50] raven02 commented on #1263
Thanks .Confirm it works for 'the guided fate paradox' though not Disgaea 3 .

![untitled](https://cloud.githubusercontent.com/assets/3000282/15631953/0214da2e-25b5-11e6-8228-3655432d4ea7.jpg)

[2016-05-29 08:02] raven02 commented on #1263
Vulkan is broken by the way.

![untitled](https://cloud.githubusercontent.com/assets/3000282/15632010/be1feb68-25b6-11e6-88d5-a09e21a372e8.jpg)

[2016-05-29 10:33] SakataGintokiYT commented on #1565
<img src="http://www.fotoszok.pl/upload/53a0f80b.jpg" alt="Fotoszok.pl" />

[2016-05-29 13:06] Paul-C-F commented on #1449
Good point.

![rpcs3 dev](https://cloud.githubusercontent.com/assets/485653/15633528/fdd7bf6a-2584-11e6-9007-e44b7994da4e.png)

[2016-05-29 13:37] AniLeo commented on #1726
Read the https://github.com/RPCS3/rpcs3/wiki/FAQ.
Don't open issues like these, use the forums to see the games' current states.

[2016-05-29 15:11] raven02 commented on #1655
And looks like it is also game specific .For example , Ardkeo Series looks fine on my nvidia card.

[2016-05-29 15:13] raven02 commented on #1655
@kd-11 how about in 720x480 ? as i found vulkan distortion mostly on 720x480

[2016-05-29 15:21] send2siyad commented on #1726
Sorry for inconvenience
Can u sent me forum link

[2016-05-29 21:53] #1652 closed

[2016-05-29 22:05] danilaml commented on #1594
Is it still an issue?

[2016-05-29 22:05] danilaml commented on #1715
Is this still an issue?

[2016-05-29 22:14] SakataGintokiYT commented on #1594
Fixed

[2016-05-29 22:15] #1594 closed

[2016-05-29 22:16] axfelix commented on #1367
You should probably remove the `cd rpcs3` from the build instructions in the readme as it's misleading -- a lot of people will be going into the rpcs3 subdirectory to try to build, since CMakeLists.txt also exists in there.

[2016-05-29 22:43] #1715 closed

[2016-05-29 22:44] #1717 closed

[2016-05-29 22:48] BlackRocksShooter opened #1728 "de-synchronization between audio and video"
When he played for Hatsune Miku it happens many times that the video and audio you plan desynchronised increasingly plan. but if I pause the game and then resume put the image of the game stops and the audio is resynchronized with the video (temporarily, then returns as before)
desynchronization is preceded by a strange noise During audio

[2016-05-29 22:51] BlackRocksShooter opened #1729 "You can not load the game save file"
I wanted to know if it was implemented this save feature in the game, and even if you could then load the facts bailouts

[2016-05-29 22:55] BlackRocksShooter opened #1730 "Hatsune Miku: Project DIVA F -Load Libraries"
I wanted to know what it was for the Load libraries and even if I had to activate these quancuno like to run better for the game Hatsune Miku: Project DIVA F [BLUS31319]

[2016-05-30 05:56] tambry commented on #1367
@axfelix But it also describes the process of cloning RPCS3. And RPCS3 is going to be cloned into rpcs3 directory. So one will need to cd into it.

[2016-05-30 08:50] Nezarn commented on #1728
This isn't audio desync issue, at least for me it happens only in DX12, and audio isn't desyncing, but game either starts running at half speed (on my pc, idk how it runs on others), or just the audio becomes muted\garbage while having fullspeed.

It's easy to reproduce, for me 90% of the time its enough to just select a song, wait for it to load, and before pressing start, just go back to song se

[2016-05-30 08:51] Nezarn commented on #1730
Game runs fine without LLE, and won't run better if you use any of the LLE libraries. (and maybe it will even run slower, since HLE is faster than LLE.)

[2016-05-30 08:52] Nezarn commented on #1729
Can you stop spamming? You basically opened this issue 4 days ago. #1717

[2016-05-30 11:16] kd-11 opened #1732 "vk: vertex shader processing consistency issues"
While investigating problems with https://github.com/RPCS3/rpcs3/issues/1681 I noticed extreme flickering and disappearing visuals in the menus (AMD) even after fixing the black output. Further checks show that the shader ubo values are the problem causing garbage geometry. I'm working on fixing this, but any other similar open issues can be tracked here.

[2016-05-30 12:41] Altaiar commented on #1726
http://www.emunewz.net/forum/forumdisplay.php?fid=162

[2016-05-30 13:30] kd-11 commented on #1732
Disabling clip planes in the shaders fixes this

[2016-05-30 14:32] kd-11 commented on #1732
https://github.com/RPCS3/rpcs3/pull/1722 should fix this

[2016-05-30 14:34] kd-11 commented on #1681
I have updated the PR to also fix vulkan issues. @SakataGintokiYT please check for any issues

[2016-05-30 14:36] kd-11 commented on #1655
@raven02 720x480 isnt 16:9 hence the distortion. I'll try to set up centered scaling once I finish the fullscreen issue.

[2016-05-30 14:48] kd-11 commented on #1699
@raven02 Could you please retest with vulkan and the updated pull request? There are some other changes included.

[2016-05-30 15:03] raven02 commented on #1699
Sure @kd-11  .Will check it out right now.

[2016-05-30 15:15] raven02 commented on #1699
Humm still black screen for this game and i can hear the background music is running

[2016-05-30 15:19] raven02 commented on #1699
And i also tested other games and looks like a blue color applied on top .

[2016-05-30 15:25] raven02 commented on #1681
Vulkan looks good on this game

![untitled](https://cloud.githubusercontent.com/assets/3000282/15653156/b318ef8c-26bd-11e6-805f-f37569751c92.jpg)

[2016-05-30 15:37] raven02 commented on #1681
This is DX12

![1](https://cloud.githubusercontent.com/assets/3000282/15653389/5c41e7de-26bf-11e6-9383-418ed8a2f988.jpg)
![2](https://cloud.githubusercontent.com/assets/3000282/15653396/70fef2c0-26bf-11e6-893c-ef8b3cfee4c4.jpg)

[2016-05-30 15:49] mob41 opened #1734 "DX12/OGL/Vulkan: Hatsune Miku: Project DIVA F missing video intro"
Hi,

I am currently trying to debug/emulate the game ```Hatsune MikuL Project DIVA F (BLUS31319)``` on ```rpc3``` emulator/debugger, using OpenGL.

It boot the credits ```SEGA``` successfully. But after the credits, a blank screen was shown. And the title screen wasn't boot.

I looked up with the logs:

[code]

But from this issue https://github.com/RPCS3/rpcs3/issues/1715 , the game was successfu

[2016-05-30 15:54] mob41 commented on #1734
Opps, something that I forgot to mention. I tried to resume the emulator/debugger, but the logger just log out a ```TODO```:

[code]

And the FPS counter keeps flowing.

[2016-05-30 15:57] Nezarn commented on #1734
It throws exception since certain filter\codec isn't implemented yet, you can work around it by deleting BLUS31319\USRDIR\rom\movie\adv.pam (or just simple rename the whole movie folder.)

[2016-05-30 15:57] raven02 commented on #1734
or use dmux and dmux_pamf.sprx.elf

[2016-05-30 15:58] Nezarn commented on #1734
@raven02 that just skips the movie and sometimes causing other error msg.

[2016-05-30 16:07] mob41 commented on #1734
Yup it works, is some of the movies will cause a exception again, as the files are "lost"?

[2016-05-30 16:10] mob41 commented on #1734
I think this should be reopened for labeling

[2016-05-30 16:21] SakataGintokiYT commented on #1681
<img src="http://www.fotoszok.pl/upload/58af67e8.jpg" alt="Fotoszok.pl" />
<img src="http://www.fotoszok.pl/upload/82c97928.jpg" alt="Fotoszok.pl" />
<img src="http://www.fotoszok.pl/upload/713ac641.jpg" alt="Fotoszok.pl" />
<img src="http://www.fotoszok.pl/upload/ff7f702d.jpg" alt="Fotoszok.pl" />
<img src="http://www.fotoszok.pl/upload/d502550d.jpg" alt="Fotoszok.pl" />

[2016-05-30 17:47] kd-11 commented on #1681
@SakataGintokiYT I've updated the pull request to fix the channel swap issues

[2016-05-30 18:02] kd-11 opened #1735 "vulkan backend leaks memory"
The vulkan backend is leaking (V)RAM. This leads to games crashing after a few minutes of play.

[2016-05-30 19:36] #1729 closed

[2016-05-30 19:39] BlackRocksShooter commented on #1728
I was able to remain stable emulator for 3 continuous hours. after it went into crisis

[2016-05-31 08:43] mob41 opened #1736 "[BLUS31319][Hatsune Miku: Project DIVA F] Miku is totally broken and the BGM sound is disgusting"
The log was throwing me some errors like this... seems this errors is caused by the rendering of Miku
[code]

:cold_sweat: Miku was just like a ghost....
![broken_miku](https://cloud.githubusercontent.com/assets/12967084/15668575/ac8200fa-274e-11e6-8eb4-29305ec23a46.PNG)

The sound is also broken. Luckily, I can still hear the melody of the BGM. I tried to load ```libsound.sprx.elf``` library, but

[2016-05-31 08:44] mob41 commented on #1736
== The error is still looping through the logger... even I stop the emulation.

[2016-05-31 09:01] Nezarn commented on #1736
Sound isn't broken, you just aren't running the game at full speed.

Also its interesting that someone has working 3D models in menu with opengl and dx12 (they are invisible on my 970, for me they are only visible in vulkan (and in vulkan they render correctly))

[2016-05-31 09:12] kd-11 commented on #1736
@mob41 try xaudio2 instead of openal for audio. its usually smoother

[2016-05-31 09:14] mob41 commented on #1736
I tried to use xaudio2, it throws me a unhandled exception

[2016-05-31 09:14] mob41 commented on #1736
*(crashed)

[2016-05-31 09:23] kd-11 commented on #1736
The models in the menu are invisible on opengl for some reason. vulkan should be ok though, especially after https://github.com/RPCS3/rpcs3/pull/1722 gets merged

[2016-05-31 09:25] mob41 commented on #1736
@kd-11 Just tried to install DirectX end-user runtime. The sound is smoother than before a lot, but still have some laggs on the sound.

[2016-05-31 09:26] mob41 commented on #1736
@kd-11 I cannot use Vulkan cause I am using a AMD Graphics card. I tried to use DirectX 12. But my DirectX version is 11.2. Is there a way to update DirectX? Or just wait for Windows Update look after it? (As I ask Google)

[2016-05-31 09:28] Nezarn commented on #1736
@kd-11 does that fix the scaling? otherwise it works fine on vulkan even now.

@mob41 DX12 is only available on windows 10, and also which AMD card do you have? Most modern AMD cards should work on vulkan

[2016-05-31 09:30] mob41 commented on #1736
*I am on Windows 10.

Lenovo AMD Radeon HD 7450 DVI+DP Graphics Card

[2016-05-31 09:33] mob41 commented on #1736
[Here](https://support.microsoft.com/zh-hk/kb/179113) said that Windows 10 includes DX 11.3 and 12. However, if I need to update DX, I had to wait for Windows Update...

My dxdiag:
![dxdiag](https://cloud.githubusercontent.com/assets/12967084/15670031/d5f8d790-2755-11e6-8390-61fc41709a93.PNG)

[2016-05-31 09:34] mob41 commented on #1736
Looks like my graphics card does not support higher version of DirectX

[2016-05-31 09:54] mob41 commented on #1736
When I tried to use Vulkan:
[code]

[2016-05-31 10:02] Nezarn commented on #1736
your graphics card doesn't support vulkan.

[2016-05-31 10:16] mob41 commented on #1736
Has joystick support implemented yet? Looks like it is impossible to hook joystick inputs into the PAD settings...

[2016-05-31 10:22] Nezarn commented on #1736
btw this isn't a support forum, so go here and post your questions here

http://www.emunewz.net/forum/forumdisplay.php?fid=163

[2016-05-31 10:23] mob41 commented on #1736
Thanks for your help!

[2016-05-31 10:23] #1736 closed

[2016-05-31 10:26] kd-11 commented on #1735
Seems to be caused by enabling debug layers. Since we don't actually manage anything in the callbacks, I'm closing this as a bug in the validation layers and not the emu

[2016-05-31 10:26] #1735 closed

[2016-05-31 10:48] kd-11 commented on #1679
@B1ackDaemon You could try and increase the descriptor pool sizes. They currently top out at 1000 draw calls per frame. They were increased before, but it seems they need to be increased some more. I've seen games with > 1000 calls in some situations.

[2016-05-31 12:16] raven02 commented on #1699
@kd-11 , this is the spriv log generated that i reached the title screen and black screen.

[FragmentProgram.txt](https://github.com/RPCS3/rpcs3/files/291018/FragmentProgram.txt)
[VertexProgram.txt](https://github.com/RPCS3/rpcs3/files/291019/VertexProgram.txt)

[2016-05-31 13:43] SakataGintokiYT commented on #1679
@kd-11
VkDescriptorPoolSize uniform_buffer_pool ?
infos.maxSets = 1000; ?

[2016-05-31 14:11] raven02 commented on #1263
@SakataGintokiYT , just wonder o you able to reach title menu in guided paradox?

[2016-05-31 14:46] SakataGintokiYT commented on #1263
@raven02
Gra zawiesza się na wstępie:

{PPU[0x6e] Thread (fios mediathread 11) [0x0039cfc8]} PPU: Function 'cellFsRead' aborted

{PPU[0x6e] Thread (fios mediathread 11) [0x0039cfc8]} class fmt::exception thrown: Win32 error: 998.
(in file C:\rpcs3\Utilities\File.cpp:744)

[2016-05-31 14:57] raven02 commented on #1263
Alright .So this game only show intro but not able to reach title screen anymore in latest builld

[2016-05-31 14:58] SakataGintokiYT commented on #1263
yes

[2016-05-31 15:08] kd-11 commented on #1679
@SakataGintokiYT  you need to change that as well as in the VKGSRender intitialization code. There are some values there like 3000 and 16000 which are calculated using 100 * num_descriptors; i.e there are 3 uniform buffer descriptors, 16 texture descriptors and 16 vertex texture descriptors giving 3000, 1600 and 16000 respectively. You'll need to recalculate those values as well. We'll need to aut

[2016-06-01 10:44] mob41 opened #1737 "[BLUS31319][Hatsune Miku: Project DIVA F] Not saving system data"
There's a savedata issue.

I went to "Others" > "Save" to save the game data. I opened up the ```/dev_hdd0/home/00000001/savedata``` folder and the folder ```NPUB31241_SYSTEM00``` is generated successfully.

However, when I play a song. Of course, it won't clear as the computer lagg and lagg... The game over and I went back to the menu. And then the auto-save function will start working. However,

[2016-06-01 10:51] mob41 commented on #1737
```AccountManager``` (Not implemented)... looks like ```RPCS3``` hooks all games directly to folder(user) ```00000001``` with the name ```User```.

[2016-06-01 10:55] mob41 commented on #1737
Just found out another issue about this. The game asks ```RPCS3``` to grant the savedata file. ```RPCS3``` sends the file to the game. But the game said the save file is broken.

Probably the save file could not be read by the game...

[2016-06-01 10:55] #1737 closed

[2016-06-01 12:57] #1730 closed

[2016-06-01 13:02] BlackRocksShooter opened #1738 "Crash emulator error"
And three days that while playing a game after 3-5 min I goes crashing giving me this error in the "Log"
{PPU[0x8] Thread (main_thread) [0x009c96ac]} sys_fs: sys_fs_stat('/dev_bdvd/PS3_GAME/USRDIR/rom/objset/itmpv/itmpv612.farc') failed: not found
{PPU[0x109] Thread (200baad0) [0x009c964c]} PPU: Function 'cellFsRead' aborted
{PPU[0x109] Thread (200baad0) [0x009c964c]} class fmt::exception thrown:

[2016-06-01 13:50] Nezarn commented on #1738
duplicate of #1466

[2016-06-01 20:21] kd-11 commented on #1631
https://github.com/RPCS3/rpcs3/pull/1722 should fix hitman and other games with the black shadow covering everything

[2016-06-01 20:49] SakataGintokiYT commented on #1681
@kd-11
what about with dx12 ?

[2016-06-01 20:53] kd-11 commented on #1681
I'll fix dx12 in a separate pull request to keep changes manageable. There are some other incoming fixes for opengl and vulkan after https://github.com/RPCS3/rpcs3/pull/1722 gets merged. I can look at dx12 after that.

[2016-06-02 10:58] kd-11 commented on #1699
@raven02  Your log names are strange; didnt you push a commit to rename the files to .spirv and .glsl?

[2016-06-02 11:23] AniLeo opened #1739 "Both slashes (\ and /) being used in Paths"
[code]
**dev_hdd0\game\B660IA3\BLES00522/PS3_GAME/USRDIR/BOOT.BIN**

As seen here http://www.emunewz.net/forum/showthread.php?tid=174556&pid=231551#pid231551

[2016-06-02 11:30] raven02 commented on #1699
@kd-11 yep i rename it so i can upload here

[2016-06-03 15:26] kd-11 commented on #1732
Closing as fixed

[2016-06-03 15:26] #1732 closed

[2016-06-03 21:52] kd-11 commented on #1699
Doesnt seem to be an issue in the shaders. I'll have to take a deeper look.

[2016-06-04 02:49] raven02 commented on #1699
This game is pretty strange .It boots and FPS shows but black screen however if press L1+R1+SELECT+START at the same time , title screen shows above .LLE i used for booting up this game

l10n
sre
spurs
ssl

[2016-06-04 12:53] raven02 commented on #1699
Wondering would it be flipping issue

[2016-06-04 13:17] rcaridade145 commented on #1688
I was able to fix this by telling cmake to ignore  CMakeFiles directory

`set (EXCLUDE_DIR "/CMakeFiles/")
	foreach (TMP_PATH ${RPCS3_SRC})
		string (FIND ${TMP_PATH} ${EXCLUDE_DIR} EXCLUDE_DIR_FOUND)
		if (NOT ${EXCLUDE_DIR_FOUND} EQUAL -1)
			list (REMOVE_ITEM RPCS3_SRC ${TMP_PATH})
		endif ()
	endforeach(TMP_PATH)`

on  rpcs3/CMakeLists.txt

[2016-06-04 14:21] kd-11 commented on #1699
I'll need to find a frame debugger that actually works. The amd one crashes. I'll try nsight on my older geforce card.

[2016-06-04 15:39] raven02 commented on #1699
Thanks @kd-11 . From YouTube , i can see when it boots up , it shows the Bandi logo ,CRIWARE logo then a opening movie then title screen.

[2016-06-04 15:52] kd-11 commented on #1699
The input textures during startup are plain black for some reason.

[2016-06-04 16:37] kd-11 commented on #1699
Textures are black because they are never set up or requested at all. I'm not sure if this means they are being written by cell directly to the framebuffers, but that would mean Read/Write buffers has to be properly implemented. This is especially because the first draw call references a render target.

[2016-06-05 02:20] elfogames opened #1746 "Unhandled Win32 exception - Xaudio2"
Any game i try with Xaudio2 i get a Win32 Error,With OpenAL i don't have this problem
![shit](https://cloud.githubusercontent.com/assets/16784631/15803211/08cc7734-2aa9-11e6-8885-0a01fdc50fbb.jpg)

Visual studio stack trace:

 XAudio2_7.dll!00007ffc761aadf3()	Unknown
rpcs3.exe!XAudio2Thread::AddData(const void * src, int size) Line 141	C++
 rpcs3.exe!audio_config::on_task() Line 265	C++
 rpcs3.exe

[2016-06-05 05:14] raven02 commented on #1699
Then how about DX12 ? read and write buffers should be implemented somehow.

[2016-06-05 05:34] mob41 opened #1747 "Joystick support for RPCS3"
Sadly, I don't know why I cannot post or make a new thread in the forum. (Permission is restricted) So I suggested to post here.

Recently, I found there is a C++ library that can handle joystick, mouse, keyboard events in cross-platform at a glance. I think we can implement this into RPCS3 and replace the handlers (```KeyboardPadHandler``` & ```XInputPadHandler```) with it. This library is as kno

[2016-06-05 05:42] mob41 commented on #1746
Install the [DirectX End-User runtime](https://www.microsoft.com/en-us/download/details.aspx?id=7087).

The runtime installer will install "libraries" that you are missing in the computer.

[2016-06-05 05:44] mob41 commented on #1746
See this issue(comment): https://github.com/RPCS3/rpcs3/issues/1736#issuecomment-222634370

And this comment: https://github.com/RPCS3/rpcs3/issues/1736#issuecomment-222636947

[2016-06-05 06:37] John-Gee opened #1748 "OGL Core Context"
Hello,

Finally my Mesa driver has set OGL as 4.3 and GLSL at 4.30, but without using the override RPCS3 still fails with:
{rsx::thread} RSX: Failed to compile vertex shader: 0:1(10): error: GLSL 4.30 is not supported. Supported versions are: 1.10, 1.20, 1.30, 1.00 ES, 3.00 ES, and 3.10 ES

relevant glxinfo:
OpenGL core profile version string: 4.3 (Core Profile) Mesa 12.1.0-devel (git-d5491a8)
Ope

[2016-06-05 08:08] kd-11 commented on #1699
DX12 crashes if you try to enable read/write buffers with this game. The menu/intro should still work with opengl and vulkan though so that is a valid issue that i'll look into since it is a more straight-forward render.

[2016-06-05 08:19] kd-11 commented on #1748
Thats interesting, we do request a GL 3.3 core profile, just not a foward compatible one.
If you add a legacy call in the rpcs3 code and enable debug output, you should see the drivers complaining about use of a feature removed from core, even with proprietary drivers.

[2016-06-05 09:13] raven02 commented on #1699
Do you mean opengl with read/write buffer enabled , intro/menu shows up ?

[2016-06-05 13:17] rcaridade145 opened #1749 "OGL: Saint Seiya Brave Soldiers unimplemented opcode"
While trying to run Saint Seiya Brave Soldiers i get RSX: Unimplemented sca_opcode BRB on the console. This is on the OpenGL backend.

[2016-06-05 14:17] raven02 commented on #1749
I think it happen on other backends? and does it boot in-game

[2016-06-05 14:25] rcaridade145 commented on #1749
It does go in game but crashes after this screen
![captura de ecra de 2016-06-05 15-23-16](https://cloud.githubusercontent.com/assets/11843298/15806010/797ead84-2b31-11e6-9495-2c3979ebd2a0.png)

How do i enable the Vulkan backend to test? I'm running Ubuntu with Nvidia drivers 367.18 which should support Vulkan but on the combobox i only get Null and OpenGL

[2016-06-05 14:45] raven02 commented on #1749
What GPU you are using ?

[2016-06-05 14:59] rcaridade145 commented on #1749
Nvidia 650.

LLE : libspurs_jq and libsre.

[2016-06-05 15:03] mob41 commented on #1749
Seems like we mixed the check of Windows to Vulkan

[code]

[2016-06-05 15:06] mob41 commented on #1749
Therefore, Vulkan is only shown in Windows that the preprocessor bypassed the selection...

https://github.com/RPCS3/rpcs3/blob/master/rpcs3/rpcs3.cpp#L98

[2016-06-05 15:13] raven02 commented on #1749
Looks like only OGL works upto title . DX12 hits the following error in the 'Now loading'

[2016-06-05 15:21] mob41 commented on #1749
@raven02 But the problem is that Vulkan cannot even used in Linux cause the code blocked it.

[2016-06-05 15:24] raven02 commented on #1749
@mob41 yep agreed .Probably he can try to compile one to fix that cod to re-run again.

[2016-06-05 15:44] raven02 commented on #1749
Not too sure if it is the gradient instruction TXD , checking it.

[2016-06-05 16:13] mob41 commented on #1749
@raven02 I am surely that Linux can run Vulkan with the NVIDIA driver 367.18 ([Official Page](https://developer.nvidia.com/vulkan-driver)). And once the driver is installed to ubuntu. It should run. Whatever, Vulkan has no support for Mac.

Maybe the preprocessor modify to this. ```wx/platform.h```
[code]

https://github.com/RPCS3/rpcs3/commit/d287ba44ce489c745c0fd5b90f2c3cbd78827594#diff-81130230

[2016-06-05 16:19] mob41 commented on #1749
@raven02 Can you explan more about what is ```gradient instruction TXD```... I have no idea about this...

[2016-06-05 16:22] mob41 commented on #1747
Referred.

[2016-06-05 16:22] #1747 closed

[2016-06-05 17:25] kd-11 commented on #1749
@mob41 texture gradient is the glsl function texturegrad. I thought it was enabled for openGL, but I guess not. As for vulkan on linux, that is intentionally disabled. Its not as easy as enabling the option since each operating system will have it'w own windowing API and vulkan does not abstract that stuff for you. You'll have to implement an Xcb surface management system in there.

[2016-06-05 17:28] kd-11 commented on #1699
no. I mean that even on dx12, the intro logos do not show up because of that. As for the missing intros on opengl & vulkan, that is a different problem. I'll get to it soon

[2016-06-05 17:34] mob41 commented on #1749
@kd-11 But seems Vulkan have its Cross-platform API that ports to linux and wndows directly.

[2016-06-05 17:34] kd-11 commented on #1631
https://github.com/RPCS3/rpcs3/pull/1743 should fix the alpha testing in opengl and vulkan backends.

[2016-06-05 17:38] mob41 opened #1752 "Linux : missing vulkan backend support"
As from pull-request https://github.com/RPCS3/rpcs3/pull/1751#issuecomment-223826063

[2016-06-05 17:45] kd-11 commented on #1749
@mob41 afaik Vulkan WSI extensions have operating system independent window management code. Its the only part that is different on different platforms. If you look at the vulkan initialization code, you can see I need to grab a swapchain target surface from the HWND of the window. Of course this bit is windows-specific hence it is commented out using #ifdefs. The same is true of vulkan example co

[2016-06-05 18:48] elfogames commented on #1746
Any Other Ideas?

[2016-06-05 19:01] Nezarn commented on #1746
Have you tried installing\updating your sound"card" driver? Also try updating directx with this https://www.microsoft.com/en-us/download/confirmation.aspx%3Fid%3D35

[2016-06-05 20:00] elfogames commented on #1746
it's working now,i unistalled the driver,and now im using the microsoft driver
it was a problem with realtek driver

[2016-06-05 20:16] elfogames commented on #1746
it's back,its a pro

[2016-06-05 20:16] #1746 closed

[2016-06-05 20:20] elfogames commented on #1746
it was a problem with MaxxAudio 4 After all

[2016-06-05 20:36] rcaridade145 commented on #1688
I made a commit to my branch of rpcs3 to fix the issue - https://github.com/rcaridade145/rpcs3/commit/c8acc1f5737cc9e06802b972153a8bee0ddadbac . It fixes it for me but i am not sure it is the correct way.

[2016-06-05 21:34] SakataGintokiYT opened #1753 "DX12: LIMBO fragment program compilation failure"
Build [c4102f3b]

-DX12 :
-Log : https://gist.github.com/SakataGintokiYT/659a585a740c4713d223d2ea8b319c3f

{rsx::thread} class fmt::exception thrown: D3D12Traits::build_pipeline(): fragment program compilation failure
(in file c:\rpcs3\rpcs3\emu\rsx\d3d12\D3D12PipelineState.h:162)

---

Settings:
-PPU - Interpreter (Fast)
-SPU - Interpreter ASMJIT
-Vulkan / OGL / DX12
-1280x720
-Xaudio2
-Frame lim

[2016-06-06 00:47] John-Gee commented on #1748
I see.
Why not request a 4.3 core profile since it needs 4.30 GLSL anyway?

[2016-06-06 03:10] raven02 commented on #1699
I see. looking forward to your update.

[2016-06-06 08:57] Exmach opened #1754 "HLE: Wangan midnight"
Game starts if change s32 cellGameDataGetSizeKB() throw EXCEPTION(""); to return CELL_OK; (cellGame.cpp)

[2016-06-06 13:42] raven02 commented on #1754
How about if load the cellGame.sprx.elf LLE module , does it work?

[2016-06-06 14:11] rcaridade145 commented on #1749
@mob41 This is how for instance glfw initializes vulkan https://github.com/glfw/glfw/blob/master/src/vulkan.c .

[2016-06-06 14:46] mob41 commented on #1749
@rcaridade145 I currently not good at writing to apis in C++, but with Java I works well. Besides, my graphics card does not support Vulkan, sadly, it also does not support DirectX 12. So I can't test with those features. May be some developers will pick this up to develop for linux.

[2016-06-06 14:49] rcaridade145 commented on #1749
I'll try to implement and test this on Linux by this week's end.

[2016-06-06 14:50] mob41 commented on #1749
@rcaridade145 That will be great.

[2016-06-06 21:05] probonopd commented on #1561
Since you are already building on trusty on Travis CI we could use these build artefacts and bundle them up as an AppImage. This can be nicely integrated into the Travis CI builds. See these examples:
https://github.com/cpvrlab/ImagePlay/pull/93/files
and
https://github.com/mavlink/qgroundcontrol/pull/3136/files

[2016-06-07 13:46] raven02 commented on #1263
Disgaea 4 intro also works with LLE modules

![1](https://cloud.githubusercontent.com/assets/3000282/15859847/508b7492-2cf9-11e6-9fb9-d4755aba6697.jpg)
![2](https://cloud.githubusercontent.com/assets/3000282/15859856/58554be4-2cf9-11e6-80fb-dbb0084c3abc.jpg)

[2016-06-07 14:08] raven02 commented on #1526
Disgaea 4 should be working in latest build.

[2016-06-07 14:10] raven02 commented on #1263
Probably this issue resolved though we need LLE to get the intro movie running

[2016-06-07 14:35] danilaml commented on #1263
@raven02 it's not resolved because the issue states clearly that intro videos worked fine without the need for LLE before some changes done in a974ee0 and ec00051.

[2016-06-07 15:25] kokowang opened #1756 "Release - LLVM build not working?"
Building 0.0.0.6 with llvm worked fine.
Building 0.0.0.9 (this version) with llvm doesn't work (llvm option still greyed out in settings).

Windows 10 64 bit. Python 3.3.1, cmake 3.1.1, MSVC 2015.
Build (release llvm) completes without errors, 39 succeeded 4 skipped.

![image](https://cloud.githubusercontent.com/assets/16373102/15863798/74b9717c-2ca2-11e6-957d-035854a5e2c9.png)

[2016-06-07 15:28] raven02 commented on #1756
See here https://github.com/RPCS3/rpcs3/pull/1741

[2016-06-07 15:55] mob41 commented on #1749
@kd-11 It is bit away from the topic. Should this (including HWND grabbing and implement unimplemented opcode) to be assigned to somebody or put it in the SML tasks? So that some developers that are finding things to do to develop it.

[2016-06-07 16:03] kd-11 commented on #1749
@mob41 Leave the opcode stuff here as it is relevant and I'll take a look at this issue soon. As for the vulkan window management on linux stuff, we can just leave it for now until @rcaridade145 has a pull request and move the discussion there since someone is already working on it. The X11 windowing stuff is trivial (as far as rsx stuff goes) so it shouldn't be diffucult for someone in a linux en

[2016-06-07 16:06] kd-11 commented on #1699
This error is due to vertex attribute issues with ub256 type. I'll submit a fix soon.

[2016-06-07 16:22] raven02 commented on #1263
Alright no problem let's keep this issue open

[2016-06-07 16:22] raven02 commented on #1699
cool

[2016-06-07 20:12] kd-11 commented on #1699
https://github.com/RPCS3/rpcs3/pulls/1757 should address this. Please confirm that it works on nvidia driver properly. The text is still green on vulkan but renders correctly with opengl.

[2016-06-07 21:29] kd-11 commented on #1753
@SakataGintokiYT In this case, the FragmentProgramXX.hlsl would be of more use than the full log since its only compilation that fails. Just upload a zip archive with the hlsl programs.

[2016-06-07 21:34] kd-11 commented on #1748
It seems that mesa ties the glsl and core profile versions rather strictly. Note how the corresponding glsl version 330 is missing from the list of supported glsl versions yet we request a 3.3 profile. Proprietary drivers are fine, but mesa might need some investigating to determine how profile versions are handled. For now, just stick to the override env var.

[2016-06-07 21:43] kd-11 commented on #1568
@SakataGintokiYT Check current status of some of the games. I can see a few bugs that i've already fixed.

[2016-06-07 21:48] John-Gee commented on #1748
I am not sure if it is that strict as I have one override for OGL and one for GLSL and I don't believe one is a superset of the other.
The reason I believe so is at some point one app would crash with the 2 overrides so I played with it, and found that the GLSL was the issue, overriding only the OGL version worked fine.

As for GLSL 3.30, I would have guessed the request was for a compatibility pr

[2016-06-07 23:12] John-Gee commented on #1748
Well I've just done a little test.
I've checked for GL_ARB_compatibility presence in glGetStringi(GL_EXTENSIONS, n) in GLSLRender.cpp::on_init_thread and I do find it, which should mean that the app requested a compatibility profile.

Other info in the same function:
glGetString(GL_VERSION) => 3.0
glGetString(GL_SHADING_LANGUAGE_VERSION) => 1.30
(glGetString(GL_VENDOR) => X.Org, well this one prob

[2016-06-08 00:33] raven02 commented on #1699
My one is Nvidia . OpenGL is working now.

![1](https://cloud.githubusercontent.com/assets/3000282/15879109/9b1eca90-2d53-11e6-9963-1d51a055f7cf.jpg)

[2016-06-08 00:34] raven02 commented on #1699
@kd-11 , btw , do you able to see the Bandi logo ? and also did you able to press L1+R1+Select+Start  everytime successful to get into title screen?

[2016-06-08 05:48] raven02 opened #1759 "DX12: missing blend factor"
In DX12 , we have the following missing blend factor that not matching with DX12 blend factor function

However DX12 doesn't have corresponding blend mode while Vulkan has VK_BLEND_FACTOR_CONSTANT_ALPHA and VK_BLEND_FACTOR_ONE_MINUS_CONSTANT_ALPHA

@kd-11 , CONSTANT_COLOR is currently using DEST_COLOR instead to emulate , what do you think if it is okay to use DEST_ALPHA and INV_DEST_ALPHA for the

[2016-06-08 06:07] kd-11 commented on #1748
This can happen if your wxwidgets version is below 3.1.0. See https://github.com/RPCS3/rpcs3/blob/master/rpcs3/Gui/GLGSFrame.cpp#L18-Lundefined

It is also possible (but unlikely) that the driver being at 4.3 core fails to support lesser core profiles, in which case we should check the core profile supported before requesting it on mesa. On windows, we do get a proper 3.3 core profile.

[2016-06-08 06:11] John-Gee commented on #1748
oh damn yes, I went back to 3.0.
I'll go back to 3.1 and report, hopefully sorry about the false alert!

[2016-06-08 06:14] kd-11 commented on #1759
constant color and alpha values are a color key passed to the rendering pipeline for computation in the blend equation. using DEST_ALPHA and INV_DEST_ALPHA is a hack and would return incorrect results, since they are a variable function across the canvas while the color key would be constant, and there is no guarantee that it even has to occur on screen. I'm not sure why dx12 would be missing such

[2016-06-08 06:18] kd-11 commented on #1699
Those wont show up on any renderer due to their r/w buffers behaviour. Its possible that reading fbo contents when creating a new surface may fix this since it seems to place the texture data on the surface targets themselves then start rendering. I'll look into it and update this ticket.

[2016-06-08 06:19] kd-11 commented on #1699
Also, yes, I had to press the button combo to get to main screen.

[2016-06-08 07:05] raven02 commented on #1699
Just wondering u ALWAYS succeed to reach title screen when pressing combo keys as I have 2 or 3 times out of 10 succeed .

[2016-06-08 07:23] John-Gee commented on #1748
So yes wx3.1 fixed it.
OGL => 4.3
GLSL => 4.30
Though I still find the GL_ARB_compatibility extension, but since it works fine, I don't need to worry about it.

[2016-06-08 07:23] #1748 closed

[2016-06-08 08:51] kd-11 commented on #1699
I actually press L1+R1+L2+R2+select+start (requires some dexterity at first). Goes to intro every time. I'm not sure what's happening, but then remember that japanese games are sometimes weird, requiring pressing O to select and X to go back instead of the other way round.

[2016-06-08 09:28] raven02 commented on #1759
Alright . i think we can only leave it .Not too sure if we can do it in-shader using image load/store to setup custom blending

[2016-06-08 09:35] raven02 commented on #1699
hmm thanks .I'll try it again . Meanwhile , press 'START' in the following screen (right after press any key at title screen', it is also black screen , probably it is the same issue affected by r/w buffers behavior.
![title](https://cloud.githubusercontent.com/assets/3000282/15889855/72889d08-2d9f-11e6-844d-097fb8803df4.jpg)

[2016-06-08 09:39] #1699 closed

[2016-06-08 09:50] raven02 opened #1761 "DX12/OGL/VK: Dai-3-Ji Super Robot Taisen Z Jigoku-hen bootup black screen"
Title screen should be working now in all backend .However , It is still rendering black at booting for all backend due to R/W buffers behavior  .It should display something at below .

![1](https://cloud.githubusercontent.com/assets/3000282/15890332/82503e88-2da1-11e6-8bf3-17798ea3be53.jpg)
![2](https://cloud.githubusercontent.com/assets/3000282/15890333/82899d86-2da1-11e6-8950-1c66ff64165e.jpg)

[2016-06-08 09:52] raven02 commented on #1761
@kd-11 feel free to put update here for this r/w buffers issue.

[2016-06-08 10:01] kd-11 commented on #1761
It doesn't seem to be trivial since only reading buffer data from cell during init has no effect whatsoever. A better approach will have to be implemented.
@raven02 can you test dh's rsx_cache branch? I heard some stuff was fixed on there but that was a while back.

[2016-06-08 11:18] raven02 commented on #1761
Sure let me check it out on rsx_cache branch

[2016-06-08 13:00] SakataGintokiYT commented on #1753
@kd-11
Vulkan: http://www57.zippyshare.com/v/w4NSWc1y/file.html
OGL : http://www46.zippyshare.com/v/qXAZs83Y/file.html

[2016-06-08 15:29] raven02 commented on #1761
Just built rsx_cache -
[rpcs3.zip](https://github.com/RPCS3/rpcs3/files/305110/rpcs3.zip)

It is still black screen at bootup even with r/w color buffers enabled.

[2016-06-08 17:25] SakataGintokiYT opened #1762 "TNT Racers [NPEB00221]-- Black screen--[OGL/Vulkan]"
@kd-11
@raven02

Build {4260f68f}

Settings:
-PPU - Interpreter (Fast)
-SPU - Interpreter ASMJIT
-Vulkan / OGL
-1280x720
-Xaudio2
-Frame limit OFF

LLE:
-libfiber
-libl10n.prx
-libresc
-libsre

*Vulkan- Log / FragmentProgram / VertexProgram : http://www91.zippyshare.com/v/nrssRAPf/file.html

*OGL- Log /FragmentProgram /VertexProgram : http://www69.zippyshare.com/v/OSGWrGgQ/file.html

[2016-06-08 18:08] SakataGintokiYT commented on #1568
<img src="http://www.fotoszok.pl/upload/b14a30f5.png" alt="Fotoszok.pl" />
<img src="http://www.fotoszok.pl/upload/72be9afc.jpg" alt="Fotoszok.pl" />

[2016-06-09 09:04] raven02 commented on #1762
Yep , only DX12 works (resc+sre can also in-game)

[2016-06-09 09:28] raven02 commented on #1762
Checked with rsx_cache branch , also black screen for OGL.

[2016-06-09 11:15] kd-11 commented on #1761
After looking deeper, i'm almost sure that this is not related to cell read/write framebuffer support. I'm not certain how the game expects textures it did not set up to manifest, but its verty likely that there's memory corruption going on in this game. The fact that one has to press a key combo to show the start screen could be proof of this.

[2016-06-09 11:31] raven02 commented on #1761
Humm probably not an easy fix at this moment i believe if it is memory corruption .

[2016-06-09 11:34] raven02 commented on #1628
It stuck at BLIT logo , i remember that one got wrong shift to left previously when use HLE.

[2016-06-09 11:48] raven02 commented on #1631
Having https://github.com/RPCS3/rpcs3/pull/1760 , all backends should have Logic Op implemented

[2016-06-09 13:29] kd-11 commented on #1422
Its unlikely that the fix was correct. the implemented section is only part of the solution and not a functional equivalent unless I'm misunderstanding the glsl spec.

https://www.opengl.org/registry/specs/ARB/shading_language_packing.txt

The functions packUnorm2x16(), packSnorm2x16(), packUnorm4x8(), and
    packSnorm4x8() first convert each component of a two- or four-component
    vector of no

[2016-06-10 07:39] raven02 commented on #1421
UPB should be implemented here - https://github.com/RPCS3/rpcs3/pull/1764 .

Does it help?

[2016-06-10 08:06] SakataGintokiYT commented on #1339
@tambry
What about with font library ?

[2016-06-10 08:12] tambry commented on #1339
I'm no longer part of the RPCS3 development team and will no longer work on RPCS3.

[2016-06-10 11:46] kd-11 commented on #1762
Flickers badly even with dx12 for me on AMD.
By the way, this seems to be due to some oddity with the vertex shader generation code where the shader is bound before the vertex attributes are set. I'll change the default action in such a case.
It works in DX12 somewhat, but that is because dx12 combines all actions handled in begin<-->end in one large coalesced function.

[2016-06-10 12:35] raven02 commented on #1421
In 0.0.0.9 , it cannot bootup even with libsre.sprx.elf

{PPU[0x4] Thread (main_thread) [0x00c5e8d0]} struct vm::access_violation thrown: Access violation reading address 0x10

[2016-06-10 18:51] kd-11 commented on #1762
Fixing shader compilation fixes the opengl backend but introduces a freeze in vulkan similar to https://github.com/RPCS3/rpcs3/issues/1679. I'll submit a solution to both issues as soon as i'm able to.

[2016-06-10 22:06] kd-11 commented on #1762
https://github.com/RPCS3/rpcs3/pull/1766 fixes opengl and vulkan. DX12 stutters heavily for me in menus probably due to resource allocation issues (the menu is over ~1984 draw calls for whatever reason) and i'll look into that issue separately. This game could be a good target for optimizing the opengl backend as it is the most heavily impacted with performance being very poor but vulkan being the

[2016-06-10 22:07] kd-11 commented on #1679
https://github.com/RPCS3/rpcs3/pull/1766 will fix most of the descriptor set issues.

[2016-06-10 22:14] kd-11 commented on #1539
https://github.com/RPCS3/rpcs3/pull/1766 fixes opengl and vulkan.  DX12 still stutters for AMD cards. I'll look into it.

[2016-06-11 07:10] SakataGintokiYT commented on #1565
@kd-11

Do you know how to fix it ?

[2016-06-11 07:14] raven02 commented on #1527
Castlevania , no longer bootup in 0.0.0.9

{PPU[0x3] Thread (main_thread) [0x00cd9d60]} class std::runtime_error thrown: Verification failed: vm::dealloc(img->segs.addr(), vm::main)
(in file C:\rpcs3\rpcs3\Emu\Cell\Modules\sys_spu_.cpp:62)

[2016-06-11 07:17] raven02 commented on #1527
i think this one can be closed as i didn't see any more unsupported format in log now.

[2016-06-11 07:19] raven02 commented on #1725
Castlevania : Lords of shadow 2 , it is no longer bootup in 0.0.0.9

{PPU[0x3] Thread (main_thread) [0x00cd9d60]} class std::runtime_error thrown: Verification failed: vm::dealloc(img->segs.addr(), vm::main)
(in file C:\rpcs3\rpcs3\Emu\Cell\Modules\sys_spu_.cpp:62)

[2016-06-11 07:27] #1527 closed

[2016-06-11 07:41] kd-11 commented on #1565
@SakataGintokiYT the fix is actually there in the code, but disabled (and set to always fail because of this). I don't know why vlj disabled the fallback path, but trying to create a resource with dimensions of zero causes this error since the initialization block is never run. If you want to test, change the if (false) clause on line 494 in D3D12GSRender to if (true) and it should work. If it wor

[2016-06-11 08:17] SakataGintokiYT commented on #1565
@kd-11 It works ^___^

[2016-06-11 08:51] kd-11 commented on #1565
That path when a flip is issued without a surface target being set. on vulkan and gl, we simply ignore blitting anything to screen and clear to black. I could set up a workaround that does the same for DX12

[2016-06-11 09:03] SakataGintokiYT commented on #1565
@kd-11
Looking forward to your update.

[2016-06-11 09:55] raven02 commented on #1725
Bomberman ULTRA , also no longer bootup in 0.0.0.9

[2016-06-11 09:58] kd-11 commented on #1565
Fix added with https://github.com/RPCS3/rpcs3/pull/1766

[2016-06-11 10:06] raven02 opened #1768 "DX12: Dragon Ball: Raging blast bootup black screen"
OGL and Vulkan work fine using latest build

- PPU interpreter (fast)
- SPU interpreter (ASMJIT)
- 1280X720
- XAudio2

LLE
- fiber
- sre
- spruqs_jq
- resc
- l10n
- vdec
- smvd2

[2016-06-11 10:14] SakataGintokiYT commented on #1768
fixed #1766

[2016-06-11 10:38] #1565 closed

[2016-06-11 10:46] raven02 commented on #1768
Nice .It also need l10n.sprx.elf after title screen.

[2016-06-11 11:36] raven02 commented on #1738
please close this one.

[2016-06-11 13:24] #1762 closed

[2016-06-11 13:37] raven02 opened #1769 "DX12/GL/Vulkan: Dragon Ball: Raging blast broken in-game texture"
All backends should be able to in-game using latest build however in-game texture is heavily broken in all backends

![1](https://cloud.githubusercontent.com/assets/3000282/15985474/e58e0666-3020-11e6-9538-e948605f5d65.jpg)
- PPU interpreter (fast)
- SPU interpreter (ASMJIT)
- 1280X720
- XAudio2

LLE
- fiber
- sre
- spruqs_jq
- resc
- l10n
- vdec
- smvd2

[2016-06-11 13:38] #1768 closed

[2016-06-11 13:50] raven02 opened #1770 "Nvidia : vulkan resize and full screen crash"
This one is affected Nvidia only . AMD works perfectly fine.

@kd-11 , let's track this issue here

[2016-06-11 13:51] raven02 commented on #1770
@SakataGintokiYT , are you using Nvidia card ? if yes , can you see if you can reproduce.

https://ci.appveyor.com/project/kd-11/rpcs3/build/1.0.138

[2016-06-11 13:58] #1738 closed

[2016-06-11 14:28] SakataGintokiYT commented on #1770
@raven02
Crash when resizing screen
<img src="http://www.fotoszok.pl/upload/7fce6037.png" alt="Fotoszok.pl" />

[2016-06-11 14:37] Nezarn commented on #1770
@raven02 same here (i have a gtx 970)

[2016-06-11 15:08] raven02 commented on #1723
@SakataGintokiYT , does it work in 0.0.0.6? probably regression.

[2016-06-11 15:14] raven02 commented on #1693
That one is a LV2 syscall .How about if enable 'Load liblv2.sprx only' ?

[2016-06-11 15:43] raven02 commented on #1734
Any outstanding issue we need to keep it open ? If not , please close it .thanks.

[2016-06-11 16:02] raven02 commented on #1660
I have left message to @JohnGodgames to retest this game and post comment here.

[2016-06-11 16:17] raven02 commented on #1753
DX12 reachs title screen then throw exception below

{rsx::thread} RSX: FS build failed:D:\rpcs3\FragmentProgram.hlsl(149,10-35): error X3037: constructors only defined for numeric base types

[2016-06-11 16:38] raven02 commented on #1606
@AniLeo , feel free to close it .

[2016-06-11 16:40] raven02 commented on #1596
@SakataGintokiYT , please close this one . It is duplicate of Vulkan scaling issue #1655

[2016-06-11 16:49] raven02 commented on #1489
@AniLeo  Retest this game and should be another error .Please close this one.

[2016-06-11 16:51] raven02 opened #1771 "DX12: shader (VS/FS) failed - constructors only defined for numeric base types"
It looks like happen in few games below with same error from either FS or VS

**Auditorium HD**

**Virtual Fighter 5**

**Limbo**

[2016-06-11 17:01] Nezarn commented on #1734
Intro video isn't playing. So it doesn't work.

[2016-06-11 17:20] raven02 commented on #1734
It did play but requires few more LLE modules

[2016-06-11 17:27] Nezarn commented on #1734
For me it doesn't play intro even with LLE modules. https://github.com/RPCS3/rpcs3/issues/1734#issuecomment-222520030

[2016-06-11 18:40] #1596 closed

[2016-06-11 18:51] kd-11 commented on #1770
@SakataGintokiYT  https://ci.appveyor.com/project/kd-11/rpcs3/build/1.0.141
NV users can test this. It will very likely crash, but i 'm more interested in RPCS3.log it generates. Thanks.

[2016-06-11 18:58] kd-11 commented on #1771
I'll need a sample hlsl shader that fails to compile. I'm guessing a bad cast is responsible for this, or a decompiler method returning an empty string.

[2016-06-11 19:06] SakataGintokiYT commented on #1770
@kd-11

{rsx::thread} RSX: Window resize request start...
{rsx::thread} RSX: Waiting for device to idle
{rsx::thread} RSX: Requesting a present surface from the presnentation engine
{rsx::thread} RSX: Wait finished. Begin window resize
{rsx::thread} RSX: ERROR: [Driver] Code 0 : vkCreateSwapchainKHR: internal drawable creation failed

Log : https://gist.github.com/SakataGintokiYT/dbae18f8fcaaa1127

[2016-06-11 19:10] kd-11 commented on #1770
Thanks. Thats more useful.

[2016-06-11 19:18] SakataGintokiYT commented on #1723
@raven02 Nope :P

[2016-06-11 19:31] #1606 closed

[2016-06-11 19:33] AniLeo commented on #1606
Is the submodule still on the 1.0.3.1? VK 1.0.11.0 is out already

[2016-06-11 19:33] #1489 closed

[2016-06-11 19:40] raven02 commented on #1364
This LLVM is no longer valid in latest build

[2016-06-11 19:40] #1364 closed

[2016-06-11 19:41] AniLeo commented on #1739
[code]
Also seen here http://www.emunewz.net/forum/showthread.php?tid=173703&pid=231613#pid231613

[2016-06-11 20:39] rcaridade145 commented on #1752
The m_handle on Linux , better wxGTK returns GTKWidget as per - http://docs.wxwidgets.org/trunk/classwx_window.html#a185e6cd7065367b552748cb722651b27 .
This means that depending on the backend of WxWidgets we have to use the correct API to retrieve the X11 Window.
For instance on GTK3:

[code]

This means depending on GTK and on its paths as a dependency. Is this ok? Still need to overcome this, h

[2016-06-12 03:32] raven02 commented on #1771
@kd-11 , here you are .It is from Auditorium HD

[fragment_shader_log.zip](https://github.com/RPCS3/rpcs3/files/310633/fragment_shader_log.zip)

[2016-06-12 07:08] raven02 commented on #181
This has been discussed this is not going to implement .Closed

[2016-06-12 07:08] #181 closed

[2016-06-12 07:14] raven02 commented on #1038
Tested on Intel HD and it should be no problem.Closed

[2016-06-12 07:14] #1038 closed

[2016-06-12 07:18] raven02 commented on #1351
Retested again and should be no more this error .DX12 works perfectly

[2016-06-12 07:18] #1351 closed

[2016-06-12 07:25] raven02 commented on #1294
I think we can close it at this moment and we mostly use the cellSpurs_jq LLE modules

[2016-06-12 07:25] #1294 closed

[2016-06-12 07:29] raven02 commented on #1258
@danilaml , still an issue from latest build?

[2016-06-12 07:43] raven02 commented on #1312
Probably we can have something similar to PPSSPP that customize language file , so everyone can have their own naming . i'm closing this for now as it has been over half year no update here.

[2016-06-12 07:43] #1312 closed

[2016-06-12 07:45] raven02 commented on #1280
I just tested this and it looks fine .I will close it for now and can reopen if we see this again in future.

[2016-06-12 08:05] mob41 commented on #1752
I am still wondering that wxWidget's wxWindow will return a proper Handle (```HWND``` in Windows). So I am still setting up my Linux machine. Phew! I have to reinstall it for wrong architecture.

The function ```GetHandle()``` seems not returning a valid one. Any ideas?

[2016-06-12 09:36] mob41 commented on #1752
@rcaridade145 And why ```GtkWidget```? Unless you want to do a rewrite of the GUI for Linux, you think you don't need to use another library to do this. wxWidget has its own ```handle``` (HWND) to get from. But I still need to compile it on Linux, Windows to see is it compatible for all platforms.

[2016-06-12 10:04] #1734 closed

[2016-06-12 12:28] raven02 commented on #1615
@SakataGintokiYT , does it look okay now in latest build?

[2016-06-12 12:45] raven02 commented on #1615
btw did same stop happen in OGL and DX12?

[2016-06-12 13:53] AniLeo commented on #1466
[code]

Still an issue in the latest build (tested with Steins;Gate 0)

[2016-06-12 13:58] danilaml commented on #1294
@raven02 why close? It's still an issue - there is still no working HLE for cellSpurs.

[2016-06-12 14:02] danilaml commented on #1258
@raven02 hard to tell since coverity is broken for us, but it seems that the code is still more or less the same.

[2016-06-12 14:25] rcaridade145 commented on #1752
@mob41 GTK is the backend of wxWidgets on Linux. I've pushed a work in progress to my branch, not production ready, still needs some work. Getting

 `/home/rui/Programacao/rpcs3/rpcs3/Emu/Cell/Modules/cellPngDec.cpp: In function ‘be_t<unsigned int> pngDecGetChunkInformation(PStream, bool)’:
/home/rui/Programacao/rpcs3/rpcs3/Emu/Cell/Modules/cellPngDec.cpp:212:98: error: invalid conversion from ‘pn

[2016-06-12 14:52] raven02 commented on #1258
I see. Thanks @danilaml

[2016-06-12 15:06] orbea commented on #1294
I also do not understand why this was closed. Games that were associated with this issues (Tales of Vesperia) still do not work. Should those issues be re-opened instead?

[2016-06-12 17:11] mob41 commented on #1752
However I have no freetime taking care about graphics. At least I still have to continue my development of "Joystick support" and "Mixed(kb+joy) support". But they have relationship will the window handle. Ar.. 1 more week to go through of my academic exam...

[2016-06-12 17:41] elfogames commented on #1725
Bomberman Ultra OpenGL Error

{PPU[0x4] Thread (main_thread) [0x00163060]} class fmt::exception thrown: sys_net::setsockopt(): Unknown socket option for Win32: 0x1000
(in file Emu\Cell\Modules\sys_net.cpp:519)

[2016-06-12 18:08] mob41 commented on #1725
@elfogames What I can see with the log you provided, is about the network connectivity, not OpenGL Error.

On the other hand, rpcs3 currently does not support PSN, or network functions.

[2016-06-12 20:24] kd-11 commented on #1769
Seems like broken vertex attributes to me. On AMD, the characters are not even visible.

[2016-06-12 21:49] JohnGodgames commented on #1660
@tambry sorry I've forgot about this issue.Yeah it looks a lot better

![jurassic the hunted rpcs3](https://cloud.githubusercontent.com/assets/11453507/15994011/21ef9c50-30f8-11e6-9957-908d95a74435.PNG)

[2016-06-12 21:49] #1660 closed

[2016-06-12 22:01] elfogames commented on #1541
anything changed on v0.0.0.9?

[2016-06-13 06:57] zminhquanz opened #1773 "DX12: Project Diva F title screen crash"
when i'm back to main menu , it's show the error
![image](https://cloud.githubusercontent.com/assets/11285640/15999285/c073a30a-316e-11e6-98d7-fbc67cb02f52.png)

[2016-06-13 07:04] raven02 commented on #1773
Can it always reproduce eveytime when you reach that menu ? or just occasional

[2016-06-13 07:16] raven02 commented on #1482
I'm closing this one . The above HRESULT error should be fixed from https://github.com/RPCS3/rpcs3/issues/1565

[2016-06-13 07:16] #1482 closed

[2016-06-13 07:20] raven02 commented on #1465
@AndrewMisko , please retest with latest build using DX12 again.

[2016-06-13 07:24] raven02 commented on #1444
@SakataGintokiYT , did u still encounter "Working buffer not big enough" in this game using latest build?

[2016-06-13 08:47] raven02 commented on #1725
This error is triggered with this PR https://github.com/RPCS3/rpcs3/pull/1670 merged . It also affect other games like DBZ Burst Limit.

[2016-06-13 08:49] raven02 commented on #1678
I'm closing this as it should be fixed

[2016-06-13 08:49] #1678 closed

[2016-06-13 08:53] raven02 commented on #1426
@JohnGodgames , did the texture issue fix in latest build ?

[2016-06-13 09:27] #1113 closed

[2016-06-13 09:47] raven02 commented on #341
Tested with latest build using OpenGL .It runs correct now.

[2016-06-13 09:47] #341 closed

[2016-06-13 10:38] zminhquanz commented on #1773
Vulkan API is black screen , not display graphic , but i hear the sound

[2016-06-13 10:39] zminhquanz commented on #1773
i'm using PPU Interpreter 2 , SPU Recompiler ASMJIT , using HLE ( not LLE modules )

[2016-06-13 10:53] Nezarn commented on #1773
@zminhquanz in vulkan change resolution to 1920x1080, it will be not perfect but you will see most of the stuff. Also post your system info (cpu, ram, gpu).

@raven02 i tried reproducing this issue, but i can't get this error.

[2016-06-13 10:54] zminhquanz commented on #1773
yeah , i'm using OpenGL , it's lower FPS but there is not error dialog in above

[2016-06-13 10:58] zminhquanz commented on #1773
i'm forget to talk to you , i'm using monitor 18.5 inch , it's show resolution 1366x768 , so i'm not going to using Vulkan API in this case

[2016-06-13 14:03] AndrewMisko commented on #1465
@raven02 No go even on OpenGL now. Same settings. It does launch if libresc.prx is enabled though. Here is the log.

[chaoschild.zip](https://github.com/RPCS3/rpcs3/files/311954/chaoschild.zip)

[2016-06-13 14:12] raven02 commented on #1773
I also tested with DX12 and it looks okay to me .There is no crash.

[2016-06-13 14:28] raven02 commented on #1465
Do you mean both DX12 and OGL are black screen now with FPS running ?

[2016-06-13 14:30] AndrewMisko commented on #1465
Not even black screen, just gray screen and the log stops at:
`·U {PPU[0x5] Thread (main_thread) [0x0017dd54]} cellResc TODO: cellRescGcmSurface2RescSrc(gcmSurface=*0x22a53c0, rescSrc=*0xd000fb00)
·U {PPU[0x5] Thread (main_thread) [0x0017de74]} cellResc TODO: cellRescSetSrc(idx=0x0, src=*0xd000fb00)
·U {PPU[0x5] Thread (main_thread) [0x0017ddf4]} cellResc TODO: cellRescSetConvertAndFlip(cntxt=*0x2

[2016-06-13 14:35] zminhquanz commented on #1773
@raven02 but in my picture , i'm using DX 12 , not Vulkan

[2016-06-13 14:36] raven02 opened #1774 "DX12: Cube mrt GCM sample cube rendering in 1st region"
[cube_mrt.ppu.zip](https://github.com/RPCS3/rpcs3/files/312022/cube_mrt.ppu.zip) (Note this is from Shock waves 2.0)

![1](https://cloud.githubusercontent.com/assets/3000282/16011278/432d3e30-31b7-11e6-8ca8-72cef1226ea0.jpg)

[2016-06-13 14:41] raven02 commented on #1774
OpenGL rendering correct and Vulkan probably not yet implement the MRT1/2/3.

![2](https://cloud.githubusercontent.com/assets/3000282/16011397/ef70c7ac-31b7-11e6-97e6-c4fe9522bda2.jpg)
![3](https://cloud.githubusercontent.com/assets/3000282/16011405/fe2c6828-31b7-11e6-9b07-0393cedb145e.jpg)

[2016-06-13 14:42] Nezarn commented on #1465
@AndrewMisko HLE Resc was removed in #1521 , if a game needs it then you need to LLE it.

[2016-06-13 14:47] raven02 opened #1775 "OpenGL/Vulkan : depth read gcm sample issue"
DX12 renders correct while OGL is broken and Vulkan only bit wrong scaling .

[depth_read.ppu.zip](https://github.com/RPCS3/rpcs3/files/312045/depth_read.ppu.zip)

![1](https://cloud.githubusercontent.com/assets/3000282/16011582/b891292e-31b8-11e6-962b-0244dd895a0c.jpg)
![2](https://cloud.githubusercontent.com/assets/3000282/16011584/b8bffdbc-31b8-11e6-8d2d-58b516b637fa.jpg)
![3](https://cloud.git

[2016-06-13 14:47] AndrewMisko commented on #1465
Ah, well that's the problem then. With libresc there's no change. It's still black screen with fps meter.

[2016-06-13 14:48] raven02 commented on #1773
You said Vulkan black screen .It is becasue of the scaling issue thus you cannot see the texture.

[2016-06-13 14:54] raven02 opened #1776 "DX12: render to texture wrong color"
OGL and Vulkan both correct , DX12 got wrong color

[fw_render_to_texture.ppu.zip](https://github.com/RPCS3/rpcs3/files/312064/fw_render_to_texture.ppu.zip)

![1](https://cloud.githubusercontent.com/assets/3000282/16011870/aedb2bcc-31b9-11e6-8c15-73b6a6b279ea.jpg)
![2](https://cloud.githubusercontent.com/assets/3000282/16011871/aedcbb22-31b9-11e6-83aa-b7e57797004f.jpg)
![3](https://cloud.githubuse

[2016-06-13 14:58] zminhquanz commented on #1773
i see

[2016-06-13 15:51] SakataGintokiYT commented on #1444
*Save data is required

{PPU[0x4e] Thread (np_gui_udpp2p) [0x006ce6a4]} class fmt::exception thrown: sys_net::setsockopt(): Unknown socket option for Win32: 0x1000
(in file C:\rpcs3\rpcs3\Emu\Cell\Modules\sys_net.cpp:519)

{PPU[0x3] Thread (main_thread) [0x006cf344]} cellUsbd TODO: cellUsbdRegisterExtraLdd2

<img src="http://www.fotoszok.pl/upload/531cc54d.jpg" alt="Fotoszok.pl" />
<img src="http:

[2016-06-13 16:14] SakataGintokiYT commented on #1681
@kd-11
Do you have Fix for DX12  ?

[2016-06-13 16:21] kd-11 commented on #1776
Your title is a little misleading. I think you meant that dx12 is the one with the wrong color not ogl (unless i misunderstood the screenshots)

[2016-06-13 16:22] raven02 commented on #1776
yes sorry typo

[2016-06-13 16:24] kd-11 commented on #1681
Not yet. Haven't had a look at it just yet.

[2016-06-13 16:24] SakataGintokiYT commented on #1615
@raven02

Build {8c327d4c}

{rsx::thread} class fmt::exception thrown: VKVertexProgram::Compile(): Failed to compile vertex shader
(in file C:\rpcs3\rpcs3\Emu\RSX\VK\VKVertexProgram.cpp:281)

*Dragon Ball: Xenoverse
{rsx::thread} RSX: Warning, version 450 is not yet complete; most version-specific features are present, but some are missing.
ERROR: 0:82: '' :  syntax error
ERROR: 1 compilation erro

[2016-06-13 16:43] kd-11 commented on #1773
@zminhquanz Delete your save data. Loading saves causes games to crash. Savedata can be found at /dev_hdd0/home/savedata/GAME_ID

[2016-06-13 16:46] supergatto commented on #1678
Hi, this isn't fixed.
Read my log:
[RPCS3.zip](https://github.com/RPCS3/rpcs3/files/312290/RPCS3.zip)
I am using latest build: rpcs3-ReleaseLLVM-caf58941.zip

[2016-06-13 16:50] Nezarn commented on #1773
@kd-11 in this game saving doesn't even work.(it can't be loaded.) But idk if that would help in his case. I guess his pc simply isn't good enough (getting 4 fps with dx12? wtf?) also he still didn't posted his cpu,gpu, etc.)

[2016-06-13 16:51] mob41 commented on #1773
@raven02 Try to leave the game to run 10-30 minutes or to several hours. The game will crash occasionally. :)

[2016-06-13 18:36] AniLeo commented on #1773
Post your RPCS3.log file, it should be better that way

[2016-06-13 21:03] kd-11 commented on #1773
@Nezarn @zminhquanz  It is recommended to refuse saving any progress using the emu as of now as it will possibly crash the game during startup. However 4 fps using any backend is just insane. I get 30fps menus in this game using opengl and i'm using an i3 haswell.

[2016-06-13 21:11] Nezarn commented on #1773
@kd-11 on my PC if i don't save, theres a higher chance getting #1466.

[2016-06-14 01:00] zminhquanz commented on #1773
@Nezarn you are wrong , when i'm screenshot it's droping FPS , but actually FPS running is 15-20 FPS in menu

[2016-06-14 01:06] zminhquanz commented on #1773
@Nezarn my CPU
![image](https://cloud.githubusercontent.com/assets/11285640/16028181/eb67c17a-3206-11e6-95c5-c083091350cb.png)

[2016-06-14 01:23] zminhquanz commented on #1773
@kd-11 i deleted my save , but it's still crash , i have played game before , back to main menu it's crash ( New game not load game )

[2016-06-14 01:29] zminhquanz commented on #1773
Sometimes , i have this error , going to hang
{PPU[0x102] Thread (200baad0) [0x009c964c]} class fmt::exception thrown: Win32 error: 998.
(in file C:\rpcs3\Utilities\File.cpp:744)
![image](https://cloud.githubusercontent.com/assets/11285640/16028491/0f34e404-320a-11e6-9f76-d0f1bd051733.png)

[2016-06-14 02:40] mob41 commented on #1773
@zminhquanz Please provide the system information (msinfo32.exe > File > Export) and the RPCS3 log file (in the RPCS3 working directory.

[2016-06-14 02:43] mob41 commented on #1773
@zminhquanz You said that that error comes out whenever you got to the menu. But it seems not with the last screenshot you got.

[2016-06-14 02:47] zminhquanz commented on #1773
@mob41 sometimes it's happen error in last screenshot , but main problem , it's in above begin topic

[2016-06-14 02:47] zminhquanz commented on #1773
when i get back to main menu it's show error dialog

[2016-06-14 02:48] mob41 commented on #1773
Sorry is last last screenshot to the menu

[2016-06-14 03:10] zminhquanz commented on #1773
https://gist.github.com/zminhquanz/1a333a0fede291a06365d3aae2121652
My log

[2016-06-14 08:47] raven02 commented on #1775
OGL one looks like it is scissor issue . Disable scissor in flip() fixed it but not too sure if it is the correct one .

[2016-06-14 09:33] raven02 commented on #1678
Please open another one and specific which game is still hitting this error.

[2016-06-14 10:30] kd-11 commented on #1775
Those buffer width and height values in flip are often wrong and are the cause of various scaling issues in games. I'm considering just ignoring them in flip and using render-target dimensions but that might break more games. It is good that you have found a simple reproducible test that shows the problem.

As for the scissor test, i think you should check what value it is trying to set and compar

[2016-06-14 13:00] woody2014 opened #1778 "DX12: texture format W16_Z16_Y16_X16_FLOAT fix #1777"
DX12: texture format W16_Z16_Y16_X16_FLOAT fix #1777 breaks NPEB-01387 How To survive

[2016-06-14 13:26] raven02 commented on #1778
What is NPEB-01387 ?

[2016-06-14 13:27] raven02 commented on #1778
What do you mean by break? color issue or bootup

[2016-06-14 14:17] woody2014 commented on #1778
![screenshot 14](https://cloud.githubusercontent.com/assets/6561856/16046064/030cf05c-3243-11e6-912d-fb3eb515f92d.png)

game stuck on this screen

[2016-06-14 14:21] raven02 commented on #1778
Do you mean master build okay to pass this ?

[2016-06-14 14:26] woody2014 commented on #1778
Downloaded Appveyor build 1.0.2504 DX12: texture format W16_Z16_Y16_X16_FLOAT fix #1777  not booting just frozen on the above point in the picture

[2016-06-14 14:32] raven02 commented on #1778
I just got this trial version to test with the master build .It is the same case that frozen in that scene.

[2016-06-14 14:34] woody2014 commented on #1778
Also Bayonetta

[2016-06-14 14:36] woody2014 commented on #1778
issue still persists on latest appveyor build.

[2016-06-14 14:37] raven02 commented on #1778
latest appveyor build means
rpcs3-ReleaseLLVM-9d8b0bd7.zip

[2016-06-14 14:40] #1778 closed

[2016-06-14 14:44] raven02 commented on #1773
cellfsread error is a known one which already mentioned here https://github.com/RPCS3/rpcs3/issues/1466

[2016-06-14 14:46] #1773 closed

[2016-06-14 14:47] woody2014 commented on #1778
Also on master build

[2016-06-14 14:52] woody2014 commented on #1778
Found problem shader folder was not transferred over thanks for you help

[2016-06-14 15:26] zminhquanz opened #1780 "DX12: Project Diva F hang when pause game"
![image](https://cloud.githubusercontent.com/assets/11285640/16048608/f15e30c8-327e-11e6-8786-60c6b6b36aa7.png)
![image](https://cloud.githubusercontent.com/assets/11285640/16048657/193daf42-327f-11e6-8893-f4608741a34a.png)

You can see this screenshot

[2016-06-14 15:46] raven02 commented on #1780
same question , this hang can always reproduce ?

[2016-06-14 16:13] zminhquanz commented on #1780
@raven02 yes , that's it

[2016-06-14 16:20] raven02 commented on #1780
How about OGL ?

[2016-06-14 17:46] supergatto opened #1781 "SPU: unknown command GETLLAR"
Hi all
There is still this issue on Heavy Rain [BCUS98164] and Grand Theft Auto V [BLES01807]
Logs:
[gta5.zip](https://github.com/RPCS3/rpcs3/files/314590/gta5.zip)
[heavyrain.zip](https://github.com/RPCS3/rpcs3/files/314592/heavyrain.zip)
Thanks.
@raven02

[2016-06-14 18:18] mob41 commented on #1780
@zminhquanz I think that you are not running on full speed. This depends on your CPU and graphics card. It also happens on me. Pausing then resume will cause hang for a moment.

[2016-06-14 18:22] mob41 commented on #1780
And can you post system information? Including graphics card. If you are lazy, you can simply dump the info from msinfo32.exe

[2016-06-14 18:27] Nezarn commented on #1752
@rcaridade145 have you tried taking a look at #1687 ? it includes fixes for building in linux.

[2016-06-14 19:04] EIREXE opened #1782 "Arch: cmake not detecting LLVM 3.6"
I'm trying to compile the program on Arch however it does not detect LLVM, I manually installed 3.6 from the arch archives.

[code]

[2016-06-14 23:53] zminhquanz commented on #1780
@mob41 i say i'm using Core 2 Quad Q6600 in another topic , can you follow that ?

[2016-06-15 02:01] raven02 commented on #1781
Did you get this error if using SPU interpreter (fast) or (ASMJIT) ?

[2016-06-15 02:22] raven02 commented on #1775
Yes, probably why vlj is not using it during flip . I'm checking out the rsx_cache to see how it is handling .

[2016-06-15 02:49] mob41 commented on #1780
I mean 顯示卡graphics card information. If you couldn't provide those information, it would be difficult to help you.

If your graphics card is not "modern" enough, it would be a bit slow to render and FPS will drops too.

[2016-06-15 02:55] zminhquanz commented on #1780
@mob41 ok , i will post it

[2016-06-15 03:00] zminhquanz commented on #1780
@mob41
https://gist.github.com/zminhquanz/1cd0f9d98220bebcd9ec24af765d74fb
my system infomation

[2016-06-15 07:09] kd-11 commented on #1631
Extra buffer copying in opengl has been removed as of https://github.com/RPCS3/rpcs3/pull/1772

[2016-06-15 07:13] tilarids commented on #1782
It seems that the LLVM configuration was commented out in CMakeLists.txt in this commit: https://github.com/RPCS3/rpcs3/commit/da7472fe81fadbd4a0188fc238f01204fa884da5

You can fix it manually before building the code (this doesn't guarantee it will compile :) ):

[code]

[2016-06-15 07:59] raven02 commented on #1631
@kd-11 , i think the extra buffer copy still remains for Vulcan ?

[2016-06-15 09:17] kd-11 commented on #1728
This is an issue with Xaudio2 and is seemingly intentional (it ignores the ingame framerate). With OpenAL you should get proper sync but extreme stuttering if your fps is below fullspeed. If you have a 1GB card, please do not use DX12. That backend has resource allocation issues causing it to use > 1GB even for simple 2D stuff and will cripple your performance greatly.

As such, this issue can be

[2016-06-15 09:21] #1728 closed

[2016-06-15 09:23] rcaridade145 commented on #1752
@Nezarn It seems that it might help indeed due to changes on libpng.

[2016-06-15 09:57] raven02 commented on #1774
If anyone owns AMD card , feel free to test it to see if it come out same result .

[2016-06-15 10:11] Ekaseo opened #1784 "{rsx::thread} class std::logic_error thrown: fs::file is null"
almost all games show this error:
{rsx::thread} class std::logic_error thrown: fs::file is null

here is a log file from the guided fate paradox with both vulkan and dx12 (every game shows me this error in every backend)

https://www.sendspace.com/file/df58l4

[2016-06-15 10:16] supergatto commented on #1781
Same error.
Here logs:
[heavyrainASMJIT.zip](https://github.com/RPCS3/rpcs3/files/315884/heavyrainASMJIT.zip)
[heavyrainfast.zip](https://github.com/RPCS3/rpcs3/files/315885/heavyrainfast.zip)
[gta5fast.zip](https://github.com/RPCS3/rpcs3/files/315886/gta5fast.zip)
[gta5ASMJIT.zip](https://github.com/RPCS3/rpcs3/files/315887/gta5ASMJIT.zip)

[2016-06-15 10:26] kd-11 commented on #1631
I'm going to rewrite the vulkan upload code after I track down the nv resizing bug. It still does a double copy which is slow.

[2016-06-15 10:35] kd-11 commented on #1770
@SakataGintokiYT @raven02 Can you test https://ci.appveyor.com/project/kd-11/rpcs3/build/1.0.154 when it's done building? I'm hoping it stops the emulator rather than crashing. I'm assuming when resizing fails the emulator hard crashes (rpcs3 has stopped working). If it only freezes please let me know.

[2016-06-15 11:26] raven02 commented on #1631
thanks @kd-11

[2016-06-15 12:06] GhettoGirl commented on #1782
I'm also on Arch, and I have LLVM 3.8 installed as system default and 3.6.2 (which is the max supported version by RPCS3) in ```/opt/llvm```. Simple uncommenting the
[code]
isn't enough in this case. It is also required to add the following line before the ```find_package``` line like so:
[code]

For some reason the ```LLVM_DIR``` variable is ignored.

A other way would be to tell cmake to also lo

[2016-06-15 12:26] Nezarn commented on #1770
@kd-11 just tried that build that you linked, it still crashes (rpcs3 has stopped working), i have a gtx 970.

[2016-06-15 12:28] kd-11 commented on #1770
@Nezarn log?

[2016-06-15 12:33] Nezarn commented on #1770
@kd-11 now at second run it didn't crash https://gist.github.com/Nezarn/037125eb9c82fdecf700037b95b6d456

`·F {rsx::thread} class fmt::exception thrown: vk::swap_chain::init_swapchain(): Assertion failed! Result is C4650B07h
(in file c:\rpcs3\rpcs3\emu\rsx\vk\VKHelpers.h:838)`

[2016-06-15 13:12] kd-11 commented on #1770
@Nezarn Test this https://ci.appveyor.com/project/kd-11/rpcs3/build/1.0.155 after it finishes building. It will cause a ~2-second freeze when resizing. Try maximizing rpcs3 (not fullscreen) so that I can get a look at what is happening to the window surface.

[2016-06-15 13:48] SakataGintokiYT commented on #1784
@Ekaseo
<img src="http://www.fotoszok.pl/upload/f910c38f.jpg" alt="Fotoszok.pl" />

[2016-06-15 14:05] SakataGintokiYT commented on #1770
@kd-11
Yes it works

Log : https://gist.github.com/SakataGintokiYT/396581d971fd105c8f07a32627af1cf7

[2016-06-15 14:12] kd-11 commented on #1770
Seems concurrent access was still happening even after waiting for device idle. Whats odd is that the nvidia driver should in theory be the easiest to resize since it creates a swapchain with 16k x 16k dimensions and handling resizes should be as easy as changing image dimensions.

Anyway, thanks for testing guys. I'll try to force hard sync points at different points and see how we can quickly re

[2016-06-15 14:21] Ekaseo commented on #1784
oh, thnx, it works now

[2016-06-15 14:21] #1784 closed

[2016-06-15 14:56] raven02 commented on #1728
@kd-11 .I wonder can we have smaller heap size here instead of 896M+128M

	m_readback_resources.init(m_device.Get(), 1024 * 1024 * 128, D3D12_HEAP_TYPE_READBACK, D3D12_RESOURCE_STATE_COPY_DEST);
246		m_buffer_data.init(m_device.Get(), 1024 * 1024 * 896, D3D12_HEAP_TYPE_UPLOAD, D3D12_RESOURCE_STATE_GENERIC_READ);

[2016-06-15 15:01] kd-11 commented on #1728
@raven02 Yes, however, it'll require that we are smart about it though. Remember that vulkan had an issue with running out of descriptors and I had to track resource usage and flush the commandbuffers if we went over budget. A smaller readback resource is just fine. In my opinion 896M is too much. Most games aren't even pushing 100M. We can set a smaller readback heap e.g 512M and it should be ok.

[2016-06-15 15:03] raven02 commented on #1728
Yes , i try to resize as 256M and tested few 2D and 3D games , it looks fine .

[2016-06-15 15:05] kd-11 commented on #1728
I think querying available VRAM and setting to a fraction of it will be ok.

[2016-06-15 15:12] raven02 commented on #1728
It would be better approach .For example my GT 650M only have 512M VRAM

[2016-06-15 15:16] kd-11 commented on #1728
Ok. Add it to the list of graphics tasks. I'll investigate and see if we can have a better way of dealing with this, like maybe lazy allocation for the large buffers heap, or like vulkan where the heap is in smaller chunks allocated on demand. For now, I think it can be reduced to something like 256M

[2016-06-15 15:19] raven02 commented on #1728
Ok. i will add it to the task list and pull out a reduced memory footprint PR .

[2016-06-15 15:23] JohnGodgames opened #1785 "DX12/OGL/Vulkan: Ethan: Meteor Hunter missing textures"
Afaik this game goes ingame with same blacky enviroment.It's the same at all of backends.Mostly only text or HUD is visible.

**PS3:**

![ethan 3](https://cloud.githubusercontent.com/assets/11453507/16085513/99480546-331c-11e6-9ca2-2c52e007d46e.PNG)

**RPCS3 OGL:**

![ethan 1](https://cloud.githubusercontent.com/assets/11453507/16085491/8b937f48-331c-11e6-8204-3aaacf27788b.PNG)

![ethan 2](https:/

[2016-06-15 15:24] raven02 commented on #1631
Just added the DX12 heap size into TODO list above

[2016-06-15 15:30] raven02 commented on #1785
How about Vulkan?

[2016-06-15 15:34] SakataGintokiYT commented on #1785
@raven02
same

[2016-06-15 15:37] raven02 commented on #1785
thanks

[2016-06-15 15:41] kd-11 commented on #1770
Try https://ci.appveyor.com/project/kd-11/rpcs3/build/1.0.156. Hopefully it will block in a better manner than before before trying to resize.

[2016-06-15 16:11] raven02 commented on #1728
Meanwhile , i'm wondering do we still need to keep the d3d adapter list as i think we are not going to use the Microsoft basic rendering driver.

[2016-06-15 16:12] SakataGintokiYT commented on #1770
@kd-11
Works good

Log : https://gist.github.com/SakataGintokiYT/4550ec17185faf355e9b8156f647198d

[2016-06-15 16:16] kd-11 commented on #1770
Okay. I'll submit as a new pull request after I clean the code up a bit.

[2016-06-15 16:54] raven02 commented on #1770
Just tested , it looks a lot better and full screen works prefectly.

[2016-06-15 17:42] raven02 commented on #1728
Alright .

[2016-06-15 17:50] raven02 commented on #1785
I just tested it . It looks all the same broken in all backends.

[2016-06-15 21:17] Nekotekina commented on #1782
LLVM 3.8 will be used soon, I hope so.

[2016-06-15 21:21] Nekotekina commented on #1704
I think some other issues got mixed there.

[2016-06-15 21:22] Nekotekina commented on #1739
Not really a bug, some parts of path may remain unmodified on Windows. It shouldn't cause any problem.

[2016-06-15 21:22] #1739 closed

[2016-06-15 22:01] Wassaaaa commented on #1780
I had the same problem using DX12, solved with Vulkan

[2016-06-16 06:01] raven02 commented on #1785
This is the 'Press start' screen from PS3

![1](https://cloud.githubusercontent.com/assets/3000282/16106853/d05e8af6-33ca-11e6-961b-4542297e2a1a.jpg)

[2016-06-17 03:04] ProfessorKaos64 commented on #1610
I backported llvm-toolkit / clang etc. from Debian Stretch, which is clang 3.6.x

Still get the error: http://slexy.org/view/s2KG7yxsZG

hmmm.

[2016-06-17 06:32] #1776 closed

[2016-06-17 14:07] raven02 commented on #1624
Fix by https://github.com/RPCS3/rpcs3/pull/1787

[2016-06-17 14:21] ProfessorKaos64 commented on #1610
My bad, I did not have clang/clang++ defined in debian/rules. Trying now.

[2016-06-17 17:19] kd-11 commented on #1753
I have a fix for OpenGL and some of vulkan's issues. Unfortunately it requires that I refactor some of the shared RSX code to make it work. Will push with my next pull request.

[2016-06-18 00:55] GhettoGirl opened #1791 "rsx_program_decompiler doesn't build after PR #1790"
After the PR #1790 the **rsx_program_decompiler** submodule doesn't build with lots of errors
[code]

GCC 5.4.0
ArchLinux, with Kernel 4.6.2

The PR is already merged into the master branch :/

After checking out in reverse all commits, I found this one is the latest commit able to compile
RPCS3/rsx_program_decompiler@139d8092b9daaa823f6398d4a273fdc0a1d20c09
Everything after throws this errors, ex

[2016-06-18 01:06] EIREXE commented on #1782
Alright, i'll try what you posted, thanks!.

[2016-06-18 08:15] 11DH11 commented on #1791
Yes, it compile with MSVC. That module is unused in emulator atm, so this is not a error for RPCS3. You can open issue in the rsx_program_decompiler repository instead.

[2016-06-18 08:15] #1791 closed

[2016-06-18 12:53] magiruuvelvet opened #1794 "Linux/OGL: nvidia optimus (bumblebee) not working with ppsspp-ffmpeg, but with system ffmpeg"
I'm curious if the OpenGL backend even supports NVIDIA optimus using the Bumblebee Project. It seems that the OGL backend never initializes; it's just an empty (buggy?) window. None of the games which are playable/half-playable/intro I tried are ever rendering something on screen. The games doesn't even start. When I set the graphic backend to _Null_ the games more or less works to the point they

[2016-06-18 12:55] paulsapps commented on #1791
Why not wait for travis before merging to check it at least builds

[2016-06-18 18:07] 7oxicshadow opened #1797 "Fedora: unable to find wxWidgets 3.0 when trying to build"
Currently trying to build this on Fedora 23 and have run into a bit of a stumbling block.

On Fedora it does not successfully find Wxwidgets 3.0 even though wxGTK3-devel is installed correctly. Digging deeper it seems that FindwxWidgets.cmake file is looking for wx-config but on Fedora wx-config is for wxwidgets2.8 and there is a second file called wx-config-3.0 for wxwidgets3.0.

If i install wxG