[2015-11-16 13:24] danilaml commented on #1297
bad commit (found via git bisect) is : e9d9bad6439fd208a908797ce9725d04749fab02

[2015-11-16 13:37] vlj commented on #1297
hmm weird

[2015-11-16 13:38] vlj commented on #1297
with Intel gpu ?

[2015-11-16 13:41] danilaml commented on #1297
@vlj with amd. With intel it just crashes on `ThrowIfFailed(m_swap_chain->Present(rpcs3::state.config.rsx.vsync.value() ? 1 : 0, 0));` (see comment above) with access violation on nullptr.

[2015-11-16 13:44] vlj commented on #1297
with current master ???? I can't reproduce.
Does it do the same with d3d12 (not wip) branch ?

[2015-11-16 13:55] danilaml commented on #1297
Yes, with current master.

[2015-11-16 14:21] danilaml commented on #1297
Commenting out `rsx->reset();` fixes the issue so it's indeed the problem.

[2015-11-16 15:09] danilaml commented on #1297
WIth d3d-wip it just crashes on `case 2: current_group->entries[fmt::trim(name_value[0])]->string_value(fmt::trim(name_value[1])); break;` in config_context.cpp . Most likely it just needs rebase on top of master (with O1L changes)

[2015-11-16 15:15] vlj commented on #1297
Yes but commenting the line is breaking SH3 HD...

[2015-11-16 16:05] danilaml commented on #1297
@vlj I've found something you might be interested in: if I comment out `method_registers[NV4097_SET_SCISSOR_VERTICAL] = (4096 << 16) | 0;`
(and save it value before memzero to temp and restore) it works as before.
But If i have this line it crashes on intel.
Also It doesn't fix artifacts on radeon.

Btw, why it's ORed with 0 ?

[2015-11-16 16:26] tambry commented on #1297
@danilaml Make sure your Intel drivers are up-to-date. They are notorious for being bad.

[2015-11-16 16:55] danilaml commented on #1297
@vlj the problem is both on amd and intel (though on intel it just crashes) and wasn't occurring before this commit.

[2015-11-16 17:20] danilaml commented on #1229
@Mingun Please test if #1309 fixed it.

[2015-11-16 21:56] vlj commented on #1297
Which resolution do you use ?

Resetting is used once per frame, the overhead isn't that big. What matters more is to know what exactly is resetted to which value.

[2015-11-16 22:16] danilaml commented on #1297
@vlj 720x480
(btw, If I try to enable debug output rpcs3 trigger a breakpoint, not sure it's expected behaviour)

[2015-11-16 22:28] vlj commented on #1297
with win 10586 you need to manually install "graphics tool" in Windows 10 features. It was included by default with 10240 but for some reasons it's missing when updating to the fall build.

[2015-11-16 23:17] danilaml commented on #1297
@vlj what do you mean? What graphic tool? Also, mu windows still hasn't updated to 586.

[2015-11-17 16:41] Mingun commented on #1229
Wow! Big thanks, but I can only check this closer to the weekend.

[2015-11-17 23:51] danilaml commented on #1297
@vlj any new ideas?

[2015-11-19 00:16] vlj commented on #1297
I'm trying to reproduce the issues but the sample works fine on my two machine, the one with radeon (and 15.11.1 drivers) and with Intel (HD 4600 with 15.40.10.64.4300 drivers).

Does it work with Microsoft Basic Render ? It should be the reference renderer.

[2015-11-19 00:46] danilaml commented on #1297
@vlj my intel drivers are `10.18.15.4279` (updated from the last time but through windows update so they are not the latest) and amd - `15.201.1151-150821a-188665E` (I believe it was the latest WHQL 15.8). Software render is fine. AMD:
![image](https://cloud.githubusercontent.com/assets/2046350/11259112/f7733cc8-8e6f-11e5-805a-80e7f7d3f535.png)

and with intel it just crashes on the line I posted

[2015-11-19 13:35] tambry commented on #1297
@danilaml You can get new drivers [here](https://downloadcenter.intel.com/download/25484/Intel-Graphics-Driver-for-Windows-7-8-1-10-15-40-). Currently your Intel drivers are very old. Before reporting any problems with an Intel integrated graphics card, update your drivers, as their drivers are know for being quite bad compared to other vendors.

[2015-11-19 18:54] Zangetsu38 commented on #1280
After tests with the controller, I saw that for example the Start button makes only quick press, so it makes break, ingame, pause, etc.

While the keyboard that does not do it.
So I think the plugin Xinput and Keyboard, one every 2 a problem, but it is different.
But in both cases, the bottom button when postures, like one just a quick tap.
But I really do not see where it can come in the Plugin.

[2015-11-19 19:01] tambry commented on #1280
@Zangetsu38 I'm really sorry, but I can't understand what you are explaining or trying to say.

[2015-11-19 19:08] Zangetsu38 commented on #1280
@tambry Yet, I have explained very well.

[2015-11-19 19:12] tambry commented on #1280
@Zangetsu38 Well, you haven't, since it's mostly gibberish. It's very broken English. I don't get the meaning of what you wrote. Could you try writing it in another way, so maybe it would be understandable?

[2015-11-19 19:16] Zangetsu38 commented on #1280
@tambry Hmm, I do what I can, it is Google that translates.
In general I can see if it means anything, but for me it is understandable though.

[2015-11-19 21:54] danilaml commented on #1297
Yep, faulty drivers. The problem is fixed (very strange one xD). Though perf on intel is still a little worse than before, but just a little. (And better than on amd since, If I understood correctly, there is no ram<->vram interop since there is no ram =) )

[2015-11-19 21:54] #1297 closed

[2015-11-19 21:55] danilaml commented on #1300
@vlj is `ELL_GCM_TEXTURE_CONVOLUTION_MIN` filter hard to implement?

[2015-11-19 23:21] vlj commented on #1300
I don't know what the filter do. Convolution is a very generic mathematical filter so some data should be provided.

[2015-11-19 23:41] danilaml commented on #1300
@vlj well I found this: `By default this framework doesn’t
perform any antialiasing, so this field is left at a valid default value - quincunx filtering, which takes
5 texture samples in the shape of an x (perhaps better visualised as the five dots on the 5th side
of a die). To enable this advanced texture filtering, the texture filtering type should be set to the
CELL GCM TEXTURE CONVOLUTION MIN

[2015-11-21 15:42] Mingun commented on #1229
After #1309 much of the success has, except for the file `PPULLVMRecompiler.cpp`. The problem is that rpcs3 uses LLVM 3.6, but pacman installs LLVM 3.7.0 for me. In 3.7.0 include file `llvm/PassManager.h` is deleted, also made other changes, breaking build.

I'm trying to compile version 3.6.0 of LLVM, but nothing comes out.

If change `#include "llvm/PassManager.h"` to `#include "llvm/IR/LegacyPa

[2015-11-21 15:50] tambry commented on #1229
@Mingun You'll need to then either compile without LLVM or manually install LLVM 3.6.

[2015-11-21 15:50] Altaiar opened #1311 "Question?"
when i read intel graphics driver release notes saw this
In the Intel® Iris™ and HD Graphics Control Panel (under Options > Options menu > Information Center), the ’Installed DirectX* version’ refers to the operating system’s DirectX version.   The Information Center’s ‘Supported DirectX* Version’ refers to the Intel Graphics Driver’s supported DirectX version.   The DirectX 12 API is supported bu

[2015-11-21 16:01] danilaml commented on #1229
@Mingun you can try llvm35 too (I don't think there is llvm3.6 package for pacman in the main repo). CMake currently doesn't check for llvm versions and such.

[2015-11-21 16:41] tambry commented on #1311
@Altaiar It should run fine, as long as you have the latest drivers (from [here](https://downloadcenter.intel.com/)) and as long as your Intel HD graphics chip supports feature level 11_1 (might need @vlj to confirm the feature level required).

[2015-11-21 16:57] Altaiar commented on #1311
i have latest driver and when i run scogger HD With DX12 Crash in Metal slug3 in DX12 run correctly even before i have latest driver!

[2015-11-21 17:00] tambry commented on #1311
@Altaiar I'm sorry I can't understand you.

[2015-11-21 17:05] Zangetsu38 commented on #1311
@Altaiar Normally, Scogger HD not works in DX12

[2015-11-21 17:09] tambry commented on #1311
@vlj @Zangetsu38 Might be then worth checking to see, what's wrong with Scogger HD.

[2015-11-21 17:11] Zangetsu38 commented on #1311
@tambry vlj already see that

[2015-11-22 07:19] vgturtle127 opened #1312 "Some random small fixes"
I have found some random stuff that can be fixed quickly.

* [ ] First, the PAD settings should be changed to "Input settings". In the Pad settings dialog box, Left and Right "Shifts" should be called the L buttons and R buttons. "Left/Right Analog Stick" should be "Left/Right analog stick". "D-Pad" should be changed to "Directional pad". L3 and R3 should be moved to the "Analog stick" sections, s

[2015-11-22 07:55] tambry commented on #1312
@vgturtle127 Wow. That's a lot of stuff!
Would you mind instead of the big wall, splitting it also into [task lists](https://help.github.com/articles/writing-on-github/#task-lists)?
That way we could more easily keep track of all the fixes made. You could probably split them into sub-categories by the area of the GUI/emulator.

[2015-11-22 11:46] paulsapps commented on #1312
@vgturtle127 you could probably make a PR with this fairly easily since its mainly just text changes :)

[2015-11-22 11:50] tambry commented on #1312
@vgturtle127 Forgot to say, but the camera thing is intentional - the function that returns the camera type, can sometimes return it as "Unknown".

[2015-11-22 18:14] Zangetsu38 commented on #1312
I can take care of some stuff if you want.
Some changes are easy to make ^^

[2015-11-22 23:50] Zangetsu38 commented on #1312
I complette change here https://github.com/RPCS3/rpcs3/pull/1314

[2015-11-23 00:04] vgturtle127 commented on #1312
@tambry I can still split it into task lists if you would like, I actually just used task lists for a huge issue on Project64. :smile:

@Zangetsu38 Thanks! Changes make it look so much better!

If you guys want me to break it into task lists I can, but I just need to know what hasn't been done yet. I am looking through the PR now, but I just want to make sure I get everything.

[2015-11-23 00:18] vgturtle127 commented on #1312
I updated them as best I could. If you see any errors or anything let me know. :smile:

[2015-11-23 00:30] Zangetsu38 commented on #1312
@vgturtle127 yes, most clear now :)

[2015-11-23 03:07] Zangetsu38 commented on #1312
@vgturtle127 error, i d'ont touch resolution ^^

[2015-11-23 07:07] vgturtle127 commented on #1312
I updated that, and also some other stuff.

[2015-11-23 13:44] andre4688 commented on #1312
you can get create usb pad command as another commands? It was good

[2015-11-23 13:50] tambry commented on #1312
@andre4688 Please stop posting here. You can't speak English well enough for anyone to understand you.

[2015-11-23 14:12] Zangetsu38 commented on #1312
updated, i have mistake change in ini

[2015-11-24 05:21] vgturtle127 commented on #1312
@tambry I'm not sure that was the correct way to tell somebody that. Maybe tell them how to properly voice their thoughts and questions? We shouldn't cast out or demonize people for not speaking very good English. Telling them how they can improve their speech and/or writing is the only way to make the problem less of an issue. Just saying. Most of the users of my fighting game are Spaniards or ar

[2015-11-24 05:48] tambry commented on #1312
@vgturtle127 I understand what you mean. He has already previously created useless issues and made pointless posts on forums, that were just later either closed or simply ignored, due to being absolutely useless, since we couldn't understand what he was saying (I mean, he couldn't even copy/write the games' names properly). I'm pretty sure we have told him numerous times before, to go and learn En

[2015-11-24 05:50] vgturtle127 commented on #1312
@tambry OK, that makes sense I suppose. I didn't know he was a repeat offender. That makes it a little different.

[2015-11-24 14:19] Zangetsu38 commented on #1312
@vgturtle127 I meant the config.h that I had forgotten to change with the rest, but now it's good.

[2015-11-24 17:04] vgturtle127 commented on #1312
@Zangetsu38 Oh, OK. :laughing:

[2015-11-24 20:14] vlj commented on #1311
Min feature level is dx 11 so any gpu that express dx12 API support should work.

[2015-11-24 20:19] vlj commented on #1300
I'm not sure it's possible to (easily) emulate, it's a specific nvidia filtering thing. However iiuc bilinear filtering should works in a close maneeer.

[2015-11-24 20:28] danilaml commented on #1300
@vlj how to use it? If it's only post-processing it'd probably wouldn't matter that much right now if it's not exactly the same.

[2015-11-25 16:19] vlj commented on #1225
Is it still an issue ?

[2015-11-25 16:23] tambry commented on #1296
@vlj Is this still an issue, or did you only fix it partly?

[2015-11-25 16:24] therock247uk commented on #1225
is the current src compilable? ill give it a try if so.

[2015-11-25 16:26] vlj commented on #1296
The visual issue (missing shadows in SH3 HD) is here but the diagnostic was apparently wrong.
I'm waiting for DH's new shader recompiler to see if it fixes the issue.

[2015-11-25 16:47] Shished opened #1315 "Failing to compile under Linux (openSUSE Tumbleweed)"
[code]
Application is compiled with clang 3.7.0 under openSUSE Tumbleweed x86_64.

[2015-11-25 17:38] tambry commented on #1315
@Shished Could you provide all the steps, that you took to compile RPCS3? Ie. command line commands and the **full** log.

[2015-11-25 17:48] Shished commented on #1315
I copied rpcs3/llvm/include/llvm folder to rpcs3/
[code]
There were no warnings during compilation, everything was green, except this error at 100%.

[2015-11-25 22:19] vlj commented on #1315
LLVM 3.7 is not supported atm

[2015-11-26 06:44] Shished commented on #1315
I also tried to compile with GCC 5.2.1. Same error appears. GCC 4.8 does
not supports C++14.
What llvm/clang version should be used?

чт, 26 нояб. 2015, 0:20, vlj <notifications@github.com>:

[2015-11-26 17:17] vlj commented on #1300
I pushed the fallback path to d3d12 branch (it's used by Castle of Illusion too) can you see if it works ?

[2015-11-26 17:27] Zangetsu38 commented on #1300
Works in wip ^^

[2015-11-26 17:31] danilaml commented on #1300
@vlj doesn't work on d3d12. It crashes with exception in:
![image](https://cloud.githubusercontent.com/assets/2046350/11428446/95ce5382-947c-11e5-9ae9-abbaca2b93fe.png)
On wip, last time I checked (after Micky Mouse commit) it stopped crashing on "unsupported filter" and just entered some wait loop (basically hanged).

[2015-11-26 17:38] danilaml commented on #1300
It crashes with `unreachable("Wrong mag filter");` in get_mag_filter

[2015-11-26 19:22] vlj commented on #1300
And now ? I pushed a fix that uses bilinear if mag filter isn't recognised (not sure if 4 is a valid mag filter :/ )

[2015-11-26 19:42] danilaml commented on #1300
@vlj  now the behaviour is like with wip branch 0 hang (fps doesn't change) after I press resume after
[code]

But on wip it didn't need mag fallback though. Could be masking error elsewhere.

[2015-11-26 21:16] Zangetsu38 commented on #1300
@danilaml not use llvm

[2015-11-26 21:21] danilaml commented on #1300
@Zangetsu38 with ppu interp. 2 it's the same just without last part (still hangs).

[2015-11-26 22:14] Zangetsu38 commented on #1300
@vlj it is a good, Works

[2015-11-27 12:12] tambry commented on #1300
@vlj I think GET_REPORT should return, how many pixels passed (failed? can't remember) the z-test/depth test.

[2015-11-27 14:55] Zangetsu38 commented on #1300
@vlj I have fixed crash here https://github.com/Zangetsu38/rpcs3/commit/5bbd62727ea42e0d14980fec21ff4db46d43d42e.
But now I have probleme with Cellfont.
Emu Stoped caused by thins line 337.

And After by

(in file Emu\SysCalls\Modules\cellFont.cpp:623, in function cellFontGetScalePixel)

[2015-11-27 15:49] tambry commented on #1300
@Zangetsu38 I'm sorry, what?! You add log messages about fallbacks being used, while you don't even add fallbacks! And in many [other](https://github.com/Zangetsu38/rpcs3/commit/5bbd62727ea42e0d14980fec21ff4db46d43d42e#diff-1516ea3a2220b7fadf352dd62ece48f1R44) [places](https://github.com/Zangetsu38/rpcs3/commit/5bbd62727ea42e0d14980fec21ff4db46d43d42e#diff-1516ea3a2220b7fadf352dd62ece48f1R20) you

[2015-11-27 15:58] Zangetsu38 commented on #1300
@tambry Huh?
This is absolutely not a hack, it's the same thing that "VLJ" Absolutely, but for the whole file.
It can detect the instruction of the "case" (the GPU instruction -> D3D12) missing when rpcs3 crash.
I fix "Jet Set Radio" like that.
look here : https://github.com/Zangetsu38/rpcs3/commit/5bbd62727ea42e0d14980fec21ff4db46d43d42e#diff-1516ea3a2220b7fadf352dd62ece48f1R113

[2015-11-27 16:04] tambry commented on #1300
@Zangetsu38 No shit, that it can detect the case - that's how a switch works. But when you add a message saying, that there's a fallback, when you don't even return in other cases a bloody value.

I want to believe so hard, that you can't be that stupid, but I think I have no words to express it anymore.

[2015-11-27 16:09] Zangetsu38 commented on #1300
@tambry huh, Sorry ? but no stupide, just real, why use

Rpcs3 show directly in the log instruction missing, after just look number, and add instruction, or complete, with return appropriate.

[2015-11-27 17:33] danilaml commented on #1315
@Shished llvm 3.6
Newer versions have backwards-incompatible changes to interface of MCJIT which we haven't resolved yet (mostly renaming of methods/namespaces).

[2015-11-28 00:23] Zangetsu38 opened #1317 "Problem Save on Mickey and How to train your Dragon"
In Dragon i have this

I think error in a name folder "/savedata/%ӈ%ӈ/" d'ont exist ^^ this folder for this game is "BLES00798-TYD-SAVE-1"

[2015-11-28 06:39] tambry commented on #1315
@Shished Is the issue fixed?

[2015-11-28 07:00] Shished commented on #1315
The issue is that emulator cannot be compiled with clang 3.7. Using older version is workaround so i'm not sure if this issue is fixed or not.

[2015-11-28 07:20] tambry commented on #1315
@Shished Well, could you post a full log of the compilation failing with clang 3.7?

[2015-11-28 08:06] Shished commented on #1315
Attached make output
[output.txt](https://github.com/RPCS3/rpcs3/files/46283/output.txt)

[2015-11-28 08:22] danilaml commented on #1315
@Shished the issue is not with clang 3.7 but with llvm3.7 as was stated before. You should install llvm3.6 and probably tell explicitly to cmake to use that version (in a manner similar to how it's done on OSX).

[2015-11-28 09:13] tambry commented on #1225
@therock247uk The current source is compilable. Is this fixed?

[2015-11-28 12:19] Shished commented on #1315
Thanks, this helped. Emulator now compiles properly.

[2015-11-28 12:25] #1315 closed

[2015-11-28 20:04] tambry opened #1319 "[DX12] Terraria odd green text and certain colours missing"
In Terraria - Trial [NPUB30943] some of the text is weird halloween looking green.
![image](https://cloud.githubusercontent.com/assets/1827708/11453651/9bfad14a-961b-11e5-8040-2a23097654b4.png)

Also in character creation menu, some of the items are missing or have weird colours, for example hair colours.
![image](https://cloud.githubusercontent.com/assets/1827708/11453656/d845e46e-961b-11e5-9250-

[2015-11-28 20:05] tambry commented on #1319
@vlj Is the probably the right person to investigate this.

[2015-11-28 20:13] vlj commented on #1319
looks like a texture swizzle issue, the green is apparently replacing the alpha channel here.

[2015-11-28 20:13] tambry commented on #1266
The game no longer seems to display anything in neither OpenGL or DirectX 12.

[2015-11-28 21:14] tambry commented on #1319
Managed to fix the menu, but character creation is a bit of messed up now. Will look into it more tomorrow.

[2015-11-28 22:28] vlj commented on #1266
Can you bisect ?

[2015-11-28 22:30] Zangetsu38 commented on #1266
for me this game allaw show black screen

[2015-11-29 10:14] tambry commented on #1319
@vlj Like I said, I managed to fix buttons' colours in the main menu with https://github.com/tambry/rpcs3/commit/293d7720a9592655ad33ec6d30abb9aff48fba5a.
![image](https://cloud.githubusercontent.com/assets/1827708/11456457/4c9da880-9692-11e5-9b56-2d2b4aebf421.png)

But now the character creation has even weirder colours.
![image](https://cloud.githubusercontent.com/assets/1827708/11456470/af206ab

[2015-11-29 13:00] Ekaseo opened #1320 "OpenGL needs fixes"
OpenGL is broken right now, is someone going to disable it? its useless right now, even for debugging, most games work below 1 fps with broken graphics and scaling.

[2015-11-29 14:14] tambry commented on #1320
@Ekaseo My opinion is, that both renderers should be replaced by [Vulkan](https://www.khronos.org/vulkan) in the near future, once it's released and if it isn't absolutely horrible. As it should have benefits of both DX12 and OpenGL.

[2015-11-29 14:18] tambry commented on #1266
@vlj Not really. I couldn't launch **any** games without crashes for almost a month until the old configuration manager was completely removed. So that means I wouldn't be able to bisect most of the time between now and then.

Though the problem could be related to the minor bugs mentioned by @O1L [here](https://github.com/RPCS3/rpcs3/pull/1318#issuecomment-160334348).

[2015-11-30 08:15] steveunixson opened #1321 "Unable to build on Ubuntu 15.04 CMake Error at /usr/share/llvm-3.6/cmake/LLVMConfig.cmake:52 (include):"
artem@artem-K52Jr:~$ git clone https://github.com/RPCS3/rpcs3.git
Cloning into 'rpcs3'...
remote: Counting objects: 43404, done.
remote: Total 43404 (delta 0), reused 0 (delta 0), pack-reused 43404
Receiving objects: 100% (43404/43404), 28.23 MiB | 2.26 MiB/s, done.
Resolving deltas: 100% (34379/34379), done.
Checking connectivity... done.
artem@artem-K52Jr:~$ git submodule update --init
artem@art

[2015-11-30 13:48] tambry commented on #1321
@steveunixson Seems like you forgot to run "git submodule update --init"

[2015-11-30 14:49] csdf commented on #1321
ln -s /usr/share/llvm-3.6 /usr/lib/llvm-3.6/share/llvm

[2015-11-30 16:49] tambry commented on #1229
@Mingun Is this fixed?

[2015-11-30 16:50] tambry commented on #1225
Since there has been no followup from @therock247uk, I'll be closing this one. Let us know, if this is still an issue.

[2015-11-30 16:50] #1225 closed

[2015-11-30 16:50] tambry commented on #1070
@Putrefalcis Is this fixed?

[2015-11-30 16:51] tambry commented on #1067
@Bigpet Is this still relevant?

[2015-11-30 16:52] tambry commented on #210
Is this still relevant or can it be closed?

[2015-11-30 17:22] tambry commented on #73
@vlj @elisha464 Is this still relevant?

[2015-11-30 17:30] elisha464 commented on #73
I dont remember

[2015-11-30 17:36] tambry commented on #73
@elisha464 I'm going to close this one, as the OpenGL has probably almost completely changed since this issue was created and likely isn't relevant. If it is, please let us know, so we can reopen the issue.

[2015-11-30 17:36] #73 closed

[2015-11-30 17:38] tambry commented on #341
@raven02 @vlj Has this been fixed on master?

[2015-11-30 17:39] tambry commented on #972
@chaoskagami Have you managed to build and confirm, that this is fixed? You could also try asking someone to build one for you.

[2015-11-30 17:39] tambry commented on #966
@raven02 @vlj Has this been fixed?

[2015-11-30 18:05] vlj commented on #966
It was fixed in GL but now it's broken again (but in a different way).
D3D12 is fine.

[2015-11-30 18:06] vlj commented on #341
I don't have the sample off hand

[2015-11-30 18:57] steveunixson commented on #1321
I`ve done "git submodule update --init" after cloning to git. Maybe this is the problem?
Also I have this error despite that I have LLVM installed
ln -s /usr/share/llvm-3.6 /usr/lib/llvm-3.6/share/llvm
ln: failed to create symbolic link ‘/usr/lib/llvm-3.6/share/llvm’: No such file or directory

[2015-11-30 22:16] vlj opened #1326 "Removing a game removes the wrong game"
In the UI, if I right click on a game and select "remove" it removes a random game from the list, not the one selected.

[2015-12-01 05:23] unknownbrackets commented on #210
Well, I've lost interest for the time being, although I think #211 still ought to be fixed.

Will close this for now.

-[Unknown]

[2015-12-01 05:23] #210 closed

[2015-12-01 18:40] danilaml commented on #1321
@steveunixson seems like faulty llvm3.6 package. Try to find and install/fix newer 3.6 version.

[2015-12-02 14:43] chaoskagami commented on #972
Unfortunately, no. My system LLVM is 3.7 and is apparently incompatible with rpcs3 due to removed code. I can't/will not downgrade since literally my entire graphics stack is built against it.

Kinda stuck, sorry. Unless someone else is capable of verifying this, I can't help much.

I honestly haven't been keeping up with rpcs3 lately, so if you want to close this report it's fine. I can't test un

[2015-12-02 15:52] tambry commented on #972
@chaoskagami I'll look into updating RPCS to LLVM 3.7, if it's not very hard.

[2015-12-02 17:51] latot commented on #972
mm, i try this, rpcs3 show the option to change the eulationdir but don't works fine, i try change but don't works, the dir don't show any change after a restart.

[2015-12-02 18:14] tambry commented on #1300
@danilaml Does it still happen?

[2015-12-02 18:42] danilaml commented on #1300
@tambry nope. It just doesn't even get to the fps part now.
Stops at:
[code]

[2015-12-02 18:48] Zangetsu38 commented on #972
@tambry I have already try this, But i have several problem
https://github.com/Zangetsu38/rpcs3/tree/llvm37

[2015-12-02 18:51] tambry commented on #1300
@danilaml Well, then it probably has received fixes somehow and now properly requires SPURS to run.

[2015-12-02 19:03] danilaml commented on #1300
@tambry yeah, though It tried to render something until hanging forever before...

[2015-12-04 17:07] danilaml commented on #1300
closing this since it doesn't crash anymore, just "hangs"

[2015-12-04 17:07] #1300 closed

[2015-12-04 17:12] danilaml commented on #972
@tambry I had something done back in July (warning: "dirty" branch, haven't properly orgonized commits): https://github.com/danilaml/rpcs3/commit/4ab4b013360ddb7396d8007aad411e3f8c18a881

[2015-12-05 15:14] chaoskagami commented on #972
@danilaml I'm not a fan of the whole #defining method of getting things to work. Seems like a compatibility hack. I also notice you enabled the test suite and then COMMENTED the entire thing. Seriously, disabling is one thing, but just use `#if 0 #endif` next time you need to disable large blocks of code. *cringes* That said, does your branch work, since @Zangetsu38 says his branch has issues? And

[2015-12-05 15:22] danilaml commented on #972
@chaoskagami As I said, it was a test branch done a long time ago. Back then MCJIT had certain issues and I did it to see if llvm3.7 (not yet released at the time) fixed them. Since it didn't I abandoned it.
The main issue is that llvm guys decided to remove CreateCallN (for N args) and leave only CreateCall(..., ArrayRef). Manually replacing numerous (~100) appearances of calln with call(..., {ar

[2015-12-05 20:18] #1326 closed

[2015-12-05 22:05] chaoskagami commented on #972
I went through the LLVM headers to verify when I posted, I just didn't feel like making a fix. But yeah, by 'removed code' I primarily meant CreateCallN. Those functions have been marked for deprecation for a while, before they were even deleted.

Anyways, I'll attempt to rebase @danilaml's tree onto master and build to see if the primary issue here with directories is fixed.

[2015-12-05 22:18] danilaml commented on #972
@chaoskagami I suggest just taking `PPULLVMRecompilerXXXX` changes. Rebasing would be more troublesome, since there were a lot of changes to rpcs3 (and llvm back-end specifically) since July (and also not very clean state of that working branch).

[2015-12-05 22:34] Zangetsu38 commented on #1312
Well, because it was me who did it, I think it will be never accepted the PR ...

[2015-12-07 02:39] vgturtle127 commented on #1312
I can understand why they might not want to change function names, but text in the GUI seems irrelevant to anything, so why won't @Zangetsu38 's pull request be merged?

[2015-12-09 00:46] Rukario commented on #1312
1. I don't like lower-casing the secondary words. Dolphin Emulator don't do this.

2. Some terms were replaced with worse one. Please think of a better one or leave them alone. I've highlighted some below:

Drop "Directional pad"
Drop "DirectX 12 primary adapter" but fix "Adaptater" typo
A BIG NO to "You mus restart your emulated game or application for changed settings to take effect"
Drop "Virtu

[2015-12-09 02:55] vgturtle127 commented on #1312
I guess. I don't really understand why...

[2015-12-09 06:05] tambry commented on #1312
@Rukario For the LLE modules manager, there's no need to specify, that it's a window.
Also, why big no to "You must restart your emulated game or application for changed settings to take effect"?
I also think some terms were possibly replaced with worse ones.

[2015-12-09 06:35] vgturtle127 commented on #1312
Which terms do you guys really hate?

I don't get why directional pad, virtual hard drive manager, and DirectX 12 primary adapter are being shunned out of all of them. I assumed this would bring more clarity to the UI.

I mean, it's your project and all, but I didn't expect as much resistance to this as opposed to some code changes I wanted to make. :smiley:

[2015-12-09 08:23] paulsapps commented on #1312
Lower-casing secondary words is more "correct" Having Everything Like This Is Kinda Strange.

[2015-12-09 23:08] vlj opened #1334 "Braid is broken"
Braid doesnt work past loading screen anymore. The emu stops and hitting resume 2 times make it crashes.
A good commit is 6930cbc064d46b2475bc2dc0500efbcd7abc1906 and a bad one is be1c9100cc22a6a4220270283ce41d298245e3e7

[2015-12-09 23:13] vlj commented on #1334
it's caused by merge in 78bfd54ad4933dc50e8d8ef14d71a7c7ff2c083c

[2015-12-09 23:24] vlj commented on #1334
I suspect a bug in the way NV3089_IMAGE_IN_SIZE  has been rewritten in 178bcfc8df038fc7102f26be302696aefc4fc860

[2015-12-09 23:24] vlj commented on #1334
almost all textures in jet set radio are black now too.

[2015-12-10 01:47] B1ackDaemon commented on #1334
@vlj , for some reason this Braid crash is related to savedata (NPUB30133-SAVE) inside dev_hdd0\home\00000001\savedata. If save is present, game won't crash after pressing resume, if there is no save, it crashes, like in your case.

[2015-12-10 10:27] Zangetsu38 commented on #1263
No news for this problem ?

[2015-12-10 19:46] vlj opened #1335 "Jet Set Radio is broken"
Almost all textures are black now.

[2015-12-10 20:09] PZerua commented on #1334
Let's mention @jarveson to see if he can take a look.

[2015-12-11 12:03] tambry commented on #1335
@vlj Do you think the swizzling rewrite created the problem?

[2015-12-11 14:20] tambry commented on #1319
This has been fixed.

[2015-12-11 14:20] #1319 closed

[2015-12-11 17:36] jarveson commented on #1334
Thanks for the heads up! I think i got it fixed in my recent PR

[2015-12-11 17:36] jarveson commented on #1335
Yeap, it had to do with my changes, it should be back to normal with my recent PR

[2015-12-12 02:14] artest34 opened #1338 "no graphics showing"
http://imgur.com/UqbURFG anyone know why theres no graphics showing ?

[2015-12-12 06:09] tambry commented on #1338
@artest34 Because you didn't give us a log. No, seriously, give us a log, or else you might as well as Clippy.

[2015-12-12 11:32] tambry opened #1339 "Rework and improvement of decoding libraries"
I feel that the decoding libraries might need a rework and improvements to their accuracy.
Therefore, I propose a rewrite of cellPngDec and likely other similar libraries in the near future, such as cellGifDec and cellJpgDec.

Tasks:
- [ ] Rewrite cellPngDec
  - [ ] Memory allocation through callbacks
  - [ ] Support for weird PNG files (Arkedo Jump)
  - [ ] Support for chunking (need to find some

[2015-12-12 13:23] danilaml commented on #1263
@Nekotekina might know what caused this.

[2015-12-12 13:27] Zangetsu38 commented on #1263
@danilaml Yes

[2015-12-12 14:51] PZerua opened #1340 "Unknow stencil op"
Using DX12 and recompilers in Shovel Knight, after some loading the game shows:
"Unknow stencil op used 8507, please report this to a developer."

I have attached the log. It could be interesting to @vlj .

[RPCS3.txt](https://github.com/RPCS3/rpcs3/files/60162/RPCS3.txt)

[2015-12-12 15:03] Zangetsu38 commented on #1340
Fixed why my PR
but now i have this

(in file Emu\Cell\SPUThread.cpp:1193, in function SPUThread::stop_and_signal)

[2015-12-12 22:00] danilaml opened #1342 "Occasional hang in Sonic CD using llvm ppu recompiler."
Other titles might be affected too. Haven't experienced it before.
If you run Sonic CD with ppu llvm and wait for some time and play a few levels (usually 5-7 minutes is enough) it will hang, but not completely. Sound will still be playing, although very distorted, and emu will be doing, what it seems like, some sysprx mutex stuff. But the picture will stop completely.

[2015-12-13 19:32] B1ackDaemon opened #1343 "XInput issue with some games using DS4Windows"
Happens in games 4 Elements HD (NPUB30347), flOw (NPUA80001) and Terraria (NPUB30943). Another games, like Arkedo series works fine.

HLE: W {PPU Thread[0x1] (main_thread)[0x00464828]} sys_io: cellPadInit(max_connect=7)
HLE: W {PPU Thread[0x1] (main_thread)[0x004648c8]} sys_io: cellKbInit(max_connect=7)
HLE: S {PPU Thread[0x1] (main_thread)[0x004648c8]} Last function: cellKbInit (0x433f6ec0)
G: !

[2015-12-14 19:02] danilaml commented on #1343
Just for the record.
[code]

[2015-12-14 19:11] danilaml commented on #1113
@tambry it should be fixed by #1327, but couldn't test myself since I don't have that sample.

[2015-12-14 19:15] danilaml commented on #1340
@PZerua can you confirm that the issue is solved?

[2015-12-14 19:18] PZerua commented on #1340
@danilaml Ups, sorry. Yes It's fixed.

[2015-12-14 19:18] #1340 closed

[2015-12-14 21:33] B1ackDaemon commented on #1343
Got it worked this way:

	callbacks.get_kb_handler = []() -> std::unique_ptr<KeyboardHandlerBase>
	{
		switch (auto mode = rpcs3::config.io.pad_handler_mode.value())
		{
		case io_handler_mode::null: return std::make_unique<NullKeyboardHandler>();
		case io_handler_mode::windows: return std::make_unique<WindowsKeyboardHandler>();
		case io_handler_mode::xinput: return std::make_unique<WindowsKeybo

[2015-12-15 04:18] B1ackDaemon commented on #1335
Merged #1336, time to close this issue ;)

[2015-12-15 04:18] #1335 closed

[2015-12-15 16:30] danilaml commented on #1334
@vlj is it fixed now?

[2015-12-15 16:41] Zangetsu38 commented on #1334
for me yes

[2015-12-16 12:27] B1ackDaemon commented on #1334
Let's close this, then :)

[2015-12-16 12:27] #1334 closed

[2015-12-16 21:49] JohnGodgames opened #1345 "Of orcs and Men is crashing after merging #1344"
After merging https://github.com/RPCS3/rpcs3/pull/1344 game crashes before intro

[LOG](https://mega.nz/#!TAkURAgA!ppg8YJdt2atl6hPRC1yeC8uBaaMuNlssGU3eDvSnt6s)

[2015-12-17 10:47] tambry commented on #1345
Pinging @vlj, so he sees this-

[2015-12-17 14:46] #1343 closed

[2015-12-17 16:56] vlj commented on #1345
What are the messages in "output" inside Visual Studio when debug output mode is enabled ?

[2015-12-17 18:01] JohnGodgames opened #1348 "Bomberman ULTRA - flashing and scaling issues"
Warning this game produces flashing images and can cause a headache etc.!

maybe easy fix for you @vlj

![bomb 1](https://cloud.githubusercontent.com/assets/11453507/11877503/f5db2a10-a4ef-11e5-916b-7c05ecc3d584.PNG)
![bomb 2](https://cloud.githubusercontent.com/assets/11453507/11877506/fcf7fa8a-a4ef-11e5-82a2-ca1e2fe1525d.PNG)
![bomb 3](https://cloud.githubusercontent.com/assets/11453507/11877512

[2015-12-17 18:13] Zangetsu38 commented on #1348
ridge racer a same problem

[2015-12-17 18:53] JohnGodgames commented on #1345
I don't know what do you want from me exactly @vlj

there is a screenshot from a VS :
![orc debug 1](https://cloud.githubusercontent.com/assets/11453507/11878706/aad85dd2-a4f7-11e5-80d8-78b2fc6f8b80.PNG)

[2015-12-17 20:01] paulsapps commented on #1345
"output" is the tab in the bottom right pane, you have selected "call stack" instead.

[2015-12-17 20:15] tambry commented on #1338
Closing this, as the user has not provided enough information.

[2015-12-17 20:15] #1338 closed

[2015-12-17 20:16] JohnGodgames commented on #1345
Yeah I saw that, but nothing useful right there...I'm doing something wrong.Is there any guide how to do that properly or @vlj can you help?

[2015-12-17 20:16] tambry commented on #1311
Closing this, as the question seems to have been solved.

[2015-12-17 20:16] #1311 closed

[2015-12-17 20:16] tambry commented on #1345
@JohnGodgames Did you enable debug output mode, as @vlj instructed?

[2015-12-17 20:23] tambry commented on #1294
Are we ever going to even bother implementing cellSpurs*? Since LLE is now the way to go for most stuff, it would seem.

[2015-12-17 21:02] MoochMcGee commented on #1294
Why is SPURS disabled?

[2015-12-17 21:42] danilaml commented on #1345
@JohnGodgames (debug output is located in graphics settings btw)

[2015-12-17 21:51] danilaml commented on #1294
@tambry it sure would be a lot better if some code messiah came and implemented it HLE xD
@MoochMcGee HLE inplementations is too buggy and innacurate so it's disabled for now ( you can LLE modules if you got the libs.

[2015-12-17 23:02] fenix008 opened #1349 "Kung Fu Panda: Showdown of Legendary Legends broken"
G: E {rsx::thread} Exception: linkage failed: 'Fragment info
-------------
0(28) : error C7554: OpenGL requires sampler variables to be explicitly declared as uniform
0(110) : error C1115: unable to find compatible overloaded function "textureLod(samplerCube, vec2, float)"

Here's the log (OpenGL): http://rghost.ru/8NwWTCsDk
Original thread: http://www.emunewz.net/forum/showthread.php?tid=173713

[2015-12-17 23:30] danilaml commented on #1349
Do you know which @vlj commit exactly caused this?

[2015-12-17 23:47] fenix008 commented on #1349
https://github.com/RPCS3/rpcs3/commit/14123d67e1b4ca9005d9137a70bc6596143eb183 - this.
i think it's something about "cube" commit....
maybe this - https://github.com/RPCS3/rpcs3/commit/6221fecf3bd584d1b036b2e9bd76ffd903192b5d
or this - https://github.com/RPCS3/rpcs3/commit/69b3828086d6338052a5a1eccec94ee489368ac4

[2015-12-18 00:07] JohnGodgames commented on #1345
I don't see anything usefull...

Xaudio:
![debug 2](https://cloud.githubusercontent.com/assets/11453507/11885855/aaf00b2c-a523-11e5-9522-f3d926a0846b.PNG)

audio null:
![debug 3](https://cloud.githubusercontent.com/assets/11453507/11885859/b0811446-a523-11e5-9597-8a1c1f29422a.PNG)

[2015-12-18 01:02] B1ackDaemon commented on #1345
I also getting crash: http://pastie.org/private/wa4jhj9nmxhqpacphhdfsg

[2015-12-18 05:49] tambry commented on #1349
@fenix008 Does it work with DX12?

[2015-12-18 08:08] B1ackDaemon opened #1351 "DX12: Unimplemented color surface format used 5"
Discovered in game BIT.TRIP Presents... Runner2: Future Legend of Rhythm Alien Trial [NPUB30733]

log: http://pastebin.com/Ec0V5mg4

On old OGL builds this one was ingame
http://www.emunewz.net/forum/showthread.php?tid=160019

[2015-12-18 13:38] tambry commented on #1351
From what I can tell, #1352 doesn't look exactly right.
I have fixed it myself, hopefully properly here: https://github.com/tambry/rpcs3/commit/f6f935fc81441d3de7df0294fa88866a48a3668e.

[2015-12-18 13:45] Zangetsu38 commented on #1351
hmm oups sorry, i have forget test for find other instruction missing ^^
I have allready fix this game with other commit

[2015-12-18 14:24] Zangetsu38 commented on #1351
@tambry  now is good, 2 missing instruction 5 and 16, for second log indicate 10 but it is a 16, don't no why indicate inccorect value.
no first time artf

[2015-12-18 14:30] vlj commented on #1349
I know what causes the crashes, I added support for texture cube only for texture and textureproj function but not textureLod.

[2015-12-18 14:31] vlj commented on #1345
@B1ackDaemon thanks!

[2015-12-18 19:06] fenix008 commented on #1349
@tambry no, it doesn't work on DX12, it stuck on Menu.
Log DX12: http://rghost.ru/7zymjyzJk

[2015-12-18 19:26] tambry commented on #1349
@fenix008 I guess it might be due to support for texture cube not being supported for textureLod both on OGL and DX12.

[2015-12-19 08:38] O1L commented on #1351
LOL, you use "%x" - it's numbers in a hex format. Use "%d" for decimal or "0x%x" for hex.

[2015-12-19 14:17] danilaml opened #1353 "Sonic CD crash with DX12"
Crashes at: https://github.com/RPCS3/rpcs3/blob/master/rpcs3/Emu/RSX/D3D12/D3D12Texture.cpp#L72
After recent commits (most likely this pr by @vlj,but not 100% certain: https://github.com/RPCS3/rpcs3/pull/1344)
OpenGL works fine.
[code]
Ending of `RPCS3.log`:
[code]

[2015-12-19 18:42] vlj opened #1354 "Use wix to create user friendly Windows installer"
WiX is a Microsoft sponsored toolset that allows to create installers for Windows :
http://wixtoolset.org/
It supports virtually everything a msi installer can do, integrate seamlessly with the global windows uninstaller...
To use it we just need to add a WiX project inside Visual Studio solution and use an xml file to describe the installer. Then the installer is created by generating the new pro

[2015-12-19 19:13] tambry commented on #1354
"Installing" is literally downloading a build and then dropping the RPCS3 folder somewhere.
"Updating" is literally downloading a newer build and replacing the .exe.
But do we really need an installer? I see no reason for an installer.

[2015-12-19 19:23] B1ackDaemon commented on #1353
Debug output shows similar error, which occurs in #1344

D3D12 ERROR: ID3D12Device::CreateCommittedResource: D3D12_RESOURCE_DESC::Width, D3D12_RESOURCE_DESC::Height, and D3D12_RESOURCE_DESC::DepthOrArraySize cannot be 0. The minimum value is 1. Width = 1280, Height = 720, and DepthOrArraySize = 0. [ STATE_CREATION ERROR #597: CREATERESOURCE_INVALIDDIMENSIONS]

[2015-12-19 20:30] danilaml commented on #1354
Could be longterm. Right now there isn't any need nor demand.

[2015-12-20 14:26] Zangetsu38 opened #1357 "Function missing for Catherine"
Need implement this function in module cellFont for Catherine Game

(in file Emu\SysCalls\Modules\cellFont.cpp:623, in function cellFontGetScalePixel)
Please report this to the developers.

And other for show first loading screen

(in file Emu\SysCalls\Modules\cellFont.cpp:511, in function cellFontSetupRenderEffectSlant)

And for module cellAdec (in file Emu\SysCalls\Modules\CellAdec.cpp line 42,

[2015-12-20 14:46] danilaml opened #1358 "Catherine [BLUS-30428]: DX12, unimplemented mag filter CELL_GCM_TEXTURE_LINEAR_NEAREST"
@vlj, take a look at this:
[code]
Used LLE of cellspurs, font and fiber to launch.

[2015-12-20 14:54] Zangetsu38 commented on #1358
@danilaml  i have already fixed this, just waiting vlj confim ^^

[2015-12-20 15:04] tambry commented on #1358
@Zangetsu38 Since a word contains half of another word, doesn't mean they're same...

[2015-12-20 15:06] tambry commented on #1357
I'm pretty sure it's already well known, that cellFont is a pile of poop.
I likely will rewrite it, as per #1339.

[2015-12-20 17:02] Zangetsu38 commented on #1312
Forget this issue, I have a banned.... for thy help project rpcs3...

[2015-12-21 01:22] vgturtle127 commented on #1312
@Zangetsu38 What? I'm sorry, I'm not understanding what you are trying to say.

You were banned for something?

[2015-12-21 01:46] vlj commented on #1342
It's worse with Disgaea 4 it hangs in less than 5 sec. After Burner Climax hang quickly too, either in menu or in intro cutscene. The regression is likely not that old since I remember having tried After Burner with llvm properly a month ago.

[2015-12-21 05:43] tambry commented on #1312
@vgturtle127 https://github.com/RPCS3/rpcs3/pull/1347#issuecomment-166130978

[2015-12-21 06:10] vgturtle127 commented on #1312
Alright, I suppose this can be closed then.

[2015-12-21 12:08] tambry commented on #1312
@vgturtle127 I don't think there's any reason to close this, as someone may be able to properly implement these changes in the future.

[2015-12-21 17:29] vlj commented on #1342
Actually it only happens if I use Spurs lle lib. So it looks like LLE and LLVM doesn't work together.

[2015-12-21 17:39] danilaml commented on #1342
@vlj I experienced it before LLE (issue was created before official LLE announcement).
So if anything LLE only increases chances of hang.

[2015-12-21 17:57] tambry commented on #1342
@danilaml LLE has been functional for almost a year now. It simply wasn't "public". Anyone that figured it out though, could use it.

[2015-12-21 18:02] vlj commented on #1353
Will submit a fix soon

[2015-12-21 18:09] danilaml commented on #1342
@tambry I know. I just also now that I didn't use it when I created this issue =)

[2015-12-22 00:04] vlj commented on #1342
I'm using Disgaea 4 instead of Sonic CD since it's easier to spot the bug, it looks like 	ADDI instruction triggers the hang. If I interp it there is no hang within the first second of the game.

[2015-12-22 01:45] vlj commented on #1342
The faulting block in Disgaea 4 is :

https://gist.github.com/vlj/2920e12e460dbb64259f

[2015-12-22 08:18] vgturtle127 commented on #1312
Well, I just wanted to change the text so the English was better and more understandable. Is that really a big contribution? I thought it would be a simple text change. I can do it, I just need to be told what is acceptable.

[2015-12-22 18:32] paulsapps commented on #1354
CMake/CPack has a WIX generator, so its actually really easy to make an msi/zip/deb/whatever installer

[2015-12-23 15:56] vlj opened #1364 "RecompilationEngine is freed before all PPU Thread"
I think I found why PPU LLVM crashes at exit, it looks like RecompilationEngine (which stores all the ExecutionEngine and frees virtual memory at destruction) is destroyed before the other PPU Thread that relies on it.
If I store the ExecutionEngine in a static variable and comment out the virtual mem free operation it doesn't crash anymore when closing rpcs3.

[2015-12-23 16:07] tambry commented on #1364
@vlj Are you planning to fix this?

[2015-12-23 16:09] tambry commented on #1229
Closing this, as the issue creator has failed to respond.

[2015-12-23 16:09] #1229 closed

[2015-12-23 16:09] tambry commented on #1067
Doesn't seem to relevant anymore.

[2015-12-23 16:09] #1067 closed

[2015-12-23 16:10] tambry commented on #919
@andre4688 Is this still a problem?
Doesn't seem very relevant anymore, as OpenGL backend is currently basically abandoned, and Vulkan will arrive soon.

[2015-12-23 16:11] tambry commented on #1321
@steveunixson Is this still a problem?

[2015-12-23 16:11] vlj commented on #1364
I don't know how to do, it's done at thread management level code in rpcs3.

[2015-12-23 17:45] #1342 closed

[2015-12-23 18:11] Xcedf commented on #1345
fixed by https://github.com/RPCS3/rpcs3/pull/1365

[2015-12-23 18:31] tambry commented on #1345
@Xcedf Have the graphics been improved by #1365?

[2015-12-23 20:09] piotr-szegda opened #1367 "Linking problem on Ubuntu 15.10"
I am trying to build on Ubuntu 15.10. I have installed LLVM 3.6, 3.7 and 3.8. When I build without any parameters by default, it is used LLVM 3.7.

[code]

So I try to specify 3.6 dir.

[code]

Compilation goes without problems, but when run whatever rpcs3 crash. Log from gdb.

[code]

I'm doing something wrong or is a linker error?

[2015-12-23 20:12] Xcedf commented on #1345
Nope, in this game everything pretty much the same

[2015-12-23 20:55] tambry commented on #1367
@piotr-szegda Not an expert on Linux, but it would seem, that it tries to use LLVM 3.8?
´´´´0x00007ffbe153c0a7 in ?? () from /usr/lib/x86_64-linux-gnu/libLLVM-3.8.so.1

[2015-12-23 20:58] piotr-szegda commented on #1367
Yes you right but I don't know why. I'm sure I typed "cmake CMakeLists.txt -DLLVM_DIR=/usr/share/llvm-3.6/cmake". It seems that version 3.6 is compiled but linked is 3.8.

[2015-12-23 21:17] tambry opened #1368 "~9000 lines of warnings about interpreter and recompiler on Travis"
See [this](https://travis-ci.org/RPCS3/rpcs3/jobs/98557153) build log.
All the warnings look nearly the same.

**Interpreter warnings:**
[code]

**Recompiler warnings:**
[code]

[2015-12-23 21:31] vlj commented on #1368
The function needs to be marked "override". I think the issue was there but the usage of static version of ppu_interpreter by PPU LLVM doubled the amount of warnings.

[2015-12-23 21:48] vlj opened #1369 "Question about RSX: Precedence between vertex array and vertex register ?"
I found why character in After Burner Climax were buggy, it's because of an ambiguity over vertex attribute declaration.

The relevant command dump looks like :

Vertex array 1: (disabled)
Vertex array 1: Offset = 0
Vertex array 7: (disabled)
Vertex array 7: Offset = 0
(invalidate vertex cache file)
(invalidate vertex file)
(invalidate vertex file)
(invalidate vertex file)
(invalidate vertex cache

[2015-12-23 21:54] paulsapps commented on #1368
I'll add them in if you want, better if you work on other fixes instead of adding "override" everywhere :P

[2015-12-24 07:25] tambry commented on #1369
@AlexAltea knows a lot about RSX, so he might be able to help.

[2015-12-24 18:21] mkultimate opened #1372 "message when running tony hawk 5"
![error tony hawk](https://cloud.githubusercontent.com/assets/16367065/11997104/f31087de-aa40-11e5-8e65-080217390eee.png)

[2015-12-24 18:36] mkultimate opened #1373 "openGL screen black dragon ball raging blast 2"
once executed the game starts a black screen after logo
1: ![error 1 racing blash 2](https://cloud.githubusercontent.com/assets/16367065/11997197/263014b6-aa43-11e5-94d6-154c549e17e7.png)

2: ![error 2 racing blash 2](https://cloud.githubusercontent.com/assets/16367065/11997201/336730ba-aa43-11e5-9e6a-84094f411584.png)

[2015-12-24 21:10] tambry commented on #1373
@mkultimate Once again, no mention of the settings used or no log file.
This report is basically uselesss without the details.

[2015-12-24 21:26] mkultimate commented on #1373
ok and he puts the settings used

[2015-12-24 21:40] mkultimate commented on #1373
![config 1 racing blash 2](https://cloud.githubusercontent.com/assets/16367065/11998025/7fb716fc-aa5b-11e5-94a1-4b026c09b82b.png)
![config 2 racing blash 2](https://cloud.githubusercontent.com/assets/16367065/11998026/7fcb1f30-aa5b-11e5-87e1-c86f3f6a34f4.png)

LLEModules:

cellM2AACenc_Library v1.1
cellM2AACenc_Library_spurs v1.1
cellFiber_Library v.1.1
cellJpgdec_Library v.1.1
CELL_L10n_PRX_MODUL

[2015-12-25 07:30] tambry commented on #1321
As there has been no further discussion, I'm going to assume that the issue has been fixed.

[2015-12-25 07:30] #1321 closed

[2015-12-25 07:32] tambry commented on #1372
I don't want to really throw out these issues, but as you've failed to provide the required information for the issue, I'm going to close this. Feel free to post the issue on the forum. Github issue tracker is more for known specific problems in a certain function, rendering issue and generally for keeping track of actual code issues.

[2015-12-25 07:32] #1372 closed

[2015-12-25 07:33] tambry commented on #1373
[Closing for the same reason as the #1372](https://github.com/RPCS3/rpcs3/issues/1372#issuecomment-167204523).

[2015-12-25 07:33] #1373 closed

[2015-12-25 12:30] JohnGodgames opened #1374 "Madagascar 3 almost black ingame - Unimplemented SCB / Unimplemented TEX_SRB instructions"
I don't know exactly if unimplemented instructions below have an any impact to blacky ingame, but I want you to know @vlj .

##### Unimplemented SCB instruction: PK16 RSX: E
##### Unimplemented TEX_SRB instruction: UPB RSX: W

[LOG](https://mega.nz/#!6E0TwABT!7eT5Nhtw5zrMfQFGIurBmJVGeXqNz7BBx-YkSuuBjjE)

##### rpcs3 settings:

![rpcs3 settings 1](https://cloud.githubusercontent.com/assets/11453507

[2015-12-25 20:20] vlj commented on #1369
hmmm with some studies on DBZ and SH3 I'm starting to have a more complete figure of how transform program works...

[2015-12-25 21:23] mkultimate opened #1375 "wxWidgets Degub alert"
when running the game Naruto presents this alert

![error 1 naturo shippuden ultimate](https://cloud.githubusercontent.com/assets/16367065/12004388/e7e1e0dc-ab22-11e5-8d81-4f66cca392a0.png)
![config 1 naturo shippuden ultimate](https://cloud.githubusercontent.com/assets/16367065/12004386/e7c2aac8-ab22-11e5-97bc-f403df43b8cd.png)
![config 2 naturo shippuden ultimate](https://cloud.githubusercontent

[2015-12-26 02:06] JohnGodgames commented on #1345
fixed by #1365

[2015-12-26 02:06] #1345 closed

[2015-12-27 22:39] mkultimate opened #1376 "error skate will install game data to the HDD"
when running the game Skate 3 presents this alert

![error 1 skate 3](https://cloud.githubusercontent.com/assets/16367065/12012365/b48f69aa-acbe-11e5-8f12-265970dcde21.png)
![error 2 skate 3](https://cloud.githubusercontent.com/assets/16367065/12012367/c32688c2-acbe-11e5-9ab0-4156791d6864.png)

Config:
![config 1 skate 3](https://cloud.githubusercontent.com/assets/16367065/12012373/03bef13a-acbf-1

[2015-12-27 23:56] vlj opened #1380 "Question about RSX Fragment program : is dst.end really the end of a program ?"
Some of my testing seems to hint that fragment program data may extends past the last instruction.

In DBZ: Burst Limits there's frequently pair of vertex and fragment shaders with missing diffuse_color varying. The output attrib mask is also no set in such case.
Of course using a 0 value for diffuse color only produce a black screen for the concerned draw call. But using a 1 value seems not to wo

[2015-12-28 06:34] tambry commented on #1376
@mkultimate Please provide the log file. There should also be no need for posting the screenshots of settings, if you give us the log.

[2015-12-28 11:05] DHrpcs3 commented on #1380
dst.end is end of program, but last instruction can use constant argument (that should be stored in the next slot)

[2015-12-28 16:26] vlj commented on #1380
Thanks ! I found what's happening. The command queue was indeed writing to the fragment constant of the last instruction.

The issue is that FragmentDecompiler didn't consider last instruction input as a fragment constant but as a fragment input. The reg_type was 1 and not 2, but the vertex corresponding output was disabled by output mask.
Actually it looks like if a vertex output/fragment input i

[2015-12-28 20:44] Altaiar opened #1381 "Graphic bugs in Super Frog [NPEB01316]"
First time
show menu and intro all buttons work and graphic is glitches
log:  https://www.mediafire.com/?b7grulua2v2959l
Second time
it just show a logo and hang(my mean is emulator work but do`nt go further)
and when i remove save data and start again show menu and intro..... like first time
i think there is a problem with save data
Second time log : https://www.mediafire.com/?9j6s8edhcg7u7bc
pic

[2015-12-29 17:22] vlj commented on #1348
Should be fixed in latest d3d12 branch

[2015-12-29 18:44] JohnGodgames commented on #1348
yeah fixed

[2015-12-30 00:06] mkultimate opened #1384 "openGL Unsupported surface color format (0x10)"
when running the game Midnight Club Los Angeles.
![error 1 midnight club los angeles](https://cloud.githubusercontent.com/assets/16367065/12044402/790295aa-ae5e-11e5-8c30-c5f60b5a604e.png)

Modules LLE:
cellSpursJq_Library v1.1
cellSre_Library v1.1

log:
[RPCS3 Midnight Club Los Angeles.zip](https://github.com/RPCS3/rpcs3/files/74490/RPCS3.Midnight.Club.Los.Angeles.zip)

[2015-12-30 15:41] vlj opened #1386 "VS 2015 static analysis is unavailable."
When trying to run a static analysis on D3D12GSRender I have the following errors :

3>Emu\RSX\D3D12\D3D12Buffer.cpp(1): fatal error C1083: Cannot open precompiled header file: 'x64\Release - LLVM.pch.codeanalysis': No such file or directory
3>Emu\RSX\D3D12\D3D12CommonDecompiler.cpp(1): fatal error C1083: Cannot open precompiled header file: 'x64\Release - LLVM.pch.codeanalysis': No such file or d

[2015-12-31 09:41] Joeypc opened #1387 "Disgaea D2"
E {PPU Thread[0x1](main_thread)[0x003903f8]} sceNp: sceNpManagerRegisterCallback
E {PPU Thread[0x1](main_thread)[0x0038f158]} cellSysutil: cellSaveDataEnableOverlay(enable=1)
E {PPU Thread[0x1](main_thread)[0x003904d8]} sceNp: sceNpManagerGetNpId
E {PPU Thread[0x1](main_thread)[0x00390098]} sceNp: sceNpBasicRegisterContextSensitiveHandler
E {PPU Thread[0x77](Trophy thread)[0x003905b8]} sceNpTrophy

[2015-12-31 12:07] tambry opened #1388 "Hatsune Miku: Project DIVA F shader undeclared identifier"
Shader program fails to compile with the following message:
[code]

Log:
https://gist.github.com/tambry/ddaf595da9594f787385

[2015-12-31 14:42] mkultimate opened #1389 "savedata BLES00599-CNT considered broken Bayonneta"
![error 1 bayonneta](https://cloud.githubusercontent.com/assets/16367065/12065205/f5ae16fe-afa0-11e5-956a-0ef37ad6f228.png)

when you press start and presents this message when you select yes and the game continues
![error 2 bayonneta](https://cloud.githubusercontent.com/assets/16367065/12065212/06dcd3ca-afa1-11e5-955c-02b491c515fe.png)

savedata BLES00599-CNT considered broken
![error 3 bayonneta

[2015-12-31 14:53] tambry commented on #1389
@mkultimate The game specified to us that it considers the savedata file broken. Nothing we can really "fix".

[2015-12-31 14:53] #1389 closed

[2016-01-01 22:35] danilaml commented on #1348
@JohnGodgames can you close it then?

[2016-01-01 22:36] danilaml commented on #1380
@vlj could this issue be closed?

[2016-01-01 22:38] danilaml opened #1391 "Journey, messed up paths?"
Forum thread: http://www.emunewz.net/forum/showthread.php?tid=173743
Log: http://pastebin.com/jRVhn2CZ
Tries to open `/app_home/e:/dev_hdd0/...`

[2016-01-01 23:07] vlj commented on #1380
yes

[2016-01-02 00:55] JohnGodgames commented on #1348
@danilaml @vlj it's not merged in master I think?

[2016-01-02 01:20] danilaml commented on #1348
@JohnGodgames I see.

[2016-01-02 08:03] tambry commented on #1391
My guess is likely cellGame* functions. They're terrible in terms of accuracy.

[2016-01-02 18:32] vlj opened #1392 "Follow CppCoreGuidelines and add Microsoft GSL lib ?"
With Visual Studio 2015 Update 1 added tools supporting "C++ Core Guidelines" :+1: http://blogs.msdn.com/b/vcblog/archive/2015/12/03/c-core-guidelines-checkers-available-for-vs-2015-update-1.aspx

Basically these Guidelines were presented in october in CppCon. It's a set of "good practice" rules that can be enforced by tools (like no uninitialized ptr, no array by pointer passing and so on...) and

[2016-01-02 20:53] vlj commented on #1380
Reopening, in Super Puzzle Fight super puzzle fighter ii turbo hd fragment shader #4 is missing some instructions. A workaround to ignore dst.end the first time it appears makes the sprite correct.

[2016-01-03 07:55] tambry commented on #1380
@vlj Seems like you didn't actually reopen the issue. Reopening for you.

[2016-01-03 15:10] DHrpcs3 commented on #1380
Check first instruction with dst.end, that can be a constant. Probably prev instruction use constant argument, but emulator does not handle it.

[2016-01-04 17:02] vlj commented on #1392
Note that clang-tidy (clang static analyser) already support some of the rules :
http://clang.llvm.org/extra/clang-tidy/checks/list.html

[2016-01-05 08:48] B1ackDaemon opened #1398 "Issue with DX12 in Raiden IV: Overkill (NPUB31371)"
Tested on recent master build. Freezes at "press start button" screen.
Log: http://rghost.ru/6tnDkMZR9

[code]

[2016-01-05 11:05] B1ackDaemon opened #1399 "1912: Joint Strike (NPUB90104) no longer works in DX12"
Last PR, in which was possible to boot game was #1336. Some other games also could be affected.
In #1344 and #1350 attempt to load game crashes rpcs3.
[code]
In #1347 and later it just hangs, Output log in VS shows this
[code]

Logs: http://rghost.ru/7FHqlcsNb

[2016-01-05 11:22] vlj commented on #1399
A filter enum was accidently removed I will fix this in next d3d12 pr

[2016-01-05 11:51] B1ackDaemon commented on #1399
@vlj, thanks, waiting for your next PR ;)

[2016-01-05 15:34] B1ackDaemon opened #1400 "FP: src type 3 used"
Discovered in game Astro Tripper (NPUB30062)
See screenshots and log:
http://www.emunewz.net/forum/showthread.php?tid=158807&pid=228722#pid228722

[2016-01-05 15:49] danilaml commented on #1400
@vlj ?
from thread:
[code]

[2016-01-05 20:09] B1ackDaemon opened #1401 "DX12: PR #1393 regression"
I'm noticed, that some games, like BloodRayne: Betrayal (NPUB30377) and Prince of Persia Trilogy 3D (BLES01092) now crashes rpcs3. After testing various builds, i have found, that it's happens from #1393 and newer builds. VS debugger shows this:
[code]
[code]
[code]

Log from BloodRayne: Betrayal can be found here:
http://www.emunewz.net/forum/showthread.php?tid=173701&pid=228736#pid228736

[2016-01-05 20:56] vlj commented on #1401
If I remember correctly BloodRayne Betrayal and PoP have both issues compiling shader (textureLod).
The PR changed the behaviour in such case, an exception is thrown instead of pausing the game so it's normal. I think the correct fix is to implement textureLod for d3d12 though.

[2016-01-06 04:48] SUckZz opened #1403 "Problem launching game"
Hello.

I just downloaded rpcs3 and wanted to play a game. When i launch the game then it wont do anything than just throw an error

full log is "E {PPU Thread[0x1] (main_thread)[0x0012ed48]} Exception: Invalid or unimplemented flags (010000): '/dev_bdvd/PS3_GAME/USRDIR/Launcher/Launcher.mself'
(in file C:\rpcs3\rpcs3\Emu\SysCalls\lv2\sys_fs.cpp:100, in function sys_fs_open)
"

Game I'm trying to

[2016-01-06 06:29] B1ackDaemon commented on #1401
@vlj, thanks for explanation, then it can be closed until proper fix. For me this situation seems, like double-edged sword, because it has cons too, like preventing researching for interesting material :P

[2016-01-06 07:55] tambry commented on #1401
I guess this issue is basically #1388.

[2016-01-06 07:58] tambry commented on #1403
@SUckZz
Please read the [FAQ](https://github.com/RPCS3/rpcs3/wiki/FAQ).
Commercial games, that are fully playable are listed [here](http://www.emunewz.net/forum/forumdisplay.php?fid=195).

As you already probably learned from reading the FAQ, most commercial games wont work and only very few are fully playable. Github is more for development-related issues, as explained by the FAQ.

[2016-01-06 07:58] #1403 closed

[2016-01-06 16:55] tambry commented on #1200
@vlj Is this still an issue?

[2016-01-06 23:21] vlj commented on #1200
without LLE yes.

[2016-01-07 06:48] tambry commented on #1200
@vlj Which module is at fault here then?

[2016-01-07 08:36] B1ackDaemon opened #1405 "Corrupted graphics in Cloudberry Kingdom (NPUB31177)"
Some of textures displays wrong and corrupted, which could be noticed in video below (see log in attachment)
http://www.emunewz.net/forum/showthread.php?tid=173875&pid=228782#pid228782

[2016-01-07 17:35] #919 closed

[2016-01-08 16:29] B1ackDaemon opened #1410 "DX12: Final Fight: Double Impact - broken in-game graphics"
Ingame graphics broken since PR #1276. In previous PR #1271 it shows ingame graphics fine.

Logs from both builds:
http://rghost.ru/6LpZCXxwQ

[2016-01-08 19:40] #1368 closed

[2016-01-09 15:10] raven02 opened #1412 "DX12: Hitman 2 Silent Assassin HD screen half cut"
DX12 screen right bottom half cut , possibly related to write color buffers

![hitman](https://cloud.githubusercontent.com/assets/3000282/12216726/3527ba38-b726-11e5-8e85-cb396ac676c4.jpg)

[2016-01-09 17:35] vlj opened #1413 "GL backend is broken"
With master if I tries to run any sample (primitives) or games (Sonic CD) there's nothing on screen with openGL.

There's a curious message, "RSX: E {rsx::thread} OpenGL: initialization of glDepthBoundsEXT failed."

[2016-01-09 17:46] tambry commented on #1413
@vlj Does your graphics card support the depth bounds extension (or whatever it is exactly called)?
That error message should only occur, when the graphics card doesn't support the given extension.

[2016-01-09 17:46] tambry commented on #1412
@raven02 Please also provide the log, the settings used and the LLE'd modules. Could you also elaborate on how it's related to write color buffers?

[2016-01-09 18:43] B1ackDaemon commented on #1412
I recently tested it too, log included in attachments
http://www.emunewz.net/forum/showthread.php?tid=162331&pid=228858#pid228858

[2016-01-09 21:55] vlj commented on #1413
nvm the wrong adaptater (intel igpu) was being used, I fixed that and now everything is back to normal. sorry.

[2016-01-09 21:55] #1413 closed

[2016-01-10 04:40] raven02 commented on #1412
This one can boot without any LLE modules and require color buffer to be enabled.

[2016-01-10 10:33] tambry commented on #1401
@B1ackDaemon Fixed in #1414?

[2016-01-10 10:34] tambry commented on #1388
Fixed by #1414.

[2016-01-10 10:34] #1388 closed

[2016-01-10 12:20] raven02 commented on #1127
If we use the cellPngDec LLE module , it decode all correct .

[2016-01-10 12:31] tambry commented on #1127
And that's the reason for #1359 :)

[2016-01-10 13:42] raven02 commented on #1127
Cool .

[2016-01-10 14:09] hakusdream commented on #1367
Run `ldd` on the generated executable, and post the output, @piotr-szegda.

[2016-01-10 14:48] piotr-szegda commented on #1367
linux-vdso.so.1 =>  (0x00007ffe472fa000)
        libwx_gtk2u_core-3.0.so.0 => /usr/lib/x86_64-linux-gnu/libwx_gtk2u_core-3.0.so.0 (0x00007f8619e18000)
        libwx_baseu-3.0.so.0 => /usr/lib/x86_64-linux-gnu/libwx_baseu-3.0.so.0 (0x00007f8619980000)
        libwx_gtk2u_aui-3.0.so.0 => /usr/lib/x86_64-linux-gnu/libwx_gtk2u_aui-3.0.so.0 (0x00007f86196e0000)
        libwx_gtk2u_gl-3.0.so.0 => /usr/l

[2016-01-10 16:53] slashiee opened #1416 "Blank files being created instead of folders"
I have only come across this while trying to boot up LittleBigPlanet Demo, LittleBigPlanet Full, LittleBigPlanet 2 Demo, and LittleBigPlanet 2 Full.

When I boot it up first time, it'll create a temp file instead of folder, preventing the game to boot up.

If you delete that file and then make a folder named that, it'll boot up. After the ESRB logo, it creates another file named dl and crashes. If

[2016-01-10 18:25] B1ackDaemon commented on #1401
@tambry , yep, can be closed ;)

[2016-01-10 18:25] #1401 closed

[2016-01-10 19:07] tambry commented on #1416
@GoldtexTwitch Seems like something I could research, after I'm done with #1359.

[2016-01-10 19:11] Nekotekina commented on #1386
It's caused by incorrect Rebuild behaviour. Rebuild does clean + build for each project independently, and each clean of the project other than emucore destroys the precompiled header. It's said that we can override Rebuild behaviour for each project independently, so it could be possibly fixed.

[2016-01-10 19:58] vlj commented on #1380
Closing since it was not good diagnostic for SPFIITH

[2016-01-10 19:58] #1380 closed

[2016-01-10 20:37] danilaml opened #1418 "DX12 Performance regression in dice test"
Caused by https://github.com/RPCS3/rpcs3/pull/1344 by @vlj (haven't bisected particular commit)
Fps went down by 10-15.

[2016-01-11 06:56] Joeypc opened #1420 "I need the lle modules pls"
Can you uploadit to me ??

[2016-01-11 12:23] tambry commented on #1418
@danilaml What GPU, CPU, etc?
Also would be nice to have a log, so we can see the rest of the used options.

[2016-01-11 13:56] danilaml commented on #1418
@tambry both on intel hd4600 iGPU and amd r9 290. DX12, with interp 2 or recompiler, doesn't matter.

[2016-01-11 14:06] B1ackDaemon opened #1421 "DX12: 'SampleLevel': implicit truncation of vector type"
Discovered in game Shoot Many Robots (NPUB30600)
http://www.emunewz.net/forum/showthread.php?tid=169135&pid=228969#pid228969

[code]

[2016-01-11 16:07] tambry commented on #1381
@Altaiar Have the graphics improved?

[2016-01-11 16:09] tambry commented on #1369
@vlj Can this be closed?

[2016-01-11 17:03] vlj commented on #1369
yes

[2016-01-11 17:03] #1369 closed

[2016-01-11 19:32] tambry commented on #1358
@danilaml Is this still an issue?

[2016-01-11 19:35] tambry commented on #1349
@fenix008 Is this still an issue?

[2016-01-11 19:55] vlj commented on #1421
can you share all FragmentProgramX.hlsl in bin/ folder after the error has been met ?

[2016-01-11 20:10] danilaml commented on #1358
@tambry. I think it should be fixed by https://github.com/RPCS3/rpcs3/pull/1415 (haven't tested yet)

[2016-01-11 20:38] B1ackDaemon commented on #1421
@vlj, done http://rghost.ru/6JSLXJF7n

[2016-01-11 22:47] fenix008 commented on #1349
@tambry yes, I still can't get it on OpenGL and DX12.

[2016-01-11 23:02] B1ackDaemon opened #1422 "DX12: undeclared identifier 'packSnorm2x16'"
Discovered in game Prince of Persia Trilogy 3D (BLES01092)
http://www.emunewz.net/forum/showthread.php?tid=173729

[2016-01-11 23:14] danilaml commented on #1358
Yeah, it fixed now. Now game just "deadlocks" with frozen fps as before: http://pastebin.com/MBygtUVP. Maybe some libs need LLEing.

[2016-01-11 23:14] #1358 closed

[2016-01-12 00:40] vlj opened #1423 "OpenGL/WxWidgets: How to create a debug context ?"
I'd like to have ARB_DEBUG_OUTPUT enabled in OpenGL. It's an extension that makes the driver prints a message when an error is met which is much, much, much better than the traditionnal glError(); mechanism. It's pretty close to DX debug layer, except that the message are accessible outside of Visual Studio (and thus can be printed to RPCS3.log).

It requires an OpenGL Debug context to be created

[2016-01-12 01:12] DHrpcs3 commented on #1423
just call glEnable(GL_DEBUG_OUTPUT)

[2016-01-12 02:28] Altaiar commented on #1381
Dx12 Hang after show logos or in menu when press button and graphic is glitches
OPENGL like before graphic is glitches
and still i must remove save data for go in game after first time
DX12 log
https://www.mediafire.com/?mmo55vgxweovdv9

[2016-01-12 05:28] raven02 commented on #1422
i think packSnorm2x16 is for GLSL only.

[2016-01-12 13:23] JohnGodgames opened #1426 "Vulkan : Jet Set Radio alpha texture issue"
Last working for me https://github.com/RPCS3/rpcs3/pull/1395
I'm sure that problem started here somewhere https://github.com/RPCS3/rpcs3/pull/1402

![jet set broken](https://cloud.githubusercontent.com/assets/11453507/12264486/702e6268-b937-11e5-8e69-624bbe73baa7.PNG)

![jet set broken 2](https://cloud.githubusercontent.com/assets/11453507/12264489/75423144-b937-11e5-9b88-7836eeb440ae.PNG)

[LOG](

[2016-01-12 15:27] Xcedf commented on #1426
Confirm

[2016-01-12 17:31] JohnGodgames commented on #1348
Fixed by https://github.com/RPCS3/rpcs3/commit/324b2da3ec337383fc9bfc18ebdff92a9a4f9324

[2016-01-12 17:31] #1348 closed

[2016-01-12 17:32] vlj commented on #1426
Rather texture issue that alpha issue, they're all white.

[2016-01-12 17:38] JohnGodgames commented on #1426
True...updated thx @vlj

[2016-01-12 20:30] SakataGintokiYT opened #1427 "Naruto Shippuden: Ultimate Ninja Storm 2 [NPJB90253]-[Graphic glitches]"
Rpcs3.D3D12.11-01-16 -  https://github.com/Zangetsu38/rpcs3/releases

*Movie : https://www.youtube.com/watch?v=BhBdQC2RQGA

*Log : https://gist.github.com/SakataGintokiYT/807b4b5765c83cbcba4c

*Image :
<img src="http://www.fotoszok.pl/upload/306b9a7f.jpg" alt="2015-12-13 20_52_51-xenia" style="max-width:50%;">

LLE:
cellFiber_Library v1.1
cellPngDec_Library v1.1
cellSpursJq_Library v1.1
cellSre_Li

[2016-01-13 11:48] B1ackDaemon opened #1429 "DX12: Hyperdimension Neptunia (BLUS30701) crash regression"
Crashes, when choose new game, and it opens window with settings. Probably caused by changes in PR #1419

See:
http://www.emunewz.net/forum/showthread.php?tid=165037&pid=229076#pid229076

[2016-01-13 12:34] B1ackDaemon opened #1430 "DX12: Regression in some games after PR #1415 changes"
Affected games - Bayonetta (BLES00599) and Hyperdimension Neptunia (BLUS30701). Before PR #1415 changes there was appears assertion failures (line 108 in D3D12Texture.cpp, and line 103 in D3D12MemoryHelpers.h), but it was possible to skip them and get further. Now renderer window just silently hangs without any messages, and both games got regressions. In Bayonetta it's no longer possible to get i

[2016-01-13 12:51] vlj commented on #1429
Did you test with private 1419 only?

[2016-01-13 13:01] tambry commented on #1427
@SakataGintokiYT Please try with a more official release from [here](https://github.com/Bigpet/rpcs3/releases).

[2016-01-13 13:42] raven02 commented on #1422
@B1ackDaemon , if change the packSnorm2x16($0) to round(clamp($0, -1.0, 1.0) * 32767.0) , did it look better?

[2016-01-13 14:04] SakataGintokiYT commented on #1427
v0.0.0.6-362-g9d1208b: Merge pull request #1394 from vlj/build
Cell\PPUInterpreter.cpp:1699, in function ppu_interpreter::TW)

[2016-01-13 15:04] vlj commented on #1429
If several texture shares the same base 4096 address one will overwrite the other even if it's used later in the pipeline, likely causing the heap corruption.

[2016-01-13 15:50] tambry commented on #1427
@SakataGintokiYT Could you also compile master and test with that?
Zangetsu's builds are full on nasty and completely wrong hacks.
If it fails with a trap instruction, then something has gone very wrong, and indicates that the game must abort processing immediately.

[2016-01-13 16:17] tambry commented on #1429
@vlj What do you exactly mean by private 1419?

[2016-01-13 16:29] SakataGintokiYT commented on #1427
I'm not a programmer  : )

[2016-01-13 16:32] vlj commented on #1429
with PR*

[2016-01-13 16:35] tambry commented on #1427
@SakataGintokiYT See the edit.

[2016-01-13 16:42] SakataGintokiYT commented on #1427
*rpcs3-ReleaseLLVM-5029dff7
*rpcs3-ReleaseLLVM-bed28bfe

{PPU Thread[0x1] (main_thread)[0x00480a4c]} Exception:
(in file C:\rpcs3\rpcs3\Emu\Cell\PPUInterpreter.cpp:1699, in function ppu_interpreter::TW)
Please report this to the developers.

[2016-01-13 16:49] tambry commented on #1427
@SakataGintokiYT
We don't intend on supporting builds with numerous hacks, that got the game into a state, where it shouldn't be. There's a reason why a trap instruction does exactly what it would on a real PS3.

[2016-01-13 16:49] #1427 closed

[2016-01-13 17:35] B1ackDaemon commented on #1429
@vlj, i tried to undo 1419 changes in latest master build, and crash in menu gone.

[2016-01-13 18:07] B1ackDaemon commented on #1422
@raven02, it goes further, but now asking for 'unpackSnorm2x16'.

[2016-01-13 22:26] PZerua commented on #1422
Also happens in God of War 3 DEMO.

[2016-01-13 23:28] vlj opened #1432 "VS 2015 build broken"
Since commits 38531459df73a3f6ea57d43815d6f496991b50e0 and b3e3c68f15335cda4a7e4173abaf9c3df396c37e it's not possible to build using VS2015.

There's 2 errors :
"rpcs3.rc(4): fatal error RC1015: cannot open include file 'wx/msw/wx.rc'."
and if I remove the include :
"LINK : fatal error LNK1104: cannot open file 'asmjit.lib'"

[2016-01-13 23:46] mkultimate opened #1434 "Unknown/illegal channel (ch=1 [$SPU_WrEventMask], value=0x2) motorstorm apocalyse DX12"
When finished loading is interrupted by stopping the emulation

Note: compilation used
rpcs3.D3D12.11-01-16 Zangetsu38

![error 1 motorstorm apocalyse](https://cloud.githubusercontent.com/assets/16367065/12311521/8cb491fc-ba25-11e5-95d6-f258449eb8ab.png)

log:
https://mega.nz/#!WRIjVagZ!8hWk3T7BbL27nfQm45y2fT574owq-ELpWPDvZ_OB-Ts

Modules LLE
cellSpursJq_Library v1.1
cellSre_Library v1.1

[2016-01-13 23:59] Nekotekina commented on #1432
Sorry, will fix tomorrow.

[2016-01-14 02:05] raven02 commented on #1422
@B1ackDaemon , then how about change unpackSnorm2x16 to clamp($0 / 32767.0, -1, +1) ?

[2016-01-14 02:13] vlj commented on #1422
Pack should convert vec 2 to a single uint, I think there's a l shift missing somewhere.

[2016-01-14 02:50] B1ackDaemon commented on #1422
@raven02 , now it goes to menus and ingame. Unfortunately, it's still very broken, and there is almost no graphics output, in log i noticed
[code]

Comparing to earlier attempts, now it at least displays something, like balcony with light, and prince
http://rghost.ru/88qfBvCWb/image.png

[2016-01-14 10:39] B1ackDaemon opened #1435 "DX12: The Awakened Fate: Ultimatum (BLJS10275 / BLUS31500) crash regression"
Crashes, when attempt to boot game. Loads fine in previous PR #1415.

[code]

Log: http://rghost.ru/7z2nbtfwQ

[2016-01-14 19:50] Nekotekina commented on #1432
Should be fixed now.

[2016-01-15 05:31] tambry commented on #1400
@B1ackDaemon Could you attach all the fragment program files generated when running the game? (Delete the old ones before, so you only see the ones made by that one game)

[2016-01-15 08:10] B1ackDaemon commented on #1400
@tambry , done.
http://rghost.ru/7QBkYRC7F

[2016-01-15 16:50] vlj commented on #1400
Did you delete the fragment shader before ? Did you use a hack to get past compilation error ?
I don't see any error in the fragment shader 10 :/

[2016-01-15 16:59] tambry commented on #1400
@vlj 99th line:
[code]

I think you need a source before that .wwww, but I'm no shader expert.

[2016-01-15 19:17] B1ackDaemon commented on #1400
@vlj , yes, i did. Just tried with vanilla PR #1355
Log: http://rghost.ru/6R2MnQlSR

[2016-01-15 22:25] vlj commented on #1400
@tambry yes you're right I didn't saw it at first.

it looks like a memory corruption, h47 register is not used before and after, and .www hints that the register type is unknow. I guess the last shader program opcode is overwritten by something else in rpcs3 which makes it invalid.

[2016-01-16 17:18] vlj opened #1438 "FP : depth replace mode and half float register"
My testing on Naturo Shippuden Ultimate Ninja Storm 2 reveals that the depth output register doesn't follow the "output_from_h0" flag for color register.

The fragment shader #6 has indeed the "output from h0" and "depth replace" flag but looking at the shader it's obvious that depth doesn't come from h2.z, or any other channel of h2 since h2 is only storing a texture sample operation with a "clas

[2016-01-17 08:18] tambry commented on #1432
@vlj Is it fixed?

[2016-01-17 08:19] tambry commented on #1398
@B1ackDaemon Still an issue?

[2016-01-17 08:19] tambry commented on #1399
@B1ackDaemon Fixed?

[2016-01-17 08:19] tambry commented on #1405
@B1ackDaemon Still an issue?

[2016-01-17 08:20] tambry commented on #1412
@raven02 Is this still an issue?

[2016-01-17 08:21] tambry commented on #1374
@JohnGodgames I see you have reported several issues in one issue. Would you mind splitting it up for each problem? (The shader problems and the HLE problem)

[2016-01-17 13:40] tambry commented on #1421
@B1ackDaemon Fixed by #1439?

[2016-01-17 14:56] raven02 commented on #1412
Yes , still happened in latest build.

[2016-01-18 19:15] tambry commented on #1353
@danilaml Is this fixed?

[2016-01-18 19:16] tambry commented on #1351
@B1ackDaemon Is this fixed?

[2016-01-18 20:29] SakataGintokiYT opened #1444 "Initial D Extreme Stage [BLJM60055]"
[b]*[v0.0.0.6-403-gdf3fddc: Merge pull request #1442 from vlj/rsx-debug] [/b]

[video=youtube]https://www.youtube.com/watch?v=w-_H5Mri-dc&feature=youtu.be[/video]

[b]LOG :[/b]  https://gist.github.com/SakataGintokiYT/5c815f030870b91f7183

[b]LLE :[/b]
-cellFiber_Library v1.1
-cellPngDec_Library v1.1
-CellSail_Library v1.1
-cellSpursJq_Library v1.1
-cellSre_Library v1.1
-cellSsl_Library v1.1

[b]S

[2016-01-18 20:40] danilaml commented on #1353
fixed

[2016-01-18 20:40] #1353 closed

[2016-01-19 15:41] #1432 closed

[2016-01-20 19:45] B1ackDaemon commented on #1405
@tambry , game broken on recent master build, will check, where it's exactly was broken.
[code]

[2016-01-20 19:53] B1ackDaemon commented on #1421
@tambry , still occurs on recent master build (PR #1447)
Log: http://rghost.ru/7xj8ppQbD

[2016-01-20 20:09] tambry commented on #1405
@B1ackDaemon
0x3E6 = ERROR_NOACCESS
"Invalid access to memory location."

Interesting that it occurs in a read function.

[2016-01-20 20:12] tambry commented on #1421
Probably the fault of the unimplemented UPB (Unpack Byte?) shader instruction in DX12, then.

[2016-01-20 20:47] B1ackDaemon commented on #1399
@tambry , yep, works fine on recent master build (PR #1447).

[2016-01-20 20:47] #1399 closed

[2016-01-20 20:52] B1ackDaemon commented on #1398
@tambry , yep, still occurs on recent master build (PR #1447).

[2016-01-23 12:39] ghost opened #1449 "Game compatibility list (again)"
Since there isn't one yet if possible I would like to contribute with the project by taking care of that. I have an extensive knowledge in WordPress customization and my goal is to complete the task ASAP.

Let me know.

[2016-01-23 13:27] tambry commented on #1449
@Paul-C-F This would be nice. There's [the forum](http://www.emunewz.net/forum/forumdisplay.php?fid=193), but that isn't easily searchable something like [this](https://docs.google.com/spreadsheets/d/1DJHDYrBKz9ligX5WmWCXkealUNhW_mbE-FevrJC6_nQ).
Sadly the latter is horribly outdated, but I've found it very useful for researching certain problems in some games. I would love to have one like that f

[2016-01-23 13:36] Paul-C-F commented on #1449
Hi Tambry, WordPress will be perfect for the task since it is fully extensible.
What I would do is to create a custom Wordpress plugin that accommodates the data structure defined on the spreadsheet you've specified (test_comp). This allows us to enter data using standard forms, search it, filter it and display it in the website in any shape of form that we want.

We could also integrate it with P

[2016-01-23 14:18] tambry commented on #1449
@Paul-C-F
That would be great!
Just as an idea, it would be nice to have a filtering option for different modules, so you could see different games that use the given module.
And here are a few more ideas! Maybe parsing of the log files for settings (they are printed at the start of the log file along with LLE modules and other info) and the LLE modules used, maybe also include the vertex/fragment

[2016-01-23 14:26] Paul-C-F commented on #1449
That should be no problem, since I'll store this on a database I'll collect all the requirements with you and the other folks and then I'll work on a diagram for normalization and other tasks which then I'll run by you one more time before any coding is done.

As of the log files as long as they are standardized string parsing will do the trick. An option to upload attachments should assist the us

[2016-01-26 07:07] kd-11 opened #1454 "GL: Resogun has vertex transformation problems"
Resogun works up until the menu in OpenGL. However, there are transformation problems with the vertex positions causing graphics to be skewed and twisted (confirmed by patching a shader at runtime). Text however displays okay.

![resogun_ogl](https://cloud.githubusercontent.com/assets/15904127/12574329/02ced148-c414-11e5-8eb0-4e9ebf8e28d6.PNG)
![resogun_autosave](https://cloud.githubusercontent.co

[2016-01-26 14:24] vlj commented on #1454
Out of curiosity which tool do you use for patching shader?

Resogun uses instancing which is not supported by gl backend. Since rsx instancing is more flexible that gl/d3d instancing I had to use texture buffer and SV_VertexID on d3d12  branch.

[2016-01-26 14:43] kd-11 commented on #1454
@vlj I patched the shader manually once I figured out what the program was sending to the gpu. basically I did a simple override if the shader matched the one I wanted to replace. I might take a look at implementing some sort of instancing for this. I'm still getting familiar with the rsx though so I wont commit to anything just yet. I'll take a look at how its done on dx12 and try to work somethi

[2016-01-27 14:42] Paul-C-F commented on #1449
I'm just going to setup something based on that spreadsheet on a temporary site within the next 2 weeks and then I'll ask you to try it.

[2016-01-27 20:35] kd-11 commented on #1454
@vlj I reworked OGL to use VertexID and made some changes in the way inputs are passed to the shaders. Resogun now works. However, I now have the same scaling issues I saw on the dx12 branch a while back. It would save some work to know how that was fixed. (see splash screenshot)

![resogun_good1](https://cloud.githubusercontent.com/assets/15904127/12627381/94fd4460-c54e-11e5-9a35-8fae359d8020.PNG

[2016-01-27 21:03] vlj commented on #1454
I don't know where the green hue comes from.

For splashscreen it's an issue with vertex attribute components. Vertex attributes from vertex shader point of view are always float4/vec4 but from command buffer point of view they can have between 1 and 4 components.
In the splashscreen case the position attribute is a float2/vec2 if I remember correctly so there are 2 components (z and w) missing.
R

[2016-01-27 21:10] kd-11 commented on #1454
I'm using texture buffers for GL; the spec states that missing components are 0 except w which is 1 by default so I think that should be okay.

[2016-01-27 21:27] vlj commented on #1454
Is this mentionned here ? https://www.opengl.org/registry/specs/ARB/texture_buffer_object.txt

[2016-01-27 22:41] danilaml opened #1459 "DX12: Dice test broken on R9 290"
![image](https://cloud.githubusercontent.com/assets/2046350/12630981/28f15e0c-c560-11e5-83c0-03afcabedee0.png)
intel gpu works fine.
It seems to be caused by https://github.com/RPCS3/rpcs3/commit/acd384ae2d57644ee8d9db829e4ad4ed33fd3216 (I'll investigate further tomorrow).

[2016-01-27 23:30] kd-11 commented on #1454
https://www.opengl.org/wiki/Buffer_Texture shows undefined components as zeros. However, the problem with rpcs3 is not even related to that. Buffer reads are aligned to 8, so 3-component 16-bit entries are expanded to 4-component 16-bit entries in bufferutils. However, in the case of the half-float, the value set for the extra channel is 0.5 and not 1. Changing this value to expand to 1 fixes the

[2016-01-27 23:54] danilaml commented on #1449
Well, for starters something that would parse current forum and build compatibility list from there would be nice.

[2016-01-28 05:30] raven02 opened #1460 "Read/write buffer option"
Just wonder the read/write buffer option still valid for DX12 ? i remember it is for OpenGL previously

[2016-01-28 05:38] tambry commented on #1460
I think DX12 renderer doesn't need to handle that, as it's done automatically or something
vlj probably can give a proper answer.

[2016-01-28 05:39] tambry commented on #1449
@danilaml But the forum "compatibility" list is quite bad. Quite many of them likely are in the wrong category. I'd prefer a fresh start.

[2016-01-28 05:39] raven02 commented on #1460
As i seen one demo show speed boost when it turn off the buffer option using DX12

https://www.youtube.com/watch?v=HL-FcfComXo

[2016-01-28 05:41] tambry commented on #1459
@danilaml What GPU do you have? What driver version? Try to update, if not the latest.

[2016-01-28 09:27] danilaml commented on #1449
@tambry It'be better to export forum list as a table though. It'd be much easier to work with and move them to the right category. We already have quite big collection of games reported.

[2016-01-28 09:28] danilaml commented on #1459
@tambry R9 290, Crimson 16.1

[2016-01-28 17:04] tambry commented on #1449
@danilaml Exporting it as a table makes sense, but I still think that the compatibility list should be started from scratch, so we can have all the info from all games.

[2016-01-28 18:48] kd-11 commented on #1454
@vlj https://github.com/RPCS3/rpcs3/commit/d153575e59d8e5a72068d75e7248b25e38f2eeb3#diff-c749b2137d171010e40efb7281deb412R66
Did you intend to initialize the fourth component to 0.5 or 1?
0x3800 is .5, 0x3c00 is 1. Setting to 1 fixed the scaling issues

[2016-01-28 18:53] ikki84 commented on #1459
Radeon R7 200, also driver updated, tested with previous version, the screen show as the same.
With the new bigpet commit it only shows black screen when amd gpu is selected, with intel gpu, show graphics.

[2016-01-28 19:08] Paul-C-F commented on #1449
I need to put together the data structure for the title list before any importing or scrapping is done, I'll need some help with this:

**Game Title Structure**
- Title
- Title Code
- Status -> Choose from enumeration (Playable, Half Playable, Intro, Loaded, Unknown, etc)
- Comments -> Paste or edit text (One to many)
- Log -> Upload text file or paste text in the form (One to many)
- Screen Captu

[2016-01-29 12:49] Paul-C-F commented on #1449
Nice frontend: http://xenia.jp/compatibility/

[2016-01-29 12:55] Paul-C-F commented on #1449
Let me know about the following approach:

A nice emulator compability frontend: http://xenia.jp/compatibility/

As you can see in this case they link the compability table to a GitHub project setup just to store compatibility updates (https://github.com/xenia-project/game-compatibility).

When using GitHub to achieve that they can then "tag" each issue with "playable, menus, etc", which then can

[2016-01-29 13:19] tambry commented on #1449
While Xenia compatibility frontend for normal users seems OK, I'm not sure if Github issue tracker is a good choice for a backend.
How would you keep track of exactly when the status changed? And what were general comments? How would we keep track of used imported functions and called HLE functions and different errors and the shader files? I think it might be best to simply have a custom backend,

[2016-01-29 13:31] Paul-C-F commented on #1449
Gotcha. The user front-end is very simple I agree, but perhaps it should be that way for "normal" visitors that just want to quickly check the compat for a certain game.

Could you please provide me with a **complete **game compatibility **sample **so I can come up at least with the initial version of the custom backend? After I get that done we'll see what can be improved. If you already know of

[2016-01-29 15:00] danilaml commented on #1449
For me, something like in https://docs.google.com/spreadsheets/d/1DJHDYrBKz9ligX5WmWCXkealUNhW_mbE-FevrJC6_nQ/edit#gid=0 seems OK (simplified of course). I think there should at least be revision and log columns.

[2016-01-29 16:09] Paul-C-F commented on #1449
Ok so here we go, I created a diagram using draw.io, if someone would like to edit it as well let me know and i'll share the google drive file with you.

By looking at the forum and the spreadsheet I came up with this diagram, please revise and get back to me with suggestions, questions and corrections.

![rpcs3 dev](https://cloud.githubusercontent.com/assets/485653/12680581/cf111a7a-c691-11e5-8a6

[2016-01-29 16:23] tambry commented on #1449
@Paul-C-F I don't think a klic is really needed for a game, as user never really has to worry about it, and it would be only useful for decrypting EDAT files, but which we nowadays do automatically.

[2016-01-29 16:26] Paul-C-F commented on #1449
Excellent, klic will be removed.

I'll wait for more suggestions like this until we almost perfect that diagram, then I'll jump into the plugin creation.

[2016-01-29 16:27] Paul-C-F commented on #1449
One more thing, keep in mind that we can hide developer only data from regular users but we still need to store them.

[2016-01-29 17:41] vlj commented on #1454
Ho yes sorry, it was intended to be 1. I removed the 4 trailing 0 of 0x3f8000000 for some testing on Cubixx but forgot to fix the exponent/mantissa for 16 bits later.

[2016-01-29 17:48] vlj commented on #1459
I have a fix but unfortunatly it is driver dependent.

I'm actually passing vertex attribute as texture buffer from descriptor point of view but I use texture1d in the hlsl code.
I initially read them as tbuffer in hlsl as it is the right thing to do. Unfortunatly Nvidia drivers take age to compile the vertex shader (ie it takes a minute per shader instead of a second). I suspect it's trying to op

[2016-01-29 17:52] tambry commented on #1459
@vlj Maybe you could make a thread about it on Nvidia developer forums and have them take a look at fixing it? I don't think driver workarounds are a good idea, as it's something, that DX12 and Vulkan are meant to solve.

[2016-01-29 17:54] danilaml commented on #1459
@vlj I agree with @tambry . But I think it should be reported to both Nvidia and AMD. (of course if texture1d cast is not a "hack" but and actual feature that supposed to be supported)

[2016-01-29 19:49] Davixxa opened #1463 "DirectX 12 provides no video output on AMD Cards [Steins;Gate 0] - And Audio stutter on Interpreter 2/fast"
Hey, I'm trying to run Steins;Gate 0 off the emulator, however, using Windows 10, I've not been able to get DirectX 12 running with video, seems to be an AMD specific issue, my settings are

Interpreter 2
Interpreter (fast)
DirectX 12
AMD Radeon R9 200 Series as D3D Adapter
XAudio2

Console Log using Interpreter 2 at log level Success: http://pastebin.com/rSZnUfSg

Using Recompiler, it seems to fi

[2016-01-29 20:10] vlj commented on #1463
Does this PR https://github.com/RPCS3/rpcs3/pull/1462 fix your issue ?

[2016-01-29 20:14] Davixxa commented on #1463
Do you have a built version of that? I don't have Visual Studio installed at the moment, only the redistributables

[2016-01-29 20:39] annahana commented on #1463
@Davixxa test build https://ci.appveyor.com/project/rpcs3/rpcs3/build/1.0.1366/artifacts

[2016-01-29 21:08] Davixxa commented on #1463
@annahana @vlj Using Recompiler it seems to return a 0x3e6 error in File.cpp:690 in function fs::file::read.

Using Interpreter 2/fast, I seem to get an unhandled Win32 exception:
"---------------------------
Fatal error
---------------------------
Unhandled Win32 exception 0x80000003.
Exception address: 00007FFCD052B72C.
ExceptionInformation[0x0]: 0000000000000000.
Instruction address: 00007FFCD0

[2016-01-29 21:19] kd-11 commented on #1454
![resogun_menu](https://cloud.githubusercontent.com/assets/15904127/12688373/e6e6e544-c6e6-11e5-9191-09cdb0d1c0de.PNG)

Menu with #1441 and #1461 in action

[2016-01-29 21:52] kd-11 commented on #1463
Ignore the 0x3e6 for now, it happens randomly when using LLE in my experience. If you run it again it may not appear at all.

[2016-01-29 21:58] Davixxa commented on #1463
@kd-11 It does not appear anymore, it was an issue with me not entering the LLE, however, I'm still having the issue with it hanging with

`{PPU Thread[0x3d] (CRI Server Manager)[0x001823ec]} cellSpursJq TODO: _cellSpursJobQueuePort2CopyPushJobBody
{PPU Thread[0x3d] (CRI Server Manager)[0x0018246c]} cellSpursJq TODO: cellSpursJobQueuePort2Sync
`

errors.

[2016-01-30 00:38] vlj commented on #1460
Currently they don't do anything useful besides executing extra copy command. Most of the surface management happens in surface_store, but currently it lacks a mechanism to invalidate a stored surface.
On the other hand no app I tested write to rsx surface from Cell so far.
It sure happens for instance in game that migrated postprocessing on the SPU, but these games are currently out of rpcs3 reac

[2016-01-30 06:11] tambry commented on #1463
@Davixxa
1. You shouldn't be using the recompiler. It's inaccurate, and even sometimes slower compared to interpreter 2. Same goes for SPU. You should only use recompilers, if the game works with interpreter(s) and you want a speed-up.
2. The fatal errors are no use to report without a stacktrace.
3. All things aren't errors. Some functions are unimplemented because they require a lot of work and

[2016-01-30 08:23] AndrewMisko opened #1465 "DX12: Chaos;Child (BLJM61269) black screen crash."
rpcs3 version - v0.0.0.6-4092-ffb014c
Settings:

PPU Interpreter 2
SPU Interpreter fast

Video - DirectX 12
Audio - Xaudio2

LLE Modules:
cellAudio v1.1
cellFiber v1.1
cellSpursJq v1.1
cellSre v1.1

On DirectX 12 it doesn't go past black screen with FPS. On OpenGL it plays normally (5-10FPS though) I am including logs from both OpenGL and DirectX 12 runs. I had RSX logging turned on, because on fi

[2016-01-30 10:46] Davixxa commented on #1463
Doesn't seem to, I'm getting a 0x3E6 error with 100% reproduction rate regardless of settings, unless I'm using OpenAL, in which case I get a crash

[RPCS3 XAudio2.zip](https://github.com/RPCS3/rpcs3/files/110749/RPCS3.XAudio2.zip)

[2016-01-30 11:02] tambry commented on #1416
@GoldtexTwitch Is this still case on the latest master? File handling had a bit of a rewrite after you opened the issues.

[2016-01-30 11:02] tambry commented on #1426
@JohnGodgames Still an issue?

[2016-01-30 11:05] tambry commented on #1463
@Davixxa
Audio accuracy I think is something we really don't care about currently - audio emulation normally seems to be the focus once everything else is quite good. I personally never use it.
The 0x3E6 is known and there's another issue with the same problem - #1405. I'll open an issue for it.
Also, how did you get it to work?

[2016-01-30 11:06] tambry opened #1466 "cellFsRead generates WIN32 error 998/1784"
**Happens in following games:**
- Cloudberry Kingdom
- Steins;Gate 0
- CROSS CHANNEL ~ For all people ~ (998/1784)
- LittleBigPlanet™ Demo \[NPEA00147] (998/1784)
- The Guided Fate Paradox \[BLUS31312] (998)
- Hatsune Miku: Project DIVA F (998)
- JoJo's Bizarre Adventure: All-Star Battle (998)
- Naruto Shippuden: Ultimate Ninja Storm Generations (998)
- Naruto Shippuden: Ultimate Ninja Storm 3 (99

[2016-01-30 11:37] Davixxa commented on #1463
It seems that using Compiled Blocks Exclusion was mandatory, regardless of using LLVM or not, speaking of, which version of Python is required for compiling with LLVM? I'm using 2.7 atm, thuogh my build returned some errors in Visual Studio about not being able to find some input files
[code]

I could try grabbing source once again, to check if that will fix up that compile problem though.

[2016-01-30 11:51] tambry commented on #1463
@Davixxa Compiled Blocks Exclusion simply tells recompiler to not recompile the blocks generated in that range, and instead simply run them using an interpreter. Could be an interpreter 2 bug, which would be very useful to know about.

You could try re-cloning the repository. Also, maybe you forgot to grab the submodules: _git submodule update --init_?

[2016-01-30 11:55] Davixxa commented on #1463
It's a bug with Interpreter 1 in that case, Interpreter 2 is completely broken atm for me (0x3e6), I did grab the submodules, though, doing that again currently to make sure

[2016-01-30 12:00] tambry commented on #1463
@Davixxa I already told you it's likely a HLE bug, but from what I understood, you said that LLVM and Interpreter 2 would fail, but Interpreter 1 worked.

[2016-01-30 12:06] Paul-C-F commented on #1449
Small update, keep coming the comments.

![rpcs3 dev](https://cloud.githubusercontent.com/assets/485653/12695542/2cecdd44-c739-11e5-9dfc-53542fc53d6b.png)

[2016-01-30 12:11] Davixxa commented on #1463
Building LLVM would fail, Interpreter 2 fails running. Interpreter 1 worked.

I think there might be some SPU issues with this, both the regular SPU Interpreters did not boot, while the ASMJIT recompiler did on Interpreter 1. Interpreter 2 currently doesn't boot with ASMJIT, but actually has success logs before halting at said HLE bug.

Interpreter 2 and Interpreter (precise) also seems to return

[2016-01-30 12:32] tambry commented on #1463
"while the ASMJIT recompiler did"
If it works with a recompiler, but doesn't work with the interpreters, then discard the results.

If it doesn't work with PPU Interpreter 1 and SPU Interpreter (precise), then it's very very likely that it's not a interpreter problem. Except in cases, when the game uses SPU libraries, for which in some cases the SPU Interpreter could fail due to some unimplemented

[2016-01-30 12:34] tambry commented on #1449
@Paul-C-F
It would be nice to require the user to upload their configuration file, so we have a track of exact settings.
Maybe have the ability to assign different flags to the game like:
- DX12 issue
- HLE problem
- cellGifDec bug
- Audio problems
- Requires LLE
etc

Also if we require the user to upload the config file, we could simply parse it for all the info, and notify the user, if he used s

[2016-01-30 12:46] Paul-C-F commented on #1449
Here we go, "Game Settings" now can take an attachment which happens to be the user config file. In this case it servers both ways, either the user enter a specific settings Key Value pair, eg: Renderer = DX12 and/or he uploads his config files.

Visitor can opt to manually change their config based on the suggested settings or download the provided ini file which happens to be stored under Attach

[2016-01-30 12:48] Paul-C-F commented on #1449
And the "Tags" will hold the necessary tags/flags which can be assigned to a Game.

[2016-01-30 12:51] Davixxa commented on #1463
Then it is most likely said thing, At least, during boot I'm seeing alot of SPU Success messages when doing a successful boot

[2016-01-30 12:52] Paul-C-F commented on #1449
One last thing, the INI attached by the uploader can than be parsed by the system and we could allow the visitor to upload his INI config and compare side by side the settings flagging different and missing values among them.

[2016-01-30 20:55] JohnGodgames commented on #1426
@tambry yeah still

[2016-01-31 03:54] raven02 commented on #1460
Thanks for the explanation. @vlj

[2016-01-31 14:28] ikki84 opened #1468 "Super Puzzle Fighter II Turbo HD Remix [NPUB90041] invalid map<K, T> key error"
The game doesn´t launch and shows an error message since this branch: v0.0.0.6-433-gb77666c

https://github.com/Bigpet/rpcs3/releases/download/v0.0.0.6-433-gb77666c/rpcs3-v0.0.0.6-433-gb77666c-win_x64.zip
https://github.com/Bigpet/rpcs3/releases/tag/v0.0.0.6-433-gb77666c

The error message:
[code]

Other informations that could help:

-The game in rpcs3 gamelist shows the App. Version as: unknown

[2016-01-31 14:35] tambry commented on #1468
@ikki84 Both links are broken. I also put the log snippet in code formatting and shortened the title to be more readable.

[2016-01-31 15:03] ikki84 commented on #1468
Thanks, I fixed the links.

[2016-01-31 15:03] ikki84 commented on #1468
@tambry Thanks, I fixed the links

[2016-01-31 16:03] tambry commented on #1459
@danilaml Is this fixed?

[2016-01-31 16:28] danilaml commented on #1459
Yes.

[2016-01-31 16:28] #1459 closed

[2016-01-31 16:42] andre4688 commented on #1468
can correct this error ,opengl  To play

E {rsx::thread} write_vertex_array_data_to_buffer: frequency is not null (4, index=3)
E {rsx::thread} write_vertex_array_data_to_buffer: frequency is not null (4, index=8)

[2016-01-31 16:44] tambry commented on #1468
@andre4688 Not relevant. You have also proven yourself before to be incapable of providing useful information.

[2016-01-31 16:48] O1L commented on #1468
Caused be throwing std::out_of_range exception in std::map here https://github.com/RPCS3/rpcs3/blob/master/rpcs3/Emu/SysCalls/Modules/cellGame.cpp#L83
Wrap std::map::at functions in try - catch, or write own function with returning default value for non-existent parameters.

[2016-01-31 16:58] tambry commented on #1468
cellGame functions are overall "poorly" implemented. I mean the it has almost **30** TODOs.

[2016-01-31 17:26] SakataGintokiYT commented on #1444
[v0.0.0.6-443-g39bc897: Merge pull request #1464 from vlj/rsx]
Log : https://gist.github.com/SakataGintokiYT/1c10ad91baf3432c6634

{rsx::thread} Exception: Working buffer not big enough
(in file c:\rpcs3\rpcs3\emu\rsx\d3d12\D3D12MemoryHelpers.h:78, in function data_heap::alloc)
Please report this to the developers.

----------------------------------------------------------------------------------

[2016-02-01 17:46] MyaniPT commented on #1463
Hey!
I'm having the same issue (I'm the one who opened the S;G 0 topic in the forums - http://www.emunewz.net/forum/showthread.php?tid=173942)

I have a AMD card and with the latest 4112 build game isn't booting anymore (error 0x6f8).
I have the logs uploaded and description of the issue at the topic.

I did manage to get video output on the 4029 build, but it reproduces the video very, **very slo

[2016-02-01 18:32] tambry commented on #1463
Forgot to close this issue.
Closing this, as I already created a more of a proper issue.

[2016-02-01 18:32] #1463 closed

[2016-02-01 23:41] vlj commented on #1468
Is there a hack to get the game working ? I need it to test MSAA implementation.

[2016-02-02 05:43] tambry commented on #1468
@vlj Just try disabling [this](https://github.com/RPCS3/rpcs3/blob/master/rpcs3/Emu/SysCalls/Modules/cellGame.cpp#L78) else section.
It might need it to run though.

[2016-02-02 17:16] O1L commented on #1468
Or like this:
[code]

[2016-02-02 17:58] annahana opened #1470 "Unknown Win32 error: 0xb7."
From: C:/Users/admin/Desktop/rpcs3-ReleaseLLVM-a9b961a5/dev_hdd1/game/BLES01426
To: C:/Users/admin/Desktop/rpcs3-ReleaseLLVM-a9b961a5/dev_hdd0/game/BLES01426
(in file C:\rpcs3\Utilities\File.cpp:342, in function fs::rename)

in game BLES01426-[Rage]

[2016-02-02 18:29] annahana commented on #1468
just for  record in BLES01555-[Ni no Kuni - Der Fluch der weissen Königin]

{PPU Thread[0x58] (GameContentAccess)[0x017891e4]} cellGame: cellGameGetParamString(): Unimplemented parameter (105)
{PPU Thread[0x58] (GameContentAccess)[0x017891e4]} HLE: Last function: cellGameGetParamString (0x3a5d726a)
{PPU Thread[0x58] (GameContentAccess)[0x017891e4]} Exception: invalid map<K, T> key
Please report th

[2016-02-02 18:43] tambry commented on #1470
0xB7: ERROR_ALREADY_EXISTS
Seems like an oversight.

[2016-02-02 18:45] tambry commented on #1468
@annahana Okey, I added that exception there just in case a while ago. I'll be sure to take a look at it during the weekend, if not earlier.

[2016-02-02 18:54] kd-11 opened #1471 "gl: validate shader is called right after linking"
In the openGL backend, glValidateProgram is called right after glLinkProgram which is problematic if a the texture samplers are not all the same type. Until now, only sampler2D was used, so no problems, but when attempting to use more than one sampler type we get failures during validation. Validation should be done when a draw call would be successful and therefore requires that the samplers firs

[2016-02-02 18:58] kd-11 commented on #1471
Moving the validate call right before drawing is correct, but wastes resources if called every draw call. Adding flags to the programs to check if it's first time use and only validate then is also another solution. Those who worked on this before may be able to assist in deciding the best approach.

[2016-02-03 20:01] mkultimate opened #1472 "error libpng16.dll"
al ejecutar el rpcs3.exe presenta el error
libpng16.dll

[2016-02-03 20:10] tambry commented on #1472
Please learn English.
I'm assuming it has something to do with #1359, which you're trying to build
Don't forget to update your submodules.

[2016-02-03 20:10] #1472 closed

[2016-02-04 01:01] danilaml commented on #1471
Can you prepare PR in the meantime since #1461 was merged? It's better to have slow and correct solution which can later be improved instead of not properly working one.

[2016-02-04 05:39] Keksus1 opened #1473 "Unhandled Win32 exception 0xC0000005"
I'm getting this windows error message pop-up when trying to run Steins;Gate 0 with DX12. Happens even before anything shows up at all.

---------------------------
Fatal error
---------------------------
Unhandled Win32 exception 0xC0000005

.
Access violation reading location 0000000000000030 at 00007FF856C0DFCF.
Instruction address: 00007FF856C0DFCF.
Image base: 0000000000010000.

Please report

[2016-02-04 08:24] kd-11 commented on #1471
PR https://github.com/RPCS3/rpcs3/pull/1474 is a fix for this, albeit a bit brutish. We should probably include a way to force/disable shader imo.

[2016-02-04 12:27] tambry commented on #1473
@Keksus1 Stack trace please.

[2016-02-04 21:08] Keksus1 commented on #1473
I'm a bit of an inexperienced user. Where can I get the stack trace?

log: https://mega.nz/#!KEZU1ayK!5nlU2wIjbSBJezfQui622K--N1Zmx3w_TDL6HnE-cLg
LLE modules:
cellFiber_Library v1.1
cellSail_Library v1.1
cellSailAvi_Library v1.1
cellSpursJq_Library v1.1
cellSre_Library v1.1
libvdec_Library v1.1

GPU: GeForce GTX 970M
CPU: Intel Core i7-4710HQ
OS: Windows 10 Home 64bit

[2016-02-05 05:36] tambry commented on #1473
@Keksus1 Stacktrace can only be obtained through a debugger or a development environment. You probably don't want to go through setting up one, if you aren't a power user.

Here's a couple ideas:
- Make sure your Nvidia drivers are update
- Make sure your laptop is using the Nvidia graphics card not the Intel graphics card for DX12
- If it still doesn't work, also try updating Intel drivers
- For

[2016-02-05 07:20] kozec opened #1475 "Donation can't be sent"
You probably know about this already, but just in case...

Paypal says:
"Currently PayPal accounts in Ukraine are only able to send payments. This recipient is not eligible to receive funds."

[2016-02-05 13:28] tambry commented on #1475
Yeah, it doesn't work. It should probably be removed.

[2016-02-05 16:12] tambry commented on #1470
@annahana Please provide the full log.

[2016-02-05 18:19] tambry commented on #1367
Is this still an issue?

[2016-02-05 18:20] tambry commented on #1374
While this issue does report some problems, I'm usnure whether this issue is too helpful, as it points out a larger problem. Github issues are mostly for small noticeable problems. Ie. unimplemented functions, some graphical problems, crashes, coding defect, etc.
Please split the issue into smaller issues, if you still deem the smaller issues being worth an issue.

[2016-02-05 18:20] #1374 closed

[2016-02-05 18:23] tambry commented on #1392
Can this be closed?

[2016-02-05 18:23] tambry commented on #1454
Is this still an issue?

[2016-02-05 19:07] piotr-szegda commented on #1367
On current git version I have other problem so I can't check.
(gdb) run
Starting program: /home/pszegda/Apps/rpcs3/bin/rpcs3

[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
vm::g_base_addr = 0x7ffeec97a000
vm::g_priv_addr = 0x7ffdec97a000

Program received signal SIGSEGV, Segmentation fault.
__opendirat (dfd=-100, name=0x0)

[2016-02-05 19:59] kd-11 commented on #1454
Fixed after merging https://github.com/RPCS3/rpcs3/pull/1461

[2016-02-05 19:59] #1454 closed

[2016-02-06 00:54] Keksus1 commented on #1473
Thanks for the advice! I tried the ideas, unfortunately they didn't fix the problem. Don't know if it's worth mentioning, but the game does run when I'm using OpenGL (and of course write/read color/depth buffers turned on). Problem is exclusive to using DirectX12.

[2016-02-06 06:17] tambry commented on #1473
@Keksus1 Have you tried to run some games, that are known to work, like Sonic CD?

[2016-02-06 18:49] #1392 closed

[2016-02-06 18:51] elfogames commented on #1473
i have the same problem with a gt 740m

[2016-02-06 18:52] tambry commented on #1473
You both have mobile graphics cards, so maybe that's at fault here.

[2016-02-07 00:20] Kilowog01 opened #1478 "OpenAL32.dll is missing"
I already tried to install:
 Visual Studio 2015
 Vcredist_x86
 Vcredist_x64

I'm using Windows 10 Pro Insider Preview

[2016-02-07 00:23] Kilowog01 commented on #1478
https://www.openal.org/downloads/oalinst.zip

OK
I followed the logic that should have followed since the beginning of trying to find the site that such OpenAL, I was the link, downloaded, installed and automatically worked.
This is very stupid, because they do not deliver download it all together and make it clear that you need to install it to use rpcs3?

[2016-02-07 01:13] danilaml commented on #1478
@Kilowog01 where did you get the build from? Appveyor and emunewz builds should have this dll included: https://github.com/RPCS3/rpcs3/tree/master/bin

[2016-02-07 02:42] Keksus1 commented on #1473
I thought about that too, and so far it seems like that is most likely the cause. Steins;Gate Zero is known to work (judging by all the youtube videos). But I just tried the Sonic CD Trial and I'm getting the same error message.

[2016-02-07 07:09] tambry commented on #1478
Get an [official build](https://github.com/Bigpet/rpcs3/releases).

[2016-02-07 07:09] #1478 closed

[2016-02-07 07:57] tambry commented on #1471
Is this fixed?

[2016-02-07 09:19] kd-11 commented on #1471
#1474 was merged

[2016-02-07 09:19] #1471 closed

[2016-02-07 12:59] tambry commented on #1468
Okey, that section shouldn't be there. According to documentation, such information in get is not set, and later the PARAM.SFO is rewritten/modified with values passed from set. I'll try to fix this function up.
I have NPUB30017 of the game. The intro is a huge flashing mess with disappearing and resizing objects along with flashing colours. @vlj Mind taking a look at that? [This](https://github.c

[2016-02-07 14:34] vlj commented on #1468
Which intro? I can't replicate here.

[2016-02-07 15:34] tambry commented on #1468
I'm not sure if it's the intro. Maybe it's the main menu or something. After booting the game, I have a black screen for a minute or so, and then blocks, explosions and text starts flashing on the screen randomly.

Something like this:
![](http://puu.sh/mZcW1/7a6b342c77.png)
![](http://puu.sh/mZd09/d88f2ec0ee.png)

Probably shader related:
`{rsx::thread} RSX: Unknown/illegal instruction: 0x3d (for

[2016-02-07 16:32] AniLeo opened #1479 "SPU: Unknown/illegal channel (ch=1 [$SPU_WrEventMask], value=0x2)"
In flOw [NPEA00021], if **cellSre** is LLE'd it outputs the following error:

[code]

Log attached.
_(As shown at http://www.emunewz.net/forum/showthread.php?tid=165481&pid=229868#pid229868)_

[RPCS3.zip](https://github.com/RPCS3/rpcs3/files/120769/RPCS3.zip)

If cellSre is not LLE'd (cellFiber + cellSpursJq LLE'd only) it produces this outcome:
http://youtu.be/v0pBs51Pjdg

[2016-02-07 16:35] MyaniPT commented on #1468
This exception: invalid map<K, T> key in cellGame happens to me in a few other games while trying to load them. Should I report on which titles or is it already being fixed?

[2016-02-07 16:38] vlj commented on #1468
Which revision do you use ?

[2016-02-07 16:38] tambry commented on #1434
Oh, you used Zangetsu's "build". I guess #1479 will be the main one for this issue then.

[2016-02-07 16:38] #1434 closed

[2016-02-07 16:40] tambry commented on #1468
@vlj The latest master
@MyaniPT [I already fixed it](https://github.com/tambry/rpcs3/commit/ca16b1c5b1004e96b59be3ac8d8880d4523d9de4). Will probably make a PR soon.

[2016-02-07 16:43] AniLeo opened #1480 "PPU: MFVSCR exception"
MFVSCR instruction missing
`
F {PPU[0x70000000] Thread (main_thread) [0x0025e2cc]} class std::logic_error thrown: MFVSCR instruction at 0x25e2cc (NPEA00007)
`

**List of games affected:**
- NPEA00007
- NPEA00008
- NPEA00011
- NPEA00041
- NPEB00833
- NPEB01037
- NPEB01283

[2016-02-07 16:47] tambry commented on #1480
@MyaniPT It ain't implemented on PPU Interpreter 2, but it should be fine on Interpreter 1.

[2016-02-07 16:49] vlj commented on #1468
I still can't reproduce it :/
Which LLE Module do you enable ?

[2016-02-07 16:50] MyaniPT commented on #1480
Gotcha, with PPU Interpreter 1 it opens the GSFrame and goes (there's already an issue about it so I won't prolong myself)

`
{PPU Thread[0xc9] (HDD Game setup)[0x002f57d8]} HLE: Last function: cellHddGameCheck (0x9117df20)
{PPU Thread[0xc9] (HDD Game setup)[0x002f57d8]} Exception: invalid map<K, T> key
Please report this to the developers.
`

[2016-02-07 16:57] tambry commented on #1468
**LLE modules:**
- cellFiber
- cellSail
- cellSailAvi
- cellSre
- cellSpursJq

Those modules seem to reproduce the issue very well. And right now I'm getting about ~10-60 fps. Pressing starts takes you to a working menu.

[2016-02-07 17:05] MyaniPT commented on #1473
@Keksus1 Sail and SailAvi are not needed for Steins;Gate 0. Also enable libavcdec.
Here's your problem: D3D Adaptater=0
I believe you forgot to set D3D adapter.
This has happened to me before.

[2016-02-07 17:21] AniLeo opened #1482 "RSX Exception (HRESULT = 0x80070057 in D3D12GSRender::flip) - Family Feud [NPUB30188]"
[code]

Complete log attached @ [RPCS3.zip](https://github.com/RPCS3/rpcs3/files/120790/RPCS3.zip)

This also happens:
![screenshot_19](https://cloud.githubusercontent.com/assets/10283761/12873803/db11b2a6-cdbe-11e5-994e-cd70b840c419.png)
After that, I stop the game and the above output happens

**LLE'd**
cellFiber
cellSpursJq
cellSre
cellSync

[2016-02-07 17:31] tambry commented on #1482
@MyaniPT Try setting frame limiter to Auto. I've heard that it may fix the DX12 flip exception. The message box is also known. Png decoding error is likely currently irrelevant due to #1359.

[2016-02-07 18:07] MyaniPT commented on #1482
I tried, the same issue persists.
VSync is off, Frame limiter is set to Auto.

[2016-02-07 18:10] MyaniPT commented on #1479
[code]

Also happens in:
High Velocity Bowling **[NPEA00047]**

[2016-02-07 18:15] MyaniPT commented on #1473
[code]

Happens in "Riff: Everyday Shooter **[NPEA00063]**"

[2016-02-07 18:18] AniLeo opened #1483 "SPU: RawSPUThread[0]: Read32() - unknown/illegal offset (0x4034)"
[code]

Full log: [RPCS3.zip](https://github.com/RPCS3/rpcs3/files/120833/RPCS3.zip)

PPU 1 / SPU 1

**LLE:**
libfiber
libspurs_jq
libsre

[2016-02-07 18:21] annahana commented on #1470
log attached change png to log

![rpcs3](https://cloud.githubusercontent.com/assets/13276505/12874217/c9321196-cdcf-11e5-9ea0-6509be661404.png)
![tty](https://cloud.githubusercontent.com/assets/13276505/12874218/c93342aa-cdcf-11e5-86c6-d59c256f593a.png)

[2016-02-07 19:31] MyaniPT opened #1484 "cellGcmSys unimplemented function: _cellGcmFunc2"
[code]
Happens in:
- Q BERT **[NPUB30010]**
- Grip Shift **[NPUB30002]**

Log from NPUB30010: [RPCS3.zip](https://github.com/RPCS3/rpcs3/files/120875/RPCS3.zip)
Log from NPUB30002: [RPCS3.zip](https://github.com/RPCS3/rpcs3/files/120876/RPCS3.zip)

**LLE'd modules:**
cellFiber
cellSpursJq
cellSre

[2016-02-07 19:39] AniLeo opened #1485 "SPU: unknown STOP code 0x0 (Out_MBox is empty)"
[code]

PPU Interpreter 1
SPU Interpreter 1

**LLE'd modules:**
cellSre

Log: [RPCS3.zip](https://github.com/RPCS3/rpcs3/files/120878/RPCS3.zip)

[2016-02-07 19:54] MyaniPT commented on #1470
This is happening to me as well with:
- Flight Control HD **[NPJB00010]**
- Wakeboarding HD **[NPEB00122]**

[code]

Log from NPEB00122: [RPCS3.zip](https://github.com/RPCS3/rpcs3/files/120886/RPCS3.zip)

TTY: "np::Trophy required space: 1476752" (Seems irrelevant)

[2016-02-08 00:53] Keksus1 commented on #1473
D3D Adapte rin this menu? http://i.imgur.com/30fSl7P.jpg That is set to my 970M all the time. Or am I missing another option?

[2016-02-08 01:11] MyaniPT commented on #1473
Nope, it's correct.
But it has happened to me before where I forgot to set that field with my GPU and it outputted a similar error.

Maybe it is due to the mobile GPU.
I own a laptop with a 330M and a i7 Q740, I could try testing with it but I think the hardware is too weak and outdated to run RPCS3 and would most likely fail.

[2016-02-08 01:14] Keksus1 commented on #1473
Currently the mobile GPU is most likely the cause. But then again at least this guy here: https://www.youtube.com/watch?v=BwuWNcNVsF4 is using a 980M and DX12 and it works.

[2016-02-08 01:42] MyaniPT commented on #1473
That's really weird.
**0xC0000005 is something about Access Violation.**
It happened to me on NPEA00063. My card is a AMD R9 280X though.
I guess we gotta wait for a dev's feedback.

[2016-02-08 01:49] Rinnegatamante opened #1486 "Exception: Access violation reading location 0x0000000c"
When trying to boot Demons Souls on RPCS3, it will give this log during game boot:

[code]

Using v0.0.0.6-456-g2ead9b1

[2016-02-08 05:42] tambry commented on #1473
Yeah, it's an access violation, but we can't know where it happened, without someone attaching a debugger and grabbing the stack trace. Access violations may happen in many games, and are normal for this stage of development, but if it occurs in every game, then something's wrong.

Once again make sure your graphics drivers are up-to-date make sure it's using the Nvidia graphics card and you could

[2016-02-08 05:43] tambry commented on #1485
Likely caused by SPU emulation problems, but I'm not sure.

[2016-02-08 05:43] tambry commented on #1486
Access violation reports are useless without a stack trace.

[2016-02-08 05:43] #1486 closed

[2016-02-08 11:00] Keksus1 commented on #1473
Well... as I'm always trying to learn something new: I downloaded WinDbg and was able to attach it to the process... I think. But I don't know what inputs I have to do for a stack trace. Is that something I could accomplish by copy pasting a few lines or would I need to have actual knowledge of what I'm doing?

[2016-02-08 11:08] MyaniPT commented on #1482
Also happens in:
- Sword Art Online - Lost Song **[BLAS50970]**

With DirectX12

[2016-02-08 11:16] AniLeo opened #1487 "GL: Sword Art Online - Lost Song invalid location"
[code]

OpenGL
PPU Interpreter 1
SPU Interpreter 1

**LLE:**
cellFiber
cellSre
cellSpursJq

[RPCS3.zip](https://github.com/RPCS3/rpcs3/files/121471/RPCS3.zip)

It shows a few pixels:
![screenshot_27](https://cloud.githubusercontent.com/assets/10283761/12884262/fdc18362-ce54-11e5-88bb-c0d597fff7e0.png)

If trying to boot the game with DX12 it produces the same exception as in #1482

[2016-02-08 11:32] MyaniPT opened #1488 "RSX: FS build failed: error X3018: invalid subscript 'ssa' - [NPEB00646]"
[code]

DirectX 12
PPU Interpreter 2
SPU Interpreter 2

**LLE:**
cellFiber
cellSre
cellSpursJq

Log and .hlsl files @ [rpcs3.zip](https://github.com/RPCS3/rpcs3/files/121486/rpcs3.zip)

BurgerTime World Tour **[NPEB00646]**

Game boots and shows three different screens, doesn't get to menu, crashes with unknown exception.

[2016-02-08 11:33] tambry commented on #1473
@Keksus1 Never heard of WinDbg myself. I suggest you to grab a copy of Visual Studio 2015 Community Edition, then go obtain the [Github for Windows](https://desktop.github.com/), [Git](https://git-scm.com/) and [CMake](https://cmake.org/). Then you should be able to fork the project using the fork button at the top. Then you should be able to clone it from your account using Github for Windows. Af

[2016-02-08 11:37] tambry commented on #1488
Probably due to unknown shader instructions.

[2016-02-08 11:49] MyaniPT commented on #1482
Also happens in:
- Auditorium HD **[NPUB30245]**

[code]

Log @ [RPCS3.zip](https://github.com/RPCS3/rpcs3/files/121500/RPCS3.zip)

[2016-02-08 11:53] tambry commented on #1482
You're more or less posting about **different** errors. For example one as you demonstrated happens in _copy_render_target_to_dma_location_ and the on in the original post in _flip_. It would possibly be better to have seperate threads for seprate problems, as _0x80070057_ is a generic DirectX error, AFAIK.

[2016-02-08 11:57] MyaniPT commented on #1482
Sorry, I noticed it happened in a different function but I didn't know it was a generic DX error, thought it would fit in this issue.
Should I open a separate issue then?

[2016-02-08 12:07] tambry commented on #1482
@MyaniPT I think a seperate issue would be fitting.

[2016-02-08 12:12] MyaniPT commented on #1482
[code]

PPU2
SPU2

Beat Hazard Ultra **[NPEB00620]** -
[RPCS3.zip](https://github.com/RPCS3/rpcs3/files/121533/RPCS3.zip)

[2016-02-08 12:17] AniLeo opened #1489 "RSX Exception in D3D12GSRender::copy_render_target_to_dma_location"
[code]

PPU Interpreter 2
SPU Interpreter 2
Nothing is LLE'd

Auditorium HD **[NPUB30245]**

Log @ [RPCS3.zip](https://github.com/RPCS3/rpcs3/files/121500/RPCS3.zip)

As discussed in the similar issue #1482

[2016-02-08 14:23] vlj commented on #1489
Did you enabled read/write buffer?

[2016-02-08 14:25] MyaniPT commented on #1489
@vlj
[rsx/opengl]
Write Color Buffers=true
Write Depth Buffer=true
Read Color Buffers=true
Read Depth Buffer=true

_(Taken from the log because I didn't remember)_
I'm (almost) always running with the W/R buffers on.

[2016-02-08 14:27] vlj commented on #1489
You should disable them with dx12 these options don't improve accuracy atm and are not well supported

[2016-02-08 14:34] MyaniPT commented on #1489
Crashed the whole emulator with an Unknown Exception, this time without the output showed above.
[RPCS3.zip](https://github.com/RPCS3/rpcs3/files/121685/RPCS3.zip)

[code]

Will test again with #1482 too

[2016-02-08 14:36] MyaniPT commented on #1482
May be irrelevant because It's probably not related to the W/R buffers, but tested with W/R buffers off and the error persists.

[2016-02-08 14:49] vlj commented on #1489
Sounds like memory corruption, what is the last FragmentProgram.hlsl dumped in your bin folder?

[2016-02-08 14:57] MyaniPT commented on #1489
FragmentProgram1.hlsl
FragmentProgram2.hlsl
FragmentProgram3.hlsl
VertexProgram0.hlsl

[rpcs3.zip](https://github.com/RPCS3/rpcs3/files/121714/rpcs3.zip)

[2016-02-08 15:14] Keksus1 commented on #1473
Thanks for the write up! Seems like everything worked. It got me this:

 	rpcs3.exe!PPCDecoder::DecodeMemory(const unsigned int address) Line 10	C++
 	rpcs3.exe!PPUThread::cpu_task() Line 297	C++
 	rpcs3.exe!CPUThread::on_task() Line 31	C++
 	rpcs3.exe!named_thread_t::start::__l2::<lambda>() Line 1357	C++
 	rpcs3.exe!thread_ctrl::spawn::__l2::<lambda>(std::promise<void> promise) Line 83	C++

[2016-02-08 15:38] Keksus1 commented on #1473
Thanks for the writeup. Just went through this step-by-step. I made sure to activate the needed LLE modules again and also use the same settings again.

To some degree it seems like it worked... to some other I think I am now encountering a different problem which doesn't have something to do with the original problem. Still throws an access violation. but the error comes up way earlier now. So I

[2016-02-08 16:10] tambry commented on #1482
I doubt it's related to R/W buffers. Those aren't really needed on DX12 right now. They may be required for some AAA games that do rendering on SPUs. (Last of Us, God of War, etc)

[2016-02-08 17:27] tambry commented on #1473
@Keksus1 Seems like a fault in the emulation itself or too old/too new/corrupted/modified/ modules.  Could you also try selecting no audio backend (null)?

[2016-02-09 02:42] Keksus1 commented on #1473
Just selected Audio Null. Same Error, same stack trace.

I tried switching to the SPU Recompiler instead of Interpreter (fast) and it crashed a bit later with that:

 	rpcs3.exe!PPUThread::cpu_task() Line 314	C++
 	rpcs3.exe!PPUThread::fast_call(unsigned int addr, unsigned int rtoc) Line 237	C++
 	rpcs3.exe!execute_ppu_func_by_index(PPUThread & ppu, unsigned int index) Line 177	C++
 	rpcs3.exe!ppu

[2016-02-09 05:35] tambry commented on #1473
@Keksus1 What FW of modules are you using?

[2016-02-09 05:45] Keksus1 commented on #1473
Do you mean the LLE modules? Still the same. Just threw out the Sail and SailAvi and activated libavdec. As suggested by MyaniPT.

LLE modules:
cellFiber_Library v1.1
cellSail_Library v1.1
cellSre_Library v1.1
libvdec_Library v1.1
libavdec_Library v1.1

[2016-02-09 06:06] tambry commented on #1473
@Keksus1 Yes. What FW version?

[2016-02-09 08:48] MyaniPT commented on #1473
@Keksus1 Those are the modules. I tested S;G 0 with modules from FW 4.73 and 3.55.

[2016-02-09 08:55] tambry commented on #1473
@Keksus1 I'm assuming that the modules you used were from OFW. Could you tell me what FW version was SG made with? it should be listed in the games list under FW version or something. If it's something different from those that you used, could you try using modules from a FW that the game was made with?

[2016-02-09 09:20] kd-11 opened #1490 "gl: Reference to gl_Position in fragment shader"
http://www.emunewz.net/forum/showthread.php?tid=174243
Reference to gl_Position variable in fragment shader seen in some games.
I'm looking into it

[2016-02-09 09:46] Keksus1 commented on #1473
Ah. S;G was made with 04.7600

Don't know the version of the modules I used actually. I was using the same as the guy who was able to run it here: https://www.youtube.com/watch?v=NtBCSduFDTE

[2016-02-09 09:59] tambry commented on #1473
@Keksus1 And from what firmware version were his modules?
@MyaniPT Couldn't try using modules from FW 4.76, as SG was made with 4.76.

[2016-02-09 10:48] kd-11 commented on #1490
See PR https://github.com/RPCS3/rpcs3/pull/1491

[2016-02-09 11:38] MyaniPT commented on #1473
I meant 4.76, not 4.73 above*
And yes, I run s;g 0 with the modules from that version of the OFW

[2016-02-09 12:05] MyaniPT commented on #1473
Just tried testing with my laptop as promised but seems like this GPU doesn't support DX12 as in
http://www.geforce.com/hardware/technology/dx12/supported-gpus

It's probably useless to report this but OpenGL outputs no video at all, only very shuttered audio.
This GPU is too old, might be irrelevant anyways.

![capture](https://cloud.githubusercontent.com/assets/10283761/12915758/35c224bc-cf25-11

[2016-02-09 12:13] annahana commented on #1449
the question is how can we control if all setting in the ini ar used in the currend version. because in the ner furture stable versions of the emulator and ther will be test versions with test settings that exist jast in one build.

[2016-02-09 12:46] tambry commented on #1449
@annahana There have never been "test options" on the master branch for past 2 years. There may be non-master builds shared to more trusted testers before they're merged into master, though. But those shouldn't ever be used to determine statuses of games, and the status of games should only be tested on master branch with no modifications.

[2016-02-09 12:50] Paul-C-F commented on #1449
I've added "MinAppVersion" to the game title to denote the minimum emulator version required to run the title.

The same column is available under Game Settings and individual Setting Values. if this column is set to let's say "1.1" then we can have a simple combo box on the UI that will allow the user to filter the settings that was certified to work with the minimum app version that he selected.

[2016-02-09 12:54] tambry commented on #1473
I guess it can be simply closed, if it isn't a HLE or LLE specific exception. Access violations are much less frequent nowadays. For example a year ago you'd be expecting 3/4 games to probably crash due to an access violation at some point.

If there are any objections, let me know and I'll re-open this.

[2016-02-09 12:54] #1473 closed

[2016-02-09 14:38] annahana commented on #1449
@tambry i know what you  say. i just know that the users use unofficel bilds and don't even know it. builde bots like from emucr don't show if it is a mirro or officiel.  jast wanted to say that becaus it will be a problem.

[2016-02-09 15:46] paulsapps commented on #1449
Perhaps it should log out the binaries SHA1 in the log so you can check where it came from.

[2016-02-09 16:38] tambry commented on #1449
@paulsapps That would be useful, but it would be best to have it simply log as "official" or "unofficial", but I'm not sure how useful that would be.

[2016-02-09 17:02] danilaml commented on #1449
@tambry I thought it already did: `·! RPCS3 v0.0.0.6-4112-39bc897` in my rpcs3.log.

[2016-02-09 17:25] tambry commented on #1449
@danilaml That's the tag, the commit number and some of the first characters of the commit hash(?).

[2016-02-09 17:27] danilaml commented on #1449
@tambry do you want the full hash? 39bc897 is enough to identify commit most of the time.

[2016-02-09 17:49] tambry commented on #1449
@danilaml It will help identify commit, but it won't help us identify, whether the build was an official build or not.

[2016-02-09 17:55] danilaml commented on #1449
@tambry there is no official builds though. And all builds built from the same commit should function the same. And you want be able to identify if the build was "official" if we don't start providing signed builds.

If you meant official build as if "built from main branch of RPCS3 repo" when commit SHA is enough for that.

[2016-02-09 18:13] tambry commented on #1449
Well, I guess commit SHA is actually enough.
Maybe it would be enough to have the user check a checkbox, that they used an official build from [here](https://github.com/Bigpet/rpcs3/releases) or AppVeyor artifacts.

[2016-02-09 18:18] danilaml commented on #1449
@tambry I don't see the point of doing that though. What if they built RPCS3 themselves? What if it's from emunewz? There's been no problems with any builds that are built from master branch. (correction: there was problem with Bigpet builds when openal dll was renamed and his build script didn't account for that but that had no impact on game emulation).

[2016-02-09 18:24] tambry commented on #1449
@danilaml I guess it would be best to then have the script check the current commit hash and the log's commit hash. That would probably make most sense then.

[2016-02-09 20:10] paulsapps commented on #1449
Since people could build with diff compiler options etc I think it would make sense for people to only test with "official" builds so dev time isn't wasted on hacked or bugged builds. If the log had the SHA1 of the executing binary it could be tagged against the build server build? I guess that could still be faked if someone really wanted to sabotage.

[2016-02-09 20:19] AniLeo opened #1492 "RSX: RSXIO memory not mapped"
**rpcs3-v0.0.0.6-460-g303a109**

[code]

Game fails to Load in both OpenGL and DirectX 12

Log @ [rpcs3.zip](https://github.com/RPCS3/rpcs3/files/123714/rpcs3.zip)

libavcdec
cellFiber
cellSpursJq
cellSre
libvdec

Only happens in Steins;Gate, doesn't happen in Steins;Gate 0
![screenshot_38](https://cloud.githubusercontent.com/assets/10283761/12929393/4a2168a6-cf6a-11e5-9a8a-84db3cc5f829.png)

Foun

[2016-02-09 20:44] danilaml commented on #1449
@paulsapps what compiler options? You just clone and then build. Wrong compiler options - the game won't start. If a person is familiar enough that it can tweak different settings then it most likely will think to include it in the report. If people wan't to sabotage they can easily do it with any build - just post bogus info.
WTF? don't over-engineer stuff. Maybe we should use some kind of DRM wi

[2016-02-09 20:48] paulsapps commented on #1449
Well the likes of zangetsu changes optimization settings which can expose compiler bugs. Printing the binary hash in the log isn't that extreme.

[2016-02-09 20:51] danilaml commented on #1449
@paulsapps it will be tagged with different sha.

[2016-02-09 23:35] MyaniPT commented on #1479
[code]

Same error, different channel value.

Happens in: Wheel of Fortune **[NPUA80137]** with master + pull #1481 (If the build with the pull isn't used, the game gets the error reported at #1468

[2016-02-10 05:48] tambry commented on #1449
@danilaml It won't, if he doesn't commit.

[2016-02-10 07:21] kd-11 opened #1493 "gl: Some games display their viewports on a small part of the screen."
I know what causes the issue, but i'm waiting for the surface cache implementation on gl before this is addressed. Basically, the game creates a large render target surface, say 2160x1440, but only renders to a 1280x720 region for example. During buffer readback, the render target dimensions given are correct, but the original texture dimensions are too large. Blitting the image to screen includes

[2016-02-10 08:25] TheCrueltySage opened #1494 "dev_hdd0 reading problem; emulator crashes on start"
Decided to try out compiling this emulator for Steins;Gate Zero, which I heard runs fine.
However, the emulator crashes when I try to run ./rcps3 with the following log.

The particular values shift around, but (nil) and everything else stays the same.

gdb backtrace:

The configuration is default. RPCS3.log is empty, as is every other file in .config/rpcs3.

The system is Gentoo Unstable with som

[2016-02-10 21:16] kd-11 opened #1495 "gl: Wrong pitch calculation?"
In resogun, OpenGL shows some corruption where the bottom half of the screen is green. This is because the video player uploads the component textures separately, but 2 of the 3 channels have the wrong pitch encoded in the rsx::texture object. The textures in question are 8-bit single channel textures, but two of them give pitch() as double the width which makes no sense. Of course, setting the un

[2016-02-11 04:35] jarveson commented on #1495
Hmm, well i can't get opengl to boot this successfully to test it, but looking at the values stored in method_registers while on the same screen with dx12 (which only uses width() and avoids this), I think the issue is
https://github.com/RPCS3/rpcs3/blob/master/rpcs3/Emu/RSX/RSXTexture.cpp#L210
needs to take the texture index into account like so:
`return method_registers[NV4097_SET_TEXTURE_CONTRO

[2016-02-11 08:25] kd-11 commented on #1495
@jarveson OpenGL also used width until recently but then use of pitch was added later. I'll check if the method_registers affect the texture information passed on to GL.
As for the crash, I'm assuming it occurs right after the screen about legal use. Thats because of the unimplemented sys_memmove function. Someone probably has already submitted an implementation if i'm not wrong. If not i'll submi

[2016-02-11 08:44] kd-11 commented on #1495
@jarveson You're right! The invalid pitch value is copied from the texture bound to index 0. Depth should probably not affect anything since it is almost always 1 anyway.

[2016-02-11 12:37] tambry commented on #1495
The sys_memmove implementation is in #1481.

[2016-02-12 09:12] kd-11 commented on #1495
@jarveson You mentioned problems with OpenGL booting at all. Are you using AMD by any chance?

[2016-02-12 13:08] #1127 closed

[2016-02-12 13:09] tambry commented on #1055
Is this still relevant, or can it be closed?

[2016-02-12 13:50] woody2014 opened #1498 "rpcs3-ReleaseLLVM-f7f4c049 build"
after placing libpng16.dll in folder getting error

[2016-02-12 13:55] MyaniPT commented on #1498
You should only post issues while using the latest master build
Also, you need to attach a log and or screenshot of the error

[2016-02-12 14:02] woody2014 commented on #1498
i have found the problem, 64 bit version of dlls are needed issue can be closed

[2016-02-12 14:02] #1498 closed

[2016-02-12 15:10] tambry commented on #1498
@MyaniPT It is probably using latest master build, but the usual build bots haven't built it yet. Probably forgot to re-do _git submodule update --init_, which is needed due to new libpng dependency.

[2016-02-12 17:05] jarveson commented on #1495
Yeap, amd R9 280x, I had tried booting it with the memmove pr intially but still no dice, and haven't looked into it much since

In case its an amd specific issue, here's parts of what i remember from debugging it:
I was getting a heap corruption within the first couple 'texture::init' calls.
I believe it was when it went to cleanup `vector<u8>  data_upload_buf` as the exception would trigger at t

[2016-02-12 17:26] kd-11 commented on #1495
@jarveson I've also noticed the overrun with DXT textures. I'll open an issue for it when I narrow down the cause. I should have access to an AMD system soon, so I'll look into those issues as well.

[2016-02-12 20:45] kd-11 commented on #1495
@jarveson The corruption occurs during the upload_texture call, during one of the templated mipmap_copy functions. To confirm, set the size of the data_upload_buf to double and the problem disappears. It seems the get_placed_texture_storage_size call returns a value that is too small for some texture formats. glTexImage* functions are read-only and therefore do not affect this. Tested on a 270x.
I

[2016-02-13 16:08] vlj commented on #1490
merged

[2016-02-13 16:08] #1490 closed

[2016-02-13 16:10] vlj commented on #1418
there should be more perf with latest master

[2016-02-13 16:22] vlj commented on #1495
get_placed_texture_storage_size may indeed be wrong if all mipmap level are used and storage is linear.
Which game does crash ?

[2016-02-13 16:44] kd-11 commented on #1495
Outrun online crashes just after loading using OpenGL. It goes ingame if the value is doubled but color output is black for shaded geometry anyway and framerate is terrible (Nvidia). Someone also mentioned resogun crashing on AMD.

[2016-02-14 02:17] GoldtexTwitch commented on #1416
The problem still happens on the latest master.

[2016-02-14 21:25] danilaml commented on #1418
@vlj didn't change much. Still ~21-22 fps on both amd and intel (while before it was 37 for amd and ~59-60 for intel).

[2016-02-14 22:42] vlj commented on #1495
I reproduced the issue with DX12 on a branch that uses gsl::span check system.

[2016-02-14 22:44] vlj commented on #1418
If you profile cpu usage is there any function that peaks between 1344 and master ?

[2016-02-14 23:22] danilaml commented on #1418
@vlj can't test 1344 right now but here's what I have on master:
[code]
Of that the largest % is:
[code]
followed by 12% in external code (driver)
(PPUThread::on_task is 18%)

[2016-02-15 00:52] danilaml commented on #1418
@vlj by bisecting I found that with the first PR commit https://github.com/vlj/rpcs3/commit/6fae5863cfb4337e20620a9ebf29b425f3e9f22b I already had slow down but not that drastic (I had only 27-29 fps with it while with latest 1344 commit I had 23-24 max and with current master it's 21-22).
Profiling it it's 29/19 for rsx/ppu % of usage.
[code]
[code]

[2016-02-15 11:33] annahana opened #1503 "Saints Row The Third: The Full Package [BLUS31062] - cellDiscGameGetBootDiscInfo"
RPCS3 v0.0.0.6-5-787619c
![rpcs3](https://cloud.githubusercontent.com/assets/13276505/13047546/28e6ce9a-d3e0-11e5-8c6b-412237ff9505.jpg)

{PPU Thread[0x1](main_thread)[0x0096a8ec]} sys_mmapper: sys_mmapper_allocate_address(size=0x40000000, flags=0x200, alignment=0x10000000, alloc_addr=*0x28d0df8)
{PPU Thread[0x1](main_thread)[0x00e657ac]} HLE: Last function: cellDiscGameGetBootDiscInfo (0xb72bc4e6

[2016-02-15 13:49] tambry commented on #1503
I don't think it's really useful to keep track of unimplemented HLE functions as "issues". If anything, just keep them a single issue for the whole module. Otherwise you could very well make hundreds (if not thousands) of issues corresponding to every unimplemented HLE function.

[2016-02-15 16:33] danilaml commented on #1418
@vlj correction. Tested today with #1500 and #1496 merged and fps is 26-28 so it came back to early #1344 performance but still not as good as pre-1344.

[2016-02-15 16:40] vlj commented on #1495
The crash is fixed with 1504.

[2016-02-15 18:42] MyaniPT commented on #1466
Also happens in BJLM61187 (CROSS CHANNEL ~ For all people ~)
Steins;Gate 0 also throws out some 0x6f8
[code]

[2016-02-15 19:01] tambry commented on #1466
That's quite a different error - ERROR_INVALID_USER_BUFFER.

[2016-02-15 19:10] MyaniPT commented on #1466
Well 0x6f8 happens less often than 0x3e6, preventing the game to boot at all like 0x3e6.
I got it to appear as the second game boot attempt this time
[rpcs3_474.zip](https://github.com/RPCS3/rpcs3/files/131285/rpcs3_474.zip)

Tl;dr: While trying to boot the game, sometimes it throws 0x3e6 and doesn't boot, sometimes it throws 0x6f8 and doesn't boot or it boots without any of those.

[2016-02-15 19:50] tambry commented on #1466
Ah, seems like it also occurs in cellFsRead so it's also probably relevant. Thank you.

[2016-02-16 15:53] kd-11 commented on #1495
Closed as fixed

[2016-02-16 15:53] #1495 closed

[2016-02-16 18:38] MyaniPT commented on #1466
The log I sent you was for S;G 0 but the 0x6f8 also happens in Cross Channel so yeah

Log for Cross Channel @ [rpcs3_476.zip](https://github.com/RPCS3/rpcs3/files/133088/rpcs3_476.zip)

[2016-02-16 18:52] MyaniPT opened #1505 "Fixed alpha not specified for padding (cellPngDec)"
[code]

Happens in PAC-MAN Championship Edition DX Trial **[NPUB30304]**
Log @ [rpcs3_476.zip](https://github.com/RPCS3/rpcs3/files/133103/rpcs3_476.zip)
Probably started happening after #1359

[2016-02-16 19:11] tambry commented on #1505
No idea why the game wants the output to be in 4 components, when no fixed alpha padding value isn't specified. There's probably a default value (255?), but that would require testing on a PS3.

[2016-02-16 19:13] tambry commented on #1468
Currently don't have the time to write a test for testing the behaviour on a real PS3, since after further reading of the documentation my fix is not the actual behaviour of it on a PS3.

[2016-02-18 15:26] tambry opened #1506 "Arkedo Pixel! [NPEB00615] input problems with PPU Interpreter 2"
Arkedo Pixel!'s first level can't be completed with PPU Interpreter, due to it not detecting some input during the cube/puzzle part. LLVM and PPU Interpreter 1 work fine.

[2016-02-18 16:31] kd-11 commented on #1493
should have been resolved after merging https://github.com/RPCS3/rpcs3/pull/1502

[2016-02-18 16:31] #1493 closed

[2016-02-18 16:38] kd-11 commented on #1320
Performance issues should have been resolved after https://github.com/RPCS3/rpcs3/pull/1502. There have also been numerous changes to tackle the neglected state of the backend

[2016-02-18 17:03] tambry commented on #1505
Sadly I can't work investigate/work on these problems, due to _UTF8stoUTF16s_ not being implemented along with:
`Unknown/illegal instruction: 0x17 (forced unit 0)`

[2016-02-18 18:59] tambry commented on #1505
Okey, I have made a temporary fix. Sadly the games have other problems, which I'm not sure if they're caused by cellPngDec implementation.
I'd like to be able to test a final fix on more games, that encounter the problem. Let me know, if you find any.

[2016-02-19 00:36] elfogames commented on #1485
I have the same error on CSI: Fatal Conspiracy
PPU Interpreter 2
SPU Interpreter (fast)

LLE'd modules:
cellSre

`{SPU[0x3f] Thread (CellSpursKernel4)[0x1a168]} Exception: Unknown STOP code: 0x0 (Out_MBox is empty)
(in file Emu\Cell\SPUThread.cpp:1382, in function SPUThread::stop_and_signal)
Please report this to the developers.`

[2016-02-19 13:50] Altaiar commented on #1485
**Super frog
PPU interpreter 2
SPU interpreter fast**
{SPU[0x6a] Thread (_Multistream SPU Thread)[0x00000]} Exception: Unknown STOP code: 0x0 (Out_MBox is empty)
(in file Emu\Cell\SPUThread.cpp:1382, in function SPUThread::stop_and_signal)
Please report this to the developers.

[2016-02-19 15:15] MyaniPT commented on #1485
Yeah, I got this error in another game too which I can't recall atm.
If I get it in any more games I'll post.

Also, don't forget your Game IDs and Logs, they're helpful.

[2016-02-19 16:24] MyaniPT commented on #1479
[code]
**[NPEA00427]** - Bentley's Hackpack Trial Version
Latest master (v0.0.0.6-4149-b632386)
[rpcse_480_npea00427.zip](https://github.com/RPCS3/rpcs3/files/138299/rpcse_480_npea00427.zip)

Different thread now.

[2016-02-19 17:07] MyaniPT commented on #1470
[code]
**NPEA00287** - Eat Them!™
[rpcs3_480_npea00287.zip](https://github.com/RPCS3/rpcs3/files/138366/rpcs3_480_npea00287.zip)

Before the crash, some related outputs:
[code]

[2016-02-19 17:10] MyaniPT commented on #1479
[code]
**NPEA00111** - Fat Princess
[rpcs3_480_npea00111.zip](https://github.com/RPCS3/rpcs3/files/138369/rpcs3_480_npea00111.zip)

[2016-02-19 17:22] MyaniPT commented on #1485
[code]

**NPEA00154** - Gravity Crash (Demo)

[2016-02-20 10:23] raven02 commented on #1460
OpenGL one with write color buffers enabled has been speedup significantly .Tested with Dragon ball Z Burst limit which require write color buffers enabled to show up graphics

[2016-02-21 20:03] MyaniPT commented on #1488
[code]

**NPEA00206** - Swords and Soldiers
Similar error, the "please report this to a developer" inside the RSX warning called my attention.
I can't upload the zipped log for some reason (???) github not letting me

First time I tested this happened: http://i.imgur.com/PM3HHYc.png
I can't make it happen again though, it crashes the game before starting, in first time it booted to the menu I beli

[2016-02-23 18:35] MyaniPT commented on #1482
As of latest master:
[code]
[BLAS50970] SAO Lost Song

[2016-02-24 00:23] zminhquanz opened #1513 "Build Dynamic Recompiler ( Dynarec JIT ) for PPU similarly PPSSPP , PCSX2 , Dolphin"
Because using LLVM to compile is inaccurate and incompatibility than using JIT , using Dynarec is more accurate and compatibility more CPU instruction

[2016-02-24 05:48] tambry commented on #1513
LLVM is a dynamic recompiler. We're not focusin on speed yet, that will probably come in a few years, if even then.

[2016-02-24 05:48] #1513 closed

[2016-02-24 08:43] kd-11 opened #1515 "gl: Outrun online displays black geometry"
Outrun online arcade displays geometry as black under openGL. When debugging, its clear that the cars and environments are properly rendered, but some post-processing step causes the black output. Object outlines are still visible.

![outrun_ingame](https://cloud.githubusercontent.com/assets/15904127/13279905/d36b24da-daeb-11e5-924c-accd106603e8.PNG)

[2016-02-24 08:48] kd-11 commented on #1460
@raven02 Read color buffers with opengl is no longer needed, but write buffers does have an effect. I've chosen to leave it as an option since it does cause a minor performance hit. Some games however do require read/write depth which works a little bit differently but has also been improved.

[2016-02-24 10:02] raven02 commented on #1515
Similar issue happened in other games as well like Dragon Ball Z Burst limit

[2016-02-24 10:32] kd-11 commented on #1515
I'll need testers to identify more games where this happens. It should be helpful especially if it happens during light scenes without alot of geometry. Debugging outrun online crashes amd gpu perfstudio that i use to debug frames, so i cant tackle this just yet. I've reported the issue to AMD and they are working on it.

[2016-02-24 16:24] lvonasek commented on #1494
in Utilities/Files.cpp replace line
const auto ptr = ::opendir(m_path.get());
with
const auto ptr = ::opendir(dirname.c_str());

[2016-02-24 17:29] ChapmanC1 opened #1517 "Error when starting the game Heavy Rain"
Hi, the developers of RPCS3. Recently I tried to run your emulator on a game like heavy rain. But when you start FPS is displayed(black screen). After 30 seconds(approximately), I get the pink text(like this):
{PPU Thread [0x20] (traversal thread)[0x0017b404]} Exception:
(in file C:\rpcs3\rpcs3\Emu\SysCalls\Modules\cellL10n.cpp:719, in function UTF8toUTF32)
Please report this to the developers.
Ho

[2016-02-24 17:33] DPersonalized commented on #1517
Read the [FAQ](https://github.com/RPCS3/rpcs3/wiki/FAQ).

[2016-02-24 17:45] tambry commented on #1517
You don't. Wait for someone to implement it. Also: [list of playable games](http://www.emunewz.net/forum/forumdisplay.php?fid=195).
Please alos remember that you'll need to grab files from your CFW PS3 to properly use the emulator. I'd suggest you to play on the PS3 for now, since game compatibility is very low and there's no point in playing the games on your PC, yet.

[2016-02-24 17:58] vlj commented on #1488
I'm on the issue, it's fixed in my rsx branch but I'm having some issue displaying the screen menu.
The scene is correctly draw but for some reason one of the postprocessing effect only draw a black quads.

[2016-02-24 18:41] MyaniPT commented on #1488
Gotcha.
Should I comment here whenever I get RSX different error codes (other than X3000, X3013 and X3018)?

[2016-02-24 20:47] MyaniPT commented on #1517
Non implemented HLE functions should output something like "Function not implemented in HLE" instead of a blank exception to prevent questions like this imo

[2016-02-25 22:46] vlj commented on #1412
It doesn't start at all for me

[2016-02-26 01:57] raven02 commented on #1460
Good @kd-11 .

[2016-02-26 02:09] raven02 commented on #1412
@vlj , let me try again on the latest build tonight .

[2016-02-26 13:28] raven02 commented on #1412
Humm it looks okay .Probably @vlj you can try again by deleting the ini

[2016-02-26 13:52] TheCrueltySage commented on #1494
Thanks! The fix worked.
Tried updating to the latest version, just this alone didn't fix it. Tried the fix you offered and finally managed to run the emulator. Didn't try anything else yet, but at least it loads.

[2016-02-26 13:55] tambry commented on #1494
That sure looks like a typo. If you don't mind you could make a PR to get the fix merged.

[2016-02-26 14:13] TheCrueltySage commented on #1494
Sorry, I don't have much experience with Github. Can't figure out how to do it.

[2016-02-26 14:19] lvonasek commented on #1494
same for me - thats why I wrote it into comment

[2016-02-26 14:20] tambry commented on #1494
I'll do it myself then.

[2016-02-27 02:18] vlj commented on #1515
You can use "capture frame" and then look command draw call in rsx debugger with dx12 to see what is happening too and compare with gl.

The capture frame button can be hidden if rpcs3 Windows is not big enough BTW.

[2016-02-27 02:20] vlj commented on #1412
OK have it working.
I have several fix for the game soon.

[2016-02-27 08:07] raven02 commented on #1412
Thanks @vlj

[2016-02-27 13:22] MyaniPT commented on #1488
This has been fixed with #1519
[rpcs3_1519.zip](https://github.com/RPCS3/rpcs3/files/149334/rpcs3_1519.zip)

DX12
XAudio2
PPU 2 / SPU 2
cellSre

![screenshot_79](https://cloud.githubusercontent.com/assets/10283761/13373070/da7ef092-dd54-11e5-8ee2-4445784c93c5.png)

Menu doesn't respond to X or O commands. I can use the arrows to select stuff but if I press X it does nothing, nor does O (K and L re

[2016-02-27 13:59] MyaniPT commented on #1515
@kd-11 I think Scarygirl [NPUB30699] produces similar outputs, if not the same.
I've made a video: http://www.youtube.com/watch?v=pmf8_QQ5aVE

[2016-02-28 16:17] freehuntx opened #1523 "HLE: SAW II Unimplemented function cellFsUtime"
Hey, i just tested the Emulator with a dump of my Saw game.
Just want to report the log.

[2016-02-28 16:38] MyaniPT commented on #1523
Try LLEing cell_Sre
Also, that's not the log, that's the console output
You can find the log at RPCS3.log in the main folder. It can be zipped and uploaded directly into GitHub

That last blank exception means the function isn't implemented yet.

[2016-02-28 17:11] tambry commented on #1523
I removed the long log. Please attach the actual log, as described by @MyaniPT.

[2016-02-29 19:29] butzsan opened #1526 "Linux: disgaea 4 intro video not working"
rpcs3 is not displaying the video of the intro in OGL (Linux) everything else seems to be working fine, even the sound of the intro is working (just white screen)

**LOG**
[REDACTED CONSOLE SPAM]

[2016-02-29 19:40] MyaniPT commented on #1526
That is not the log, that's the console output.
Your log is RPCS3.log in the main folder of RPCS3 (aka bin folder)

You can zip that and upload directly into github.
Also, you should always test first with PPU 1/2 and SPU 1/2, only after that use the recompilers.

[2016-02-29 19:54] MyaniPT commented on #1505
I'm closing it since the issue was resolved, unless you want to keep it open. (This to help prevent unnecessary issues open)

[2016-02-29 19:54] #1505 closed

[2016-02-29 19:56] MyaniPT commented on #1488
This has been fixed, closing

[2016-02-29 19:56] #1488 closed

[2016-02-29 20:28] MyaniPT commented on #1405
Duplicate for #1466 ?

[2016-02-29 21:28] SakataGintokiYT opened #1527 "RSX: Unsupported texture formats"
{rsx::thread} RSX: Unknown/illegal instruction: 0x17 (forced unit 0)
{rsx::thread} RSX: Unknown/illegal instruction: 0x17 (forced unit 0)
_____________________________________________________________________
SOULCALIBUR IV
{rsx::thread} Exception: Wrong format 158
(in file Emu\RSX\Common\TextureUtils.cpp:301, in function upload_placed_texture)
______________________________________________________

[2016-02-29 21:29] MyaniPT commented on #1527
Game?
Log?

[2016-03-01 05:38] tambry commented on #1405
Yep. Closing for now, since the game doesn't work anyways.

[2016-03-01 05:38] #1405 closed

[2016-03-01 08:01] butzsan commented on #1526
Here is the log, but it's on windows, in linux doesn't give me any log files (the problem also happens in windows using OGL)
[RPCS3.log.zip](https://github.com/RPCS3/rpcs3/files/152337/RPCS3.log.zip)

[2016-03-01 15:53] tambry commented on #1526
@butzsan Please provide the info for the CPU and GPU. Try using DX12 renderer instead (also make sure you select the right D3D adapater). Try turning off the audio, as there seems to be a lot of log spam related to some unimplemented audio decoding stuff.

[2016-03-01 17:02] MyaniPT commented on #1526
@tambry basic info about hardware and drivers should be logged too to prevent this imo #suggestion

[2016-03-01 17:08] tambry commented on #1526
@MyaniPT You could make an issue for it so if anyone developer is looking for something to do, they can do that. Also he seems to be on Linux according to title, so my note about DX12 can be ignored.

[2016-03-01 19:19] MyaniPT commented on #1526
@butzsan did you try to LLE libvdec? Your log seems so have some libvdec related outputs.
Also, you're using an outdated build (v0.0.0.6-4029-fef0b1d)

[2016-03-01 23:02] butzsan commented on #1526
@MyaniPT  the log is for windows as I said before, but I coudn't create any logs on my linux build, I'll try the last build on windows as well but my problem is on linux, is there a way to create a log there? rpcs3 doesn't generate any logs at all on linux. (Yes, I have (LLE libs)), but it is the same with or without them

[2016-03-02 00:41] raven02 commented on #1412
Checked and works property in latest build now.

[2016-03-02 00:41] #1412 closed

[2016-03-02 16:48] kd-11 commented on #1515
Issue is because of invalid surface usage. Should be fixed by PR https://github.com/RPCS3/rpcs3/pull/1530. After almost re-inventing the wheel writing a proper fbo surface cache, I realized vlj had already done it before, and it worked properly.

![outrun-ogl-fixed](https://cloud.githubusercontent.com/assets/15904127/13467508/949deaf2-e0af-11e5-9c7e-dcdb759f04e7.PNG)

[2016-03-02 19:25] AniLeo opened #1532 "Unsupported color space (9) in pngDecodeData"
**Using 2f89d150**
Log @ [RPCS3.zip](https://github.com/RPCS3/rpcs3/files/155454/RPCS3.zip)
[code]
![screenshot_106](https://cloud.githubusercontent.com/assets/10283761/13472278/0d1534e4-e0ac-11e5-86ac-d884819026cc.png)

**Using an older build (before cellPngDec rewrite)**
![screenshot_104](https://cloud.githubusercontent.com/assets/10283761/13472294/1c57c9c6-e0ac-11e5-9f47-442a027dd9cf.png)
![scr

[2016-03-02 19:27] tambry commented on #1532
Hmmm. It's using CELL_PNGDEC_GRAYSCALE_ALPHA. No idea why would a game really use it, but I guess I have something to fix during the weekend.

[2016-03-02 22:59] SakataGintokiYT commented on #1527
Update

[2016-03-02 23:16] vlj commented on #1527
Do these game run without hack ? At least Marvel vs Capcom.

[2016-03-02 23:24] SakataGintokiYT commented on #1527
Yes working without hack Marvel vs Capcom [ log and screenshot] tested on master build

[2016-03-03 15:09] danilaml opened #1535 "After Burner Climax, DX12, broken graphics"
AMD R9 290:
![image](https://cloud.githubusercontent.com/assets/2046350/13498403/d4af3db0-e16a-11e5-8450-d71470858518.png)
![image](https://cloud.githubusercontent.com/assets/2046350/13498410/d9bb4cfe-e16a-11e5-9636-afbbadf2b9fc.png)
Intel HD4600:
![image](https://cloud.githubusercontent.com/assets/2046350/13498524/72ef2f26-e16b-11e5-90b6-d9876b07e1d6.png)

Started happening around https://github.

[2016-03-03 16:14] tambry commented on #1535
Looks like a lot of fog. Probably post-processing related. I think #1533 fixes the same issue for OpenGL.

[2016-03-03 18:26] danilaml commented on #1535
@vlj git bisecting gave me 35db227af4718d9dc055cb2d5fd9b9cb95906d9f as an offending commit.

[2016-03-03 19:49] vlj commented on #1535
Same on nvidia.

I'm investigating however I think https://github.com/RPCS3/rpcs3/commit/35db227af4718d9dc055cb2d5fd9b9cb95906d9f only uncovered a bug rather than being responsible for it. I had debug layer complaining about wrong format for depth texture (and fog is related to depth). If some pass were disabled before 35db227 then it didn't matter since texture wasnt read.

[2016-03-04 00:58] vlj commented on #1535
I may have a fix tomorrow or the day after

[2016-03-04 19:23] AniLeo opened #1539 "DX12/GL/Vulkan : TNT Racers missing in-game textures"
Video demonstrating the issue
http://www.youtube.com/watch?v=U8DJJl4HyvY
(Jump to 00:28)

DirectX 12
OpenAL
PPU 2 / SPU 2
Requires **cell_Sre** LLE'd
**NPEB00221** - TNT Racers

Post @ EmuNewz
http://www.emunewz.net/forum/showthread.php?tid=163808&pid=230461#pid230461

If it isn't something you can fix at this stage, this could probably be closed.

[2016-03-04 20:17] MyaniPT commented on #1539
Seems to be working for NVidia GPUs as showed here
http://www.emunewz.net/forum/showthread.php?tid=163808&pid=230466#pid230466

[2016-03-04 20:40] tambry commented on #1539
Does #1537 fix it?

[2016-03-04 20:55] MyaniPT commented on #1539
@tambry Nope

[2016-03-05 01:59] raven02 commented on #1539
Yep, just tested on my GT 650 , it looks fine and no flickering in menu .

[2016-03-05 09:29] Haapavuo commented on #1449
@Paul-C-F Did you manage to get the list up and running somewhere?

[2016-03-05 15:32] annahana opened #1541 "DX12: Grand Theft Auto IV and Episodes of Liberty City broken graphic"
system: windows 10 pro
Processor: Intel(R) Core(TM) i3-2120 CPU
Memory: 4096MB RAM
AMD Radeon HD 6450

in GrandTtheaft Auto IV and Episods of Liberty City boot screan the menu flikers and image is in wrong place

in dx12
![gtadx12](https://cloud.githubusercontent.com/assets/13276505/13548376/39332f96-e2ef-11e5-9691-709aa06015c7.PNG)

in opengl
![gtaopengl](https://cloud.githubusercontent.com/asset

[2016-03-05 15:39] tambry commented on #1541
Please post the log.

[2016-03-05 15:42] kd-11 commented on #1515
https://github.com/RPCS3/rpcs3/pull/1530 was merged which should resolve this issue. @raven02 could you check dragon ballz?

[2016-03-05 15:44] kd-11 commented on #1460
https://github.com/RPCS3/rpcs3/pull/1530 merged. Read/write buffers is no longer required for opengl unless we're talking games that use SPUs for rendering in which case even DX12 needs it.

[2016-03-05 15:54] Paul-C-F commented on #1449
I was actually waiting to see if someone had something to
add/remove/adjust to
my diagram plus there was a long discussion above between the devs.

On 3/5/2016 6:29 AM, Haapavuo wrote:

[2016-03-05 17:12] annahana commented on #1541
logis attached, change .png zu .7z

![gta4](https://cloud.githubusercontent.com/assets/13276505/13549016/7b08a668-e2fd-11e5-989a-f9df9407f9cd.png)

[2016-03-05 17:45] #1535 closed

[2016-03-05 18:06] danilaml commented on #1535
Can confirm that this is fixed.

[2016-03-05 18:22] SakataGintokiYT commented on #1515
@kd-11
Dragon Ball Z: Burst Limit // Outrun [ Black textures on Nvidia Gpu -- fixed by commit #1540]
<img src="http://www.fotoszok.pl/upload/cf8ee0e6.jpg" alt="2015-12-13 20_52_51-xenia" style="max-width:50%;">
<img src="http://www.fotoszok.pl/upload/330b8406.jpg" alt="2015-12-13 20_52_51-xenia" style="max-width:50%;">

[2016-03-05 19:01] #1494 closed

[2016-03-06 06:34] B1ackDaemon opened #1544 "DX12/OGL/Vulkan : memory leaking"
See http://rghost.ru/private/72Bww6Sdn/cc1139f4a71811b411e3e267e7e39ac5

Doesn't occur, when using DX12 renderer.

[2016-03-06 08:48] Soul1399 opened #1545 "NPEB01363-[soul calibur 5]"
Hello.
I've tried Soul Calibur 5. It might have some bad configuring.

Anyway, this message is just **FYI**

[REDACTED LOG SPAM]

[2016-03-06 08:53] tambry commented on #1545
Bad configuring? You're trying to run Soul Calibur 5.
Such useless reports are more fit for [the forum](http://www.emunewz.net/forum/forumdisplay.php?fid=162).
You should probably grab the module files from /dev_flash/sys/external/ from your PS3 and then decrypt them and place them in the same folder for RPCS3 and then enable cellSre and cellSpursJq from LLE modules manager.

[2016-03-06 08:53] #1545 closed

[2016-03-06 08:58] orbea opened #1546 "Build failure - inlining failed in call to always_inline"
When trying to compile the git master on Slackware64-current I get this.
[code]
Here is the git and configure output.
[code]

[2016-03-06 09:18] Soul1399 commented on #1545
... first time I use it.
I saw many TODO so I thought it wouldn't be "useless".

Anyway thanks for your useful reply

[2016-03-06 09:53] tambry commented on #1545
There's literally **thousands** of TODOs. You can start up any random game and see a whole slew of them.

[2016-03-06 09:53] tambry commented on #1546
Please post the full CMake log.

[2016-03-06 12:08] MyaniPT commented on #1539
Still an issue in latest master (dd233c9 commit)

[2016-03-06 12:27] tambry commented on #1539
So does it now work with DX12, but still doesn't with OpenGL?

[2016-03-06 15:17] rcaridade145 opened #1547 "Build problem on Linux Ubuntu 15.10"
CMake Error at CMakeLists.txt:18 (add_subdirectory):
  The source directory

    /home/rui/Programacao/rpcs3/asmjit

  does not contain a CMakeLists.txt file.

`CMake Error at CMakeLists.txt:19 (add_subdirectory):
  The source directory

    /home/rui/Programacao/rpcs3/libpng

  does not contain a CMakeLists.txt file.

CMake Error at Vulkan/CMakeLists.txt:2 (add_subdirectory):
  The source directo

[2016-03-06 15:19] tambry commented on #1547
Please read the [README](https://github.com/RPCS3/rpcs3/blob/master/README.md).
You need to initialize the submodules.

[2016-03-06 15:19] #1547 closed

[2016-03-06 15:46] orbea commented on #1546
Here is the CMakeOutput.log
[code]

[2016-03-06 16:03] MyaniPT commented on #1484
I'm closing this since this (unimplemented functions) shouldn't be really reported into an issue

[2016-03-06 16:03] #1484 closed

[2016-03-06 16:11] rcaridade145 commented on #1547
I did. I got mistaken by the rpcs3 folder git clone created. I cd'ed into rpcs3 folder created by git clone not the rpcs3 inside the rpcs3 folder.
Sorry for the noise :) And thank you for answer

[2016-03-06 18:29] danilaml commented on #1546
@orbea does changing https://github.com/RPCS3/rpcs3/blob/960668ecf141cfa31b6c56f21bf630d69841968a/Utilities/GNU.h#L26 to `#define force_inline __attribute__((always_inline)) inline` helps in any way?

[2016-03-06 19:22] orbea commented on #1546
Yes, I made this simple patch and applied to the git master which resolved it, thanks! However it failed to build due to another issue which I will make a new issue for.
[code]

[2016-03-06 19:48] thx3ever opened #1549 "Link failure Ubuntu 15.10"
[100%] Building CXX object CMakeFiles/rpcs3.dir/home/thx3ever/rpcs3/rsx_program_decompiler/shader_code/builder.cpp.o
Linking CXX executable rpcs3
/usr/bin/ld: não foi possível encontrar -lasmjit
/usr/bin/ld: não foi possível encontrar -lpng16_static
collect2: error: ld returned 1 exit status
CMakeFiles/rpcs3.dir/build.make:9130: recipe for target 'rpcs3' failed
make[2]: *** [rpcs3] Error 1
CMakeFi

[2016-03-06 20:06] danilaml commented on #1549
it looks like you forgot to do `git submodule update --init`.

[2016-03-06 20:15] orbea opened #1550 "Build failure - linux/bin/ld: cannot find -lasmjit or -lpng16_static"
When trying to compile the git master on Slackware64-current I get this.
[code]
The git and configure output.
[code]
The CMakeOutput.log
[code]

[2016-03-06 20:42] danilaml commented on #1550
@orbea can you also provide `make VERBOSE=1` log?

[2016-03-06 21:41] orbea commented on #1550
[code]
CMakeOutput.log with `make VERBOSE=1`
[code]

[2016-03-06 21:50] danilaml commented on #1550
@orbea  can you please use something like pastebin.com ? Such big logs lag the page.
Also, sorry if I was unclear, I wanted console log of make (the one that you only posted last part of), not CMakeOutput.log

[2016-03-06 22:43] orbea commented on #1550
Okay, I edited my last post to hopefully make the page load faster and here is the entire log.

http://pastebin.com/EA8UA5Cd

[2016-03-06 22:55] danilaml commented on #1550
@orbea can you list exactly what commands do you use for building? Are you sure you are using [this](https://github.com/RPCS3/rpcs3/blob/master/CMakeLists.txt) CMakeLists (located in the root of rpcs3 not in rpcs3 subfolder) ?

[2016-03-06 23:35] orbea commented on #1550
Seems I am using the wrong CMakeLists. Here is a log of the using the CMakeLists you indicated, which errors in a different way. Its slightly too big for pastebin, so I will just put it on a server.

http://ks392457.kimsufi.com/orbea/stuff/logs/build-rpcs3.log.2

Here is the SlackBuild I have been using, its obviously a work in progress.
[code]

[2016-03-06 23:51] danilaml commented on #1550
@orbea seems to be a problem with Vulkan. Does it build by itself?

[2016-03-06 23:55] danilaml commented on #1550
@orbea seems to be fixed upstream ~week ago: https://github.com/KhronosGroup/glslang/pull/172

[2016-03-07 00:22] orbea commented on #1550
No, I tried the CMakeLists in the Vulkan sub-directory and got this failure.

http://pastebin.com/0H6rzFq2

[2016-03-07 00:37] danilaml commented on #1550
@orbea yeah, as in my updates post it seems to be problem that was fixed recently but not in our submodules. Try to update submodule (you can just step into it's folder and do `git pull`) and see if it helps.

[2016-03-07 00:59] orbea commented on #1550
That allowed building it correctly, thanks for your help and patience!
I think this and my previous issue should be closed when they are applied to the git master.

[2016-03-07 02:03] orbea opened #1553 "Tales of Vesperia - cellSpursEventFlagTryWait"
When trying to run an English patched version of Tales of Vesperia ps3 it fails to start and produces a dangerously large log file. Is there anything that can be done here? Or is it merely a matter of developing rpcs3 further?

Here is `~/.config/rpcs3/RPCS3.log`, it gets quite large rather quickly so I used `xz -9` on it.
http://ks392457.kimsufi.com/orbea/stuff/logs/RPCS3.log.xz

Here is the cons

[2016-03-07 02:08] MyaniPT commented on #1553
LLE cellSre for cellSpurs related functions

[2016-03-07 05:44] tambry commented on #1553
There's #1294 for this. cellSpurs won't probably be implemented any time soon. You can only hope for a reverse engineering messiah to come and continue the implementation of the HLE version.

[2016-03-07 05:44] #1553 closed

[2016-03-07 19:07] thediamondgames opened #1554 "Build failure - use of undeclared identifier 'isinf'"
Hello, I just found about this PS3 emulator so I wanted to give a try. However, building on arch linux doesn't really work through both aur or this repo directly.
There are some errors which seem to be vulkan related. I don't use vulkan as I'm using stable nvidia driver so I don't need it for now. Is there a way to fix this? Or at least to disabling compilation of vulkan part for now?

System spec

[2016-03-07 19:11] #1550 closed

[2016-03-07 19:12] thx3ever commented on #1549
When building from rpcs3 root folder i get same problem
Here is verbose log
/usr/bin/cmake -E cmake_link_script CMakeFiles/rpcs3.dir/link.txt --verbose=1
/usr/bin/c++    -std=c++14 -fexceptions -pthread -L/home/thx3ever/rpcs3/rpcs3/../asmjit/   CMakeFiles/rpcs3.dir/rpcs3.cpp.o CMakeFiles/rpcs3.dir/config.cpp.o CMakeFiles/rpcs3.dir/stb_image.cpp.o CMakeFiles/rpcs3.dir/home/thx3ever/rpcs3/Utilities/

[2016-03-07 19:27] danilaml commented on #1549
@thx3ever  are you sure that you are running cmake on this file: https://github.com/RPCS3/rpcs3/blob/master/CMakeLists.txt?
What is the output of `cmake CMakeLists.txt`?

[2016-03-07 19:28] danilaml commented on #1546
Can be closed now?

[2016-03-07 19:29] tambry commented on #1546
Should be fixed now, I guess.

[2016-03-07 19:29] #1546 closed

[2016-03-07 19:30] thx3ever commented on #1549
thx3ever@UBUBTU-DQ77PRO:~/rpcs3/rpcs3$ cmake Cmakelists.txt
-- cotire 1.7.3 loaded.
-- Initializing RPCS3_SRC_DIR=/home/thx3ever/rpcs3/rpcs3
-- dir='/usr/lib/x86_64-linux-gnu/wx/include/gtk2-unicode-3.0'
-- dir='/usr/include/wx-3.0'
-- dir='/usr/lib/x86_64-linux-gnu/wx/include/gtk2-unicode-3.0'
-- dir='/usr/include/wx-3.0'
-- dir='/usr/include/AL'
-- dir='/usr/local/include'
-- dir='/home/thx3ever

[2016-03-07 19:34] tambry commented on #1554
Vulkan backend isn't really in yet, but we compile and link the Vulkan prerequisites already. Vulkan backend is in a PR waiting to be cleaned up.
I don't know much about Linux though. Someone else probably knows.

[2016-03-07 19:40] thx3ever opened #1555 "Question"
How can i remove asmjit and llvm from project? I want to buiild the source on Windows 10 with Intel C++ Compiler, i need only spu with not asmjit and ppu with no asmjit llvm build
I want only interpreter ppu 1 and 2 and spu interpreter 1 and fast

[2016-03-07 19:47] tambry commented on #1555
You can choose not to compile LLVM by simply selecting a non-LLVM configuration. Asmjit is required for now.
Why would you want to build without asmjit?

[2016-03-07 19:49] danilaml commented on #1554
Should be fixed by https://github.com/RPCS3/rpcs3/pull/1552

[2016-03-07 19:49] thx3ever commented on #1555
To see what perfomance i get compiling the source with Intel C++ Compiler and IPP Librarys

[2016-03-07 19:51] thx3ever commented on #1555
can i compile asmjit without LLVM?

[2016-03-07 19:51] danilaml commented on #1549
@thx3ever `/rpcs3/rpcs3$ cmake Cmakelists.txt`
It should've been `rpcs3/` not 'rpcs3/rpcs3` (top level CMakeLists). I'll add warning message to other cmakelists so it won't be that confusing.

[2016-03-07 19:52] tambry commented on #1555
@thx3ever Asmjit is completely different from LLVM. There's no reason you shouldn't be able to compile it without LLVM.

[2016-03-07 19:53] thx3ever commented on #1549
OK i compiled from rpcs3 folder sucessfully, thanks
Linking CXX executable ../bin/rpcs3
[100%] Built target rpcs3

[2016-03-07 19:54] #1549 closed

[2016-03-07 19:54] thx3ever commented on #1555
Ok

[2016-03-07 19:57] #1555 closed

[2016-03-07 20:33] thediamondgames opened #1556 "Build failure - Multiple errors"
So, as #1554 was fixed, I tried to build it again. And again... no luck. There are now many errors instead of one breaking everything. Maybe I didn't set up the compiler correctly as to be honest, I don't know nothing more about LLVM or GCC that they are compilers of some sort.

System specs:
Arch Linux 4.4.3-1
16GB RAM
Intel core i7-4770k (4.3GHz if it matters)
NVidia GTX 780TI, running 361.28 dr

[2016-03-07 20:35] thediamondgames commented on #1554
After getting through this, I faced another wall of errors. I wish I knew C/C++ well so I could try to fix that myself (pretty good reason to start learning, though).

[2016-03-07 21:17] danilaml commented on #1554
@thediamondgames what are those errors exactly? Btw, you are using clanf 3.7 and it has some bug that prevents some stuff of GSL compiling. You can try to compile with gcc.

[2016-03-07 21:41] thediamondgames commented on #1554
@danilaml #1556 contains the log. I'm new to all this compile yourself stuff and I don't really know how to compile using different compiler. Should I pass some sort of command line argument?

[2016-03-07 21:49] thediamondgames commented on #1554
@danilaml Ok, I tried compiling adding some stuff to existing command line, now it looks like this:
[code]
In the end I got this:
[code]

[2016-03-08 04:14] danilaml commented on #1554
@thediamondgames can you post the same log as in https://github.com/RPCS3/rpcs3/issues/1556 but with gcc?

[2016-03-08 05:39] tambry commented on #1554
@thediamondgames Are you sure you CMake'd the root directory and properly fetched all the submodules?

[2016-03-08 16:42] thediamondgames commented on #1554
I feel stupid. Today I retried to compile everything using exactly the same commands (used up arrow keys to redo the old ones) and it succeeded. I was able to compile successfully using this command sequence:
[code]
I am not sure why ld is in the instructions as after building it did not exist or maybe I just wrote it by an accident...

[2016-03-08 16:46] tambry commented on #1554
Resolved, I guess.

[2016-03-08 16:46] #1554 closed

[2016-03-08 18:54] danilaml commented on #1556
Can be closed?

[2016-03-08 20:47] thediamondgames commented on #1556
I think so, because you said it's a bug in LLVM

[2016-03-09 04:06] DixonCider5797 opened #1558 "Controllers 're not recognized !"
Howw do i play games with controllers ?

[2016-03-09 05:42] tambry commented on #1558
Controllers aren't supported. You'll need to use an external program for actual controller support.

[2016-03-09 05:42] #1558 closed

[2016-03-09 08:56] kd-11 commented on #1544
I've seen something similar for hitman 2 under opengl and vulkan. The ram usage skyrockets and ultimately crashes the emu. Probably has to do with the cache implementation. I'll look into it.

[2016-03-09 09:21] kd-11 commented on #1527
There seems to be some unimplemented texture formats right now. That's the issue here, same as with god of war collection. The title should probably be better to direct developers.

[2016-03-09 13:10] tambry commented on #1558
I have also been told that there's controller support with XInput. Could be worth a try,

[2016-03-09 17:46] kd-11 commented on #1544
Ok found it. GL isn't destroying invalidated rtts from the cache. I'll submit a fix soon.

[2016-03-09 19:22] B1ackDaemon commented on #1544
@kd-11, thank you! :)

[2016-03-09 19:25] Nekotekina commented on #1544
Not fixed, still leaks in other games.

[2016-03-09 19:29] kd-11 commented on #1544
Any other games that are leaking only in opengl mode? This ought to fix the fast leaking (e.g when game is paused, or character is standing still).

[2016-03-09 19:31] Nekotekina commented on #1544
I'll recheck, it actually suddenly raises memory consumption for few gigs and crashes at rsx_gl_texture.cpp line 316 in glTexSubImage2D call.

[2016-03-09 19:32] kd-11 commented on #1544
for ridge-racer 7?

[2016-03-09 19:32] Nekotekina commented on #1544
No, sorry

[2016-03-09 19:33] Nekotekina commented on #1544
Can you just recheck all the resource management? Because nothing gets magically released.

[2016-03-09 19:33] danilaml commented on #1544
I know that there is slow leaking in dx12 (though it could be not related to render but rather to ppu/spu interp 2). After about an hour or less of neo burn climax menu running in the background it leaked over 8GB iirc (I've got low memory warnings on my 16GB system).

[2016-03-09 19:35] kd-11 commented on #1544
Its unfortunately not so simple in this case. Alot of resources are cache managed. One issue i'd expect is slow leaking, since old resources are not invalidated even when they are not in use, but are still valid. Think about, say, how a game would need to unload textures at the end of a level or section. If the texture region isnt clobbered the resources remain intact despite the expired lifetime.

[2016-03-09 19:37] kd-11 commented on #1544
@Nekotekina In the case you mention, is it fast or slow leaking? I'll submit a fix for the slow leaking stuff soon, using some basic lifetime checks. Most of it is actually already present for openGL.

[2016-03-09 20:00] Nekotekina commented on #1544
It was instant, almost vertical, leak. Maybe took 1-2 seconds.

[2016-03-09 20:02] kd-11 commented on #1544
Which game was it? I might need to reproduce this case.

[2016-03-09 20:44] vlj commented on #1544
The rtt are never released except if format/texture change but so far it never made dx12 backend exhaust all memory.

Usually an app only use a small amount of rtt and reuse them. And since rtt can be sampled we can't really ditch a rtt if memory overlaps. Cell writing to rtt memory may be used as a hint though.

I guess the proper solution is to implement least recently used heuristic if memory p

[2016-03-09 20:49] kd-11 commented on #1544
On GL, i had the framectr system, but i think it isnt really used properly right now. If a texture in the main cache unused for say, X frames, it should be removed. The problem with the rtts is that some games such as hitman 2 for instance, were causing the create members of the surface store to be called repeatedly, almost every frame and invalidated resources are not reused, despite it being a p

[2016-03-09 22:38] MyaniPT opened #1560 "gs_gcm_cube.elf not rendering properly"
Not rendering properly on my laptop, works normally on my desktop.
![screenshot_6](https://cloud.githubusercontent.com/assets/10283761/13652973/06f84cd6-e647-11e5-8172-fcdac46b07a8.png)
PPU Interpreter 1
SPU Interpreter 1
OpenGL (GPU doesn't support DX12)
1280x720
Microsoft Basic Render Driver / NVIDIA GeForce GT 330M

CPU: Intel Core i7 Q 740 (http://ark.intel.com/products/49024/Intel-Core-i7-740

[2016-03-09 22:48] MyaniPT commented on #1560
Couldn't upload the .zip, so renamed the .log to .txt
[RPCS3.txt](https://github.com/RPCS3/rpcs3/files/166234/RPCS3.txt)
[TTY.txt](https://github.com/RPCS3/rpcs3/files/166235/TTY.txt)

[2016-03-09 23:37] MyaniPT commented on #1560
So I've been testing with all the bigpet builds to try and find which commit broke it.

**v0.0.0.6-448-g1e1c200** is the last bigpet build on which it renders correctly.
![screenshot_8](https://cloud.githubusercontent.com/assets/10283761/13654359/cc4d777e-e64f-11e5-9bf8-a1e796d0ef35.png)

**v0.0.0.6-454-gf66468f** is the following build on which this breaks.
![screenshot_9](https://cloud.githubuse

[2016-03-09 23:54] vlj commented on #1560
Your gpu is not supported, rpcs3 requires opengl 4.2 now. I think.
Actually opengl requirement is a bit fuzzy atm so it might work sometimes with gl 3.3 but it's not guaranted.

You can use dx12 software mode though.

[2016-03-10 00:04] MyaniPT commented on #1560
![screenshot_10](https://cloud.githubusercontent.com/assets/10283761/13654902/54919824-e653-11e5-933f-b154cf3b2e29.png)

Gotcha. Since it used to work in an older build, I thought it wasn't a dependencies issue.
It was only now that I noticed that this GPU only fully supports OpenGL 3.3 and doesn't fully support OpenGL 4.2+

[2016-03-10 00:04] #1560 closed

[2016-03-10 13:46] gabrielirdeb opened #1561 "Compiling in Linux - lasmjit AND lpng16_static"
/usr/bin/ld: cannot find -lasmjit
/usr/bin/ld: cannot find -lpng16_static
collect2: error: ld returned 1 exit status
CMakeFiles/rpcs3.dir/build.make:9103: recipe for target 'rpcs3' failed
make[2]: *** [rpcs3] Error 1
CMakeFiles/Makefile2:188: recipe for target 'CMakeFiles/rpcs3.dir/all' failed
make[1]: *** [CMakeFiles/rpcs3.dir/all] Error 2
Makefile:75: recipe for target 'all' failed
make: *** [al

[2016-03-10 14:07] tambry commented on #1561
@gabrielirdeb Please give full CMake log along with commands used.

[2016-03-10 14:16] gabrielirdeb commented on #1561
I used the commands of github in rpcs3/rpcs3

But now i use in rpcs3 (only) and was compiled, sorry for the thread.

Thanks!

But now i wanna see if have a way to make a AppImage with this project (make a selfexecute file for linux), there is a topic with this theme?

[2016-03-10 14:33] tambry commented on #1561
@gabrielirdeb Use search. As far as I'm aware there's has been no discussion about something like that. Good luck.

[2016-03-10 14:33] #1561 closed

[2016-03-10 15:41] MyaniPT commented on #1527
Also happens in NPUB31180

[2016-03-10 16:33] MyaniPT commented on #1470
**NPUB31364** - Contrast
[code]

[2016-03-10 19:13] danilaml commented on #1556
@thediamondgames it's a bug in clang 3.7, Btw, have you tried with 3.8? I wonder if it's fixed there.

[2016-03-10 19:44] tambry commented on #1556
Closed for now, I guess, since it's not our bug.

[2016-03-10 19:44] #1556 closed

[2016-03-11 13:21] SakataGintokiYT commented on #1527
Marvel vs Capcom 2 [NPEB00087] Fixed ( Wrong format 139 / TextureUtils.cpp:301)
<img src="http://www.fotoszok.pl/upload/c6658cc1.jpg" alt="Fotoszok.pl" />
_____________________________________________________________________
Ice Age: Dawn of the Dinosaurs  (New issue  Wrong format 151 / TextureUtils.cpp:340 )
{rsx::thread} Exception: Wrong format 151
(in file C:\rpcs3\rpcs3\Emu\RSX\Common\TextureU

[2016-03-11 15:03] kd-11 commented on #1527
@SakataGintokiYT The PR has been updated. You can test once the appveyor build is ready.

[2016-03-11 15:56] kd-11 commented on #1320
@tambry I think this can be closed. Most issues with OpenGL have been fixed or atleast improved to the point where it is usable.

[2016-03-11 15:56] SakataGintokiYT commented on #1527
@kd-11
Fixed TextureUtils.cpp:340
<img src="http://www.fotoszok.pl/upload/c3973565.jpg" alt="Fotoszok.pl" />

[2016-03-11 16:07] #1320 closed

[2016-03-11 17:45] SakataGintokiYT opened #1565 "[DX12 ] HRESULT = The parameter is incorrect"
@kd-11
@raven02

Tested on build : [af79affa]
[DX12]
Game list :
-Castle Crashers
-Dragon Ball: Raging Blast
-Dragon Ball: Raging Blast 2
-J-Stars Victory VS+
-Dark Mist
-Dragon Ball: Xenoverse
-Majin and the Forsaken Kingdom
-Mad Riders
-Battle Fantasia
-UFC 2009 Undisputed
-Meikyuu Touro Legasista JPN

* Probably more

{rsx::thread} class fmt::exception thrown: D3D12GSRender::flip(): The paramet

[2016-03-11 21:25] SakataGintokiYT commented on #1527
@kd-11
Immutable textures cannot be reused!-31de4a9f

Ice Age 3: Dawn of the Dinosaurs
New issue:
{rsx::thread} Exception: Wrong format 151
(in file C:\rpcs3\rpcs3\Emu\RSX\Common\TextureUtils.cpp:337, in function upload_placed_texture)
-------------------------------------------------------------------------------------------------------
Marvel vs. Capcom 2
New issue:
{rsx::thread} Exception: Wron

[2016-03-11 22:22] B1ackDaemon commented on #1422
I discovered something odd here. With original code OGL render fails to compile shader:

[code]

but works with suggested changes by @raven02

[2016-03-12 07:56] kd-11 commented on #1422
@B1ackDaemon The algorithm given is correct, but i think is incomplete. If i understand the spec correctly, round(float2) should return a int2 vector, not a single u32. As @vlj pointed out, the function converts a vec2 to a u32, and the y component occupies bits 16-31, the x bits 0-15, so a bitshift is missing somewhere. For opengl, could you share the glsl outputs? (vertexprogram.txt and fragment

[2016-03-12 08:01] kd-11 opened #1567 "gl: Possible framebuffer issue after wxwidgets update (blank output)"
After updating wxwidgets source on my pc, builds do not blit contents to the framebuffer correctly under opengl; specifically, if the internal rendering resolution does not match the window dimensions. glBlitFramebuffer fails with invalid_operation. wxWidgets glcanvas creation has undergone some rewrites that may cause this. Appveyor builds do not suffer from this issue for some reason, so it migh

[2016-03-12 08:01] kd-11 commented on #1567
For anyone willing to test, try running retro city rumpage under ogl.

[2016-03-12 08:45] SakataGintokiYT commented on #1567
<img src="http://www.fotoszok.pl/upload/9becbb85.jpg" alt="Fotoszok.pl" />

[2016-03-12 09:21] B1ackDaemon commented on #1422
@kd-11 done:
http://rghost.ru/8BnVRLsB2

[2016-03-12 10:00] kd-11 commented on #1567
@SakataGintokiYT Is this an appveyor build or your local build? Also, is your wxwidgets updated properly? (delete the wxwidgets folder && git submodule update --init). If its an issue with my setup i'll just delete it all and start afresh

[2016-03-12 12:29] SakataGintokiYT commented on #1567
Appveyor Build .

[2016-03-12 15:48] Altaiar commented on #1567
i don`t know Which commits make this but this games on OPENGL show only black screen
Super Frog NPEB01316 :
[Super Frog.zip](https://github.com/RPCS3/rpcs3/files/170467/Super.Frog.zip)
Scogger HD :
[Scogger.zip](https://github.com/RPCS3/rpcs3/files/170468/Scogger.zip)
Hero City 2:
[Hero City 2.zip](https://github.com/RPCS3/rpcs3/files/170469/Hero.City.2.zip)
DX12 Work on Hero city and SuperFrog bu

[2016-03-12 15:50] tambry commented on #1567
@Altaiar How is this relevant to the wxWidgets update causing it to not properly blit pixels?

[2016-03-12 15:58] Altaiar commented on #1567
i don`t think thats problems i say in above Because of wxwidgets
sry if i wrong post them here

[2016-03-12 18:38] kd-11 commented on #1567
Check if builds before the wxwidgets upgrade causes the black screen (i.e it worked ok before). The default framebuffer created by wxwidgets is not very friendly to raw fbo blits. A quick workaround would be a fullscreen quad like dx12, but i dont think that'll be necessary. I'll investigate further when i can.

[2016-03-12 18:55] SakataGintokiYT opened #1568 "OGL: texture glitches/broken and shadow issue"
[4bfd019c]
@kd-11
___________________________________________________________________________
#Open-GL
##### Video : https://www.youtube.com/watch?v=mWgFEnQqZYY&feature=youtu.be
Game Test :
1.Legend Of Kay Anniversary
2.Dragon Ball: Raging Blast
3.Ice Age: Dawn of the Dinosaurs
4.Bomberman Ultra
5.Marvel vs. Capcom 2
6.G-Force
_______________________________________________________________________

[2016-03-12 19:05] kd-11 commented on #1568
The shadow issue is easily seen in hitman 2 also, so i at least know where to start. Shadow maps should always clamp to border and not repeat. I think thats a starting point at least. Will look into it when i can.

[2016-03-12 19:11] kd-11 commented on #1422
@B1ackDaemon the shader is malformed: the instruction packsnorm2x16 takes a vec2, not a vec4. Also, it makes no sense to pack a two component vector where all components are equal to the first value (.xxxx) should be packsnorm2x16(vec.xy).x.

[2016-03-13 03:10] fenix008 commented on #1489
I have similiar problem "·**E {rsx::thread} RSX: VS build failedBig C:\Rpcs3\trunk\bin\VertexProgram.hlsl(84,11-38): error X3037: constructors only defined for numeric base types** " in "Virtua Fighter 5"

Thread and log here - http://www.emunewz.net/forum/showthread.php?tid=158744

[2016-03-13 14:26] rcaridade145 opened #1570 "Linking error on Ubuntu. Cannot find -ledit dependency"
`[100%] Building CXX object rpcs3/CMakeFiles/rpcs3.dir/__/rsx_program_decompiler/shader_code/clike_language.cpp.o
[100%] Building CXX object rpcs3/CMakeFiles/rpcs3.dir/__/rsx_program_decompiler/shader_code/builder.cpp.o
Linking CXX executable ../bin/rpcs3
/usr/bin/ld: não foi possível encontrar -ledit
collect2: error: ld returned 1 exit status
rpcs3/CMakeFiles/rpcs3.dir/build.make:9131: r`

To sol

[2016-03-13 14:37] tambry commented on #1570
Could you clarify why you opened the issue? Judging by the description you already solved it.

[2016-03-13 15:00] rcaridade145 commented on #1570
Mainly because i saw on the forums someone complaining about linking problems on Ubuntu and because this dependency is not stated on the readme. My approach was simply a hack. If this only affects Ubuntu i'll report this upstream, however because i wasn't sure i opened this bug report.

[2016-03-13 15:15] tambry commented on #1570
Looks like an issue of a custom library location on the system, and CMake probably doesn't check there. I'm not sure though, as my knowledge of UNIX systems is severely limited.

[2016-03-13 15:25] rcaridade145 commented on #1570
Checking on another Linux distro - ArchLinux - it seems that there should not be any problem. Either this is a problem of my configuration (Multiarch Ubuntu) or general Ubuntu. I'll report this upstream.  That being said i would be better to add both bison and libedit as dependencies.

[2016-03-13 15:32] piotr-szegda commented on #1367
Now rpcs3 is starting but LLVM issues is still exist.

[2016-03-13 15:42] tambry commented on #1367
@piotr-szegda You were trying to use LLVM 3.8, correct? Will 16.04 include LLVM 3.8 by default? You could probably try compiling without LLVM. Also considering now that CMake should not compile with LLVM unless the specific version we use exists.

[2016-03-13 15:49] piotr-szegda commented on #1367
No, I am still trying to use LLVM 3.6 by cmake CMakeLists.txt -DLLVM_DIR=/usr/share/llvm-3.6/cmake.
When I don't specify dir with LLVM 3.6 RPCS3 is compiled without LLVM support.

[2016-03-13 16:00] tambry commented on #1367
@piotr-szegda What is the exact error/problem?

[2016-03-13 18:09] piotr-szegda commented on #1367
I'll explain everything from the beginning. I'd like to build RPCS3 on Ubuntu. First I tried on 15.10 but on it default LLVM is 3.7. So I install LLVM 3.6 and run in RPCS3 dir:
`cmake CMakeLists.txt -DLLVM_DIR=/usr/share/llvm-3.6/cmake`
Cmake don't report any problem. Compilation passed without a problem. But when I try run something in RPCS3 it's crash. So I used gdb to debug problem I have somet

[2016-03-13 18:22] piotr-szegda commented on #1367
My CMakeCache: http://pastebin.com/ZU0y2yv7

[2016-03-13 18:23] tambry commented on #1367
@piotr-szegda What CMake version are you using? We have [specific code](https://github.com/RPCS3/rpcs3/blob/master/rpcs3/CMakeLists.txt#L129) for allowing only LLVM 3.6 to be used.

[2016-03-13 20:04] piotr-szegda commented on #1367
3.2.2. It seems to me that is a problem with linking or even lack of it. RPCS3 always uses the same version of the LLVM as a mesa in the system.

[2016-03-14 18:11] nulcearc opened #1572 "PPUInterpreter:Line3742"
Recompiler with DX12\Vulkan\GL

![image](https://cloud.githubusercontent.com/assets/8341270/13754664/405f3eec-ea31-11e5-96ac-e05069453081.png)

Log: https://gist.github.com/nulcearc/ab86835890264bb22da9

Config: https://gist.github.com/nulcearc/47e1556d2db91fffd8e8

[2016-03-14 18:13] vlj commented on #1572
You need to run rpcs3 outside of VS.
If you want to run rpcs3 inside of VS you need to disable access violation in the exception settings (under win32).

[2016-03-14 18:23] tambry commented on #1572
Not really something we can "fix" per se.

[2016-03-14 18:23] #1572 closed

[2016-03-15 17:04] kd-11 commented on #1567
I checked out a fresh environment and realized that wxwidgets now creates a canvas with 4x msaa by default. This is the root of all evil.

[2016-03-15 19:17] kd-11 opened #1577 "vk: Messed up fog"
Fog computation on vulkan is horribly broken at the moment and corrupts ingame graphics in hitman 2.
I'll submit a fix soon since i'm the one who broke it.

[2016-03-15 20:14] kd-11 commented on #1577
Should be fixed by https://github.com/RPCS3/rpcs3/pull/1578
![hitman2](https://cloud.githubusercontent.com/assets/15904127/13792523/41088812-eb03-11e5-96ad-001ce3d64acd.PNG)

[2016-03-15 20:56] kd-11 commented on #1577
Resolved

[2016-03-15 20:56] #1577 closed

[2016-03-15 21:24] thx3ever opened #1579 "WxWidgets broken in latest git''"
When i try to run any game now it show this error, it show this error in opengl, vulkan and directX12

---------------------------
Fatal error
---------------------------
Unhandled Win32 exception 0x80000003.
Exception address: 00000000003E666A.
ExceptionInformation[0x0]: 0000000000000000.
Instruction address: 00000000003E666A.
Image base: 0000000000010000.

An unknown internal exception has occur

[2016-03-15 21:37] freehuntx commented on #1523
[RPCS3.zip](https://github.com/RPCS3/rpcs3/files/174862/RPCS3.zip)
Ok, here the actual log.

[2016-03-15 21:51] MyaniPT commented on #1579
Did you update submodules?
I tested it on my fork which is 2 commits behind upstream master and it worked, since nothing related to wxWidgets was commited it should still work

[2016-03-15 21:52] freehuntx commented on #1523
After lleing cell_Sre:
[RPCS3.zip](https://github.com/RPCS3/rpcs3/files/174879/RPCS3.zip)

[2016-03-15 21:53] thx3ever commented on #1579
the game Hitman 2 silent assassin HD works for u in latest git? Try this game if u can

[2016-03-15 21:55] MyaniPT commented on #1523
[code]
The first means the function isn't implemented yet, and you can't LLE cellFs so nothing can be done about that right now, you need to wait for someone to implement it.
The second one would be something a dev should have a look at, as I've never seen it before.

[2016-03-15 22:01] MyaniPT commented on #1579
I'm on my laptop which doesn't have hardware support for any of RPCS3's renderers, I can only test that tomorrow night for you.
Post your full RPCS3.log file (zip it and upload directly into github)

[2016-03-16 05:50] tambry commented on #1579
Duplicate of #1375.

[2016-03-16 05:50] #1579 closed

[2016-03-16 11:46] Ekaseo opened #1581 "Vulkan The guided fate paradox issue NPUB31320"
here are some rendering problems on vulkan api with this game:
First loading screen
![tgfp1](https://cloud.githubusercontent.com/assets/5016194/13811250/dd75c1da-eb74-11e5-80bd-a32e95763936.png)
Main menu
![tgfp2](https://cloud.githubusercontent.com/assets/5016194/13811252/dfe343d4-eb74-11e5-9eb2-a739893cbef6.png)
First screen when starting the game:
![tgfp3](https://cloud.githubusercontent.com/as

[2016-03-16 13:10] KingOtaku opened #1582 "help me"
help me
![screenshot 3](https://cloud.githubusercontent.com/assets/17879797/13813253/c98590ce-eb3d-11e5-8c67-68787566f5c7.png)

[2016-03-16 13:12] DPersonalized commented on #1582
Seriously?
https://github.com/RPCS3/rpcs3/wiki/FAQ

[2016-03-16 13:28] MyaniPT commented on #1582
Please post your log and give a further description of your issue

[2016-03-16 13:57] KingOtaku commented on #1582
{PPU Thread[0x1] (main_thread)[0x0050dbb4]} cellSysmodule TODO: cellSysmoduleSetMemcontainer(ct_id=0x19)
{PPU Thread[0x1] (main_thread)[0x003377f8]} sys_vm: sys_vm_memory_map(vsize=0xe000000, psize=0x800000, cid=0xffffffff, flags=0x200, policy=0x1, addr=*0xb52044)
{PPU Thread[0x1] (main_thread)[0x0050d894]} sys_spu: Unsupported SPU Thread options (0x2)
{PPU Thread[0x1] (main_thread)[0x0050da74]} c

[2016-03-16 14:03] Altaiar commented on #1582
this is not the log that log file after start a game will create in your rpcs3 folder

[2016-03-16 14:50] KingOtaku commented on #1582
i don't understand

[2016-03-16 15:24] MyaniPT commented on #1582
@KingOtaku
http://www.emunewz.net/forum/showthread.php?tid=174352

[2016-03-16 15:49] #1582 closed

[2016-03-16 16:54] KingOtaku commented on #1582
thx

[2016-03-16 17:15] KingOtaku commented on #1582
now this
![screenshot 4](https://cloud.githubusercontent.com/assets/17879797/13821699/ea571094-eb5f-11e5-8d61-ae9714f0d750.png)

[2016-03-16 17:19] tambry commented on #1582
@KingOtaku Did you even read the guide? RPCS3 is in early stage of development and very few games work. Most games either crash early on (this one), don't boot at all (most) or are slightly playable (very very few).
[Check out the list of playable games](http://www.emunewz.net/forum/forumdisplay.php?fid=195).

[2016-03-16 17:23] KingOtaku commented on #1582
how to download OpenGL 4.5 ?

[2016-03-16 17:32] MoochMcGee commented on #1582
It's not something you download, dumbass. Your hardware just has to support
it.

On Wed, Mar 16, 2016 at 12:23 PM, KingOtaku <notifications@github.com>
wrote:

[2016-03-16 17:47] KingOtaku commented on #1582
the game not open :(

[2016-03-16 17:48] tambry commented on #1582
@KingOtaku It has already been explained to you, that most games don't run.

[2016-03-16 19:08] KingOtaku commented on #1582
aha

[2016-03-16 19:28] MyaniPT opened #1584 "Config bug: Vulkan not working on non-w10 systems"
[code]

In Operating Systems that do NOT support DirectX 12 like Windows 7, if Vulkan is selected as the Renderer, RPCS3 will assume we picked DX12 and crash.
That's due to the fact DX12 isn't showed in the list and Vulkan takes its place in the list.
Null, OpenGL, Vulkan instead of Null, OpenGL, DirectX 12, Vulkan